@import '_labels-and-rulers';

$light-stripe:	#BFBFBF;
$dark-stripe:	#B2B2B2;

body {
	margin: 0;
	padding: 0;
	// background-image: repeating-linear-gradient(150deg, $light-stripe, $light-stripe 3px, $dark-stripe 3px, $dark-stripe 6px);
	background-color: black;
}