// ======================= MISCELLANEOUS ========================
$mobi:								'.mobile-enabled';
$aao:									'.all-at-once';
$survey-container:		'div#_pi_surveyWidgetContainer';

// ======================= TOP CONTAINER ========================
$top-container: 			#{$survey-container}#{$aao};
$top-container-mobi: 	#{$survey-container}#{$aao}#{$mobi};



// ======================= SURVEY WIDGET ========================
$widget-default: 				#{$top-container} 'div#_pi_surveyWidget';
$widget-custom: 				#{$top-container} 'div#_pi_surveyWidgetCustom';
$widget-inline: 				#{$top-container} 'div#_pi_surveyWidget[survey-widget-type="inlinesurvey"]';
$widget-bottom: 				#{$top-container} 'div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"]';
$widget-docked: 				#{$top-container} 'div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"]';
$widget-topbar: 				#{$top-container} 'div#_pi_surveyWidget[survey-widget-type="topbarsurvey"]';
$widget-fullsc: 				#{$top-container} 'div#_pi_surveyWidget[survey-widget-type="fullscreensurvey"]';

$widget-default-mobi: 	#{$top-container-mobi} 'div#_pi_surveyWidget';
$widget-custom-mobi: 		#{$top-container-mobi} 'div#_pi_surveyWidgetCustom';
$widget-inline-mobi: 		#{$top-container-mobi} 'div#_pi_surveyWidget[survey-widget-type="inlinesurvey"]';
$widget-bottom-mobi: 		#{$top-container-mobi} 'div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"]';
$widget-docked-mobi: 		#{$top-container-mobi} 'div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"]';
$widget-topbar-mobi: 		#{$top-container-mobi} 'div#_pi_surveyWidget[survey-widget-type="topbarsurvey"]';
$widget-fullsc-mobi: 		#{$top-container-mobi} 'div#_pi_surveyWidget[survey-widget-type="fullscreensurvey"]';



// // ======================= CLOSE BUTTON ========================
$close-default: 				#{$top-container} '._pi_closeButton';
$close-custom: 					#{$top-container} '._pi_closeCustomButton';
$close-inline: 					#{$widget-inline} #{$close-default};
$close-bottom: 					#{$widget-bottom} #{$close-default};
$close-docked: 					#{$widget-docked} #{$close-default};
$close-topbar: 					#{$widget-topbar} #{$close-default};
$close-fullsc: 					#{$widget-fullsc} #{$close-default};
 
$close-default-hover: 	#{$close-default}#{$pseudo-hover};
$close-custom-hover: 		#{$close-custom}#{$pseudo-hover};
$close-inline-hover: 		#{$close-inline}#{$pseudo-hover};
$close-bottom-hover: 		#{$close-bottom}#{$pseudo-hover};
$close-docked-hover: 		#{$close-docked}#{$pseudo-hover};
$close-topbar-hover: 		#{$close-topbar}#{$pseudo-hover};
$close-fullsc-hover: 		#{$close-fullsc}#{$pseudo-hover};

$close-default-mobi: 		#{$widget-default-mobi} '._pi_closeButton';
$close-custom-mobi: 		#{$widget-custom-mobi} '._pi_closeCustomButton';
$close-inline-mobi: 		#{$widget-inline-mobi} '._pi_closeButton';
$close-bottom-mobi: 		#{$widget-bottom-mobi} '._pi_closeButton';
$close-docked-mobi: 		#{$widget-docked-mobi} '._pi_closeButton';
$close-topbar-mobi: 		#{$widget-topbar-mobi} '._pi_closeButton';
$close-fullsc-mobi: 		#{$widget-fullsc-mobi} '._pi_closeButton';



// ======================= CARD TYPES ======================
$card-type-single: 						#{$top-container} '._pi_answers_container[data-question-type="single_choice_question"]';
$card-type-multi: 						#{$top-container} '._pi_answers_container[data-question-type="multiple_choices_question"]';
$card-type-free: 							#{$top-container} '._pi_answers_container[data-question-type="free_text_question"]';
$card-type-custom: 						#{$top-container} '._pi_answers_container[data-question-type="custom_content_question"]';
$card-type-custom-full: 			#{$top-container} '._pi_answers_container[data-question-type="custom_content_question"]';

$card-type-single-mobi: 			#{$top-container-mobi} '._pi_answers_container[data-question-type="single_choice_question"]';
$card-type-multi-mobi: 				#{$top-container-mobi} '._pi_answers_container[data-question-type="multiple_choices_question"]';
$card-type-free-mobi: 				#{$top-container-mobi} '._pi_answers_container[data-question-type="free_text_question"]';
$card-type-custom-mobi: 			#{$top-container-mobi} '._pi_answers_container[data-question-type="custom_content_question"]';
$card-type-custom-full-mobi: 	#{$top-container-mobi} '._pi_answers_container[data-question-type="custom_content_question"]';



// ======================= CONTENT CONTAINERS ===================
$content-container-default: 					#{$top-container}	'div._pi_widgetContentContainer';
$content-container-single:						#{$top-container}	'div._pi_widgetContentContainer';
$content-container-multi:							#{$top-container}	'div._pi_widgetContentContainer';
$content-container-free:							#{$top-container}	'div._pi_widgetContentContainer';
$content-container-custom:						#{$top-container}	'div._pi_widgetContentContainer';
$content-container-custom-full:				#{$top-container}	'div._pi_widgetContentContainer';

$content-container-default-mobi: 			#{$top-container-mobi} 'div._pi_widgetContentContainer';
$content-container-single-mobi: 			#{$top-container-mobi} 'div._pi_widgetContentContainer';
$content-container-multi-mobi: 				#{$top-container-mobi} 'div._pi_widgetContentContainer';
$content-container-free-mobi: 				#{$top-container-mobi} 'div._pi_widgetContentContainer';
$content-container-custom-mobi: 			#{$top-container-mobi} 'div._pi_widgetContentContainer';
$content-container-custom-full-mobi:	#{$top-container-mobi} 'div._pi_widgetContentContainer';



// ======================= QUESTION TYPES ======================
$question-single: 						#{$top-container} '._pi_question._pi_question_single_choice_question';
$question-multi: 							#{$top-container} '._pi_question._pi_question_multiple_choices_question';
$question-free: 							#{$top-container} '._pi_question._pi_question_free_text_question';
$question-custom: 						#{$top-container} '._pi_question._pi_question_custom_content_question p:first-child';
$question-custom-full: 				#{$top-container} '._pi_question._pi_question_custom_content_question_fullscreen p:first-child';

$question-single-mobi: 				#{$top-container-mobi} '._pi_question._pi_question_single_choice_question';
$question-multi-mobi: 				#{$top-container-mobi} '._pi_question._pi_question_multiple_choices_question';
$question-free-mobi: 					#{$top-container-mobi} '._pi_question._pi_question_free_text_question';
$question-custom-mobi: 				#{$top-container-mobi} '._pi_question._pi_question_custom_content_question p:first-child';
$question-custom-full-mobi: 	#{$top-container-mobi} '._pi_question._pi_question_custom_content_question_fullscreen p:first-child';



// ======================= RADIO BUTTONS (SINGLE CHOICE ONLY ) ======================
// $top-container: 								#{$survey-container}#{$aao};
// $card-type-single: 						#{$top-container} '._pi_answers_container[data-question-type="single_choice_question"]';
// $radio-button-on:							'[data-radio-button="on"]';

// $card-type-single-radio-on:		#{$card-type-single}#{$radio-button-on};
// $card-type-single-radio-off:		#{$card-type-single}#{$radio-button-off};
// $radio-button-outer: 					#{$card-type-single} 'li a span._pi_radio_button_outer';
// $radio-button-outer-hover: 		#{$card-type-single} 'li:hover a span._pi_radio_button_outer';
// $radio-button-inner-hover: 		#{$card-type-single} 'li:hover a span._pi_radio_button_inner';

// $card-type-single-radio-on-mobi:	#{$top-container-mobi} #{$card-type-single}#{$radio-button-on};


// $card-type-single-radio-on



