$single-choice-noradio-text-padding-desk:  15px 30px; // padding in label ONLY (12px 10px)
$single-choice-noradio-text-padding-ipad:  15px 15px; // (10px 8px)
$single-choice-noradio-text-padding-mobi:  15px 15px;  // (12px 15px)

$single-choice-radio-text-padding-desk:  15px 15px 15px 15px; // padding in label ONLY (15px 8px)
$single-choice-radio-text-padding-ipad:  15px 15px 15px 15px; // (15px 8px)
$single-choice-radio-text-padding-mobi:  15px 15px 15px 15px; // (10px 8px)

$color-1-alt: #4a4a4a;
$font-scale-color:       $color-1-alt;




$single-choice-radio-text-padding-desk:  15px 10px 15px 15px; // padding in label ONLY (10px 8px)



$multi-choice-answer-text-padding-desk:  15px 30px; // padding in label ONLY (12px 20px)

// ------------------------ BACKGROUND COLORS ------------------------
$bg-color-widget-container: 						rgba(0, 0, 0, 0.75);


$bg-color-widget-default: 							#FFFFFF;
$bg-color-widget-custom:								rgba(0, 0, 0, 0.7) !important;
$bg-color-widget-inline: 								#FFFFFF;
$bg-color-widget-bottombar: 						#FFFFFF;
$bg-color-widget-docked: 								#e8eced;
$bg-color-widget-topbar: 								#FFFFFF;
$bg-color-widget-fullscreen: 						#FFFFFF;


$bg-color-close-default:								transparent;
$bg-color-close-custom:									transparent;
$bg-color-close-inline:									transparent;
$bg-color-close-bottombar:							transparent;
$bg-color-close-docked:									transparent;
$bg-color-close-topbar:									transparent;
$bg-color-close-fullscreen:							transparent;

$bg-color-close-default-hover:						transparent;
$bg-color-close-custom-hover:							transparent;
$bg-color-close-inline-hover:							transparent;
$bg-color-close-bottombar-hover:					transparent;
$bg-color-close-docked-hover:							transparent;
$bg-color-close-topbar-hover:							transparent;
$bg-color-close-fullscreen-hover:					transparent;


$bg-color-content-container-default: 				transparent;
$bg-color-content-container-single: 				transparent;
$bg-color-content-container-multi: 					transparent;
$bg-color-content-container-free: 					transparent;
$bg-color-content-container-custom: 				transparent;
$bg-color-content-container-custom-full:		transparent;

$bg-color-content-container-default-mobi: 		transparent;
$bg-color-content-container-single-mobi: 			transparent;
$bg-color-content-container-multi-mobi: 			transparent;
$bg-color-content-container-free-mobi: 			  transparent;
$bg-color-content-container-custom-mobi: 			transparent;
$bg-color-content-container-custom-full-mobi:	transparent;


$bg-color-question-single: 							transparent;
$bg-color-question-multi: 							transparent;
$bg-color-question-free: 								transparent;
$bg-color-question-custom: 							transparent;
$bg-color-question-custom-full: 				transparent;

$bg-color-question-single-mobi: 					transparent;
$bg-color-question-multi-mobi: 						transparent;
$bg-color-question-free-mobi: 						transparent;
$bg-color-question-custom-mobi: 					transparent;
$bg-color-question-custom-full-mobi: 			transparent;


$bg-color-answers-container: 							transparent;


$bg-color-single-choice-answer-all:					transparent;
$bg-color-single-choice-answer-all-hover:		#5b1f69;
$bg-color-multi-choice-answer-all:					transparent;
$bg-color-multi-choice-answer-all-hover:		#5b1f69;


$bg-color-radio-button-outer:							  white;
$bg-color-radio-button-outer-hover:					#FFFFFF;
$bg-color-radio-button-inner-hover:					#FFFFFF;


$bg-color-multi-checkbox-outer:						white;
$bg-color-multi-checkbox-outer-hover:			white;


$bg-color-free-text-question-field-container: 	transparent;


$bg-color-thank-you:									transparent;
$bg-color-invitation:									transparent;


$bg-color-submit-button:								#000;
$bg-color-submit-button-hover: 					#000;


$bg-color-branding:										transparent;
$bg-color-branding-custom:						transparent;


// ------------------------ FONTS ------------------------
	// Make sure there's a value here, even if it's the same as the global family
$font-lg-family: 				'Conduit-ITC-Bold';
$font-header-family:    'Conduit-ITC-Bold';
$font-md-family: 				'Conduit-ITC-Light';
$font-sm-family: 				'Conduit-ITC-Light';
$font-button-family: 		'Conduit-ITC-Bold';
$close-family:					sans-serif;


// FONT | LARGE (Question, Thank You, Invitation, etc.)
$font-lg-color: 			  	#4a4a4a;
$font-lg-size: 				    20px;
$font-lg-size-mobi: 			18px;
$font-lg-weight: 				  500;
$font-lg-align: 				  center;
$font-lg-align-aao: 			left;
$font-lg-transform: 			none;	// none | capitalize | uppercase | lowercase
$font-lg-decoration: 		  none;				// none | underline | overline | line-through
$font-lg-style: 				  normal;			// normal | italic | oblique
$font-lg-variant: 			  normal;			// normal | small-caps
$font-lg-letter-spacing: 	normal;			// normal | length
$font-lg-line-height: 		120%;				// normal | length
$font-lg-shadow: 				  none;				// none | h-shadow v-shadow blur-radius color


// FONT | MEDIUM (Single Choice Answers, Custom Content Body, )
$font-md-color: 				   #4a4a4a;
$font-md-color-hover: 		 #4a4a4a;
$font-md-size: 				     16px;
$font-md-size-mobi: 			 14px;
$font-md-weight: 				   400;
$font-md-align: 				   left;
$font-md-transform: 			 none;
$font-md-decoration: 		   none;
$font-md-decoration-hover: none;
$font-md-style: 				   normal;
$font-md-variant: 			   normal;
$font-md-letter-spacing: 	 normal;
$font-md-line-height: 		 120%;
$font-md-shadow: 				   none;

$font-md-placeholder: 		#444;

      div#_pi_surveyWidget[data-question-type="free_text_question"] input._pi_free_text_question_field,
      div#_pi_surveyWidget[data-question-type="free_text_question"] textarea._pi_free_text_question_field {
        color: #444 !important;
      }

// FONT | SMALL (Character counts, maximum selected, branding)
$font-sm-color: 				   #4a4a4a;
$font-sm-color-hover: 		 #000;
$font-sm-size: 				     12px;
$font-sm-size-mobi: 			 12px;
$font-sm-weight: 				   normal;
$font-sm-align: 				   left;
$font-sm-transform: 			 none;
$font-sm-decoration: 		   none;
$font-sm-decoration-hover: none;
$font-sm-style: 				   normal;
$font-sm-variant: 			   normal;
$font-sm-letter-spacing: 	 0;
$font-sm-line-height: 		 120%;
$font-sm-shadow: 				   none;

// FONT | HEADERS (Before and After Question headers)
$font-header-color:          #4a4a4a;
$font-header-size:           16px;
$font-header-size-mobi:      14px;
$font-header-weight:         normal;
$font-header-align:          center;
$font-header-align-aao:      left;
$font-header-transform:      none;
$font-header-decoartion:     none;
$font-header-style:          normal;
$font-header-variant:        none;
$font-header-letter-spacing: normal;
$font-header-line-height:    100%;
$font-header-shadow:         none;


// ------------------------ BUTTONS ------------------------
$font-button-color: 					  #5b1f69;
$font-button-color-hover: 		  #FFFFFF;
$font-button-size: 					    14px;
$font-button-size-mobi: 			  14px;
$font-button-weight: 				    400;
$font-button-align: 					  center;
$font-button-transform: 			  normal;
$font-button-decoration: 			  none;
$font-button-decoration-hover: 	normal;
$font-button-style: 					  normal;
$font-button-variant: 				  normal;
$font-button-letter-spacing: 		0;
$font-button-line-height: 			100%;
$font-button-shadow: 				    none;


// ------------------------ CLOSE BUTTON ------------------------
$close-color: 						#4a4a4a;
$close-color-hover: 			#4a4a4a;
$close-size: 						  32px;
$close-size-mobi: 				26px;
$close-size-full:					42px;
$close-size-full-mobi:		36px;
$close-weight: 					  lighter;
$close-align: 						center;
$close-transform: 				normal;
$close-decoration: 				none;
$close-decoration-hover: 	none;
$close-style: 						normal;
$close-variant: 					normal;
$close-letter-spacing: 		0;
$close-line-height: 			100%;
$close-shadow: 					  none;

$close-default-padding:			5px 10px;
$close-custom-padding:			5px 10px;
$close-inline-padding:			5px 12px;
$close-bottombar-padding:		5px 12px;
$close-docked-padding:			3px 5px;
$close-topbar-padding:			5px 12px;
$close-fullscreen-padding:	8px 15px;

$close-default-margin:			0 0 0 auto;
$close-custom-margin:			  50px 0 0 calc(100% - 100px);
$close-inline-margin:			  0 0 0 auto;
$close-bottombar-margin:		0 0 0 auto;
$close-docked-margin:			  0 0 0 auto;
$close-topbar-margin:			  0 0 0 auto;
$close-fullscreen-margin:		50px 0 0 calc(100% - 100px);

$close-default-radius:		 	0px;
$close-custom-radius:			  0px;
$close-inline-radius:			  0px;
$close-bottombar-radius:		0px;
$close-docked-radius:			  0px;
$close-topbar-radius:			  0px;
$close-fullscreen-radius:		3px;


// ------------------------ PADDINGS, MARGINS, WIDTHS | BUTTONS (and answers?) ------------------------------------------------
$content-container-margin: 			    0 0 15px 0;
$content-container-custom-margin: 	0 0 5px 0;

$button-padding-lg:						15px 30px;
$button-padding-md:						10px 20px;
$button-padding-sm:						12px 30px;

$button-margin-lg:						0px auto;
$button-margin-md:						0px auto;
$button-margin-sm:						0px auto;

$button-min-width:						auto;
$button-min-width-mobi:				auto;

$radio-button-outer-min-width: auto !important;

$button-max-width:						auto;
$button-max-width-mobi:				auto;

$branding-padding:						5px 7px;
$branding-margin:							0 auto 0 0;

$padding-widget-bottombar:    0px;

$radio-button-outer-margin:       0px 0px 0px 10px;
$single-choice-answer-all-margin: 0px;

$multi-checkbox-outer-margin:     2px 10px 0px -1.5px;

      ul._pi_answers_container input[type="text"],
      input._pi_free_text_question_field,
      ul._pi_answers_container textarea._pi_free_text_question_field {
        padding: 12px 12px !important;
      }

// ------------------------ CHECKMARK ------------------------------------------------
$checkmark-left-offset:					20px;
$checkmark-width:								4px;
$checkmark-height:							12px;

$checkmark-left-offset-mobi:		20px;
$checkmark-width-mobi:					4px;
$checkmark-height-mobi:					12px;


// ------------------------ BOX SHADOWS ------------------------------------------------
$shadow-inline:								none;
$shadow-docked:								0px -1px 7px rgba(0,0,0,0.2);
$shadow-bottombar:						0px -1px 7px rgba(0,0,0,0.2);
$shadow-topbar:								none;
$shadow-fullscreen:						none;

$shadow-fullscreen-content-container:	none;


// ------------------------ Z-INDEX --------------------------------------------------
$z-index-widget-default:						0 !important;
$z-index-widget-inline:							0 !important;
$z-index-widget-bottombar:					100000 !important;
$z-index-widget-docked:							100000 !important;
$z-index-widget-topbar:							100000 !important;
$z-index-widget-fullscreen:					100000 !important;
$z-index-content-container-custom-full:	100000 !important;


// ------------------------ OPACITIES ------------------------------------------------
$opacity-widget-custom:							1 !important;

        div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton {
          opacity: 0 !important;
        }

        div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] a._pi_branding {
          opacity: 0 !important;
        }


// ------------------------ BORDERS --------------------------------------------------
//border-colors
$border-color-widget-container:     transparent;
$border-color-widget-default:       transparent;
$border-color-widget-custom:        transparent;
$border-color-widget-inline:        transparent;
$border-color-widget-bottombar:     #bfc6cb;
$border-color-widget-docked:        #bfc6cb;
$border-color-widget-docked-mobi:   rgba(174, 174, 174, 0.6);
$border-color-widget-topbar:        transparent;
$border-color-widget-topbar-mobi:   rgba(174, 174, 174, 0.6);
$border-color-widget-fullscreen:    transparent;

$border-color-single-choice-answer-each:          #5b1f69;
$border-color-single-choice-answer-each-hover:    #5b1f69;
$border-color-multi-choice-answer-each:			      #5b1f69;
$border-color-multi-choice-answer-each-hover:	    #5b1f69;

$border-color-radio-button-outer:         #FFFFFF;
$border-color-radio-button-outer-hover:   #FFFFFF;
$border-color-radio-button-inner-hover:   #5b1f69;

$border-color-multi-checkbox-outer:           #5b1f69;
$border-color-multi-checkbox-outer-hover:     #5b1f69;
$border-color-multi-checkbox-checkmark:       #5b1f69;
$border-color-multi-checkbox-checkmark-hover:  #000;

$border-color-submit-button:          #000;
$border-color-submit-button-hover:    #000;

//border-widths
$border-width-widget-container:       0px;
$border-width-widget-default:         0px;
$border-width-widget-custom:          0px;
$border-width-widget-inline: 					0px;
$border-width-widget-bottombar: 			1px 0 0 0;
$border-width-widget-docked-mobi: 		1px;
$border-width-widget-docked: 					1px 1px 0 1px;
$border-width-widget-topbar: 					0px;
$border-width-widget-topbar-mobi:     2px;
$border-width-widget-fullscreen: 			0px;

$border-width-single-choice-answer-all:			    0; 	// Don't change
$border-width-single-choice-answer-all-hover:	  0;
$border-width-multi-choice-answer-all:			    0;
$border-width-multi-choice-answer-all-hover:	  0;

$border-width-single-choice-answer-each:			  1px;
$border-width-single-choice-answer-each-hover:	1px;
$border-width-multi-choice-answer-each:			    1px;
$border-width-multi-choice-answer-each-hover:	  1px;

$border-width-radio-button-outer:					1px;
$border-width-radio-button-inner-hover:		1px;

$border-width-multi-checkbox-outer:				1px;
$border-width-multi-checkbox-checkmark:		0 2px 2px 0;

$border-width-submit-button:							0px;

$border-style:  solid;

$border-radius-widget-container: 					0px;

$border-radius-widget-default: 						0px;
$border-radius-widget-custom:							0px;
$border-radius-widget-inline: 						0px;
$border-radius-widget-bottombar: 					0px;
$border-radius-widget-docked: 						0px;
$border-radius-widget-docked-mobi:        0px;
$border-radius-widget-topbar: 						0px;
$border-radius-widget-topbar-mobi:        0px;
$border-radius-widget-fullscreen: 				0px;

$border-radius-single-choice-answer-each:			  .125rem;
$border-radius-single-choice-answer-each-hover:	.125rem;
$border-radius-multi-choice-answer-each:			  .125rem;
$border-radius-multi-choice-answer-each-hover:	.125rem;

$border-radius-multi-checkbox-outer:				0px;
$border-radius-multi-checkbox-checkmark:		0px;

$border-radius-submit-button:							  30px;

// ------------------------ PADDINGS, MARGINS, MIN/MAX WIDTHS -------------------------

$padding-invitation: 10px 20px;
$padding-invitation-mobi: 8px 10px;
$padding-thank-you: 30px 10px;

$margin-widget-inline:    0px;
$margin-widget-bottombar:  0px;

$margin-invitation: 15px auto;
$margin-invitation-mobi: 10px auto;
$margin-thank-you: 0px;

$width-submit-button: auto;
$width-submit-button-mobi: auto;
$width-invitation-button: auto;
$width-invitation: 100%;
$width-thank-you: 90%;
$width-thank-you-mobi: 95%;

$width-docked-widget:       90%;
$max-width-docked-widget:   350px;

$min-width-multi-checkbox-outer: 14px;

$radio-button-outer-width: auto !important;

$answers-container-padding:        0px !important;
$single-choice-answer-all-padding: 0px;

$question-default-padding:      0px 0px 15px 0px;
$question-default-mobi-padding: 0px 0px 15px 0px;

$question-default-margin:    	 0px;
$question-default-margin-mobi: 0px;

$question-default-width:      90%;
$question-default-mobi-width: 95%;


// ------------------------ SURVEY LEVEL IMAGE -------------------------

$image-survey-level-max-width:		   30%;
$image-survey-level-mobi-max-width:	 50%;

$image-survey-level-margin:      30px 0px;
$image-survey-level-mobi-margin: 15px 0px;

$image-survey-level-align:			center; // center | flex-start | flex-end
$image-survey-level-mobi-align: center; // center | flex-start | flex-end
