
$aao-top-container: 			'#_pi_surveyWidgetContainer.all-at-once';
$aao-top-container-mobi: 	'#_pi_surveyWidgetContainer.all-at-once.mobile-enabled';

$aao-widget: 							#{$aao-top-container} '#_pi_surveyWidget[data-survey-display="all-at-once"]';
$aao-widget-mobi: 				#{$aao-top-container-mobi} '#_pi_surveyWidget[data-survey-display="all-at-once"]';







// BUTTONS ======================================================================
#{$aao-widget} input._pi_all_questions_submit_button 				{ @include builder("submit-button");}
#{$aao-widget-mobi} input._pi_all_questions_submit_button 	{ @include builder("submit-button-mobi"); }
#{$aao-widget} input._pi_all_questions_submit_button:hover 	{ @include builder("submit-button-hover"); }







// SELECT FONT MAPPED TO MEDIUM ================================================== 
#{$aao-widget} select._pi_select, select._pi_select option 			{ @include builder("medium-font"); }
#{$aao-widget-mobi} select._pi_select, select._pi_select option { @include builder("medium-font-mobi"); }

#{$aao-widget} select._pi_select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-color: #fff;
    border-radius: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #afafaf;
    padding: 0.69444rem;
    border-radius: 0;
    height: 4.5;
			width: 100% !important;
	padding: 10px !important;
}









// AAO ERROR FONT MAPPED TO SMALL ================================================== 
/* errrrr */
div._pi_all_questions_error { @include builder("small-font"); }
div._pi_all_questions_error { @include builder("small-font-mobi"); }










// ======================= SINGLE CHOICE SELECTED =======================
/* selsel */

#{$card-type-single} li.selected,
#{$card-type-single} li.selected a, 
#{$card-type-single} li.selected a label {
	background-color: $bg-color-single-choice-answer-all-hover;
	color: $font-md-color-hover;
	text-decoration: $font-md-decoration-hover;
}

#{$card-type-single} li.selected a span._pi_radio_button_outer {	
  background-color: white;
  border-color: black;
  // border-width: 1px;
  // border-style: solid;
}


#{$card-type-single} li.selected a span._pi_radio_button_inner {
	background-color: black;
	border-color: black;
	// border-width: 2px;
	// border-style: solid;
}





/* 444444 */
// ======================= SINGLE CHOICE =======================

	// CONTAINER WIDTHS
	#{$card-type-single} {
		width: 100% !important;
	}

	#{$card-type-single-mobi} {
		width: 98% !important;
	}


	// SINGLE CHOICE - ANSWERS
	#{$card-type-single} li,
	#{$card-type-single} li a,
	#{$card-type-single} li a #{$single-choice-text}  {
		@include builder("single-choice-answer-all");	
	}

	#{$card-type-single} li,
	#{$card-type-single-mobi} li {
		@include builder("single-choice-answer-each");
	}


			/* singleradio */
			// RADIO BUTTONS
			ul[data-question-type="single_choice_question"] li a span._pi_radio_button_outer {
				@include builder("radio-button-outer");
			}

			@media (min-width: 769px) {
				ul[data-question-type="single_choice_question"] li:hover a span._pi_radio_button_outer {
					@include builder("radio-button-outer-hover");
				}

				ul[data-question-type="single_choice_question"] li:hover a span._pi_radio_button_inner {
					@include builder("radio-button-inner-hover");
				}
			}










// 	/* singletext */
// 	// TEXT - RADIO OFF - ALL BREAKING POINTS
// 	#{$card-type-single} li a #{$single-choice-text}  {
// 		padding: 6px 30px;
// 		width: 100% !important;
// 		min-width: auto;
// 	}

// 	// TEXT - RADIO ON - ALL BREAKING POINTS
// 	#{$card-type-single-radio-on} li a #{$single-choice-text}  {
// 		padding: 10px 8px;
// 	}


	// SINGLE CHOICE - DESKTOP - INCLUDING HOVERS
	@media (min-width:769px) {
		#{$card-type-single} li:hover,
		#{$card-type-single} li:hover a,
		#{$card-type-single} li:hover a #{$single-choice-text}  {
			@include builder("single-choice-answer-all-hover");
		}

		#{$card-type-single} li:hover {
			@include builder("single-choice-answer-each-hover");
		}
		
		#{$card-type-single} li:hover a #{$single-choice-text}  {
		}
		
		#{$card-type-single-radio-on} li:hover a #{$single-choice-text}  {
		}	
	}
















			div#_pi_surveyWidgetContainer.all-at-once ._pi_answers_container[data-question-type="single_choice_question"] li a label {
				padding: 7px 32px;
				width: 100% !important;
				min-width: auto;
			}

			._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="on"] li a label {
				padding: 10px 8px;
			}



			@media (min-width: 415px) and (max-width: 768px) {
				div#_pi_surveyWidgetContainer.all-at-once ._pi_answers_container[data-question-type="single_choice_question"] li a label {
					padding: 8px 33px !important;
				}
				
				._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="on"] li a label {
					padding: 10px 8px !important;
				}
			}

			@media (max-width: 414px) {
				div#_pi_surveyWidgetContainer.all-at-once.mobile-enabled ._pi_answers_container[data-question-type="single_choice_question"] li a label {
					padding: 8px 33px !important;
				}
				#_pi_surveyWidgetContainer.mobile-enabled ._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="on"] li a label {
					padding: 10px 8px !important;
				}
			}





input._pi_all_questions_submit_button {
	margin-left: 0 !important;
}

