div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="14936"] {
  height: 50px !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget div._pi_widgetContentContainer ._pi_header {
  margin-top: 20px !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget div._pi_widgetContentContainer ._pi_question {
  color: #292929 !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget div._pi_widgetContentContainer ._pi_answers_container ._pi_free_text_question_submit_button_container {
  padding: 0px !important;
  margin-bottom: 11px !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget div._pi_widgetContentContainer ._pi_thankYouSurvey {
  margin: 81px 0 80px 0 !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] {
  height: 50px !important;
  width: 390px !important;
  position: relative;
  margin: 0px !important;
  overflow: visible !important;
  margin-bottom: 10px !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] * {
  background-color: transparent !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] *:focus {
  outline: none !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-answer]:not([data-answer=""]) a:after {
  color: transparent !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-answer]:not([data-answer=""]) li.selected a:after {
  color: #333 !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-answer]:not([data-answer=""]) li.selected ~ li a:after {
  color: #cccccc !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-answer]:not([data-answer=""]):hover li a:after {
  color: transparent !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-answer]:not([data-answer=""]):hover li ~ li a:after {
  color: transparent !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-answer]:not([data-answer=""]):hover li:hover a:after {
  color: #0272b6 !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-answer]:not([data-answer=""]):hover li:hover ~ li a:after {
  color: #cccccc !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"]:hover a:after {
  color: transparent !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:hover a:after {
  color: #0272b6 !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:hover ~ li a:after {
  color: #cccccc !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] * {
  width: auto !important;
  display: inline-block;
  text-align: right;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li {
  border-radius: 0px !important;
  overflow: visible !important;
  border: none !important;
  margin: 0px !important;
  max-width: 30px !important;
  width: 30px;
  height: 50px !important;
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  letter-spacing: 24px;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li a {
  margin-top: 10px !important;
  font-size: 30px;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li a label {
  display: none !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li a:after {
  letter-spacing: 50px !important;
  color: #cccccc;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li a:focus {
  outline: none;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(1) {
  width: 20% !important;
  max-width: 20% !important;
  z-index: 50;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(1) a:after {
  content: "\2606";
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(1):hover a:after, div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(1).selected a:after {
  content: "\2605";
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(2) {
  width: 40% !important;
  max-width: 40% !important;
  z-index: 40;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(2) a:after {
  content: "\2606 \2606";
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(2):hover a:after, div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(2).selected a:after {
  content: "\2605 \2605";
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(3) {
  width: 60% !important;
  max-width: 60% !important;
  z-index: 30;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(3) a:after {
  content: "\2606 \2606 \2606";
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(3):hover a:after, div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(3).selected a:after {
  content: "\2605 \2605 \2605";
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(4) {
  width: 80% !important;
  max-width: 80% !important;
  z-index: 20;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(4) a:after {
  content: "\2606 \2606 \2606 \2606";
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(4):hover a:after, div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(4).selected a:after {
  content: "\2605 \2605 \2605 \2605";
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(5) {
  width: 100% !important;
  max-width: 100% !important;
  z-index: 10;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(5) a:after {
  content: "\2606 \2606 \2606 \2606 \2606";
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(5):hover a:after, div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(5).selected a:after {
  content: "\2605 \2605 \2605 \2605 \2605";
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ._pi_scale_container._pi_scale_container_after {
  width: 390px !important;
  justify-content: space-between !important;
  margin-bottom: 0px !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ._pi_scale_container._pi_scale_container_after ._pi_scale._pi_scale_first {
  margin: 0px !important;
  font-weight: 400 !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ._pi_scale_container._pi_scale_container_after ._pi_scale._pi_scale_last {
  margin: 0px !important;
  font-weight: 400 !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] {
  width: 250px !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li a::after {
  letter-spacing: 12px !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ._pi_scale_container._pi_scale_container_after {
  width: 100% !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ._pi_scale_container._pi_scale_container_after ._pi_scale._pi_scale_first {
  max-width: calc(50% - 112px) !important;
  text-align: right !important;
  width: 100% !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ._pi_scale_container._pi_scale_container_after ._pi_scale._pi_scale_last {
  max-width: calc(50% - 112px) !important;
  text-align: left !important;
  width: 100% !important;
}

@media (max-width: 480px) {
  div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ._pi_scale_container._pi_scale_container_after ._pi_scale._pi_scale_first {
    max-width: calc(50% - 52px) !important;
    text-align: left !important;
    width: 100% !important;
    margin-left: 10px;
  }
  div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="14936"] div._pi_widgetContentContainer ._pi_scale_container._pi_scale_container_after ._pi_scale._pi_scale_last {
    max-width: calc(50% - 52px) !important;
    text-align: right !important;
    width: 100% !important;
    right: 10px;
  }
}
