			// ================== F1. RADIO BUTTON OUTER ====================================
			// --- All Devices
			ul._pi_answers_container li a span._pi_radio_button_outer {
				background-color: rgba(255, 255, 255, 1) !important;
				// border: 1px solid #0272b6 !important;
				border: 1px solid #868f96 !important;
			}

			// --- Tablet and Desktop Hover
			@media (min-width:769px) {
				ul._pi_answers_container li:hover a span._pi_radio_button_outer {
					background-color: #0272b6 !important;
					border: 1px solid rgba(255, 255, 255, 1) !important;
				}
			}






				// ================== G1. RADIO BUTTON INNER ====================================
				// --- Tablet and Desktop Hover
				@media (min-width:769px) {
					ul._pi_answers_container li:hover a span._pi_radio_button_inner {
						background-color: rgba(255, 255, 255, 1) !important;
						border: 1px solid transparent;
					}
				}





// FLEX
			ul._pi_answers_container li a span._pi_radio_button_outer {
/* 				top: initial; */
/* 				left: initial; */
/* 				float: initial; */
/* 				display: block; */
				
/* 				flex: 0 0 14px; */
/* 				flex-grow: 0; */
/* 				flex-shrink: 0; */
/* 				flex-basis: 14px; */

				position: static;
				
				margin-top: 	0;
				margin-bottom: 0;
				margin-left: 	10px; /* make sure it matches the variable for checkbox right and left margin */
				margin-right: 	0;

				/* VISUAL PARAMETERS - CAN BE OVERRIDDEN BY CIENT USING !IMPORTANT */
				width: 		14px;
				min-width: 	14px;
				max-width: 	14px;
				height: 		14px;
				min-height: 14px;
				max-height: 14px;
				
				background-color: rgba(255,255,255,0.2);			/* backup value */
				border: 1px solid rgba(255, 255, 255, 0.5);		/* backup value */
				border-radius: 50%;				
			}

				ul._pi_answers_container li a span._pi_radio_button_inner,
				ul._pi_answers_container li:hover a span._pi_radio_button_inner {
					position: 	relative;
					display: 	block;
					
					width: 		8px;
					min-width: 	8px;
					max-width: 	8px;
					height: 		8px;
					min-height: 8px;
					max-height: 8px; 
					
					top: 			2px;
					left: 		2px;
					border-radius: 50%;
				}

				ul._pi_answers_container li:hover a span._pi_radio_button_inner {
					background-color: rgba(255, 255, 255, 0.5);	/* backup value */
					border: 1px solid transparent;					/* backup value */
				}
