#_pi_surveyWidgetContainer{
    position:relative;
    width:350px;
    margin:0 0 50px 50px;
    background-color:#fff!important
}
@media (min-width:415px) and (max-width:768px){
    #_pi_surveyWidgetContainer{
        width:290px;
        margin:0 0 40px 40px
    }
}
#_pi_surveyWidgetContainer.mobile-enabled{
    max-width:414px!important;
    width:auto;
    margin:25px 0 35px 0
}
#_pi_surveyWidget{
    height:auto;
    width:auto;
    margin:0!important;
    padding:0 0 10px 0!important;
    border-top-width:5px;
    border-top-style:solid;
    border-top-color:#3a3a3a;
    border-bottom:2px solid #e4e4e4;
    background-color:#fff!important
}
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget{
    margin:0!important;
    padding:0 0 10px 0!important;
    background-color:#fff!important
}
._pi_invitationTextContainer,._pi_pollName,._pi_pollProgress,._pi_pollText span,._pi_question_custom_content_question,._pi_question_custom_content_question button.pi_question_link,._pi_question_custom_content_question p,._pi_startButton,a._pi_branding,a._pi_branding:hover,div._pi_free_text_question_characters_count,div._pi_multiple_choices_count,div._pi_question,div._pi_thankYouSurvey,input._pi_free_text_question_field,input._pi_free_text_question_submit_button,input._pi_multiple_choices_question_submit_button,label._pi-control._pi-control-checkbox,textarea._pi_free_text_question_field,ul._pi_answers_container li a label{
    font-family:"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
    font-weight:400;
    line-height:100%;
    text-transform:none;
    color:#000
}
div._pi_invitationTextContainer,div._pi_question,div._pi_question_custom_content_question,div._pi_question_custom_content_question p:first-child,div._pi_thankYouSurvey{
    font-family:"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
    color:#000;
    font-size:22px;
    font-weight:400;
    text-align:left;
    text-transform:none;
    letter-spacing:0;
    line-height:120%
}
#_pi_surveyWidgetContainer.mobile-enabled div._pi_invitationTextContainer,#_pi_surveyWidgetContainer.mobile-enabled div._pi_question,#_pi_surveyWidgetContainer.mobile-enabled div._pi_question_custom_content_question,#_pi_surveyWidgetContainer.mobile-enabled div._pi_question_custom_content_question p:first-child,#_pi_surveyWidgetContainer.mobile-enabled div._pi_thankYouSurvey{
    font-size:20px;
    font-weight:400
}
div._pi_widgetContentContainer{
    width: 100%;
    margin:0 auto
}
div._pi_question {
    padding: 20px;
    margin: 0 0 9px 0;
    background-color: #9CCE40 !important;
    color: #fff;
}
div._pi_question:before{
    display:block;
    content:'POLL';
    color:#fff;
    font-size:13px;
    font-weight:700;
    text-decoration:none;
    text-align:left;
    text-transform:uppercase;
    background-color:transparent;
    padding:3px 0 0 0
}
ul._pi_answers_container{
    margin:0;
    padding: 20px;
}
ul._pi_answers_container li{
    padding:0 0;
    margin-top:15px!important;
    margin-bottom:12px!important;
    margin-left:0!important;
    margin-right:0!important;
    left:0!important;
    box-sizing:border-box
}
#_pi_surveyWidgetContainer.mobile-enabled ul._pi_answers_container li{
    margin-top:5px!important;
    margin-bottom:5px!important;
    margin-left:0!important;
    margin-right:0!important
}
#_pi_surveyWidgetContainer.mobile-enabled ul._pi_answers_container li a,ul._pi_answers_container li a{
    margin:0;
    padding:0;
    text-decoration:none;
    border:0!important
}
#_pi_surveyWidgetContainer.mobile-enabled ul._pi_answers_container li a label,ul._pi_answers_container li a label{
    margin:0 0 0 25px;
    width:calc(100% - 25px);
    color:#4a4a4a;
    font-size:16px;
    font-weight:400;
    text-decoration:none;
    text-align:left;
    text-transform:none;
    letter-spacing:.5px;
    background-color:transparent;
    border:0 solid #000;
    border-radius:2px;
    padding:5px 0;
    background-color:transparent
}
#_pi_surveyWidgetContainer.mobile-enabled ul._pi_answers_container li a label{
    font-size:14px
}
ul._pi_answers_container li a label:hover{
    color:#4a4a4a;
    border:0 solid #000;
    background-color:transparent;
    text-decoration:none
}
div._pi_pollContainer{
    padding:20px;
    text-align:initial;
}
div._pi_pollContainer div:first-child{
    border-top:0
}
div._pi_pollName{
    margin:0 0 6px!important;
    padding:15px 0 0 0;
    border:0;
    color:#4a4a4a;
    font-size:16px;
    font-weight:400;
    text-decoration:none;
    text-align:left;
    text-transform:none;
    letter-spacing:.5px;
    background-color:transparent;
    border-top:1px solid #eee
}
#_pi_surveyWidgetContainer.mobile-enabled div._pi_pollName{
    font-size:15px
}
label._pi_pollChoice{
    margin:0 0 17px;
    height:18px
}
._pi_pollChart{
    background-color:#dcdcdc;
    border-left:1px solid #ccc;
    margin:0!important;
    box-sizing:border-box
}
._pi_pollText{
    margin-left:5px
}
._pi_pollText span{
    color:#4a4a4a;
    opacity:1!important;
    font-size:12px;
    display:block;
    padding:4px 0
}
#_pi_surveyWidgetContainer.mobile-enabled ._pi_pollText span{
    font-size:11px
}
div._pi_pollProgress{
    color:#9b9b9b;
    font-size:12px;
    width:100%;
    margin:-5px 0 0 0;
    padding:0 0 10px 0;
    display:none
}
#_pi_surveyWidgetContainer.mobile-enabled div._pi_pollProgress{
    font-size:11px
}
ul._pi_answers_container li a span._pi_radio_button_outer{
    top:5px;
    left:0;
    border:1px solid #ccc;
    width:15px;
    height:15px
}
ul._pi_answers_container li:hover a span._pi_radio_button_outer{
    border:0 solid #4a4a4a
}
ul._pi_answers_container li:hover a span._pi_radio_button_inner{
    border:1px solid #4a4a4a;
    background-color:#4a4a4a;
    top:0;
    left:0;
    width:14px;
    height:14px
}
._pi_invitationTextContainer,._pi_startButton{
    display:none
}
div._pi_closeButton{
    display:none
}
a._pi_branding{
    display:none
}
