div#_pi_surveyWidgetContainer{
  box-shadow: 0px 2px 7px 0px #E6E7E9;
  z-index: 1 !important;
  &.mobile-enabled{
    z-index: 1 !important;
  }
}
div#_pi_surveyWidgetContainer, div#_pi_surveyWidgetContainer.mobile-enabled{
  margin-top: 25px !important;
  margin-bottom: 20px;
  position: relative !important;
  background-color: #ffffff !important;
  width: 100% !important;
  height: 100% !important;
  width: 100% !important;
  max-width: 680px !important;
  ._pi_question {
    font-family: "TDASansScreen", Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    color: #56565e !important;
    font-weight: 500 !important;
    padding: 12px 8px !important;
    background-color: #e1eef9 !important;
    color: #333 !important;
    text-align: left !important;
    width: 100% !important;
    padding-right: 50px !important;
    &._pi_question_free_text_question {
      padding: 5px 0 !important;
      font-size: 13px !important;
    }
  }
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget, div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget {
  // background-color: #fff !important;
  border: 2px solid #E6E7E9 !important;
  div._pi_closeButton{
    position: absolute !important;
    top: 8px;
    right: 8px;
    line-height: 18px !important;
    border-radius: 100% !important;
    background-color: #666666 !important;
    width: 20px !important;
    height: 20px !important;
    padding: 0px 0px 0px 0px !important;
    font-size: 20px !important;
    z-index: 1 !important;
    /* padding-top: 3px !important; */
    color: #ffffff !important;
    &:hover{
      background-color: #F1F1F1 !important;
      color: #666666 !important;
    }
  }

  ._pi_invitationTextContainer, ._pi_startButton{
    display: none !important;
  }
  div._pi_widgetContentContainer{
    position: relative !important;
    justify-content: center !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    ul._pi_answers_container{
      // padding: 12px !important
      margin-top: 12px !important;
      width: calc(100% - 24px) !important;
      justify-content: space-between !important;
      input[type="text"], textarea._pi_free_text_question_field {
        border-radius: 2px !important;
        background-color: transparent !important;
      }
      &[data-radio-button="off"] {

        li{
          a{
            label{
              font-size: 14px !important;
              font-weight: 500 !important;
            }
          }
          &:hover{
            border-color: #087900 !important;
            a label{
              color: #087900 !important;
            }
          }
          &.selected{
            &:hover{
              a label{
                color: #ffffff !important;
              }
            }
          }
        }
      }
      &[data-question-type="single_choice_question"]{
        ._pi_question {
          width: 100% !important;
          question: left !important;
        }
        li{
          margin-right: 0px !important;
          background-color: transparent !important;
          border-color: #ccc !important;
          border-radius: 0px !important;
          color: #191919 !important;
          font-family: "TDASansScreen", Helvetica, Arial, sans-serif !important;
          a{
            background-color: transparent !important;
            border-color: #ccc !important;
            border-radius: 0px !important;
            color: #191919 !important;
            font-family: "TDASansScreen", Helvetica, Arial, sans-serif !important;
            label{
              background-color: transparent !important;
              border-color: #ccc !important;
              border-radius: 0px !important;
              color: #191919 !important;
              font-family: "TDASansScreen", Helvetica, Arial, sans-serif !important;
              padding: 18px 15px !important;
              outline: none !important;
            }
          }
          &.selected{
            background-color: #087900 !important;
            color: #fff !important;
            a{
              background-color: #087900 !important;
              color: #fff !important;
            }
            label{
              background-color: #087900 !important;
              color: #fff !important;
            }
          }
          &.focus-within{
            border-color: #087900 !important;
            a label{
              color: #087900 !important;
            }
          }
        }
        &[data-radio-button="off"]{
          li{
            margin-left: 0 !important;
            margin-top: 6px !important;
            margin-bottom: 6px !important;
          }
        }
      }
      textarea._pi_free_text_question_field{
        border-color: #000000 !important;
      }
      &[data-question-type="free_text_question"]{
        textarea._pi_free_text_question_field {
          color: #191919 !important;
          font-family: "TDASansScreen", Helvetica, Arial, sans-serif !important;
          font-weight: 400 !important;
        }
      }
      &[data-answers-layout='fixed'][data-answers-per-row='1'] li {
        margin: 5px 0 !important;
        max-width: 100% !important;
        flex: 1 0 100% !important;
      }
      &[data-answers-per-row="1"]{
        li{
          max-width: calc(100% - 6px) !important;
          flex: 0 0 calc(100% - 6px) !important;
        }
      }
      &[data-answers-per-row="2"]{
        li{
          max-width: calc(50% - 6px) !important;
          flex: 0 0 calc(50% - 6px) !important;
        }
      }
      &[data-answers-per-row="3"]{
        li{
          max-width: calc((100% / 3) - 6px) !important;
          flex: 0 0 calc((100% / 3) - 6px) !important;
        }
      }
      &[data-answers-per-row="4"]{
        li{
          max-width: calc(25% - 6px) !important;
          flex: 0 0 calc(25% - 6px) !important;
        }
      }
      &[data-answers-per-row="5"]{
        li{
          max-width: calc(20% - 6px) !important;
          flex: 0 0 calc(20% - 6px) !important;
        }
      }
      &[data-answers-per-row="6"]{
        max-width: calc((100% / 6) - 6px) !important;
        flex: 0 0 calc((100% / 6) - 6px) !important;
      }
    }
  }
  ._pi_branding{
    display: none !important;
  }
}
div#_pi_surveyWidgetContainer.all-at-once ul[data-question-type="custom_content_question"] {
display: none !important;
}
#_pi_surveyWidget div._pi_question._pi_question_custom_content_question {
  background-color: white !important;
  padding: 35px 20px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  font-size: 16px !important;
}
#_pi_surveyWidget div._pi_question._pi_question_custom_content_question a{
  text-decoration: underline;
  color: #333;
}
div#_pi_surveyWidget[survey-widget-type="inlinesurvey"]{
  background-color: #ffffff !important;
}
