// @import '_selectors';
// @import '_maps';

$parameters: (
	color:						$font-colors,
	font-family:			$font-families,
	font-size:				$font-sizes,
	font-weight:			$font-weights,
	font-style:				$font-styles,
	font-variant:			$font-variants,
	
	text-align:				$text-alignments,
	text-transform:		$text-transforms,
	text-decoration:	$text-decorations,
	text-shadow:			$text-shadows,
	letter-spacing:		$letter-spacings,
	line-height:			$line-heights,
	
	background-color: $background-colors,
	opacity:					$opacities,
	border-color:			$border-colors,
	border-width:			$border-widths,
	border-style:			$border-styles,
	border-radius:		$border-radiuses,
	box-shadow:				$box-shadows,
	
	padding:					$paddings,
	margin:						$margins,
	width:						$widths,
	min-width:				$min-widths,
	max-width:				$max-widths,
	transition:				$transitions,
	z-index:					$z-indexes,
);


@mixin builder($container) {
	@each $parameter, $parameter-map in $parameters {
		#{$parameter}: map-get($parameter-map, #{$container});

	} 
}






