// THE _selectors FILE:
@import '../../01-css-pulse/_selectors';

// DEFAULT VARIABLES
@import '../_default/_default-1-variables';

// CLIENT-SPECIFIC DESIGN VARIABLES
@import '_az_brilinta_hcp_v2_variables';

// GLOBAL MAPS:
@import '../../01-css-pulse/_maps';

// GLOBAL MIXINS
@import '../../01-css-pulse/_mixins';

// THE GLOBAL STRUCTURE FOR FRAMEWORK V2:
@import '../../01-css-pulse/_theme-structure';

#_pi_surveyWidget{
   border: none !important;
   background-color: white !important;
   ._pi_branding{
      font-size: 10px !important;
   }
}
#_pi_surveyWidgetContainer:not(.mobile-enabled){
  #_pi_surveyWidget{
    box-shadow: 0 2px 9px 2px rgba(0,0,0,0.3) !important;
  }
}
div#_pi_surveyWidgetContainer.mobile-enabled{
  div#_pi_surveyWidget{
    div._pi_widgetContentContainer{
      ul._pi_answers_container[data-radio-button="off"], ul._pi_answers_container[data-radio-button="on"]{
        li:hover{
          a{
            label{
              color: #5b1f69 !important;
            }
          }
        }
      }
      ._pi_question._pi_question_custom_content_question{
        > *:first-child{
           font-size: $font-lg-size-mobi;
        }
      }
    }
  }
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer{
   ._pi_header.pi_header_before{
      margin-bottom: 7px;
   }
  ._pi_question._pi_question_custom_content_question{
    text-align: center;
    *{
      text-align: center;
    }
    > *:first-child{
       margin-left: auto !important;
       margin-right: auto !important;
       font-size: $font-lg-size;
       font-family: $font-lg-family !important;
       color: $font-lg-color !important;
       letter-spacing: normal;
    }
    a{
      color: #61116a;
      font-weight: 700;
      &:hover{
         text-decoration: underline !important;
      }
    }
  }
  ul._pi_answers_container{
    overflow: visible !important;
    ._pi_free_text_question_field_container{
      width: 100% !important;
    }
    input[type="submit"]{
      background-color: white !important;
      border-width: 2px;
      border-color: #5b1f69;
      transition: transform;
      transition-duration: 0.5s;
      &:hover {
          background-color: #5b1f69 !important;
          border-width: 2px;
          border-color: #5b1f69;
          transition-duration: 0.5s;
       }
    }
    li{
      label{
        font-family: 'Dinot-Medium' !important;
      }
    }
    &[data-question-nps="t"]{
      li{
        label{
          padding: 10px !important;
        }
      }
    }
    &[data-question-type="multiple_choices_question"]{
      li{
        &:hover{
          color: #fff !important;
        }
      }
    }
    &[data-radio-button="off"], &[data-radio-button="on"]{
      li {
         // border-radius: 25px !important;
         a{
           label{
             color: #FFFFFF !important;
           }
         }
         &:hover {
              a{
                background-color: transparent !important;
                label{
                  background-color: transparent !important;
                  color: #5b1f69 !important;
                }
              }
         }
      }
    }
  }
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-radio-button="off"] li label{
 margin: 0px !important;
 width: 100% !important;
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_question{
    // font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    // font-weight: normal;
    // font-style: normal;
    // color: #222;
    // font-size: 2.3125rem;
    // line-height: 1.1;
    // font-family: "Omnes",Arial,sans-serif;
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ._pi_thankYouSurvey{
   color: #222;
   b{
      font-family: $font-lg-family !important;
   }
}
div#_pi_surveyWidgetContainer:not(.mobile-enabled) ul[data-radio-button="on"] li{
  a span._pi_radio_button_outer{
    min-width: 14px !important;
    min-height: 14px !important;
    > span{
      left: 1px !important;
      top: 1px !important;
    }
  }
  &:hover a span._pi_radio_button_outer{
    min-width: 14px !important;
    min-height: 14px !important;
    > span{
      left: 1px !important;
      top: 1px !important;
    }
  }
}
div#_pi_surveyWidgetContainer.all-at-once select._pi_select, div#_pi_surveyWidgetContainer select._pi_select{
   color: #4f4c4d;
}
