- invitation_form ||= nil
- account_id ||= nil

= invitation_form.input :email, label: 'Email', input_html: { autocomplete: 'off', title: I18n.t('simple_form.titles.users.invite_email'), data: { toggle: 'tooltip', placement: 'bottom' } }
= invitation_form.input :level, label: t('user.level'), collection: User.levels.map {|choice| [t('user.levels.'+choice[0]), choice[1]]}, include_blank: t("user.levels.blank"), selected: nil
= invitation_form.hidden_field :account_id, value: account_id
.form-action
  = invitation_form.submit 'Invite', class: 'btn btn-default'
