#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=off] ul[data-question-id="8635"][data-answers-layout='fixed'][data-answers-per-row='2'] li, #_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=off] ul[data-question-id="8635"][data-answers-layout='fixed'][data-answers-per-row='2'] li a, #_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=off] ul[data-question-id="8635"][data-answers-layout='fixed'][data-answers-per-row='2'] li a label {
  background-color: #0272b6 !important;
  color: white !important;
}

#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=off] ul[data-question-id="8635"][data-answers-layout='fixed'][data-answers-per-row='2'] li {
  max-width: calc((100% / 2) - 15%) !important;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-radio-button="on"] li a label {
  color: #191919;
}
