// Most widget backgrounds
// Alternative widget bgs
  $background-1:  #f9f9f9;
  $background-2:  #fff;

// Question, thank you, before/after question header
  $color-1:       #323232;
  $color-1-alt:   #0078c9;

// Single-choice button bg, single-choice button border
// Multiple-choice border
// Submit button bg, submit button border
// Radio border, checkbox, checkmark,
// Bottom bar top border, docked widget border
  $color-2:       #0078c9;
  $color-2-font:  white;

// Single-choice bg hover,
// Submit button bg hover
  $color-3:      #0078c9;
  $color-3-font: white;

// Multi-choice bg and font
  $color-4:      rgba(255, 255, 255, 0.5); //transparent;
  $color-4-font: #323232;

// Multi-choice bg hover,
  $color-5:      rgba(255, 255, 255, 0.75); //transparent;
  $color-5-font: #323232;

// Radio and checkbox inner color (white or transparent)
  $color-6:     white;

// Branding, character count, maximum selected
  $color-7:     #787878;

// Free-text font
  $color-8:     #323232;

// Free-text placeholder
  $color-9:     #999;



// ------------------------ BACKGROUND COLORS ------------------------
$bg-color-widget-container: rgba(0, 0, 0, 0.0);

$bg-color-widget-default:     $background-1;
$bg-color-widget-custom:      $background-2 !important;
$bg-color-widget-inline:      $background-1;
$bg-color-widget-bottombar:   $background-1;
$bg-color-widget-docked:      $background-1;
$bg-color-widget-topbar:      $background-1;
$bg-color-widget-fullscreen:  $background-2;

$bg-color-close-default:      transparent;
$bg-color-close-custom:       transparent;
$bg-color-close-inline:       transparent;
$bg-color-close-bottombar:    transparent;
$bg-color-close-docked:       transparent;
$bg-color-close-topbar:       transparent;
$bg-color-close-fullscreen:   transparent;

$bg-color-close-default-hover:    transparent;
$bg-color-close-custom-hover:     transparent;
$bg-color-close-inline-hover:     transparent;
$bg-color-close-bottombar-hover:  transparent;
$bg-color-close-docked-hover:     transparent;
$bg-color-close-topbar-hover:     transparent;
$bg-color-close-fullscreen-hover: transparent;

$bg-color-content-container-default:      transparent;
$bg-color-content-container-single:       transparent;
$bg-color-content-container-multi:        transparent;
$bg-color-content-container-free:         transparent;
$bg-color-content-container-custom:       transparent;
$bg-color-content-container-custom-full:  white;

$bg-color-content-container-default-mobi: transparent;
$bg-color-content-container-single-mobi:  transparent;
$bg-color-content-container-multi-mobi:   transparent;
$bg-color-content-container-free-mobi:    transparent;
$bg-color-content-container-custom-mobi:  transparent;
$bg-color-content-container-custom-full-mobi: white;

$bg-color-question-single:      transparent;
$bg-color-question-multi:       transparent;
$bg-color-question-free:        transparent;
$bg-color-question-custom:      transparent;
$bg-color-question-custom-full: transparent;

$bg-color-question-single-mobi:      transparent;
$bg-color-question-multi-mobi:       transparent;
$bg-color-question-free-mobi:        transparent;
$bg-color-question-custom-mobi:      transparent;
$bg-color-question-custom-full-mobi: transparent;

$bg-color-answers-container: transparent;



$bg-color-free-text-question-field-container: transparent;

$bg-color-thank-you:            transparent;
$bg-color-invitation:           transparent;

$bg-color-branding:             transparent;
$bg-color-branding-custom:      transparent;


// ------------------------ FONTS ------------------------
// Make sure there's a value here, even if it's the same as the global family
$font-lg-family:      'Gotham SSm A','Gotham SSm B',sans-serif;
$font-header-family:  'Gotham SSm A','Gotham SSm B',sans-serif;
$font-md-family:      'Gotham SSm A','Gotham SSm B',sans-serif;
$font-sm-family:      'Gotham SSm A','Gotham SSm B',sans-serif;
$font-button-family:  'Gotham SSm A','Gotham SSm B',sans-serif;
$close-family:        Arial;

// FONT | LARGE (Question, Thank You, Invitation, etc.)
$font-lg-color:       $color-1;
$font-lg-size: 20px;
$font-lg-size-mobi: 18px;
$font-lg-weight: 700;
$font-lg-align: center;
$font-lg-align-aao: left;
$font-lg-transform: none; // none | capitalize | uppercase | lowercase
$font-lg-decoration: none; // none | underline | overline | line-through
$font-lg-style: normal; // normal | italic | oblique
$font-lg-variant: normal; // normal | small-caps
$font-lg-letter-spacing: normal; // normal | length
$font-lg-line-height: 120%; // normal | length
$font-lg-shadow: none; // none | h-shadow v-shadow blur-radius color

// FONT | MEDIUM (Single Choice Answers, Custom Content Body, )
$font-md-color:       $color-2-font;
$font-md-color-hover: $color-3-font;
$font-md-size: 16px;
$font-md-size-mobi: 14px;
$font-md-weight: 500;
$font-md-align: left;
$font-md-transform: none;
$font-md-decoration: none;
$font-md-decoration-hover: none;
$font-md-style: normal;
$font-md-variant: normal;
$font-md-letter-spacing: normal;
$font-md-line-height: 120%;
$font-md-shadow: none;

$font-md-placeholder: $color-9;

// FONT | SMALL (Character counts, maximum selected, branding)
$font-sm-color:       $color-7;
$font-sm-color-hover: $color-2;
$font-sm-size: 12px;
$font-sm-size-mobi: 11px;
$font-sm-weight: normal;
$font-sm-align: center;
$font-sm-transform: none;
$font-sm-decoration: none;
$font-sm-decoration-hover: none;
$font-sm-style: normal;
$font-sm-variant: normal;
$font-sm-letter-spacing: 0;
$font-sm-line-height: 120%;
$font-sm-shadow: none;

._pi_free_text_question_characters_count.danger {
  color: $color-1;
}

._pi_free_text_question_characters_count.error {
  color: $color-1-alt;
}

// FONT | HEADERS (Before and After Question headers)
$font-header-color:       $color-1-alt;
$font-header-size: 14px;
$font-header-size-mobi: 12px;
$font-header-weight: normal;
$font-header-align: center;
$font-header-align-aao: left;
$font-header-transform: none;
$font-header-decoartion: none;
$font-header-style: normal;
$font-header-variant: none;
$font-header-letter-spacing: normal;
$font-header-line-height: 100%;
$font-header-shadow: none;


// ------------------------ SINGLE CHOICE -------------------------
$bg-color-single-choice-answer-all:            $color-2;
$bg-color-single-choice-answer-all-hover:      $color-3;

$border-color-single-choice-answer-each:       $color-2;
$border-color-single-choice-answer-each-hover: $color-3;

// clearing margins and paddings
$single-choice-answer-all-margin: initial;  // clears margin in li, a, and label
$single-choice-answer-all-padding: initial; // clears padding in li, a and label

// $single-choice-answer-text-padding-desk:  0px 1113px; // padding in label ONLY (12px 20px)
// $single-choice-answer-text-padding-ipad:  1px 1111px; // (12px 15px)
// $single-choice-answer-text-padding-mobi:  0px 1119px;  // (12px 15px)

$single-choice-noradio-text-padding-desk:  12px 16px; // padding in label ONLY (12px 10px)
$single-choice-noradio-text-padding-ipad:  10px 10px; // (10px 8px)
$single-choice-noradio-text-padding-mobi:  10px 10px;  // (12px 15px)

$single-choice-radio-text-padding-desk:  10px 10px 10px 15px; // padding in label ONLY (10px 8px)
$single-choice-radio-text-padding-ipad:  10px 10px 10px 15px; // (10px 8px)
$single-choice-radio-text-padding-mobi:  10px 10px 10px 15px; // (10px 8px)

$border-width-single-choice-answer-all: 0; // Don't change
$border-width-single-choice-answer-all-hover: 0;
$border-width-single-choice-answer-each: 1px;
$border-width-single-choice-answer-each-hover: 1px;
$border-radius-single-choice-answer-each: 2px;
$border-radius-single-choice-answer-each-hover: 2px;

    // ------------------------ RADIO BUTTON ------------------------
    $border-color-radio-button-outer:         $color-6;
    $bg-color-radio-button-outer:             $color-2;
    $border-width-radio-button-outer:         1px;

    $border-color-radio-button-outer-hover:   $color-6;
    $border-color-radio-button-inner-hover:   $color-2;
    $border-width-radio-button-inner-hover:   2px;
    $bg-color-radio-button-inner-hover:       $color-6;
    $bg-color-radio-button-outer-hover:       $color-6;

    $radio-button-outer-margin:    0px 0px 0px 15px;
    $radio-button-outer-width:     auto !important;
    $radio-button-outer-min-width: auto !important;









// ------------------------ MULIPLE CHOICE -------------------------
div#_pi_surveyWidget[data-question-type="multiple_choices_question"]
  li label._pi-control._pi-control-checkbox,
div#_pi_surveyWidgetContainer.all-at-once
  ._pi_answers_container[data-question-type="multiple_choices_question"]
  li label._pi-control._pi-control-checkbox {
  color: $color-4-font !important;
}

div#_pi_surveyWidget[data-question-type="multiple_choices_question"]
  li label._pi-control._pi-control-checkbox:hover,
div#_pi_surveyWidgetContainer.all-at-once
  ._pi_answers_container[data-question-type="multiple_choices_question"]
  li label._pi-control._pi-control-checkbox:hover {
  color: $color-5-font !important;
}

$bg-color-multi-choice-answer-all:            $color-4;
$bg-color-multi-choice-answer-all-hover:      $color-5;

$border-color-multi-choice-answer-each:       $color-4;
$border-color-multi-choice-answer-each-hover: $color-5;

      // clearing margins and paddings
      $multi-choice-answer-all-margin: initial; // clears margin in li, a, and label
      $multi-choice-answer-all-padding: 0; // clears padding in li, a and label

      $multi-choice-answer-text-padding-desk:  0px 1113px; // padding in label ONLY (12px 20px)
      $multi-choice-answer-text-padding-ipad:  1px 1111px; // (12px 15px)
      $multi-choice-answer-text-padding-mobi:  0px 1119px;  // (12px 15px)

$border-width-multi-choice-answer-all:       0;
$border-width-multi-choice-answer-all-hover: 0;

$border-width-multi-choice-answer-each:       0px;
$border-width-multi-choice-answer-each-hover: 0px;

$border-radius-multi-choice-answer-each:       2px;
$border-radius-multi-choice-answer-each-hover: 2px;

    // ------------------------ CHECKBOX and CHECKMARK ------------------------------------------------
    $bg-color-multi-checkbox-outer:                 $color-6;
    $bg-color-multi-checkbox-outer-hover:           $color-6;

    $border-color-multi-checkbox-outer:             $color-2;
    $border-color-multi-checkbox-outer-hover:       $color-2;
    $border-color-multi-checkbox-checkmark:         $color-2;
    $border-color-multi-checkbox-checkmark-hover:   $color-2;

    $multi-checkbox-outer-margin: 2px 10px 0px 0;
    $min-width-multi-checkbox-outer: 14px;
    $border-width-multi-checkbox-outer: 1px;
    $border-radius-multi-checkbox-outer: 0px;

    $border-width-multi-checkbox-checkmark: 0 2px 2px 0;
    $border-radius-multi-checkbox-checkmark: 0px;

    $checkmark-left-offset: 6px;
    $checkmark-width: 4px;
    $checkmark-height: 12px;

    $checkmark-left-offset-mobi: 6px;
    $checkmark-width-mobi: 4px;
    $checkmark-height-mobi: 12px;








// ------------------------ FREE TEXT -------------------------
div#_pi_surveyWidget[data-question-type="free_text_question"] input._pi_free_text_question_field,
div#_pi_surveyWidget[data-question-type="free_text_question"] textarea._pi_free_text_question_field {
  color: $color-8 !important;
  padding: 1rem !important;
}


// ------------------------ CUSTOM CONTENT -------------------------
div#_pi_surveyWidget[data-question-type="custom_content_question"] ._pi_question_custom_content_question {
  color: $color-4-font !important;
}







// ------------------------ SUBMIT BUTTONS ------------------------
$font-button-color:       $color-2-font; //#fff;
$font-button-color-hover: $color-3-font; //#ffffff;
$font-button-size:        $font-md-size;
$font-button-size-mobi:   $font-md-size-mobi;
$font-button-weight:      500;
$font-button-align: center;
$font-button-transform: normal;
$font-button-decoration: none;
$font-button-decoration-hover: normal;
$font-button-style: normal;
$font-button-variant: normal;
$font-button-letter-spacing: 0;
$font-button-line-height: 100%;
$font-button-shadow: none;

$bg-color-submit-button:        $color-2;
$bg-color-submit-button-hover:  $color-3;

$border-color-submit-button:                    $color-2;
$border-color-submit-button-hover:              $color-3;
$border-width-submit-button: 1px;
$border-radius-submit-button: 3px;

$width-submit-button: auto;
$width-submit-button-mobi: auto;

// ------------------------ CLOSE BUTTON ------------------------
$close-color:       $color-1;
$close-color-hover: $color-2;
$close-size: 25px;
$close-size-mobi: 20px;
$close-size-full: 42px;
$close-size-full-mobi: 36px;
$close-weight: lighter;
$close-align: center;
$close-transform: normal;
$close-decoration: none;
$close-decoration-hover: none;
$close-style: normal;
$close-variant: normal;
$close-letter-spacing: 0;
$close-line-height: 100%;
$close-shadow: none;

$close-default-padding: 5px 10px;
$close-custom-padding: 5px 10px;
$close-inline-padding: 5px 12px;
$close-bottombar-padding: 5px 12px;
$close-docked-padding: 20px 20px;
$close-topbar-padding: 5px 12px;
$close-fullscreen-padding: 8px 15px;

$close-default-margin: 0 0 0 auto;
$close-custom-margin: 0 0 0 auto;
$close-inline-margin: 0 0 0 auto;
$close-bottombar-margin: 0 0 0 auto;
$close-docked-margin: 0 0 0 auto;
$close-topbar-margin: 0 0 0 auto;
$close-fullscreen-margin: 50px 0 0 calc(100% - 100px);

$close-default-radius: 0px;
$close-custom-radius: 0px;
$close-inline-radius: 0px;
$close-bottombar-radius: 0px;
$close-docked-radius: 0px;
$close-topbar-radius: 0px;
$close-fullscreen-radius: 3px;

// ------------------------ PADDINGS, MARGINS, WIDTHS | BUTTONS (and answers?) ------------------------------------------------
$content-container-margin: 0 0 5px 0;
$content-container-custom-margin: 0 0 5px 0;

$button-padding-lg: 12px 30px;
$button-padding-md: 4.5px 20px;
$button-padding-sm: 10px 20px;

$button-margin-lg: 0px auto;
$button-margin-md: 0px auto;
$button-margin-sm: 0px auto;

$button-min-width: auto;
$button-min-width-mobi: auto;


$button-max-width: auto;
$button-max-width-mobi: auto;

$branding-padding: 0 0 10px 20px;
$branding-margin: 0 auto 0 0;

$padding-widget-bottombar: 0px;



// ------------------------ BOX SHADOWS ------------------------------------------------
$shadow-inline: none;
$shadow-docked: 0px -1px 10px rgba(0, 0, 0, 0.2);
$shadow-bottombar: 0px -1px 10px rgba(0, 0, 0, 0.2);
$shadow-topbar: none;
$shadow-fullscreen: none;
$shadow-fullscreen-content-container: none;


// ------------------------ Z-INDEX --------------------------------------------------
$z-index-widget-default: 0 !important;
$z-index-widget-inline: 0 !important;
$z-index-widget-bottombar: 100000 !important;
$z-index-widget-docked: 100000 !important;
$z-index-widget-topbar: 100000 !important;
$z-index-widget-fullscreen: 100000 !important;
$z-index-content-container-custom-full: 100000 !important;


// ------------------------ OPACITIES ------------------------------------------------
$opacity-widget-custom: 1 !important;

#_pi_surveyWidget[survey-widget-type="inlinesurvey"] > div._pi_closeButton {
  opacity: 0 !important;
}


// ------------------------ BORDERS --------------------------------------------------
//border-colors
$border-color-widget-container:   transparent;
$border-color-widget-default:     transparent;
$border-color-widget-custom:      transparent;
$border-color-widget-inline:      transparent;
$border-color-widget-bottombar:                 #c9c9c9; // $color-2;
$border-color-widget-docked:                    $color-2;
$border-color-widget-docked-mobi: transparent;
$border-color-widget-topbar:      transparent;
$border-color-widget-topbar-mobi: transparent;
$border-color-widget-fullscreen:  transparent;




//border-widths
$border-width-widget-container: 0;
$border-width-widget-default: 0;
$border-width-widget-custom: 0;
$border-width-widget-inline: 0;
$border-width-widget-bottombar: 1px 0 0 0;
$border-width-widget-docked-mobi: 0;
$border-width-widget-docked: 0;
$border-width-widget-topbar: 0;
$border-width-widget-topbar-mobi: 0;
$border-width-widget-fullscreen: 0;




$border-style: solid;

$border-radius-widget-container: 0px;
$border-radius-widget-default: 0px;
$border-radius-widget-custom: 0px;
$border-radius-widget-inline: 0px;
$border-radius-widget-bottombar: 0px;
$border-radius-widget-docked: 0px;
$border-radius-widget-docked-mobi: 2px;
$border-radius-widget-topbar: 0px;
$border-radius-widget-topbar-mobi: 2px;
$border-radius-widget-fullscreen: 0px;



// ------------------------ PADDINGS, MARGINS, MIN/MAX WIDTHS -------------------------
$padding-invitation: 10px 20px;
$padding-invitation-mobi: 8px 10px;
$padding-thank-you: 30px 10px;

$margin-widget-inline: 0px;
$margin-widget-bottombar: 0px;

$margin-invitation: 15px auto;
$margin-invitation-mobi: 10px auto;
$margin-thank-you: 0px;


$width-invitation-button: auto;
$width-invitation: 100%;
$width-thank-you: 90%;
$width-thank-you-mobi: 95%;

$width-docked-widget: 90%;
$max-width-docked-widget: 350px;

$answers-container-padding: 0px !important;

$question-default-padding: 10px 0px 10px 0px;
$question-default-mobi-padding: 5px 0px 5px 0px;

$question-default-margin: 0px;
$question-default-margin-mobi: 0px;

$question-default-width: 90%;
$question-default-mobi-width: 95%;

// ------------------------ SURVEY LEVEL IMAGE -------------------------

$image-survey-level-max-width: 30%;
$image-survey-level-mobi-max-width: 50%;

$image-survey-level-margin: 30px 0px;
$image-survey-level-mobi-margin: 15px 0px;

$image-survey-level-align: center; // center | flex-start | flex-end
$image-survey-level-mobi-align: center; // center | flex-start | flex-end
