			// ================== F3. HIDDEN <input> FORM ELEMENT ====================================



			// ================== F4. FAKE CHECKBOX <div> ====================================
			// --- All Devices
			div._pi-control-indicator {
				background-color: #fff !important;
				border: 1px solid #868f96 !important;
				border-radius: 2px !important;
				border-width: 1px !important;
				margin-top: 0px !important;
			}

			// --- Hover on Desktop
			@media (min-width:769px) {
				ul._pi_answers_container li:hover div._pi-control-indicator {
					background-color: rgba(255, 255, 255, 1) !important;
					border: 1px solid #fff !important;
				}
			}






			// ================== F5. FAKE CHECKMARK <div> ====================================
			// --- All Devices
			div._pi-control-indicator:after {
				border-color: #0272b6 !important;
			}

			// --- Hover on Desktop
			@media (min-width:769px) {
				ul._pi_answers_container li:hover div._pi-control-indicator:after {
					border-color: #0272b6 !important;
				}
			}



// FLEX
			/* Hidden Checkbox Form Element (nothing) */
			ul._pi_answers_container li label input._pi_checkbox {
			}

			
			/* Simulated Checkbox */
			._pi-control-indicator {
				position: 			static;
				display: 			block;
				
				flex-grow: 			0;
				flex-shrink: 		0;
				flex-basis: 		14px;
				
				margin-top: 		2px;		/* CREATE a variable for vertical adjust of the box */
				margin-bottom: 	0;
				margin-left: 		10px; 	/* Make sure it matches the variable for radio left margin */
				margin-right: 		10px; 	/* Make sure it matches the variable for radio left margin */
				width: 				14px;
				height: 				14px;
				border: 				1px solid #000;
			}


				/* Simulated Checkmark (nothing) */
				._pi-control input:checked ~ ._pi-control-indicator:after {
				}
				
				._pi-control-checkbox ._pi-control-indicator:after {
					left: 			4px;
					width: 			4px;
					height: 			10px;
					border: 			solid #000;
					border-width: 	0 2px 2px 0;
					transform: 		rotate(45deg);
				}
				
				._pi-control-indicator:after {
					content: 		'';
					position: 		relative;
					display: 		none;
				}