.hbspt-form form {
  margin-bottom: 30px;
}

.hbspt-form form legend {
  margin: 15px 0px;
}

.hbspt-form form fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

.hbspt-form form fieldset.form-columns-2 > div {
  width: calc(50% - 30px) !important;
  min-width: 200px;
}

.hbspt-form form fieldset * {
  width: 100%;
}

.hbspt-form form label {
  font-family: Raleway,sans-serif;
}

.hbspt-form form div.input {
  margin-bottom: 15px;
}

.hbspt-form form div.input input:not([type="checkbox"]) {
  height: 40px;
  min-height: 27px;
  padding: 0 15px;
}

.hbspt-form form div.input textarea {
  padding-left: 15px;
}

.hbspt-form form div.input input:not([type="checkbox"]), .hbspt-form form div.input textarea {
  font-family: Raleway,sans-serif;
  display: inline-block;
  font-weight: normal;
  line-height: 22px;
  border: 1px solid #cbd6e2;
  border-radius: 3px;
  background-color: #f5f8fa;
  -webkit-appearance: none;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  width: 100% !important;
  background-color: #efefef;
}

.hbspt-form form div.input input:not([type="checkbox"]).invalid.error, .hbspt-form form div.input textarea.invalid.error {
  border-color: #c51313 !important;
}

.hbspt-form form div.input input:not([type="checkbox"]):focus, .hbspt-form form div.input textarea:focus {
  outline: none !important;
  border-color: #9576d6;
}

.hbspt-form form ul, .hbspt-form form li {
  list-style-type: none;
  padding: 0px !important;
}

.hbspt-form form .hs_submit {
  margin: 0px 15px;
}

.hbspt-form form .hs_submit input[type=submit] {
  font-family: Raleway,sans-serif;
  padding: 15px 30px;
  border-radius: 0px !important;
  border: 1px solid #9576d6;
  background-color: #ffffff !important;
  transition: all 0.6s;
}

.hbspt-form form .hs_submit input[type=submit]:hover {
  color: #9576d6;
  transition: all 0.6s;
}

.hbspt-form form .hs-form-booleancheckbox-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.hbspt-form form .hs-form-booleancheckbox-display span {
  -webkit-text-size-adjust: 100%;
  list-style-type: none;
  box-sizing: border-box;
  font-family: Raleway,sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 28px;
  font-weight: 200;
  width: 100%;
  margin: 0;
  display: inline;
  padding-left: 15px;
}

.hbspt-form form .hs-error-msg {
  font-size: 14px;
}

.hbspt-form form .hs-form-field {
  margin: 0px 15px;
}

.hbspt-form#hbspt-form-1622048694473-1081641569 #label-email-bd39a24c-cee0-4b87-bd05-2e9d2d5a8aab {
  display: none;
}

.hbspt-form#hbspt-form-1622048694473-1081641569 .hs-error-msg {
  color: #ffffff !important;
}

.hbspt-form#hbspt-form-1622048694473-1081641569 .hs_submit input[type=submit] {
  background-color: #ffffff !important;
  color: #ffffff;
}

.hbspt-form#hbspt-form-1622048694473-1081641569 .hs_submit input[type=submit]:hover {
  color: #9576d6;
}
