._pi_header {
   margin: 0;
   width: 100%;
}

._pi_header_before {
   background-color: #c9ffc9;
   font-size: 22px;
   font-weight: 100;
   padding: 10px 0 10px;
   text-align: left;
   width: 100%;
}

   .all-at-once ._pi_header_before {
      background-color: #eeeeee;
      font-size: 28px;
   
   }

._pi_header_after {
   background-color: lightblue;
   font-size: 14px;
   font-weight: 100;
   padding: 5px;
}

   .all-at-once ._pi_header_after {
      background-color: #eeeeee;
      font-size: 13px;
   }

._pi_scale_container {
   width:98%;
   display: flex;
   margin: auto;
   padding: 5px 0;
/*    display: none; */
}

._pi_scale_container_before {
   background-color: #dcdcdc;
/*    display: none; */
}

._pi_scale_container_after {
   background-color: #dcdcdc;
/*    display: none; */
}

._pi_scale_container[data-scale-items="1"]  ._pi_scale { max-width: calc(100% / 1); }
._pi_scale_container[data-scale-items="2"]  ._pi_scale { max-width: calc(100% / 2); }
._pi_scale_container[data-scale-items="3"]  ._pi_scale { max-width: calc(100% / 3); }
._pi_scale_container[data-scale-items="4"]  ._pi_scale { max-width: calc(100% / 4); }
._pi_scale_container[data-scale-items="5"]  ._pi_scale { max-width: calc(100% / 5); }
._pi_scale_container[data-scale-items="6"]  ._pi_scale { max-width: calc(100% / 6); }
._pi_scale_container[data-scale-items="7"]  ._pi_scale { max-width: calc(100% / 7); }
._pi_scale_container[data-scale-items="8"]  ._pi_scale { max-width: calc(100% / 8); }
._pi_scale_container[data-scale-items="9"]  ._pi_scale { max-width: calc(100% / 9); }
._pi_scale_container[data-scale-items="10"] ._pi_scale { max-width: calc(100% / 10); }
._pi_scale_container[data-scale-items="11"] ._pi_scale { max-width: calc(100% / 11); }

._pi_scale {
   flex: 1 0 auto;
}

._pi_scale_first  { text-align: left;     background-color: #ffe0e0;   margin-right: 2px; }
._pi_scale_middle { text-align: center;   background-color: #fcffd6;   margin: 0 2px 0}
._pi_scale_last   { text-align: right;    background-color: #eaffed;   margin-left: 2px}