// .map_2-2 {margin:60px}

// ------------------------ MAPS - BORDERS ------------------------
$border-colors: (
	widget-inline: 										#bcbcbc,

	single-choice-answer-each:				#2266bb,
	single-choice-answer-each-hover:	#2266bb,
	multi-choice-answer-each:					#2266bb,
	multi-choice-answer-each-hover:		#2266bb,	

	radio-button-outer:								#454545,
	radio-button-inner-hover:					#26b,	
);
