// THE _selectors FILE:
@import '../../01-css-pulse/_selectors';
//
// // DEFAULT VARIABLES
@import '../_default/_default-1-variables';

// CLIENT-SPECIFIC DESIGN VARIABLES
@import './_comcast_variables';

// // GLOBAL MAPS:
@import '../../01-css-pulse/_maps';
//
// // GLOBAL MIXINS
@import '../../01-css-pulse/_mixins';
//
// // THE GLOBAL STRUCTURE FOR FRAMEWORK V2:
@import '../../01-css-pulse/_theme-structure';
#_pi_surveyWidgetContainer{
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,.1)
  #_pi_surveyWidget{
     border: none !important;
  }
}


#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer{
  ._pi_question:not(._pi_question_custom_content_question){
    padding-bottom: 26px !important;
  }
  ._pi_question._pi_question_custom_content_question{
    h1,h2,h3,h4,h5{
      color: #191919;
    }
    h2{
      font-size: 28px !important;
      line-height: 28px !important;
    }
    text-align: center;
    *{
      text-align: center;
    }
    a{
      color: #0272b6;
      font-weight: 700;
      text-decoration: underline;
      &:hover{
        color: #0272b6;
      }
    }
    b{
      font-weight: 700 !important;
    }
  }
  ul._pi_answers_container{
    overflow: visible !important;
    li{
      display: flex;
      align-items: center;
      align-content: center;
    }
    input[type="submit"]{
      color: #ffffff !important;
      border-width: 1px;
      border-color: #0272b6;
      background-color: #0272b6 !important;
      &:hover {
        color: #ffffff !important;
        background-color: #0272b6 !important;
        border-color: #0272b6 !important;
           // transform: scale(1.1);
       }
    }

    &[data-question-nps="t"]{
      li{
        label{
          padding: 10px !important;
        }
      }
    }
    &[data-question-type="free_text_question"]{
      input, textarea{
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
      }
    }
    &[data-question-type="multiple_choices_question"]{
      li{
        margin-top: 12px !important;
        margin-bottom: 12px !important;
        label{
          // color: #222 x!important;
          // color: #ffffff !important;
          padding: 0px !important;
          ._pi-control-indicator{
            min-width: 22px !important;
            min-height: 22px !important;
            background-color: #F2F4F5 !important;
          }
        }
        &:hover{
          label{
            color: #0272b6 !important;
            font-family: 	XfinityStandard,helvetica,arial,sans-serif !important;
          }
        }
      }
    }
    &[data-radio-button="off"], &[data-radio-button="on"]{
      li {
         a{
           label{
             color: #0272b6;
           }
         }
         &:hover {
              // transform: scale(1.1);
              a{
                background-color: #0272b6 !important;
                label{
                  // background-color: #0272b6 !important;
                  color: #ffffff !important;
                }
              }
         }
      }
    }
    &[data-question-type="free_text_question"]{
      ._pi_free_text_question_submit_button_container{
        margin-left: auto !important;
        margin-right: auto !important;
      }
      ._pi_free_text_question_field_container{
        max-width: 100%;
      }
    }
  }
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-radio-button="off"] li label{
 margin: 0px !important;
 width: 100% !important;
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ._pi_thankYouSurvey{
    color: #191919;
}
div#_pi_surveyWidgetContainer.mobile-enabled{
  div#_pi_surveyWidget{
    div._pi_widgetContentContainer{
      ._pi_question:not(._pi_question_custom_content_question){
        padding-bottom: 10px !important;
      }
    }
    a._pi_branding{
      display: none !important;
    }
  }

}
div#_pi_surveyWidgetContainer:not(.mobile-enabled) ul[data-radio-button="on"] li{
  a span._pi_radio_button_outer{
    min-width: 14px !important;
    min-height: 14px !important;
    > span{
      left: 1px !important;
      top: 1px !important;
    }
  }
  &:hover a span._pi_radio_button_outer{
    min-width: 14px !important;
    min-height: 14px !important;
    > span{
      left: 1px !important;
      top: 1px !important;
    }
  }
}
