@import '_00_ethicon-variables';

// ----------- BACKGROUNDS, BORDERS, COLORS -----------


	// TOP CONTAINER -----------
	#{$top-container},
	#{$top-container-mobi} {
		background-color: $bg-color-top-container;
		// Hardcoded. Borders are in the widget, not the top container
		border: 0;
	}



	// WIDGET TYPES -----------

	// DEFAULT -----------
	div#{$wdg-type-default},
	div#{$wdg-type-default-mobi} {
		box-sizing: border-box;

		background-color: $bg-color-widget;

		border-top-width: $border-default-top;
		border-right-width: $border-default-right;
		border-bottom-width: $border-default-bottom;
		border-left-width: $border-default-left;
		border-top-left-radius: $border-default-top-left-radius;
		border-top-right-radius: $border-default-top-right-radius;
		border-bottom-right-radius: $border-default-bottom-right-radius;
		border-bottom-left-radius: $border-default-bottom-left-radius;
		border-color: $border-default-color;
		border-style: $border-default-style;
	}


	// CUSTOM CONTENT FULLSCREEN -----------
	div#{$wdg-type-custom},
	div#{$wdg-type-custom-mobi} {
		// Hardcodes the background to opacity 1. 
		// The transparency needs to come from an rgba value in the background-color
		// Otherwise, the entire widget gets affected by the opacity
		opacity: 1 !important; 
		
		background-color: $bg-color-widget-custom-fullscreen !important;
		
		// Custom content is not a widget type, 
		// so it inherits borders from inline, docked, etc
	}


	// INLINE -----------
	@mixin border-inline-unique($border-inline-unique) {
		@if($border-inline-unique == yes) {
			border-top-width: $border-inline-top;
			border-right-width: $border-inline-right;
			border-bottom-width: $border-inline-bottom;
			border-left-width: $border-inline-left;
			border-top-left-radius: $border-inline-top-left-radius;
			border-top-right-radius: $border-inline-top-right-radius;
			border-bottom-right-radius: $border-inline-bottom-right-radius;
			border-bottom-left-radius: $border-inline-bottom-left-radius;
			border-color: $border-inline-color;
			border-style: $border-inline-style;
		}
	}

	div#{$wdg-type-inline},
	div#{$wdg-type-inline-mobi} {
		@include border-inline-unique($border-inline-unique);
	}


	// BOTTOM BAR -----------
	@mixin border-bottombar-unique($border-bottombar-unique) {
		@if($border-bottombar-unique == yes) {
			border-top-width: $border-bottombar-top;
			border-right-width: $border-bottombar-right;
			border-bottom-width: $border-bottombar-bottom;
			border-left-width: $border-bottombar-left;
			border-top-left-radius: $border-bottombar-top-left-radius;
			border-top-right-radius: $border-bottombar-top-right-radius;
			border-bottom-right-radius: $border-bottombar-bottom-right-radius;
			border-bottom-left-radius: $border-bottombar-bottom-left-radius;
			border-color: $border-bottombar-color;
			border-style: $border-bottombar-style;
		}
	}

	div#{$wdg-type-bottom},
	div#{$wdg-type-bottom-mobi} {
		@include border-bottombar-unique($border-bottombar-unique);
	}


	// DOCKED -----------
	@mixin border-docked-unique($border-docked-unique) {
		@if($border-docked-unique == yes) {
			border-top-width: $border-docked-top;
			border-right-width: $border-docked-right;
			border-bottom-width: $border-docked-bottom;
			border-left-width: $border-docked-left;
			border-top-left-radius: $border-docked-top-left-radius;
			border-top-right-radius: $border-docked-top-right-radius;
			border-bottom-right-radius: $border-docked-bottom-right-radius;
			border-bottom-left-radius: $border-docked-bottom-left-radius;
			border-color: $border-docked-color;
			border-style: $border-docked-style;
		}
	}

	div#{$wdg-type-docked},
	div#{$wdg-type-docked-mobi} {
		@include border-docked-unique($border-docked-unique);
	}


	// TOPBAR -----------
	@mixin border-topbar-unique($border-topbar-unique) {
		@if($border-topbar-unique == yes) {
			border-top-width: $border-topbar-top;
			border-right-width: $border-topbar-right;
			border-bottom-width: $border-topbar-bottom;
			border-left-width: $border-topbar-left;
			border-top-left-radius: $border-topbar-top-left-radius;
			border-top-right-radius: $border-topbar-top-right-radius;
			border-bottom-right-radius: $border-topbar-bottom-right-radius;
			border-bottom-left-radius: $border-topbar-bottom-left-radius;
			border-color: $border-topbar-color;
			border-style: $border-topbar-style;
		}
	}

	div#{$wdg-type-topbar},
	div#{$wdg-type-topbar-mobi} {
		@include border-topbar-unique($border-topbar-unique);
	}


	// FULLSCREEN -----------
	@mixin border-fullscreen-unique($border-fullscreen-unique) {
		@if($border-fullscreen-unique == yes) {
			border-top-width: $border-fullscreen-top;
			border-right-width: $border-fullscreen-right;
			border-bottom-width: $border-fullscreen-bottom;
			border-left-width: $border-fullscreen-left;
			border-top-left-radius: $border-fullscreen-top-left-radius;
			border-top-right-radius: $border-fullscreen-top-right-radius;
			border-bottom-right-radius: $border-fullscreen-bottom-right-radius;
			border-bottom-left-radius: $border-fullscreen-bottom-left-radius;
			border-color: $border-fullscreen-color;
			border-style: $border-fullscreen-style;
		}
	}

	div#{$wdg-type-fullsc},
	div#{$wdg-type-fullsc-mobi} {
		@include border-fullscreen-unique($border-fullscreen-unique);
	}



	/* CONTENT CONTAINER ----------- */
	#{$content-container},
	#{$wdg-type-default-mobi} #{$content-container} {
		background-color: $bg-color-content-container;
	}

	#{$wdg-type-custom} #{$content-container} {
		background-color: $bg-color-content-container-custom-fullscreen;
	}


	// QUESTION -----------
	._pi_question,
	#{$wdg-type-default-mobi} ._pi_question {
		background-color: $bg-color-question;
		border-width: $border-question-width;
		border-style: $border-question-style;
		border-color: $border-question-color;
		border-radius: $border-question-radius;
	}

	#{$wdg-type-custom} ._pi_question {
		// The entire custom content markup is within the question div
		// Therefore, there's no way to have a unique color behind the "question"
		// That's why this is transparent. Actual color comes from content container
		background-color: transparent !important;
	}

	._pi_question_custom_content_question,
	._pi_question_custom_content_question_fullscreen {
		// Hardcoded zero-border for Custom Content cards
		border: 0 !important;
	}

	// ANSWERS CONTAINER -----------
	._pi_answers_container,
	#{$wdg-type-default-mobi} #{$content-container} ._pi_answers_container {
		background-color: $bg-color-answers-container;
	}


	// FREE TEXT FIELD CONTAINER -----------
	._pi_free_text_question_field_container,
	#{$wdg-type-default-mobi} #{$content-container} ul._pi_answers_container ._pi_free_text_question_field_container {
		background-color: $bg-color-free-text-container;
	}


	// BRANDING -----------
	a._pi_branding,
	#{$wdg-type-default-mobi} a._pi_branding {
		background-color: $bg-color-branding;
	}


	// THANK YOU -----------
	._pi_thankYouSurvey,
	#{$wdg-type-default-mobi} #{$content-container} ._pi_thankYouSurvey {
margin: 30px 0 30px 0;
		// Hardcoded to avoid issues with widget padding
		background-color: tranpsarent;
	}


	/* CLOSE BUTTON ----------- */
	._pi_closeButton,
	#{$wdg-type-default-mobi} ._pi_closeButton {
border-bottom-left-radius: 5px;
		background-color: $bg-color-close;
	}

	._pi_closeCustomButton,
	#{$wdg-type-custom-mobi} ._pi_closeCustomButton {
border-bottom-left-radius: 0px;
		background-color: $bg-color-close-custom-fullscreen;
	}




/* ----------- FONTS, BUTTONS, TEXT FIELDS ------- */
/* FONT: Global */
	div._pi_question,
	div._pi_thankYouSurvey,
	
	ul._pi_answers_container li a label, 

	input._pi_free_text_question_field,
	textarea._pi_free_text_question_field,

	input._pi_free_text_question_submit_button,
	input._pi_multiple_choices_question_submit_button,
	div._pi_free_text_question_characters_count,

	label._pi-control._pi-control-checkbox,
	div._pi_multiple_choices_count, 
	
	._pi_question_custom_content_question,
	._pi_question_custom_content_question p,
	._pi_question_custom_content_question button.pi_question_link,
	
	._pi_invitationTextContainer,
	._pi_startButton,

	a._pi_branding,
	a._pi_branding:hover

		{
		font-family: $font-global-family;
		font-weight: normal;
		line-height: 100%;
		text-transform: none;
		}



/* FONT: Question, Thank You, Custom Content Question, Invitation */
	div._pi_question, 
	div._pi_thankYouSurvey,
	div._pi_question_custom_content_question,
	div._pi_question_custom_content_question p:first-child,
	div._pi_invitationTextContainer	{
		font-family: $font-lg-family;
		color: #00a9b6 !important;
		font-size: 22px !important;
		font-weight: normal !important;
		text-align: center;
		text-transform: none;
		letter-spacing: 0.01em;
		line-height: 120%;
	}

	#{$top-container-mobi} div._pi_question, 
	#{$top-container-mobi} div._pi_thankYouSurvey,
	#{$top-container-mobi} div._pi_question_custom_content_question,
	#{$top-container-mobi} div._pi_question_custom_content_question p:first-child,
	#{$top-container-mobi} div._pi_invitationTextContainer	{
		font-size: 20px !important;
	}


/* FONT: Custom Content */
	._pi_question_custom_content_question {
		padding-bottom: 0px !important;
	}

	._pi_question_custom_content_question p {
		color: #222222 !important;
		font-size: 16px !important;
		text-align: center !important;
		margin-top: 0 !important;
		margin-bottom: 1rem !important;
	}

	#{$top-container-mobi} ._pi_question_custom_content_question p {
		font-size: 15px !important;
	}

	._pi_question_custom_content_question p:last-child {
		margin-bottom: 0 !important;
	}


/* ANSWERS: Single Choice */




/* BUTTONS: Free Text Submit, Multi Choice Submit, Custom Content */
	input._pi_free_text_question_submit_button,
	input._pi_multiple_choices_question_submit_button,
	._pi_question_custom_content_question button.pi_question_link,
	._pi_startButton,
	#{$top-container-mobi} input._pi_free_text_question_submit_button,
	#{$top-container-mobi} input._pi_multiple_choices_question_submit_button,
	#{$top-container-mobi} ._pi_question_custom_content_question button.pi_question_link,
	#{$top-container-mobi} ._pi_startButton {
		font-family: "graphik-rg","Helvetica Neue","Helvetica","Arial",sans-serif;
		color: #003087;
		font-size: 14px;
		font-weight: normal;

		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.01em;

		border-radius: 40px;
		cursor: pointer;
		min-width: auto !important;
		padding: 15px 25px 12px !important;

		border: 2px solid #003087;
		background-color: #fff;
		
		transition: 0.3s !important;
	}

	._pi_question_custom_content_question button.pi_question_link,
	#{$top-container-mobi} ._pi_question_custom_content_question button.pi_question_link {
		margin: 0 auto;
	}

	#{$top-container-mobi} input._pi_free_text_question_submit_button,
	#{$top-container-mobi} input._pi_multiple_choices_question_submit_button,
	#{$top-container-mobi} ._pi_question_custom_content_question button.pi_question_link,
	#{$top-container-mobi} ._pi_startButton {
		font-size: 	13px;
		padding: 	8px 15px 10px !important;
	}

	input._pi_free_text_question_submit_button:hover,
	input._pi_multiple_choices_question_submit_button:hover,
	._pi_question_custom_content_question button.pi_question_link:hover,
	._pi_startButton:hover {
		color: #fff;
		text-decoration: none;
	
		border: 2px solid #00abe4;
		background-color: #00abe4;		
	}

	input._pi_free_text_question_submit_button:after,
	input._pi_multiple_choices_question_submit_button:after,
	._pi_question_custom_content_question button.pi_question_link:after,
	._pi_startButton:after {
/* 		content: '\27eb'; */
	}




/* FONT: Branding, Character Counts */
	div._pi_free_text_question_characters_count,
	div._pi_multiple_choices_count,
	a._pi_branding,
	a._pi_branding:hover {
		font-family: 'Lato', "Helvetica", Helvetica, Arial, sans-serif;
/* 		font-family: Arial, Helvetica, sans-serif; */
		color: #888;
		font-size: 11px;
		font-weight: normal;
		text-decoration: none;
		text-align: left;
		letter-spacing: 0px;
		line-height: 100% !important;
	}

	#{$top-container-mobi} div._pi_free_text_question_characters_count,
	#{$top-container-mobi} div._pi_multiple_choices_count,
	#{$top-container-mobi} a._pi_branding,
	#{$top-container-mobi} a._pi_branding:hover {
		font-size: 11px;
		// background-color: lightgreen !important;
	}

	a._pi_branding:hover {
		color: #022a5c !important;
		text-decoration: none;
	}

	#{$top-container-mobi} a._pi_branding:hover {
		color: #888;		
	}



/* CLOSE BUTTON */
	div._pi_closeButton {
		color: 		 	#888;
		font-family: 	sans-serif;
		font-weight: 	lighter;

		font-size: 	 	28px;
		text-align:  	center;
		line-height: 	100% !important;

		height: 			25px;
		width: 			45px;
		padding: 		0;
		margin: 			0;
		margin-left: 	auto;

		// background-color: lightgreen !important;
	}

	div._pi_closeCustomButton {
		color: 		 	#888;
		font-family: 	sans-serif;
		font-weight: 	lighter;

		font-size: 	 	24px;
		text-align:  	center;
		line-height: 	100% !important;

		height: 			30px;
		width: 			40px;
		padding: 		0;
		margin: 			0;
		margin-left: 	calc(100% - 70px);
		margin-top: 	20px;

		// background-color: lightgreen !important;
	}

	div._pi_closeButton:hover {
		color: #022a5c;
	}

	#{$top-container-mobi} div._pi_closeButton,
	#{$top-container-mobi} div._pi_closeButton:hover {
		color: 			#888;
		font-size: 	 	22px;
		text-align:  	center;
		line-height: 	70% !important;

		height: 			20px !important;
		width: 			30px !important;
		padding: 		0 !important;
		margin: 			0 !important;
		margin-left: 	auto !important;

		// background-color: lightblue !important;
	}

	/* 	Bottom Bar */
	#{$wdg-type-bottom} div._pi_closeButton, 
	#{$wdg-type-bottom} div._pi_closeButton:hover {
		color: #888;
		// background-color: red !important;
	}

	#{$wdg-type-bottom-mobi} div._pi_closeButton,
	#{$wdg-type-bottom-mobi} div._pi_closeButton:hover {
		color: #888;
		// background-color: white !important;
	} 


	/* 	Docked Widget */
	#{$wdg-type-docked} div._pi_closeButton, 
	#{$wdg-type-docked} div._pi_closeButton:hover {
		color: 		 #999;
		font-size: 	 22px;
		font-weight: lighter;
		text-align:  center;
		line-height: 80% !important;

		height: 		20px;
		width: 		20px;		
		// background-color: red !important;
	}

	#{$wdg-type-docked} div._pi_closeButton:hover {
		color: 		 #000;
	}

	#{$wdg-type-docked-mobi} div._pi_closeButton,
	#{$wdg-type-docked-mobi} div._pi_closeButton:hover {
		color: #999;
		// background-color: white !important;
	} 



/* ----------- MULTIPLE CHOICE ELEMENTS --------------------------- */





/* ----------- CUSTOM CONTENT --------------------------- */
	._pi_question_custom_content_question {
		
	}





/* ----------- SINGLE CHOICE ----------- */
	#{$q-type-single} ._pi_answers_container {
		width: 		98% !important;
	    // background-color: lightgreen !important;
	}





/* ----------- FREE TEXT ------- */
	#{$q-type-free} ._pi_answers_container {
	}

	#{$q-type-free} ._pi_question  {
	}

	input._pi_free_text_question_field,
	textarea._pi_free_text_question_field {
		color: #222222;
		font-size: 15px;
		font-weight: normal;
		text-align: left;
		line-height: 1.2em !important;
		border-radius: 0;
	}

	#{$top-container-mobi} input._pi_free_text_question_field,
	#{$top-container-mobi} textarea._pi_free_text_question_field {
		font-size: 14px;
	}

	ul._pi_answers_container input[type="text"],
	input._pi_free_text_question_field {
		border: 0;
		// border-bottom: 1px solid #ccc;
		border: 1px solid #ccc;
      box-shadow: 0 0 0 0 #ccc;
		padding: 0;
		margin: 0;
		background-color: #fafafa;
	}

	ul._pi_answers_container input[type="text"]:hover,
	input._pi_free_text_question_field:hover {
		border: 0;
		// border-bottom: 1px solid #aaa;
		border: 1px solid #aaa;
      box-shadow: 0 0 0 0 #aaa;
		padding: 0;
		margin: 0;
		background-color: #f3f3f3;
	}

	ul._pi_answers_container input[type="text"]:focus,
	input._pi_free_text_question_field:focus {
		border: 0;
		// border-bottom: 1px solid #999;
		border: 1px solid #999;
      box-shadow: 0 0 0 0 #999;
		padding: 0;
		margin: 0;
		background-color: #f3f3f3;
	}

	ul._pi_answers_container textarea._pi_free_text_question_field {
		border: 1px solid #ccc;
      box-shadow: 0 0 0 0 #ccc;
		padding: 0;
		margin: 0;
		background-color: #fafafa;
	}

	ul._pi_answers_container textarea._pi_free_text_question_field:hover {
		border: 1px solid #aaa;
      box-shadow: 0 0 0 0 #aaa;
		padding: 0;
		margin: 0;
		background-color: #f3f3f3;
	}

	ul._pi_answers_container textarea._pi_free_text_question_field:focus {
		border: 1px solid #999;
      box-shadow: 0 0 0 0 #999;
		padding: 0;
		margin: 0;
		background-color: #f3f3f3;
	}

	input._pi_free_text_question_field:-moz-placeholder,
	textarea._pi_free_text_question_field:-moz-placeholder {
		color: #999; 
	}
	
	input._pi_free_text_question_field::-moz-placeholder,
	textarea._pi_free_text_question_field::-moz-placeholder {
		color: #999;
	}
	
	input._pi_free_text_question_field::-ms-input-placeholder,
	textarea._pi_free_text_question_field::-ms-input-placeholder {
		color: #999;
	}
	
	input._pi_free_text_question_field::-webkit-input-placeholder,
	textarea._pi_free_text_question_field::-webkit-input-placeholder {
		color: #999;
	}

	div._pi_free_text_question_characters_count {
		text-align: right;
		padding-top: 7px !important;
	}

	div._pi_free_text_question_submit_button_container {}
	





/* ================== DEFAULT | SURVEY WIDGET ================== */
	/*  SURVEY WIDGET */
	div#{$wdg-type-default} {
		height: auto;
		width: 100%;
		margin: auto;
		padding-bottom: 0px;
		z-index: 50;
	
		display: 			flex;
      flex-direction: 	column;
      flex-wrap:			nowrap;
      justify-content: 	flex-start;
      align-items: 		center;
	    
	    // background-color: PeachPuff !important;  
	}


	div#{$wdg-type-custom} {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: space-between;	
		
		// background-color: pink !important;
	}

	


	/* ================== DEFAULT | CLOSE BUTTON ================== */
	/* 	A) CLOSE BUTTON */
	div._pi_closeButton,
	div._pi_closeCustomButton { 
		position: static !important;
	}

	div#{$wdg-type-custom} ._pi_closeCustomButton {
		// background-color: red !important;
	}

	#{$top-container-mobi} div._pi_closeButton { }

	/* 	A) CLOSE BUTTON | BOTTOM BAR */
	#{$wdg-type-bottom} div._pi_closeButton, 
	#{$wdg-type-bottom} div._pi_closeButton:hover { }

	#{$wdg-type-bottom-mobi} div._pi_closeButton,
	#{$wdg-type-bottom-mobi} div._pi_closeButton:hover { } 





	/* ================== DEFAULT | CONTENT CONTAINER ================== */
	/* 	B) CONTENT CONTAINER */
	#{$wdg-type-default} div#{$content-container},
	#{$wdg-type-custom} div#{$content-container} {
		display: 			flex;
      flex-direction: 	row;
   	flex-wrap:			wrap;     
      justify-content:	center;
      align-items: 		center;

		height: 		auto;
		width: 		100%;
		// margin: 		auto !important;
		margin: 		0 !important;
		padding: 	0;

	    // background-color: aquamarine !important;
	}

	div#{$wdg-type-custom} #{$content-container} {
		padding: 15px;
	}

	/* 	B) CONTENT CONTAINER | desktop */
	@media (min-width:769px) {
		#{$wdg-type-default} div#{$content-container},
		#{$wdg-type-custom} div#{$content-container} {
			max-width: 	900px;
		}
	}

	/* 	B) CONTENT CONTAINER | tablet */
	@media (max-width:768px) {
		#{$wdg-type-default} div#{$content-container},
		#{$wdg-type-custom} div#{$content-container} {
			max-width: 	750px;
		}
	}

	/* 	B) CONTENT CONTAINER | IPHONE 6S PLUS */
	@media (max-width:414px) {
		#{$wdg-type-default-mobi} div#{$content-container},
		#{$wdg-type-custom-mobi} div#{$content-container} {
			max-width: 	400px;
			// background-color: yellow;
		}
	}

	/* 	B) CONTENT CONTAINER | IPHONE 6 AND SMALLER */
	@media (max-width:375px) {
		#{$wdg-type-default-mobi} div#{$content-container},
		#{$wdg-type-custom-mobi} div#{$content-container} {
			max-width: 	355px;
			// background-color: pink;
		}
	}





		/* ================== DEFAULT | QUESTION ================== */
		/*  B1) QUESTION | desktop */
		div._pi_question,
		div._pi_question_custom_content_question,
		div._pi_question_custom_content_question_fullscreen {
			height: 	auto;
			// width: 	90%;
			// margin: 	0 auto 0 auto;
			margin: 	0;
			// padding: 0 0 10px 0;
			
			width: 100%;
			padding: 0 5% 10px 5%;

			// background-color: lavender;
		}

		/*  B1) QUESTION | mobile */
		#{$wdg-type-default-mobi} #{$content-container} div._pi_question,
		#{$wdg-type-custom-mobi} #{$content-container} div._pi_question_custom_content_question,
		#{$wdg-type-custom-mobi} #{$content-container} div._pi_question_custom_content_question_fullscreen {
			// width: 	95%;
			// margin: 	0 auto 0 auto !important;
			margin: 	0 !important;
			// padding: 0 0 10px 0;
			
			width: 100%;
			padding: 0 2.5% 10px 2.5%

			// background-color: lavender !important;
		}





		/* ================== FREE TEXT ================== */
		/*  B3) ANSWERS CONTAINER | desktop */
		#{$q-type-free} ul._pi_answers_container {
			width: 	80% !important;
			padding: 0 !important;
			margin: 	0 !important;

			display: 			flex;
			flex-direction: 	row;
			flex-wrap: 			nowrap;
			justify-content: 	space-around;
			align-items: 		flex-start;

			// background-color: 		lightblue;
		}

		/*  B3) ANSWERS CONTAINER | mobile */
		#{$q-type-free-mobi} ul._pi_answers_container {
			width: 		95% !important;
			margin: 		0 0 0 0;
			flex-wrap: 	nowrap !important;
			
			// background-color: purple !important;
		}

			/*  B3.a) FIELD CONTAINER | desktop */
			._pi_free_text_question_field_container {
				padding: 0 !important;
				margin:	0 !important;

				flex: 	1 1 auto;
				
				// background-color: pink !important;
			}

			/*  B3.a) FIELD CONTAINER | mobile */
			#{$wdg-type-default-mobi} #{$content-container} ul._pi_answers_container ._pi_free_text_question_field_container {
				padding: 0;
				margin: 	0;

				flex: 	1 1 auto;

				// background-color: yellow !important;
			}

				/*  B3.a1) INPUT AND TEXTAREA FIELDS */
				input._pi_free_text_question_field {
					height: 		auto;
					padding: 	0.5rem !important;
					box-sizing: border-box;
				}
				
				textarea._pi_free_text_question_field {
					height: 		auto;
					padding: 	0.5rem !important;
					box-sizing: border-box;
				}
				
				/*  B3.a2) CHARACTERS COUNT */
				._pi_free_text_question_characters_count {
					padding: 	3px 0 0 0 !important;
					margin: 		0 !important;
					// background-color: cyan;
				}

			/*  B3.b) SUBMIT BUTTON CONTAINER | desktop */
			._pi_free_text_question_submit_button_container {
				padding: 		0 !important;
				padding-left: 	10px !important;
				margin: 			0 !important;

				flex: 			0 1 auto;
				align-self:		flex-start;
				
				// background-color: 	yellow !important;
			}

				/* Button under the text box in Docked Widget */
				#{$wdg-type-docked} ._pi_free_text_question_submit_button_container {
					padding: 4px 0 2px 0 !important;
					flex: 	1 1 auto;
				}

			/*  B3.b) SUBMIT BUTTON CONTAINER | mobile */
			#{$wdg-type-default-mobi} #{$content-container} ul._pi_answers_container ._pi_free_text_question_submit_button_container {
				padding: 		0 !important;
				padding-left: 	5px !important;
				margin: 			0 !important;
				
				flex: 			0 1 auto;
				// background-color: red !important;
			}

				/*  B3.b1) SUBMIT BUTTON */
				._pi_free_text_question_submit_button {
					margin-right: 0;
					// background-color: red !important;
				}





		/* ================== INVITATION ================== */
		/*  B5) INVITATION CONTAINER */
		._pi_invitationTextContainer {
			width: 	100%;
			margin: 	0px 0 15px !important;
			// background-color: ivory;
		}
		
		/*  B6) INVITATION START BUTTON */
		._pi_startButton,
		#{$wdg-type-default-mobi} #{$content-container} ul._pi_answers_container ._pi_startButton {
			width: 			100px;
			margin-right: 	auto;
			margin-left: 	auto;
			// background-color: red;
		}
	




	/* ================== DEFAULT | BRANDING ================== */
	/*  C) BRANDING */
	a._pi_branding,
	#{$wdg-type-default-mobi} a._pi_branding {
		display: 		block;
		
		position: 		relative;
		bottom:			0;
		left: 			0;
		width:		  	170px;
		max-width:  	170px;
		
 		padding-top:	7px;
 		padding-bottom:5px;
 		padding-left:	5px;
 		padding-right:	5px;
		
		margin-top: 	0;
		margin-right:	auto;
		margin-bottom: 0;
		margin-left: 	0;
	    
	    // background-color: lightgreen;
	}

	div#{$wdg-type-custom} ._pi_branding {
		// background-color: green;
	}


	@media (min-width:1100px) {
		#{$wdg-type-bottom} a._pi_branding {
			// margin-top: -5px !important;
		}
	}








/* ------------------------------ ITEMS PER ROW -------------- */

	ul._pi_answers_container li,
	ul._pi_answers_container li a,
	ul._pi_answers_container li a label,
	ul._pi_answers_container li label._pi-control-checkbox {
		background-color: #fff !important;
		color: #003087;
		font-size: 14px;
		font-weight: 400 !important;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		border-radius: 40px;	
		
		transition: 0.3s !important;

	}

	@media (min-width:769px) {
		ul._pi_answers_container li:hover,
		ul._pi_answers_container li:hover a,
		ul._pi_answers_container li:hover a label,
		ul._pi_answers_container li:hover label._pi-control-checkbox {
			background-color: #00abe4 !important;				
			color: #fff;
			border-radius: 40px;		
		}
	}





		/* SINGLE CHOICE ONLY ------------------------------- */
		#{$q-type-single} li,
		#{$q-type-single-mobi} li {
			border: 2px solid #003087;
		}

		@media (min-width:769px) {
			ul._pi_answers_container li:hover {
				border: 2px solid #00abe4 !important;
			}			
		}
	
			#{$q-type-single} li a label {
				padding: 12px 30px !important;
			}

			#{$q-type-single}#{$radio-on} li a label {
				padding: 12px 30px 12px 10px !important;
			}
					
			/* Tablet */
			@media (min-width:415px) and (max-width:768px) {
				#{$q-type-single} li a label {
					padding: 12px 20px !important;
				}

				#{$q-type-single}#{$radio-on} li a label {
					padding: 12px 15px !important;
				}
			}
		
			/* Mobile */
			#{$q-type-single-mobi} li a label {
				font-size: 13px;
				padding: 10px 10px !important;
			}

			#{$q-type-single-mobi}#{$radio-on} li a label {
				padding: 10px 8px !important;
			}

			/* Radio Button */
			ul._pi_answers_container li a span._pi_radio_button_outer {
				background-color: rgba(255, 255, 255, 1) !important;
				border: 1px solid #003087 !important;
			}

				/* Desktop Hover */
				@media (min-width:769px) {
					ul._pi_answers_container li:hover a span._pi_radio_button_outer {
						background-color: #00abe4 !important;
						border: 1px solid rgba(255, 255, 255, 1) !important;
					}
	
					ul._pi_answers_container li:hover a span._pi_radio_button_inner {
						background-color: rgba(255, 255, 255, 1) !important;
						border: 1px solid transparent;
					}
				}



		/* MULTIPLE CHOICE ONLY ------------------------------- */
		#{$q-type-multi} ul._pi_answers_container {
			width: 100% !important;
		}

		#{$q-type-multi-mobi} ul._pi_answers_container {
			width: 98% !important;
		}

		#{$q-type-multi} li,
		#{$q-type-multi-mobi} li {
			border: 1px solid #3d3d47;
			border-radius: 5px;
		}

			/* Text */
			ul._pi_answers_container li label._pi-control-checkbox {
				padding: 15px 15px 15px 0 !important;
				color: #3d3d47 !important;
			}

	
			/* Desktop Hover */
			@media (min-width:769px) {
				#{$q-type-multi} ul._pi_answers_container li:hover,
				#{$q-type-multi} ul._pi_answers_container li:hover a,
				#{$q-type-multi} ul._pi_answers_container li:hover a label,
				#{$q-type-multi} ul._pi_answers_container li:hover label._pi-control-checkbox {
					border-radius: 5px !important;
					border: 0px solid transparent;
				}	

				/* LI tag - Desktop Hover */
				#{$q-type-multi} ul._pi_answers_container li:hover {
					border: 1px solid #00abe4 !important;
				}				
				
				ul._pi_answers_container li:hover label._pi-control-checkbox {		
					background-color: #00abe4 !important;
					color: 				#fff !important;
				}				
			}

			/* Text - Mobile */
			#{$top-container-mobi} label._pi-control._pi-control-checkbox {
				font-size: 13px !important;
				padding: 10px 10px 10px 0 !important;
			}


				/*	Checkbox */
				._pi-control-indicator {
					background-color: #fff !important;
					border: 1px solid #868f96 !important;
					border-radius: 1px !important;
					border-width: 1px !important;
					margin-top: 0px !important;
				}

				._pi-control-indicator:after {
					border-color: #003087 !important;
				}

				@media (min-width:769px) {
					ul._pi_answers_container li:hover ._pi-control-indicator {
						background-color: rgba(255, 255, 255, 1) !important;
						border: 1px solid #fff !important;
					}

					ul._pi_answers_container li:hover ._pi-control-indicator:after {
						border-color: #022a5c !important;
					}
				}




		/* Maximum Count - Container */
		/* Submit Button - Container */
		#{$q-type-multi} ._pi_free_text_question_field_container,
		#{$q-type-multi} ._pi_multiple_choices_question_submit_button_container {
			background-color: rgba(255, 255, 255, 0);
			margin: 0 !important;
		}

		div._pi_multiple_choices_count {
			height: auto;
			padding: 4px 0 6px !important;
			text-align: center;
		}	






// ================== SPECIAL CASES ==================

// @media (min-width:800px) {
// 	div#{$wdg-type-bottom} div._pi_question, 
// 	div#{$wdg-type-bottom} div._pi_thankYouSurvey,
// 	div#{$wdg-type-bottom} div._pi_question_custom_content_question,
// 	div#{$wdg-type-bottom} div._pi_question_custom_content_question p:first-child,
// 	div#{$wdg-type-bottom} div._pi_invitationTextContainer	{
// 		font-size: 22px !important;
// 		letter-spacing: .0125rem;
// 	}
	
// 	div#{$wdg-type-bottom} div._pi_question {
// 		margin-bottom: 20px;
// 	}

// 	B3.a) FIELD CONTAINER | desktop
// 	div#{$wdg-type-bottom} ._pi_free_text_question_field_container {
// 		flex: 	0 0 750px;
// 		margin: 0 auto 10px !important;
// 		background-color: pink !important;
// 	}

// 	B3.b) SUBMIT BUTTON CONTAINER | desktop
// 	div#{$wdg-type-bottom} ._pi_free_text_question_submit_button_container {
// 		padding-left: 	0px !important;
// 		flex: 			1 1 auto;
// 		background-color: 	yellow !important;
// 	}
// }


// B) CONTENT CONTAINER | desktop
// @media (min-width:1066px) {
// 	div#{$wdg-type-bottom} div#{$content-container},
// 	div#{$top-container-custom}[survey-widget-type="bottombarsurvey"] div#{$content-container} {
// 		max-width: 	1065px !important;
// 		background-color: yellow !important;
// 	}

// 	div#{$wdg-type-bottom} ._pi_closeButton {
// 		font-size: 34px;
// 		font-weight: 100;
// 		height: 30px !important;
// 		width: 20px !important;
// 		margin-left: 1045px !important;
// 		background-color: green !important;
// 	}
// }



