// .top-container-start { background-color: $test-value; }

/* ================== TOP CONTAINER ================== */

#_pi_surveyWidgetContainer {
	border: 		0;
}


// SURVEY WIDGET CONTAINER ==============================
	div#_pi_surveyWidgetContainer {
		margin: 0 !important;
	}


#{$top-container},
#{$top-container-mobi} {
	background-color: $bg-color-top-container; 
	// Hardcoded to 0. Borders are in the widget, not the top container
	border: 0;
}



// .top-container-end { background-color: $test-value; }