

$background-colors: (
	widget-container: 	#123123,
	widget-default: 		blue,
	widget-custom:			green,
	widget-inline: 		yellow,
	widget-bottombar: 	pink,
	widget-docked: 		purple,
	widget-topbar: 		fuchsia,
	widget-fullscreen: 	red,
);

$border-colors: (
	widget-container: 	#456456,
	widget-default: 		green,
	widget-custom:			yellow,
	widget-inline: 		pink,
	widget-bottombar: 	purple,
	widget-docked: 		fuchsia,
	widget-topbar: 		red,
	widget-fullscreen: 	black,
);

$border-widths: (
	widget-container: 	10000000px,
	widget-default: 		90px,
	widget-custom:			80px,
	widget-inline: 		70px,
	widget-bottombar: 	60px,
	widget-docked: 		50px,
	widget-topbar: 		40px,
	widget-fullscreen: 	30px,
);

$border-styles: (
	widget-container: 	groove,
	widget-default: 		solid,
	widget-custom:			dotted,
	widget-inline: 		solid,
	widget-bottombar: 	dotted,
	widget-docked: 		solid,
	widget-topbar: 		dotted,
	widget-fullscreen: 	solid,
);

$border-radiuses: (
	widget-container: 	500000px,
	widget-default: 		10px,
	widget-custom:			20px,
	widget-inline: 		30px,
	widget-bottombar: 	40px,
	widget-docked: 		50px,
	widget-topbar: 		60px,
	widget-fullscreen: 	70px,
);

$parameters: (
	background-color: $background-colors,
	border-color:		$border-colors,
	border-width:		$border-widths,
	border-style:		$border-styles,
	border-radius:		$border-radiuses,
);

@mixin builder($container) {
	@each $parameter, $parameter-map in $parameters {
		#{$parameter}: map-get($parameter-map, #{$container});

	} 
}

.parameters-class-test {
	@include builder("widget-container");
}





// @mixin buildertest($container) {
// 	background-color: map-get($background-colors, 	$container);
// 	border-color: 		map-get($border-colors, 		$container);
// 	border-width: 		map-get($border-widths, 		$container);
// 	border-style: 		map-get($border-styles,  		$container);
// 	border-radius:		map-get($border-radiuses, 		$container);	
// }



// 	#_pi_surveyWidgetContainer,
// 	#_pi_surveyWidgetContainer.mobile-enabled {
// 		@include builder("widget-container");
// 	}

// 	#_pi_surveyWidget,
// 	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget {
// 		@include builder("widget-default");
// 	}

// 	#_pi_surveyWidgetCustom,
// 	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom {
// 		@include builder("widget-custom");
// 	}

// 	div#_pi_surveyWidget[survey-widget-type="inlinesurvey"],
// 	div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
// 		@include builder("widget-inline");
// 	}

// 	div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"],
// 	div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] {
// 		@include builder("widget-bottombar");
// 	}

















// $background-color: (
// 	widget-container: 	black,
// 	widget-default: 		blue,
// 	widget-custom:			green,
// 	widget-inline: 		yellow,
// 	widget-bottombar: 	pink,
// 	widget-docked: 		purple,
// 	widget-topbar: 		fuchsia,
// 	widget-fullscreen: 	red,
// );

// $border-color: (
// 	widget-container: 	white,
// 	widget-default: 		green,
// 	widget-custom:			yellow,
// 	widget-inline: 		pink,
// 	widget-bottombar: 	purple,
// 	widget-docked: 		fuchsia,
// 	widget-topbar: 		red,
// 	widget-fullscreen: 	black,
// );

// $border-width: (
// 	widget-container: 	100px,
// 	widget-default: 		90px,
// 	widget-custom:			80px,
// 	widget-inline: 		70px,
// 	widget-bottombar: 	60px,
// 	widget-docked: 		50px,
// 	widget-topbar: 		40px,
// 	widget-fullscreen: 	30px,
// );

// $border-style: (
// 	widget-container: 	dotted,
// 	widget-default: 		solid,
// 	widget-custom:			dotted,
// 	widget-inline: 		solid,
// 	widget-bottombar: 	dotted,
// 	widget-docked: 		solid,
// 	widget-topbar: 		dotted,
// 	widget-fullscreen: 	solid,
// );

// $border-radius: (
// 	widget-container: 	0,
// 	widget-default: 		10px,
// 	widget-custom:			20px,
// 	widget-inline: 		30px,
// 	widget-bottombar: 	40px,
// 	widget-docked: 		50px,
// 	widget-topbar: 		60px,
// 	widget-fullscreen: 	70px,
// );





















// PREVIOUS EXPERIMENTS
// $surveyWidgetContainer-border: (
// 	color: transparent,
// 	width: 0,
// 	style: 0,
// 	radius: 0
// );

// $surveyWidget-border: (
// 	color: yellow,
// 	width: 2px 0 0 0,
// 	style: solid,
// 	radius: 0,
// );

// $surveyWidgetCustom-border: (
// 	color: yellow,
// 	width: 2px 0 0 0,
// 	style: solid,
// 	radius: 0,
// );

// $surveyWidget_inline-border: (
// 	color: yellow,
// 	width: 0,
// 	style: dotted,
// 	radius: 0,
// );

// $surveyWidget_bottombar-border: (
// 	color: yellow,
// 	width: 0,
// 	style: dotted,
// 	radius: 0,
// );







// // border-widget-container
// $border-widget-container-color: #00aeef;
// $border-widget-container-width: 2px 0 2px 0;
// $border-widget-container-style: solid;
// $border-widget-container-radius: 0px;


// $border-widget-container: (transparent, 10px, solid, 5px);

// // border-widget-default
// $border-widget-color-default: #00aeef;
// $border-widget-width-default: 2px 0 2px 0;
// $border-widget-style-default: solid;
// $border-widget-radius-default: 0px;

// // border-widget-bottombar
// $border-widget-color-bottombar: #00aeef;
// $border-widget-width-bottombar: 2px 0 2px 0;
// $border-widget-style-bottombar: solid;
// $border-widget-radius-bottombar: 0px;

// // border-widget-inline
// $border-widget-color-inline: #00aeef;
// $border-widget-width-inline: 2px 0 2px 0;
// $border-widget-style-inline: solid;
// $border-widget-radius-inline: 0px;

// // border-widget-docked
// $border-widget-color-docked: #00aeef;
// $border-widget-width-docked: 2px 0 2px 0;
// $border-widget-style-docked: solid;
// $border-widget-radius-docked: 0px;








// @mixin pi_border_new($container) {
//    @extend %#{$container}-border;
// }

// 	// BORDER MAPS -----------------
// 	%widget-container-border {
// 		border-color: 	map-get($border-colors, widget-container);
// 		border-width: 	map-get($border-widths, widget-container);
// 		border-style: 	map-get($border-styles, widget-container);
// 	}



// 	div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
// 		 @include pi_border_new("widget-container");
// 	}