// ------------------------ BACKGROUND COLORS ------------------------
$bg-color-widget-container: 							rgba(0, 0, 0, 0.75);


$bg-color-widget-default: 								#F4F4F4;
$bg-color-widget-custom:								#F4F4F4 !important;
$bg-color-widget-inline: 								#F4F4F4;
$bg-color-widget-bottombar: 							#F4F4F4;
$bg-color-widget-docked: 								#F4F4F4;
$bg-color-widget-topbar: 								#F4F4F4;
$bg-color-widget-fullscreen: 							#F4F4F4;


$bg-color-close-default:								transparent;
$bg-color-close-custom:									transparent;
$bg-color-close-inline:									transparent;
$bg-color-close-bottombar:								transparent;
$bg-color-close-docked:									transparent;
$bg-color-close-topbar:									transparent;
$bg-color-close-fullscreen:							transparent;

$bg-color-close-default-hover:						#00aeef;
$bg-color-close-custom-hover:							#00aeef;
$bg-color-close-inline-hover:							#00aeef;
$bg-color-close-bottombar-hover:						#00aeef;
$bg-color-close-docked-hover:							#00aeef;
$bg-color-close-topbar-hover:							#00aeef;
$bg-color-close-fullscreen-hover:					#00aeef;


$bg-color-content-container-default: 				transparent;
$bg-color-content-container-single: 				transparent;
$bg-color-content-container-multi: 					transparent;
$bg-color-content-container-free: 					transparent;
$bg-color-content-container-custom: 				transparent;
$bg-color-content-container-custom-full:			white;

$bg-color-content-container-default-mobi: 		transparent;
$bg-color-content-container-single-mobi: 			transparent;
$bg-color-content-container-multi-mobi: 			transparent;
$bg-color-content-container-free-mobi: 			transparent;
$bg-color-content-container-custom-mobi: 			transparent;
$bg-color-content-container-custom-full-mobi:	white;


$bg-color-question-single: 							transparent;
$bg-color-question-multi: 								transparent;
$bg-color-question-free: 								transparent;
$bg-color-question-custom: 							transparent;
$bg-color-question-custom-full: 						transparent;

$bg-color-question-single-mobi: 						transparent;
$bg-color-question-multi-mobi: 						transparent;
$bg-color-question-free-mobi: 						transparent;
$bg-color-question-custom-mobi: 						transparent;
$bg-color-question-custom-full-mobi: 				transparent;


$bg-color-answers-container: 							transparent;


$bg-color-single-choice-answer-all:					white;
$bg-color-single-choice-answer-all-hover:			#00aeef;
$bg-color-multi-choice-answer-all:					white;
$bg-color-multi-choice-answer-all-hover:			#00aeef;


$bg-color-radio-button-outer:							white;
$bg-color-radio-button-outer-hover:					white;
$bg-color-radio-button-inner-hover:					white;


$bg-color-multi-checkbox-outer:						white;
$bg-color-multi-checkbox-outer-hover:				white;


$bg-color-free-text-question-field-container: 	transparent;


$bg-color-thank-you:										transparent;
$bg-color-invitation:									transparent;


$bg-color-submit-button:								#00aeef;
$bg-color-submit-button-hover: 						white;


$bg-color-branding:										transparent;
$bg-color-branding-custom:								transparent;




// ------------------------ FONTS ------------------------

	// Font import statement - FOR TESTING ONLY
	// Comment out before exporing to console
	// @import url(//fonts.googleapis.com/css?family=Lato);


	// Make sure there's a value here, even if it's the same as the global family
	$font-lg-family: 				'League Gothic', sans-serif; 
	$font-md-family: 				"Open Sans", Helvetica, sans-serif; 
	$font-sm-family: 				"Open Sans", Helvetica, sans-serif; 
	$font-button-family: 		"Open Sans", Helvetica, sans-serif; 
	$close-family:					sans-serif;


	// FONT | LARGE (Question, Thank You, Invitation, etc.)
	$font-lg-color: 				#3f7c94;
	$font-lg-size: 				36px;
	$font-lg-size-mobi: 			30px;
	$font-lg-weight: 				400;
	$font-lg-align: 				center;
	$font-lg-transform: 			uppercase;		// none | capitalize | uppercase | lowercase
	$font-lg-decoration: 		none;				// none | underline | overline | line-through
	$font-lg-style: 				normal;			// normal | italic | oblique
	$font-lg-variant: 			normal;			// normal | small-caps
	$font-lg-letter-spacing: 	0.1px;			// normal | length
	$font-lg-line-height: 		100%;				// normal | length
	$font-lg-shadow: 				none;				// none | h-shadow v-shadow blur-radius color


	// FONT | MEDIUM (Single Choice Answers, Custom Content Body, )
	$font-md-color: 				#00aeef;
	$font-md-color-hover: 		white;
	$font-md-size: 				15px;
	$font-md-size-mobi: 			13px;
	$font-md-weight: 				600;
	$font-md-align: 				left;
	$font-md-transform: 			none;
	$font-md-decoration: 		none;
	$font-md-decoration-hover: none;
	$font-md-style: 				normal;
	$font-md-variant: 			normal;
	$font-md-letter-spacing: 	normal;
	$font-md-line-height: 		120%;
	$font-md-shadow: 				none;	

	$font-md-placeholder: 		#444;


	// FONT | SMALL (Character counts, maximum selected, branding)
	$font-sm-color: 				#666;
	$font-sm-color-hover: 		#00aeef;
	$font-sm-size: 				11px;
	$font-sm-size-mobi: 			11px;
	$font-sm-weight: 				normal;
	$font-sm-align: 				left;
	$font-sm-transform: 			none;
	$font-sm-decoration: 		none;
	$font-sm-decoration-hover: none;
	$font-sm-style: 				normal;
	$font-sm-variant: 			normal;
	$font-sm-letter-spacing: 	0;
	$font-sm-line-height: 		120%;
	$font-sm-shadow: 				none;




// ------------------------ FONTS ------------------------

	// Font import statement - FOR TESTING ONLY
	// Comment out before exporing to console
	// @import url(//fonts.googleapis.com/css?family=Lato);


	// Make sure there's a value here, even if it's the same as the global family
	$font-lg-family: 				'League Gothic', sans-serif; 
	$font-md-family: 				"Open Sans", Helvetica, sans-serif; 
	$font-sm-family: 				"Open Sans", Helvetica, sans-serif; 
	$font-button-family: 		"Open Sans", Helvetica, sans-serif; 
	$close-family:					sans-serif;


	// FONT | LARGE (Question, Thank You, Invitation, etc.)
	$font-lg-color: 				#3f7c94;
	$font-lg-size: 				36px;
	$font-lg-size-mobi: 			30px;
	$font-lg-weight: 				400;
	$font-lg-align: 				center;
	$font-lg-transform: 			uppercase;		// none | capitalize | uppercase | lowercase
	$font-lg-decoration: 		none;				// none | underline | overline | line-through
	$font-lg-style: 				normal;			// normal | italic | oblique
	$font-lg-variant: 			normal;			// normal | small-caps
	$font-lg-letter-spacing: 	0.1px;			// normal | length
	$font-lg-line-height: 		100%;				// normal | length
	$font-lg-shadow: 				none;				// none | h-shadow v-shadow blur-radius color


	// FONT | MEDIUM (Single Choice Answers, Custom Content Body, )
	$font-md-color: 				#00aeef;
	$font-md-color-hover: 		white;
	$font-md-size: 				15px;
	$font-md-size-mobi: 			13px;
	$font-md-weight: 				600;
	$font-md-align: 				left;
	$font-md-transform: 			none;
	$font-md-decoration: 		none;
	$font-md-decoration-hover: none;
	$font-md-style: 				normal;
	$font-md-variant: 			normal;
	$font-md-letter-spacing: 	normal;
	$font-md-line-height: 		120%;
	$font-md-shadow: 				none;	

	$font-md-placeholder: 		#444;


	// FONT | SMALL (Character counts, maximum selected, branding)
	$font-sm-color: 				#666;
	$font-sm-color-hover: 		#00aeef;
	$font-sm-size: 				11px;
	$font-sm-size-mobi: 			11px;
	$font-sm-weight: 				normal;
	$font-sm-align: 				left;
	$font-sm-transform: 			none;
	$font-sm-decoration: 		none;
	$font-sm-decoration-hover: none;
	$font-sm-style: 				normal;
	$font-sm-variant: 			normal;
	$font-sm-letter-spacing: 	0;
	$font-sm-line-height: 		120%;
	$font-sm-shadow: 				none;




// ------------------------ BUTTONS ------------------------------------------------
$font-button-color: 					white;
$font-button-color-hover: 			#00aeef;
$font-button-size: 					16px;
$font-button-size-mobi: 			14px;
$font-button-weight: 				600;
$font-button-align: 					center;
$font-button-transform: 			normal;
$font-button-decoration: 			none;
$font-button-decoration-hover: 	normal;
$font-button-style: 					normal;
$font-button-variant: 				normal;
$font-button-letter-spacing: 		0;
$font-button-line-height: 			100%;
$font-button-shadow: 				none;





// ------------------------ CLOSE BUTTON ------------------------------------------------
$close-color: 						#00aeef;
$close-color-hover: 				#fff;
$close-size: 						32px;
$close-size-mobi: 				26px;
$close-size-full:					42px;
$close-size-full-mobi:			36px;
$close-weight: 					lighter;
$close-align: 						center;
$close-transform: 				normal;
$close-decoration: 				none;
$close-decoration-hover: 		none;
$close-style: 						normal;
$close-variant: 					normal;
$close-letter-spacing: 			0;
$close-line-height: 				100%;
$close-shadow: 					none;

$close-default-padding:			5px 10x;
$close-custom-padding:			5px 10px;
$close-inline-padding:			5px 12px;
$close-bottombar-padding:		5px 12px;
$close-docked-padding:			3px 5px;
$close-topbar-padding:			5px 12px;
$close-fullscreen-padding:		8px 15px;

$close-default-margin:			0 0 0 auto;
$close-custom-margin:			0 0 0 auto;
$close-inline-margin:			0 0 0 auto;
$close-bottombar-margin:		0 0 0 auto;
$close-docked-margin:			0 0 0 auto;
$close-topbar-margin:			0 0 0 auto;
$close-fullscreen-margin:		50px 0 0 calc(100% - 100px);

$close-default-radius:			0;
$close-custom-radius:			0;
$close-inline-radius:			0;
$close-bottombar-radius:		0;
$close-docked-radius:			0;
$close-topbar-radius:			0;
$close-fullscreen-radius:		3px;

	





// ------------------------ PADDINGS, MARGINS, WIDTHS | BUTTONS (and answers?) ------------------------------------------------
$margin-widget-bottombar: 0;

$margin-widget-dockedwidget: auto;
$margin-widget-dockedwidget-mobi: auto;


$padding-widget-bottombar: 0;

$content-container-margin: 			0 0 15px 0;
$content-container-custom-margin: 	0 0 5px 0;

$button-padding-lg:						15px 30px;
$button-padding-md:						10px 20px;
$button-padding-sm:						8px 10px;

$button-margin-lg:						0px auto;
$button-margin-md:						0px auto;
$button-margin-sm:						0px auto;

$button-min-width:						auto;
$button-min-width-mobi:					auto;

$button-max-width:						auto;
$button-max-width-mobi:					auto;

$branding-padding:						5px 7px;
$branding-margin:							0 auto 0 0;
	





// ------------------------ CHECKMARK ------------------------------------------------
$checkmark-left-offset:						4px;
$checkmark-width:								2px;
$checkmark-height:							9px;

$checkmark-left-offset-mobi:				4px;
$checkmark-width-mobi:						2px;
$checkmark-height-mobi:						9px;







// ------------------------ BOX SHADOWS ------------------------------------------------
$shadow-inline:								none;
$shadow-docked:								0px -1px 10px rgba(0,0,0,0.2);
$shadow-bottombar:							0px -1px 10px rgba(0,0,0,0.2);
$shadow-topbar:								none;
$shadow-fullscreen:							none;

$shadow-fullscreen-content-container:	none;		// PENDING




// ------------------------ Z-INDEX ------------------------------------------------
// $z-index-global:									0;
$z-index-widget-default:						0 !important;
$z-index-widget-inline:							0 !important;
$z-index-widget-bottombar:						100000 !important;
$z-index-widget-docked:							100000 !important;
$z-index-widget-topbar:							100000 !important;
$z-index-widget-fullscreen:					100000 !important;
$z-index-content-container-custom-full:	100000 !important;




// ------------------------ OPACITIES ------------------------------------------------
$opacity-widget-custom:							1 !important;



