// @import '../../pi_default_new/_pi_styles_resets';
@import '../../01_css-pulse/assets/_selectors';



// ------------ BASIC COLORS ------------

	$bg-color-top-container: transparent;

	$bg-color-widget: #fff;
	$bg-color-widget-custom-fullscreen: rgba(0,0,128,0.85); 	// must be in rgba format
	$bg-color-content-container: yellow;
	$bg-color-content-container-custom-fullscreen: pink;
	$bg-color-question: lightgreen;
	$bg-color-answers-container: lightblue;
	$bg-color-free-text-container: pink;
	$bg-color-branding: lightgreen;
	$bg-color-close: #ccc;
	$bg-color-close-custom-fullscreen: red;



// ------------ WIDGET BORDERS ------------

	// Widget Border
	$border-default-top: 2px;
	$border-default-right: 2px;
	$border-default-bottom: 2px;
	$border-default-left: 2px;
	$border-default-top-left-radius: 10px;
	$border-default-top-right-radius: 10px;
	$border-default-bottom-right-radius: 10px;
	$border-default-bottom-left-radius: 10px;
	$border-default-color: blue;
	$border-default-style: solid;

	$border-inline-unique: no;
		$border-inline-top: 5px;
		$border-inline-right: 5px;
		$border-inline-bottom: 5px;
		$border-inline-left: 5px;
		$border-inline-top-left-radius: 20px;
		$border-inline-top-right-radius: 20px;
		$border-inline-bottom-right-radius: 20px;
		$border-inline-bottom-left-radius: 20px;
		$border-inline-color: red;
		$border-inline-style: dashed;

	$border-docked-unique: no;
		$border-docked-top: 2px;
		$border-docked-right: 2px;
		$border-docked-bottom: 2px;
		$border-docked-left: 2px;
		$border-docked-top-left-radius: 20px;
		$border-docked-top-right-radius: 20px;
		$border-docked-bottom-right-radius: 0px;
		$border-docked-bottom-left-radius: 0px;
		$border-docked-color: green;
		$border-docked-style: solid;

	$border-bottombar-unique: no;
		$border-bottombar-top: 3px;
		$border-bottombar-right: 0px;
		$border-bottombar-bottom: 0px;
		$border-bottombar-left: 0px;
		$border-bottombar-top-left-radius: 0px;
		$border-bottombar-top-right-radius: 0px;
		$border-bottombar-bottom-right-radius: 0px;
		$border-bottombar-bottom-left-radius: 0px;
		$border-bottombar-color: yellow;
		$border-bottombar-style: solid;

	$border-topbar-unique: no;
		$border-topbar-top: 4px;
		$border-topbar-right: 0px;
		$border-topbar-bottom: 0px;
		$border-topbar-left: 0px;
		$border-topbar-top-left-radius: 0px;
		$border-topbar-top-right-radius: 0px;
		$border-topbar-bottom-right-radius: 0px;
		$border-topbar-bottom-left-radius: 0px;
		$border-topbar-color: purple;
		$border-topbar-style: solid;

	$border-fullscreen-unique: no;
		$border-fullscreen-top: 5px;
		$border-fullscreen-right: 10px;
		$border-fullscreen-bottom: 0px;
		$border-fullscreen-left: 0px;
		$border-fullscreen-top-left-radius: 0px;
		$border-fullscreen-top-right-radius: 0px;
		$border-fullscreen-bottom-right-radius: 0px;
		$border-fullscreen-bottom-left-radius: 0px;
		$border-fullscreen-color: orange;
		$border-fullscreen-style: solid;





// ------------ FONTS ------------

	// Font import statement here - for testing only
	// Should be commented out to export
	// @import url(//fonts.googleapis.com/css?family=Lato);

	$font-global-family: Helvetica, Arial, sans-serif;
	// Make sure there's a value here, even if it's the same as the global family
	$font-lg-family: Georgia, Times, "Times New Roman", serif; 



	// FONT | LARGE (Question, Thank You, Invitation, etc.)
	$font-lg-color: blue;
	$font-lg-size: 17px;
	$font-lg-size-MOBILE: 16px;
	$font-lg-weight: normal;
	$font-lg-weight-MOBILE: normal;
	$font-lg-text-align: center;
	$font-lg-text-transform: none;
	$font-lg-text-decoration: none;
	$font-lg-letter-spacing: 0.1px;
	$font-lg-line-height: 120%;

		// FONT | MEDIUM (Single Choice Answers, Custom Content Body, )
		$font-md-color: 				purple;
		$font-md-color-HOVER: 		yellow;
		$font-md-font-size: 			13px;
		$font-md-font-size-MOBILE: 11px;
		$font-md-font-weight: 		bold;
		$font-md-text-align: 		center;
		$font-md-text-transform: 	none;
		$font-md-text-decoration: 	none;
		$font-md-letter-spacing: 	0.3px;
		$font-md-line-height: 		120%;

			// FONT | SMALL (Single Choice Answers, Custom Content Body, )
			$font-sm-color: 					#afafaf;
			$font-sm-color-HOVER: 			#000;
			$font-sm-font-size: 				11px;
			$font-sm-font-size-MOBILE: 	11px;
			$font-sm-font-weight: 			normal;
			$font-sm-text-align: 			left;
			$font-sm-text-transform: 		none;
			$font-sm-text-decoration: 		none;
			$font-sm-text-decoration-HOVER: none;
			$font-sm-letter-spacing: 		0;
			$font-sm-line-height: 			100%;




// ------------ MAJOR ELEMENTS ------------

	// ------------ Question ------------
	$border-question-width: 0 0 2px 0;
	$border-question-style: solid;
	$border-question-color: red;
	$border-question-radius: 5px;

	$question-padding: 15px 45px;
	$question-margin: 0 0 20px;
	$question-padding-MOBILE: 10px 25px;
	$question-margin-MOBILE: 0 0 15px;

	$question-custom-padding: 15px 45px;
	$question-custom-padding-MOBILE: 10px 25px;


	// ------------ Answers Container ------------

	// ------------ Thank You ------------

	// ------------ Close Button ------------





// ------------ SINGLE CHOICE ANSWERS ------------
	$single-bg-color: pink;
	$single-bg-color-HOVER: red;
	$single-bg-color-MOBILE: lightgreen;
	$single-bg-color-MOBILE-HOVER: green;

	$single-font-color: $font-md-color; // Don't change. Picks up the medium color
	$single-font-color-HOVER: pink;
	$single-font-color-MOBILE-HOVER: yellow;

	$single-font-decoration: underline;
	$single-font-decoration-HOVER: overline;
	$single-font-decoration-MOBILE: overline;
	$single-font-decoration-MOBILE-HOVER: line-through;

	$single-border: 1px solid green;
	$single-border-HOVER: 1px solid yellow;
	$single-border-MOBILE-HOVER: 1px solid black;

	$single-padding: 6px 30px;
	$single-padding-MOBILE: 5px 14px;
	$single-padding-TABLET: 6px 10px;

	$single-border-radius: 2px; // Used across all device types





// ------------ BUTTONS | FREE TEXT, MULTI CHOICE, CUSTOM CONTENT ------------
	$submit-font-color: 				white;
	$submit-bg-color: 				red;
	$submit-border: 					1px solid #000;

	$submit-font-color-HOVER: 		red;
	$submit-bg-color-HOVER: 		white;
	$submit-border-HOVER: 			1px solid #000;

	$submit-font-size: 				12px;
	$submit-font-size-MOBILE: 		11px;
	$submit-font-weight: 			bold;

	$submit-text-decoration: 		overline;
	$submit-text-decoration-HOVER: underline;
	$submit-text-align: 				center;
	$submit-text-transform: 		lowercase;
	$submit-letter-spacing: 		0.5px;

	$submit-border-radius: 			2px;
	$submit-padding: 					7px 12px;
	$submit-padding-MOBILE: 		8px 12px;




// ------------ MULTIPLE CHOICE ------------
	$multi-font-color: 			#333;
	$multi-font-color-HOVER: 	#333;
	$multi-text-align: 			left;

	$multi-bg-color: 				#ddd;
	$multi-border: 				1px solid transparent;

	$multi-bg-color-HOVER: 		#ccc;
	$multi-border-HOVER: 		1px solid red;

	$multi-border-radius: 		2px;

	$multi-checkbox-box: 		1px solid black;
	$multi-checkbox-check: 		solid red;




// ------------ CLOSE BUTTON ------------
	// DEFAULT
	$close-color: #000;
	$close-bg-color: $bg-color-close; // don't change. refers to the basic colors at the top

	$close-color-HOVER: white;
	$close-bg-color-HOVER: black;

	$close-font-size: 28px;
	$close-line-height: 60%;
	$close-height: 22px;
	$close-width: 40px;
	$close-border-radius: 0 0 0 5px;

	$close-font-size-MOBILE: 22px;
	$close-line-height-MOBILE: 70%;
	$close-height-MOBILE: 20px;
	$close-width-MOBILE: 30px;
	$close-border-radius-MOBILE: 0 0 0 3px;

	$close-width-custom-fullscreen: 40px;
	$close-height-custom-fullscreen: 40px;
	$close-top-offset-custom-fullscreen: 4%;
	$close-right-offset-custom-fullscreen: 4%;
	$close-line-height-custom-fullscreen: 120%;
	$close-border-radius-custom-fullscreen: 0 0 0 0;

		// HIDE SHOW - BY WIDGET TYPE - 0 OR 1
		$close-opacity-INLINE: 	1;
		$close-opacity-BOTTOM: 	1;
		$close-opacity-DOCKED: 	1;
		$close-opacity-TOPBAR: 	1;
		// THE CLOSE BUTTON WILL ALWAYS SHOW IN FULLSCREEN




// ------------ FREE TEXT ------------
	$free-font-color: 			#000;
	$free-color-placeholder: 	#999;
	$free-font-size-zoom: 		1.2; 	// For 120%, use 1.2
	$free-text-align: 			right;
	$free-field-radius: 			0;

	$free-border-color-default: #dcdcdb;
	$free-border-color-hover: 	#aaa;
	$free-border-color-focus: 	#000;

	$free-border-width-single: 0px 0px 1px 0px; 	// top right bottom left
	$free-border-width-multi: 	1px 1px 2px 1px;

	$free-box-drop-shadow: 		0px 1px 2px 0px;	// horizontal vertical blur spread




// ------------ FADE-IN ANIMATION ------------
// $fade-x-active: set to yes or no (without quotes)
// If active is set to no, the other variables are ignored
// $fade-x-delay: # of seconds before the fade begins (e.g. 2s)
// $fade-x-duration: # of seconds for the fade to complete (e.g. 0.5s)

	$fade-inline-active: 	yes;
	$fade-inline-delay: 		2s;
	$fade-inline-duration: 	1s;

	$fade-bottom-active: 	no;
	$fade-bottom-delay: 		2s;
	$fade-bottom-duration: 	1s;

	$fade-docked-active: 	no;
	$fade-docked-delay: 		2s;
	$fade-docked-duration: 	1s;

	$fade-topbar-active: 	no;
	$fade-topbar-delay: 		2s;
	$fade-topbar-duration: 	1s;


