#_pi_surveyWidgetContainer.all-at-once.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] {
  height: 50px !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] {
  height: 50px !important;
  width: 200px;
  position: relative;
  margin: 0px !important;
  overflow: visible !important;
  margin-bottom: 10px !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"][data-answer]:not([data-answer=""]) a:after {
  color: transparent !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"][data-answer]:not([data-answer=""]) li.selected a:after {
  color: purple !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"][data-answer]:not([data-answer=""]) li.selected ~ li a:after {
  color: #cccccc !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"][data-answer]:not([data-answer=""]):hover li a:after {
  color: transparent !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"][data-answer]:not([data-answer=""]):hover li ~ li a:after {
  color: transparent !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"][data-answer]:not([data-answer=""]):hover li:hover a:after {
  color: purple !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"][data-answer]:not([data-answer=""]):hover li:hover ~ li a:after {
  color: #cccccc !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"]:hover a:after {
  color: transparent !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:hover a:after {
  color: purple !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:hover ~ li a:after {
  color: #cccccc !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] * {
  width: auto !important;
  display: inline-block;
  text-align: right;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li {
  border-radius: 0px !important;
  overflow: visible !important;
  border: none !important;
  margin: 0px !important;
  max-width: 30px !important;
  width: 30px;
  height: 50px !important;
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  letter-spacing: 24px;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li a {
  margin-top: 10px !important;
  font-size: 30px;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li a label {
  display: none !important;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li a:after {
  color: #cccccc;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li a:focus {
  outline: none;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(1) {
  width: 20% !important;
  max-width: 20% !important;
  z-index: 50;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(1) a:after {
  content: "\2605";
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(1):hover a:after, #_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(1).selected a:after {
  content: "\2605";
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(2) {
  width: 40% !important;
  max-width: 40% !important;
  z-index: 40;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(2) a:after {
  content: "\2605 \2605";
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(2):hover a:after, #_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(2).selected a:after {
  content: "\2605 \2605";
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(3) {
  width: 60% !important;
  max-width: 60% !important;
  z-index: 30;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(3) a:after {
  content: "\2605 \2605 \2605";
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(3):hover a:after, #_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(3).selected a:after {
  content: "\2605 \2605 \2605";
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(4) {
  width: 80% !important;
  max-width: 80% !important;
  z-index: 20;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(4) a:after {
  content: "\2605 \2605 \2605 \2605";
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(4):hover a:after, #_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(4).selected a:after {
  content: "\2605 \2605 \2605 \2605";
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(5) {
  width: 100% !important;
  max-width: 100% !important;
  z-index: 10;
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(5) a:after {
  content: "\2605 \2605 \2605 \2605 \2605";
}

#_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(5):hover a:after, #_pi_surveyWidgetContainer.all-at-once ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9850"] li:nth-child(5).selected a:after {
  content: "\2605 \2605 \2605 \2605 \2605";
}
