.debug-settings {
  margin: 30px
}

/* ----------- BACKGROUNDS ---------------------------- */

#_pi_surveyWidgetContainer,
#_pi_surveyWidgetContainer.mobile-enabled {
  background-color: mistyrose !important;
}

#_pi_surveyWidget,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget {
  background-color: lightgreen !important;
  border: 1px dashed red !important;
}

._pi_widgetContentContainer,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer {
  background-color: fuchsia !important;
}

._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_question {
  background-color: khaki !important;
}

._pi_answers_container,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_answers_container {
  background-color: blue !important;
}

._pi_free_text_question_field_container,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
  background-color: cyan !important;
}

._pi_thankYouSurvey,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_thankYouSurvey {
  background-color: yellow !important;
}

a._pi_branding,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget a._pi_branding {
  background-color: ivory !important;
}

._pi_closeButton,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_closeButton {
  background-color: deepskyblue !important;
  border: 1px dashed black !important;
}