// ================== INLINE AND BOTTOM BAR LEFT ==================
div#_pi_surveyWidgetContainer {
    margin: 0!important
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=inlinesurvey],
#_pi_surveyWidget[survey-widget-type=inlinesurvey] {
    border: 1px solid #dde2e6!important;
    z-index: 5!important
}

div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=bottombarsurvey],
div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] {
    border-top: 2px solid #44484c!important
}

a._pi_branding,
a._pi_branding:hover {
    color: transparent!important
}

#_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton:hover,
div._pi_closeButton,
div._pi_closeButton:hover {
    width: 20px!important;
    max-width: 100%!important;
    height: 20px!important;
    line-height: 15px!important;
    font-size: 34px!important;
    padding: 0!important;
    box-sizing: content-box
}

#_pi_surveyWidgetContainer.mobile-enabled div._pi_widgetContentContainer,
div._pi_widgetContentContainer {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_question,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] div._pi_question,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_question,
div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] div._pi_question,
div#_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_question,
div._pi_question {
    margin: 0!important;
    text-align: left!important;
    padding: 0 0 20px 0!important
}

div[data-question-type=free_text_question] ul._pi_answers_container {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    width: 100%!important;
    padding-left: 0!important;
    padding-right: 0!important
}

@media (min-width:1072px) {
    #_pi_surveyWidget[survey-widget-type=inlinesurvey] {
        padding: 0 !important;
    }
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] ._pi_closeButton,
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] ._pi_closeButton:hover {
        width: 1024px!important;
        height: 20px!important;
        text-align: right!important;
        margin: 30px auto 0!important;
        left: 0!important;
        top: 0!important;
        right: 0!important;
        position: absolute!important;
        z-index: 3!important
    }
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton:hover {
        width: 100%!important;
        height: 20px!important;
        text-align: right!important;
        margin: 30px auto 0!important;
        left: 0!important;
        top: 0!important;
        right: 0!important;
        position: absolute!important;
        z-index: 3!important;
        padding-right: 24px!important;
        max-width: 1024px!important;
        left: initial!important;
        right: initial!important;
        margin-right: 0!important;
        box-sizing: content-box!important;
        padding-right: 0!important
    }
    #_pi_surveyWidget[survey-widget-type=bottombarsurvey] div._pi_widgetContentContainer,
    #_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_widgetContentContainer {
        width: 1024px!important;
        min-width: 1024px!important;
        max-width: 1024px!important;
        margin: 30px auto 0!important
    }
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] div._pi_question,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_question {
        width: calc(100% - 230px)!important;
        z-index: 2!important
    }
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey][data-question-type=free_text_question] ._pi_free_text_question_field_container,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey][data-question-type=free_text_question] ._pi_free_text_question_field_container {
        -ms-flex-preferred-size: calc(100% - 230px)!important;
        flex-basis: calc(100% - 230px)!important;
        -ms-flex-positive: 0!important;
        flex-grow: 0!important;
        -ms-flex-negative: 0!important;
        flex-shrink: 0!important;
        margin: 0!important
    }
    #_pi_surveyWidget[data-question-type=multiple_choices_question] div._pi_multiple_choices_question_submit_button_container {
        -ms-flex-preferred-size: 160px!important;
        flex-basis: 160px!important;
        -ms-flex-preferred-size: 100%!important;
        flex-basis: 100%!important;
        -ms-flex-positive: 0!important;
        flex-grow: 0!important;
        -ms-flex-negative: 0!important;
        flex-shrink: 0!important
    }
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] ._pi_free_text_question_submit_button_container,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_free_text_question_submit_button_container {
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        -ms-flex-positive: 0!important;
        flex-grow: 0!important;
        -ms-flex-negative: 0!important;
        flex-shrink: 0!important;
        padding: 0!important;
        -ms-flex-pack: end!important;
        justify-content: flex-end!important
    }
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] ._pi_free_text_question_submit_button_container,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_free_text_question_submit_button_container {
        margin: 0!important
    }
}

@media (min-width:415px) and (max-width:1071px) {
    #_pi_surveyWidget[survey-widget-type=bottombarsurvey],
    #_pi_surveyWidget[survey-widget-type=inlinesurvey] {
        padding: 0 24px!important;
        padding: 0!important
    }
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] ._pi_closeButton,
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] ._pi_closeButton:hover,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton:hover {
        width: 100%!important;
        height: 20px!important;
        text-align: right!important;
        margin: 30px auto 0!important;
        left: 0!important;
        top: 0!important;
        right: 0!important;
        position: absolute!important;
        z-index: 3!important;
        padding-right: 24px!important;
        max-width: 100%!important;
        margin-right: 0!important;
        box-sizing: content-box!important
    }
    #_pi_surveyWidget[survey-widget-type=bottombarsurvey] div._pi_widgetContentContainer,
    #_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_widgetContentContainer {
        width: 100%!important;
        min-width: 100%!important;
        max-width: 100%!important;
        margin: 30px auto 0!important;
        box-sizing: border-box!important;
        padding: 0 24px!important
    }
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] div._pi_question,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_question {
        width: calc(100% - 200px)!important;
        z-index: 2!important
    }
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] ._pi_free_text_question_field_container,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_free_text_question_field_container {
        -ms-flex-preferred-size: calc(100% - 200px)!important;
        flex-basis: calc(100% - 200px)!important;
        -ms-flex-positive: 0!important;
        flex-grow: 0!important;
        -ms-flex-negative: 0!important;
        flex-shrink: 0!important;
        margin: 0!important
    }
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] ._pi_free_text_question_submit_button_container,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_free_text_question_submit_button_container {
        -ms-flex-preferred-size: auto!important;
        flex-basis: auto!important;
        -ms-flex-positive: 0!important;
        flex-grow: 0!important;
        -ms-flex-negative: 0!important;
        flex-shrink: 0!important;
        padding: 0!important;
        -ms-flex-pack: end!important;
        justify-content: flex-end!important
    }
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] ._pi_free_text_question_submit_button_container,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_free_text_question_submit_button_container {
        margin: 0!important
    }
}

@media (max-width:414px) {
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=inlinesurvey] {
        pading: 0!important
    }
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=bottombarsurvey] {
        pading: 0!important;
        margin: 0!important;
        max-width: 100%!important
    }
    #_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton,
    #_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton:hover {
        margin-top: 30px!important;
        margin-bottom: 15px!important;
        margin-left: calc(100% - 24px)!important;
        max-width: 100%!important;
        margin-right: auto!important;
        margin-right: 32px!important;
        box-sizing: content-box!important
    }
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=bottombarsurvey] div._pi_widgetContentContainer,
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_widgetContentContainer {
        box-sizing: border-box!important;
        padding: 0!important
    }
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_question,
    div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] div._pi_question,
    div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_question,
    div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] div._pi_question,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_question {
        width: 100%!important;
        text-align: left!important;
        padding: 0 0 10px 0!important
    }
    #_pi_surveyWidgetContainer.mobile-enabled div[data-question-type=free_text_question] ul._pi_answers_container {
        width: 100%!important
    }
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
        -ms-flex-preferred-size: calc(100% - 0px)!important;
        flex-basis: calc(100% - 0px)!important
    }
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container,
    div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type=bottombarsurvey] ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
        padding: 0!important;
        margin: 0!important;
        width: 100%!important
    }
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container ._pi_free_text_question_submit_button {
        padding: 16px 30px!important;
        margin: 10px 0 0!important
    }
}
