// ================== FAKE INLINE AS BOTTOM BAR ==================
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=inlinesurvey],
#_pi_surveyWidget[survey-widget-type=inlinesurvey] {
    border-top: 2px solid #44484c!important;
    border-right: 0!important;
    border-left: 0!important;
    border-bottom: 0!important;
    position: fixed!important;
    bottom: 0!important;
    left: 0!important;
    right: 0!important;
    margin: 0!important;
    padding: 0 24px!important;
    height: auto!important;
    width: 100%!important;
    box-sizing: border-box!important;
}

@media (min-width:1072px) {
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton:hover {
        width: 1024px!important;
        height: 20px!important;
        text-align: right!important;
        margin: 30px auto 0!important;
        left: 0!important;
        top: 0!important;
        right: 0!important;
        position: absolute!important;
        z-index: 3!important;
        padding-right: 0!important
    }
    #_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_widgetContentContainer {
        width: 1024px!important;
        min-width: 1024px!important;
        max-width: 1024px!important;
        margin: 30px auto 0!important
    }
}

@media (max-width:1071px) {
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton:hover {
        margin-right: 0!important;
        padding-right: 24px!important
    }
}

@media (max-width:414px) {
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=inlinesurvey] {
        padding: 0!important;
        margin: 0!important;
        max-width: 100%!important
    }
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container,
    div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
        padding: 0!important;
        margin: 0!important;
        width: 100%!important
    }
}








// ================== 9 - COMCAST SINGLE CHOICE AND RADIOS ==================
// CANCELLING OUT COMCAST'S CSS
#_pi_surveyWidgetContainer .link:focus,
#_pi_surveyWidgetContainer a:focus {
    outline: 0;
    box-shadow: none!important;
    border: 0!important
}

// ------------------ FIXED - SINGLE CHOICE ---------------------------------
	// FIXED WITHOUT RADIO ---------------------------------
	// BLUE background
	// CENTERED text
	// NO border
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=off] li,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=off] li a,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=off] li a label {
    background-color: #0272b6!important;
    border: 0!important;
    color: #fff!important
}

#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=off] li a label {
    padding: 14px 25px!important
}

// FIXED WITH RADIO ---------------------------------
// WHITE background
// RADIO BUTTON
// LEFT-ALIGNED text
// NO border
// NO margin on the left of the RADIO BUTTON
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=on] li,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=on] li a,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=on] li a label {
    background-color: #fff!important;
    border: 0!important;
    color: #44484c!important
}

#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=on] li {
    padding: 0!important
}

#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=on] li a label {
    padding: 10px 22px 10px 12px!important
}

#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=fixed][data-radio-button=on] li a span._pi_radio_button_outer {
    margin: 0!important
}

// RADIO BUTTONS
ul._pi_answers_container li a span._pi_radio_button_outer {
    background-color: #f2f4f5!important;
    border: 1px solid #b1b9bf!important
}

// RADIO BUTTONS - Tablet and Desktop Hover
@media (min-width:769px) {
    ul._pi_answers_container li:hover a span._pi_radio_button_outer {
        background-color: #2b9cd8!important;
        border: 1px solid #2b9cd8!important
    }
    ul._pi_answers_container li:hover a span._pi_radio_button_inner {
        background-color: #f2f4f5!important;
        border: 1px solid #2b9cd8!important
    }
}

// ------------------ FIXED - MULTIPLE CHOICE ---------------------------------=
	// FIXED LEFT - MULTIPLE CHOICE ONLY ------------------
	// Multiple Choice Answers left
	// Submit button right#_pi_surveyWidget[data-question-type=multiple_choices_question][data-answer-widths=fixed] li,
#_pi_surveyWidget[data-question-type=multiple_choices_question][data-answer-widths=fixed] li label._pi-control._pi-control-checkbox {
    background-color: #fff!important;
    border: 0!important;
    color: #44484c!important
}

// ------------------ VARIABLE - YES / NO -------------------------------------------------------
	// Blue background
	// NO hover
	// NO radio button
	// Minimum width: 130px
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-center][data-radio-button=off] li,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-center][data-radio-button=off] li a,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-center][data-radio-button=off] li a label,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-left][data-radio-button=off] li,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-left][data-radio-button=off] li a,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-left][data-radio-button=off] li a label {
    background-color: #0272b6!important;
    color: #fff!important;
    border: 0!important;
    border-color: transparent!important;
    min-width: 130px
}

#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-center][data-radio-button=off] li a label,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-left][data-radio-button=off] li a label {
    padding: 14px 25px!important
}









// 5. ADDED TO "LEFT" THEMES TO MAKE SURE LI TAGS HAVE NO MARGIN ON THE LEFT

// BUTTON WIDTHS: FIXED ------------------------------------------
// THE DEFAULT FOR FIXED: 3 PER ROW ------------------------------
div[data-answer-widths=fixed] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%
}

// INDIVIDUAL ANSWERS PER ROW VALUES ------------------------------
div[data-answer-widths=fixed][data-answers-per-row="1"] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 86%!important;
    flex: 0 0 86%!important;
    max-width: 86%!important
}

div[data-answer-widths=fixed][data-answers-per-row="2"] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 48%!important;
    flex: 0 0 48%!important;
    max-width: 48%!important
}

div[data-answer-widths=fixed][data-answers-per-row="3"] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 31%!important;
    flex: 0 0 31%!important;
    max-width: 31%!important
}

div[data-answer-widths=fixed][data-answers-per-row="4"] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 23%!important;
    flex: 0 0 23%!important;
    max-width: 23%!important
}

div[data-answer-widths=fixed][data-answers-per-row="5"] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 18%!important;
    flex: 0 0 18%!important;
    max-width: 18%!important
}

div[data-answer-widths=fixed][data-answers-per-row="6"] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 14.5%!important;
    flex: 0 0 14.5%!important;
    max-width: 14.5%!important
}

div[data-answer-widths=fixed][data-answers-per-row="7"] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 12.25%!important;
    flex: 0 0 12.25%!important;
    max-width: 12.25%!important
}

div[data-answer-widths=fixed][data-answers-per-row="8"] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 10.5%!important;
    flex: 0 0 10.5%!important;
    max-width: 10.5%!important
}

div[data-answer-widths=fixed][data-answers-per-row="9"] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 9.1%!important;
    flex: 0 0 9.1%!important;
    max-width: 9.1%!important
}

div[data-answer-widths=fixed][data-answers-per-row="10"] ul._pi_answers_container li {
    margin: 5px 2% 5px 0!important;
    -ms-flex: 0 0 8%!important;
    flex: 0 0 8%!important;
    max-width: 8%!important
}

// BUTTON WIDTHS: VARIABLE LEFT -------------------------------------------
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-left][data-radio-button=off] li {
    margin: 5px 2% 5px 0!important
}














#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type=inlinesurvey][data-question-type=single_choice_question] div._pi_question,
div#_pi_surveyWidget[survey-widget-type=inlinesurvey][data-question-type=single_choice_question] div._pi_question {
    text-align: center!important;
    width: 100% !important;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget > div._pi_widgetContentContainer > div._pi_thankYouSurvey,
#_pi_surveyWidget > div._pi_widgetContentContainer > div._pi_thankYouSurvey {
    text-align: center !important;
    width: 100% !important;
}
