// .ofi_map_6_3 { margin: 22px };

//--------


$heights: (
);


//--------


// $widths2: (
// 	widget-fullscreen: 	$widget-fullscreen-width,
// 	widget-bottombar: 	$widget-fullscreen-width,
// );
// $widths: map-merge($widths, $widths2);

// $widths: (
// 	widget-fullscreen: 	$widget-fullscreen-width,
// 	widget-bottombar: 	$widget-fullscreen-width,
// );

//--------


$heights2: (
	widget-fullscreen: $widget-fullscreen-height,
);
$heights: map-merge($heights, $heights2);


//--------


$parameters2: (
	height: $heights,
);
$parameters: map-merge($parameters, $parameters2);