#_pi_surveyWidget[survey-widget-type="fullscreensurvey"] {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

div#_pi_surveyWidget div._pi_widgetContentContainer {
  background-color: #fff !important;
  padding: 40px 48px 23px 48px!important;
  width: auto !important;
  min-height: 250px !important;
  width: 667px !important;
  border: 1px solid #dfdfdf !important;
}

div#_pi_surveyWidget[survey-widget-type="fullscreensurvey"] ._pi_closeButton {
  color: #505050 !important;
  margin: 0px calc(50% - 315px) -64px auto !important;
  z-index: 1000 !important;
  font-weight: 600 !important;
  font-size: 36px !important;
}

div#_pi_surveyWidget {
  justify-content: center !important;
}

a._pi_branding {
  color: #fff !important;
  position: absolute !important;
}

div#_pi_surveyWidget > div._pi_widgetContentContainer > div._pi_question {
  width: 100% !important;
  text-align: left !important;
  margin: -15px 0px 25px 0px !important;
  line-height: 120% !important;
}

div#_pi_surveyWidget > div._pi_widgetContentContainer > div._pi_question::before {
  white-space: pre !important;
  content: "Help Us Improve Your Experience?\A\A" !important;
  font-weight: bold;
  font-size: 20px !important;
  display: inline-block !important;
  border-bottom: 1px solid #afafaf !important;
  width: 100% !important;
  margin-bottom: 40px !important;
  padding-top: 12px
}

div#_pi_surveyWidget[data-question-type="single_choice_question"] li,
div#_pi_surveyWidget[data-question-type="single_choice_question"] li a label {
  width: auto !important;
  min-width: 118px;
}

div[data-answer-widths="variable-left"] ul._pi_answers_container li {
  margin-left: 0 !important;
  margin-right: 20px !important;
}

div[data-answer-widths="variable-left"] ul._pi_answers_container li,
div[data-answer-widths="variable-center"] ul._pi_answers_container li {
  min-width: 120px !important;
}

div#_pi_surveyWidget[data-question-type="single_choice_question"] li a label {
padding: 13px 30px !important;
}


div#_pi_surveyWidget[data-question-type="free_text_question"] > div._pi_widgetContentContainer > div._pi_question {
  display: none !important;
}

div#_pi_surveyWidget[data-question-type="free_text_question"] > div._pi_widgetContentContainer > ul._pi_answers_container::before {
  content: "How Can We Improve Your Experience?" !important;
  font-size: 20px !important;
  font-weight: bold;
  color: #000 !important;
  white-space: pre !important;
  margin: 0px 0px 25px 0px !important;
  display: inline-block !important;
  border-bottom: 1px solid #afafaf !important;
  width: 100% !important;
  text-align: left !important;
}

div#_pi_surveyWidget[data-question-type="free_text_question"] > div._pi_widgetContentContainer > ul._pi_answers_container {
  width: 100% !important;
  flex-direction: column !important;
}

#_pi_surveyWidget[data-question-type="free_text_question"] > div._pi_widgetContentContainer > ul > div._pi_free_text_question_field_container {
  width: 100% !important;
}

#_pi_surveyWidget > div._pi_widgetContentContainer > ul > div._pi_free_text_question_submit_button_container {
  width: 100% !important;
  padding-left: 0px !important;
  justify-content: flex-end !important;
  display: flex !important;
  margin-top: 15px !important;
}

div#_pi_surveyWidget[survey-widget-type="fullscreensurvey"][data-question-type="free_text_question"] > div._pi_closeButton {
  margin: 0px calc(50% - 316px) -43px auto !important;
  color: #505050

}

div#_pi_surveyWidget[data-question-type="free_text_question"] input._pi_free_text_question_submit_button {
  padding: 14px 35px !important;
  background-color: #000 !important;
  color: #fff !important;
}

div#_pi_surveyWidget[data-question-type="free_text_question"] textarea._pi_free_text_question_field {
  font-weight: normal !important;
  text-transform: none !important;
}

div[data-question-type="multiple_choices_question"] ._pi_free_text_question_field_container {
  width: 100% !important;
}
