.panel.panel-default
  .panel-heading
    %h2.panel-title AI Agents

  = form_with url: ai_agents_path, method: :patch, html: { role: 'form', class: 'form-horizontal' } do |form|
    - @ai_agents.each do |ai_agent|
      .input-row
        = form.check_box ai_agent[:id], checked: ai_agent[:enabled]
        = form.label ai_agent[:id], ai_agent[:name]

    .form-action
      = form.submit "Save", class: "btn btn-default"
