div#_pi_surveyWidgetContainer:not(.mobile-enabled) div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  position: fixed;
  max-height: 0px;
  height: auto;
  width: 300px;
  right: 10%;
  background-color: #181818;
  text-align: center;
  z-index: 1032;
  transition: 0.2s;
  font-size: 16px;
  z-index: 18000;
  overflow: hidden;
  background-color: #00a5e3;
  border-color: #eeeeee;
  border-width: 0;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 350px;
  z-index: 100000;
  margin: 0px !important;
  top: auto !important;
  bottom: 50px !important;
  right: 10% !important;
  left: auto !important;
}

div#_pi_surveyWidgetContainer:not(.mobile-enabled) div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  text-transform: normal;
  text-decoration: none;
  text-shadow: none;
  letter-spacing: 0;
  line-height: 100%;
  background-color: transparent;
  border-radius: 0px;
  padding: 3px 5px;
  margin: 0 0 0 auto;
}

div#_pi_surveyWidgetContainer:not(.mobile-enabled) div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

div#_pi_surveyWidgetContainer:not(.mobile-enabled) #_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_free_text_question_submit_button_container {
  padding: 4px 0 2px 0 !important;
  flex: 1 1 auto;
}
