%h1 Hello,

The following #{"worker".pluralize(@failed_workers.count)} did not complete as expected:

%ul
  - @failed_workers.each do |failed_worker|
    %li #{failed_worker}

%p
  Please contact your nearest developer for details.

%p
  Your friend,
  %br
  Robo-mailer
