/* ------------------------------------------------------------------------
	                					 BUTTONS
------------------------------------------------------------------------ */

// Dekstop
input._pi_free_text_question_submit_button,
input._pi_multiple_choices_question_submit_button,
._pi_question_custom_content_question button.pi_question_link,
._pi_startButton {
	font-size: 			16px;
	padding: 			12px 30px !important;
	border-radius: 	40px;

	border: 				1px solid #0272b6;
	background-color: #0272b6;
}



// Desktop | Hover
input._pi_free_text_question_submit_button:hover,
input._pi_multiple_choices_question_submit_button:hover,
._pi_question_custom_content_question button.pi_question_link:hover,
._pi_startButton:hover {
	color: 				#fff;
	text-decoration: 	none;

	border: 				1px solid #00619A;
	background-color: #00619A;		
}



// Mobile
#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_submit_button,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_multiple_choices_question_submit_button,
#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question button.pi_question_link,
#_pi_surveyWidgetContainer.mobile-enabled ._pi_startButton {
	font-size: 			14px;
	padding: 			8px 20px !important; 
	border-radius: 	40px;
}



// OPTIONAL: Symbol in Button
input._pi_free_text_question_submit_button:after,
input._pi_multiple_choices_question_submit_button:after,
._pi_question_custom_content_question button.pi_question_link:after,
._pi_startButton:after {
	// content: 			'\27eb';
}

