#_pi_surveyWidgetContainer.all-at-once{
  &.mobile-enabled{
    #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9386"]{
      height: 50px !important;
    }
  }
  ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9386"]{
    height: 50px !important;
    width: 200px;
    position: relative;
    margin: 0px !important;
    overflow: visible !important;
    &:hover, &[data-answer*="2"]{
      a:after{
        color: transparent !important;
      }
    }
    *{
      width: auto !important;
      display: inline-block;
      text-align: right;
    }
    li{
      border-radius: 0px !important;
      overflow: visible !important;
      border: none !important;
      margin: 0px !important;
      max-width: 20px !important;
      width: 20px;
      height: 50px !important;
      position: absolute;
      top: 0;
      left: 0;
      text-align: right;
      letter-spacing: 24px;
      a{
        margin-top: 10px !important;
        font-size: 20px;
        label{
          display: none !important;
        }
        &:after{
          // content: "\2605";
          color: #cccccc;
        }
        &:focus{
          outline: none;
        }
      }
      &:hover, &.selected{
        background-color: transparent !important;
        a{
          background-color: transparent !important;
          &:after{
            background-color: transparent !important;
            color: #111111 !important;
            // content: "\2605";
          }
        }
        & + li a:after{
          color: #cccccc !important;
        }
        & + li + li a:after{
          color: #cccccc !important;
        }
        & + li + li + li a:after{
          color: #cccccc !important;
        }
        & + li + li + li + li a:after{
          color: #cccccc !important;
        }
        & + li + li + li + li + li a:after{
          color: #cccccc !important;
        }
      }
      &:nth-child(1){
        width: 20% !important;
        max-width: 20% !important;
        z-index: 50;
        a{
          &:after{
            content: "\2605";
          }
        }
        &:hover, &.selected{
          a{
            &:after{
              content: "\2605";
            }
          }
        }
      }
      &:nth-child(2){
        width: 40% !important;
        max-width: 40% !important;
        z-index: 40;
        a{
          &:after{
            content: "\2605 \2605";
          }
        }
        &:hover, &.selected{
          a{
            &:after{
              content: "\2605 \2605";
            }
          }
        }
      }
      &:nth-child(3){
        width: 60% !important;
        max-width: 60% !important;
        z-index: 30;
        a{
          &:after{
            content: "\2605 \2605 \2605";
          }
        }
        &:hover, &.selected{
          a{
            &:after{
              content: "\2605 \2605 \2605";
            }
          }
        }
      }

      &:nth-child(4){
        width: 80% !important;
        max-width: 80% !important;
        z-index: 20;
        a{
          &:after{
            content: "\2605 \2605 \2605 \2605";
          }
        }
        &:hover, &.selected{
          a{
            &:after{
              content: "\2605 \2605 \2605 \2605";
            }
          }
        }
      }
      &:nth-child(5){
        width: 100% !important;
        max-width: 100% !important;
        z-index: 10;
        a{
          &:after{
            content:"\2605 \2605 \2605 \2605 \2605";
          }
        }
        &:hover, &.selected{
          a{
            &:after{
              content:"\2605 \2605 \2605 \2605 \2605";
            }
          }
        }
      }
    }
  }
}
