yarn audit has detected one or more vulnerabilities (#{@results.count} total)

= link_to "Make an issue for it", "https://gitlab.ekohe.com/ekohe/pulseinsights/pi/-/issues/new?issue[title]=Address%20package%20vulnerabilities%20#{Time.current.strftime("%Y-%m-%d")}"

#{ @results.inspect.html_safe }
