/* ----------- WIDGET TYPE SIZING AND POSITIONING ------- */
#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"],
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] {
  position: fixed;
  bottom: 0;
  max-height: 0;
  height: auto;
  overflow: hidden;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] {
  width: 90%;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(174, 174, 174, 0.6);
  border-radius: 2px;
}

#_pi_surveyWidget[survey-widget-type="topbarsurvey"] {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  max-height: 0;
  height: auto;
  width: 100%;
  overflow: hidden;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="topbarsurvey"] {
  width: 90%;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgba(174, 174, 174, 0.6);
  border-radius: 5px;
}

/* ------------ SHARED BETWEEN SINGLE AND MULTI ---------------------------------- */
ul._pi_answers_container {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: row !important;
      flex-direction: row !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  /* 	justify-content: 	flex-start;	 DEPENDS ON FIXED VS. VARIABLE WIDTHS*/
  -ms-flex-align: stretch !important;
      align-items: stretch !important;
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
}

ul._pi_answers_container li,
ul._pi_answers_container li a,
ul._pi_answers_container li a label,
ul._pi_answers_container li label._pi-control-checkbox {
  cursor: pointer !important;
  box-sizing: border-box;
}

ul._pi_answers_container li {
  /* 		background-color: initial; */
  text-align: inherit !important;
  width: auto !important;
  height: auto !important;
  overflow: hidden !important;
  max-width: none !important;
  float: none !important;
  padding: 0 !important;
  /* 		margin: 				5px 1% !important; */
  margin: 5px 0 !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

ul._pi_answers_container li:hover {
  /* 		background-color: initial; */
}

/* ------------------------------ SINGLE CHOICE ------------------------------ */
ul._pi_answers_container li a {
  padding: 0 !important;
  height: auto;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: static;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-width: 100% !important;
}

ul._pi_answers_container li a span._pi_radio_button_outer {
  position: static;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  /* make sure it matches the variable for checkbox right and left margin */
  margin-right: 0;
  /* VISUAL PARAMETERS - CAN BE OVERRIDDEN BY CIENT USING !IMPORTANT */
  width: 14px;
  min-width: 14px;
  max-width: 14px;
  height: 14px;
  min-height: 14px;
  max-height: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  /* backup value */
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* backup value */
  border-radius: 50%;
}

ul._pi_answers_container li a span._pi_radio_button_inner,
ul._pi_answers_container li:hover a span._pi_radio_button_inner {
  position: relative;
  display: block;
  width: 8px;
  min-width: 8px;
  max-width: 8px;
  height: 8px;
  min-height: 8px;
  max-height: 8px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
}

ul._pi_answers_container li:hover a span._pi_radio_button_inner {
  background-color: rgba(255, 255, 255, 0.5);
  /* backup value */
  border: 1px solid transparent;
  /* backup value */
}

ul._pi_answers_container li a label {
  padding: 8px 15px;
  /* Match it to multi-choice label right padding ONLY */
  margin: 0 !important;
  min-width: 100%;
  width: auto !important;
}

/* ------------------------------ MULTIPLE CHOICE ------------------------------ */
/* Text */
ul._pi_answers_container li label._pi-control-checkbox {
  /* 			width: initial; */
  /* 			float: initial; */
  /* 			margin: initial; */
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: static;
  overflow: hidden;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-top: 8px;
  /* Match to single-choice */
  padding-bottom: 8px;
  /* Match to single-choice */
  padding-left: 0;
  /* Do NOT make it a variable. There's a margin already in checkbox  */
  padding-right: 15px;
  /* Match it to single-choice label right & left padding */
}

/* Hidden Checkbox Form Element (nothing) */
/* Simulated Checkbox */
._pi-control-indicator {
  position: static;
  display: block;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 14px;
      flex-basis: 14px;
  margin-top: 2px;
  /* CREATE a variable for vertical adjust of the box */
  margin-bottom: 0;
  margin-left: 10px;
  /* Make sure it matches the variable for radio left margin */
  margin-right: 10px;
  /* Make sure it matches the variable for radio left margin */
  width: 14px;
  height: 14px;
  border: 1px solid #000;
}

/* Simulated Checkmark (nothing) */
._pi-control-checkbox ._pi-control-indicator:after {
  left: 4px;
  width: 4px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

._pi-control-indicator:after {
  content: '';
  position: relative;
  display: none;
}

/* Maximum Count - Container */
/* Submit Button - Container */
div[data-question-type="multiple_choices_question"] ._pi_free_text_question_field_container,
div[data-question-type="multiple_choices_question"] ._pi_multiple_choices_question_submit_button_container {
  margin: 3px 0;
  width: 100%;
  display: inline-block;
}

input._pi_free_text_question_field,
textarea._pi_free_text_question_field,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_field,
#_pi_surveyWidgetContainer.mobile-enabled textarea._pi_free_text_question_field {
  min-width: 100% !important;
  max-width: 100% !important;
}

/* ------------------------------ RADIO BUTTONS ON/OFF -------------------------------------------- */
div[data-radio-button="off"] ul._pi_answers_container li a span._pi_radio_button_outer {
  display: none !important;
}

div[data-radio-button="on"] ul._pi_answers_container li a span._pi_radio_button_outer {
  display: block !important;
}

/* ------------------------------ TEXT ALIGNMENT: RADIO AND CHECKBOX ------------------------------ */
div[data-radio-button="off"] ul._pi_answers_container li a label {
  text-align: center !important;
}

div[data-radio-button="on"] ul._pi_answers_container li a label {
  text-align: left !important;
}

div[data-answer-widths="fixed"] ul._pi_answers_container li label._pi-control-checkbox {
  text-align: left !important;
}

/* ------------------------------ BUTTON GROUP ALIGNMENT: FIXED, VARIABLE LEFT/RIGHT ------------- */
div[data-answer-widths="variable-center"] ul._pi_answers_container {
  -ms-flex-pack: center;
      justify-content: center;
}

div[data-answer-widths="variable-center"] ul._pi_answers_container li {
  margin: 5px 1% !important;
}

div[data-answer-widths="variable-left"] ul._pi_answers_container {
  -ms-flex-pack: start;
      justify-content: flex-start;
}

div[data-answer-widths="variable-left"] ul._pi_answers_container li {
  margin: 5px 1% !important;
}

div[data-answer-widths="fixed"] ul._pi_answers_container {
  -ms-flex-pack: start;
      justify-content: flex-start;
}

div[data-answer-widths="fixed"] ul._pi_answers_container li {
  margin: 5px 0.9% !important;
}

/* ------------------------------ BUTTON WIDTHS: VARIABLE ---------------------------------------- */
div[data-answer-widths="variable-left"] ul._pi_answers_container li,
div[data-answer-widths="variable-center"] ul._pi_answers_container li {
  /* 	flex: 0 0 auto; */
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

/* 	flex: 1 0 auto;	} */
/* ------------------------------ BUTTON WIDTHS: FIXED ------------------------------------------- */
/* THE DEFAULT FOR FIXED: 3 PER ROW ------------------------------ */
div[data-answer-widths="fixed"] ul._pi_answers_container li {
  -ms-flex: 0 0 31%;
      flex: 0 0 31%;
  max-width: 31%;
}

div[data-answer-widths="fixed"][data-answers-per-row="1"] ul._pi_answers_container li {
  margin: 5px 7% !important;
  -ms-flex: 0 0 86% !important;
      flex: 0 0 86% !important;
  max-width: 86% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="2"] ul._pi_answers_container li {
  -ms-flex: 0 0 48% !important;
      flex: 0 0 48% !important;
  max-width: 48% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="3"] ul._pi_answers_container li {
  -ms-flex: 0 0 31% !important;
      flex: 0 0 31% !important;
  max-width: 31% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="4"] ul._pi_answers_container li {
  -ms-flex: 0 0 23% !important;
      flex: 0 0 23% !important;
  max-width: 23% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="5"] ul._pi_answers_container li {
  -ms-flex: 0 0 18% !important;
      flex: 0 0 18% !important;
  max-width: 18% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="6"] ul._pi_answers_container li {
  -ms-flex: 0 0 14.5% !important;
      flex: 0 0 14.5% !important;
  max-width: 14.5% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="7"] ul._pi_answers_container li {
  -ms-flex: 0 0 12.25% !important;
      flex: 0 0 12.25% !important;
  max-width: 12.25% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="8"] ul._pi_answers_container li {
  -ms-flex: 0 0 10.5% !important;
      flex: 0 0 10.5% !important;
  max-width: 10.5% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="9"] ul._pi_answers_container li {
  -ms-flex: 0 0 9.1% !important;
      flex: 0 0 9.1% !important;
  max-width: 9.1% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="10"] ul._pi_answers_container li {
  -ms-flex: 0 0 8% !important;
      flex: 0 0 8% !important;
  max-width: 8% !important;
}
