:ruby
  survey ||= nil
  questions_fields ||= nil

.options
  %a{:href => '#', :class => 'options-link'}
    .arrow &#9658;
    Options
  .options-content
    .options-group.answers-options

      .form-group.numeric
        %label Height
        .controls
          = questions_fields.text_field :height, numeric: true
          %p.hint line(s)
      .form-group.numeric
        %label Max. length
        .controls
          = questions_fields.text_field :max_length, numeric: true
          %p.hint characters

      - if survey.display_all_questions
        .optional-question
          = questions_fields.input_field :optional, as: :boolean, inline_label: 'Optional', checked: questions_fields.object.optional.present?, id: 'optional-checkbox'
