// THE _selectors FILE:
@import '../../01-css-pulse/_selectors';

// DEFAULT VARIABLES
@import '../_default/_default-1-variables';

// CLIENT-SPECIFIC DESIGN VARIABLES
@import '_huggies_variables';

// GLOBAL MAPS:
@import '../../01-css-pulse/_maps';

// GLOBAL MIXINS
@import '../../01-css-pulse/_mixins';

// THE GLOBAL STRUCTURE FOR FRAMEWORK V2:
@import '../../01-css-pulse/_theme-structure';

#_pi_surveyWidget{
   border: none !important;
   background-color: white !important;
}
#_pi_surveyWidgetContainer:not(.mobile-enabled){
  #_pi_surveyWidget{
    box-shadow: 0 2px 10px 2px #ccc !important;  
  }
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container{
  ._pi_free_text_question_field_container{
    width: 100% !important;
  }
  input[type="submit"]{
    background-color: #da291c !important;
    &:hover {
         background: linear-gradient(#e04b5a,#da291c) !important;
     }
  }
  &[data-question-nps="t"]{
    li{
      label{
        padding: 10px !important;
      }
    }
  }
  &[data-question-type="multiple_choices_question"]{
    li{
      label{
        color: #222 !important;
        padding: 15px !important;
      }
      &:hover{
        color: #fff !important;
      }
    }
  }
  &[data-radio-button="off"]:not([data-question-type="multiple_choices_question"]), &[data-radio-button="on"]:not([data-question-type="multiple_choices_question"]){
    li {
       border-radius: 30px !important;
       background-color: #da291c;
       font-family: "Omnes",Arial,sans-serif;
       font-size: 12px;
       font-weight: 300;
       font-style: normal;
       color: #fff;
       text-transform: uppercase;
       padding: 1.5px 5px;
       line-height: 35px;
       font-size: 12px;
       margin-bottom: 30px;
       padding: 0 30px;
       text-align: center;
       &:hover {
            background: linear-gradient(#e04b5a,#da291c) !important;
            a{
              background-color: transparent !important;
              label{
                background-color: transparent !important;
              }
            }
       }
    }
  }
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-radio-button="off"] li label{
 margin: 0px !important;
 width: 100% !important;
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_question{
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222;
    font-size: 2.3125rem;
    line-height: 1.1;
    font-family: "Omnes",Arial,sans-serif;
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ._pi_thankYouSurvey{
    color: #222;
}
div#_pi_surveyWidgetContainer:not(.mobile-enabled) ul[data-radio-button="on"] li{
  a span._pi_radio_button_outer{
    min-width: 14px !important;
    min-height: 14px !important;
    > span{
      left: 1px !important;
      top: 1px !important;
    }
  }
  &:hover a span._pi_radio_button_outer{
    min-width: 14px !important;
    min-height: 14px !important;
    > span{
      left: 1px !important;
      top: 1px !important;
    }
  }
}
//
// #_pi_surveyWidget{
//    border: none !important;
//    box-shadow: 0 2px 10px 2px #ccc;
// }
// #_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-radio-button="off"] li {
//    border-radius: 30px;
//    background-color: #da291c;
//    font-family: "Omnes",Arial,sans-serif;
//    font-size: 12px;
//    font-weight: 300;
//    font-style: normal;
//    color: #fff;
//    text-transform: uppercase;
//    padding: 1.5px 5px;
//    line-height: 35px;
//    font-size: 12px;
//    margin-bottom: 30px;
//    padding: 0 30px;
//    text-align: center;
// }
// #_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-radio-button="off"] li:hover {
//      background: linear-gradient(#e04b5a,#da291c);
// }
// #_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-radio-button="off"] li label{
//  margin: 0px !important;
//  width: 100% !important;
// }
// #_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_question{
//     font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
//     font-weight: normal;
//     font-style: normal;
//     color: #222;
//     font-size: 2.3125rem;
//     line-height: 1.1;
//     font-family: "Omnes",Arial,sans-serif;
// }
// #_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ._pi_thankYouSurvey{
//     color: #222;
// }
