.accounts-controller, .users-controller {
  .users-accounts-count {
    margin-top: 40px;
    margin-bottom: -20px;
    .count-link {
      display: inline-block;
      margin-right: 15px;
      a {
        color: $text-color;
        text-decoration: underline;
      }
    }
  }

  .edit-account-form {
    form {
      .form-group {
        &.account_max_submissions .controls {
          position: relative;

          .or_flag {
            position: absolute;
            bottom: -20px;
            left: 75px;
          }
        }

        .controls {
          .value {
            font-size: 14px;
            padding-top: 7px;
          }

          #user_invite_email {
            width: 100%;
          }
        }
      }
    }

    .statuses {
      padding-top: 20px;

      .status {
        display: inline-block;
        font-size: 16px;
        vertical-align: middle;
        margin-right: 120px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .users {
      margin-top: 30px;
    }

    .delete-account-user-button {
      margin-left: 10px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.ui-autocomplete {
  display: inline-block;
  padding: 6px 0;

  .ui-menu-item {
    padding: 6px 12px;
    list-style: none;
    background: #fff;
    cursor: pointer;

    &:hover {
      background-color: #f7f7f7;
    }

    a {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.settings-row {
  display: flex;
  justify-content: space-between;

  .settings-container {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      margin: 0;
      font-size: 14px;
      font-weight: 300;
    }

    input {
      @include custom-checkbox(#909ba7, #909ba7, #5181bd, $pi-neutral-color, $pi-neutral-color);
      margin: 0 0 0 15px;
    }
  }

  .settings-description {
    margin-left: 10px;
    margin-bottom: 0;
  }

  .button-container {
    button {
      width: 154px;
    }
  }
}
