.qrvey_dashboard_mappings-controller {
  padding-top: ($navbar-height + 10);
}

.new-entry-container {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.dashboards-table {
  th {
    font-size: 20px;
    padding: 10px;
  }

  td {
    border: 1px solid $pi-neutral-color-border;
  }

  .read-only-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .edit-mode-input {
    width: 100%;
  }
}
