.submissions-controller {
  font: {
    family: 'Raleway';
  }

  .datepicker-wrapper {
    padding: 10px 0;
  }

  .completion-url-section {
    padding: 0;
    margin: 0;
  }

  .completion-url-container {
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
  }

  .completion-url-field {
    flex-grow: 2;
  }

  .input-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 20px;

    label {
      margin: 0;
    }

    input {
      padding: 0;
    }
  }
}
