@import '_01-1_cardiactesting-variables';
@import '../../../01_css-pulse/assets/_mixins';

.run {margin:53px}

// ======================= TOP CONTAINER ========================
#{$top-container},
#{$top-container-mobi} {
	@include builder("widget-container");
}

#{$top-container},
#{$top-container-mobi},
#{$top-container} *,
#{$top-container-mobi} * {
	appearance: none;
	box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}










// ======================= SURVEY WIDGET ========================
#{$widget-default},
#{$widget-default-mobi} { @include builder("widget-default"); }

#{$widget-custom},
#{$widget-custom-mobi} { @include builder("widget-custom"); }

#{$widget-inline},
#{$widget-inline-mobi} { @include builder("widget-inline"); }

#{$widget-bottom},
#{$widget-bottom-mobi} { @include builder("widget-bottombar"); }

#{$widget-docked},
#{$widget-docked-mobi} { @include builder("widget-docked"); }

#{$widget-topbar},
#{$widget-topbar-mobi} { @include builder("widget-topbar"); }

#{$widget-fullsc},
#{$widget-fullsc-mobi} { @include builder("widget-fullscreen"); }


			div#_pi_surveyWidget {
				display: 			flex;
				flex-direction: 	column;
				flex-wrap:			nowrap;
				justify-content: 	flex-start;
				align-items: 		center;	
				height: 				auto;

				width: 				100%;
				margin: 				auto;
				padding-bottom: 	0px;
			}


			div#_pi_surveyWidgetCustom {
				display: 			flex;
				flex-direction: 	column;
				flex-wrap: 			nowrap;
				justify-content: 	space-between;
				align-items: 		center;
				align-content: 	space-between;	
			}











/* closeclose */
/* ======================= CLOSE BUTTON ======================== */

#{$close-default},
#{$close-default-mobi} 	{ @include builder("close-default"); }
#{$close-default-hover} { @include builder("close-default-hover"); }

#{$close-custom},
#{$close-custom-mobi} 	{ @include builder("close-custom"); }
#{$close-custom-hover} 	{ @include builder("close-custom-hover"); }

#{$close-inline},
#{$close-inline-mobi} 	{ @include builder("close-inline"); }
#{$close-inline-hover} 	{ @include builder("close-inline-hover"); }

#{$close-bottom},
#{$close-bottom-mobi} 	{ @include builder("close-bottombar"); }
#{$close-bottom-hover} 	{ @include builder("close-bottombar-hover"); }

#{$close-docked},
#{$close-docked-mobi} 	{ @include builder("close-docked"); }
#{$close-docked-hover} 	{ @include builder("close-docked-hover"); }

#{$close-topbar},
#{$close-topbar-mobi} 	{ @include builder("close-topbar"); }
#{$close-topbar-hover} 	{ @include builder("close-topbar-hover"); }

/* closefull */
#{$close-fullsc},
#{$close-fullsc-mobi} 	{ @include builder("close-fullscreen"); }
#{$close-fullsc-hover} 	{ @include builder("close-fullscreen-hover"); }


			div._pi_closeButton,
			div._pi_closeCustomButton { 
				position: static !important;
			}




















/* contentcontainer */
// ======================= CONTENT CONTAINER ===================
#{$content-container-default},
#{$content-container-default-mobi} { @include builder("content-container-default"); }
#{$content-container-default-mobi} { @include builder("content-container-default-mobi"); }

#{$content-container-single},
#{$content-container-single-mobi} { @include builder("content-container-single"); }
#{$content-container-single-mobi} { @include builder("content-container-single-mobi"); }

#{$content-container-multi},
#{$content-container-multi-mobi} { @include builder("content-container-multi"); }
#{$content-container-multi-mobi} { @include builder("content-container-multi-mobi");}

#{$content-container-free},
#{$content-container-free-mobi} { @include builder("content-container-free"); }
#{$content-container-free-mobi} { @include builder("content-container-free-mobi"); }

#{$content-container-custom},
#{$content-container-custom-mobi} { @include builder("content-container-custom"); }
#{$content-container-custom-mobi} { @include builder("content-container-custom-mobi"); }

#{$content-container-custom-full},
#{$content-container-custom-full-mobi} { @include builder("content-container-custom-full"); }
#{$content-container-custom-full-mobi} { @include builder("content-container-custom-full-mobi");}


			#{$content-container-default},
			#{$content-container-custom} {
				display: 			flex;
				flex-direction: 	row;
				flex-wrap:			wrap;     
				justify-content:	center;
				align-items: 		center;

				width: 				100%;
			}

			// Desktop
			@media (min-width:769px) {
				#{$content-container-default},
				#{$content-container-custom} 			{ max-width: 900px; }
			}

			// Tablet
			@media (max-width:768px) {
				#{$content-container-default},
				#{$content-container-custom} 			{ max-width: 750px; }
			}

			// iPhone 6S plus
			@media (max-width:414px) {
				#{$content-container-default-mobi},
				#{$content-container-custom-mobi} 	{	max-width: 400px; }
			}

			// iPhone 6 and smaller
			@media (max-width:375px) {
				#{$content-container-default-mobi},
				#{$content-container-custom-mobi} 	{ max-width: 355px; }
			}













// ======================= QUESTION TYPES ======================
#{$question-single},
#{$question-single-mobi} { @include builder("question-single");}
#{$question-single-mobi} { @include builder("question-single-mobi"); }

#{$question-multi},
#{$question-multi-mobi} { @include builder("question-multi"); }
#{$question-multi-mobi} { @include builder("question-multi-mobi"); }

#{$question-free},
#{$question-free-mobi} { @include builder("question-free"); }
#{$question-free-mobi} { @include builder("question-free-mobi"); }

// NOTE: This only applies to the first <p> tag of the custom question
#{$question-custom},
#{$question-custom-mobi} { @include builder("question-custom"); }
#{$question-custom-mobi} { @include builder("question-custom-mobi"); }

#{$question-custom-full},
#{$question-custom-full-mobi} { @include builder("question-custom-full"); }
#{$question-custom-full-mobi} { @include builder("question-custom-full-mobi"); }


			// ================== PENDING | QUESTION ==================
			// B1) QUESTION | desktop
			div._pi_question,
			div._pi_question_custom_content_question,
			div._pi_question_custom_content_question_fullscreen {
				height: 	auto;
				width: 	90%;
				// margin: 	0 auto 0 auto;
				margin: 	0;
				padding: 0 0 10px 0;
			}

			// B1) QUESTION | mobile
			#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer div._pi_question,
			#{$widget-custom-mobi} ._pi_widgetContentContainer div._pi_question_custom_content_question,
			#{$widget-custom-mobi} ._pi_widgetContentContainer div._pi_question_custom_content_question_fullscreen {
				width: 	95%;
				// margin: 	0 auto 0 auto !important;
				margin: 	0 !important;
				padding: 0 0 10px 0;
			}













// ======================= ANSWERS CONTAINER ======================
	._pi_answers_container,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_answers_container {
		@include builder("answers-container");
	}
















/* asdf */
// ======================= FONTS, BUTTONS, TEXT FIELDS =======================

// MEDIUM FONT ================================================== 
// default
#{$card-type-single} 					li a #{$single-choice-text},
#{$card-type-single-radio-on} 		li a #{$single-choice-text},
#{$card-type-multi} 						li #{$multi-choice-text},
#{$card-type-free} 						#{$free-text-one-line-text},
#{$card-type-free} 						#{$free-text-multi-line-text},
#{$card-type-custom} 					#{$custom-text},
#{$card-type-custom-full} 				#{$custom-full-text},

// mobile
#{$card-type-single-mobi} 				li a #{$single-choice-text},
#{$card-type-single-radio-on-mobi} 	li a #{$single-choice-text},
#{$card-type-multi-mobi} 				li #{$multi-choice-text},
#{$card-type-free-mobi} 				#{$free-text-one-line-text},
#{$card-type-free-mobi} 				#{$free-text-multi-line-text},
#{$card-type-custom-mobi} 				#{$custom-text},
#{$card-type-custom-full-mobi} 		#{$custom-full-text}, 

// hover
#{$card-type-single} 					li:hover a #{$single-choice-text},
#{$card-type-single-radio-on} 		li:hover a #{$single-choice-text},
#{$card-type-multi} 						li:hover #{$multi-choice-text},
#{$card-type-free} 						#{$free-text-one-line-text}#{$pseudo-hover},
#{$card-type-free} 						#{$free-text-multi-line-text}#{$pseudo-hover},

// focus
#{$card-type-free} 						#{$free-text-one-line-text}#{$pseudo-focus},
#{$card-type-free} 						#{$free-text-multi-line-text}#{$pseudo-focus}
{
	@include builder("medium-font");
}


#{$card-type-single-mobi} 				li a #{$single-choice-text},
#{$card-type-single-radio-on-mobi} 	li a #{$single-choice-text},
#{$card-type-multi-mobi} 				li #{$multi-choice-text},
#{$card-type-free-mobi} 				#{$free-text-one-line-text},
#{$card-type-free-mobi} 				#{$free-text-multi-line-text},
#{$card-type-custom-mobi} 				#{$custom-text},
#{$card-type-custom-full-mobi} 		#{$custom-full-text}
{
	@include builder("medium-font-mobi");
}


#{$card-type-single} 					li:hover a #{$single-choice-text},
#{$card-type-single-radio-on} 		li:hover a #{$single-choice-text},
#{$card-type-multi} 						li:hover #{$multi-choice-text}
{
	@include builder("medium-font-hover");	
}


input._pi_free_text_question_field::-moz-placeholder 					{ color: $font-md-placeholder }
input._pi_free_text_question_field:-moz-placeholder 					{ color: $font-md-placeholder }
input._pi_free_text_question_field::-ms-input-placeholder 			{ color: $font-md-placeholder }
input._pi_free_text_question_field::-webkit-input-placeholder 		{ color: $font-md-placeholder }

textarea._pi_free_text_question_field:-moz-placeholder 				{ color: $font-md-placeholder }
textarea._pi_free_text_question_field::-moz-placeholder 				{ color: $font-md-placeholder }
textarea._pi_free_text_question_field::-ms-input-placeholder 		{ color: $font-md-placeholder }
textarea._pi_free_text_question_field::-webkit-input-placeholder 	{ color: $font-md-placeholder }







// BUTTONS ======================================================================
// Free Text, Multi Choice, Custom Content, Custom Content Fullscreen, Invitation

#{$card-type-free} input._pi_free_text_question_submit_button,
#{$card-type-multi} input._pi_multiple_choices_question_submit_button,
#{$card-type-custom} ._pi_question_custom_content_question button.pi_question_link,
#{$card-type-custom-full} ._pi_question_custom_content_question button.pi_question_link,
#{$invitation-button},

#{$card-type-free-mobi} input._pi_free_text_question_submit_button,
#{$card-type-multi-mobi} input._pi_multiple_choices_question_submit_button,
#{$card-type-custom-mobi} ._pi_question_custom_content_question button.pi_question_link,
#{$card-type-custom-full-mobi} ._pi_question_custom_content_question button.pi_question_link,
#{$invitation-button-mobi} 
{
	@include builder("submit-button");
}

#{$card-type-free-mobi} input._pi_free_text_question_submit_button,
#{$card-type-multi-mobi} input._pi_multiple_choices_question_submit_button,
#{$card-type-custom-mobi} ._pi_question_custom_content_question button.pi_question_link,
#{$card-type-custom-full-mobi} ._pi_question_custom_content_question button.pi_question_link,
#{$invitation-button-mobi} 
{
	@include builder("submit-button-mobi");
}

#{$card-type-free} input._pi_free_text_question_submit_button:hover,
#{$card-type-multi} input._pi_multiple_choices_question_submit_button:hover,
#{$card-type-custom} ._pi_question_custom_content_question button.pi_question_link:hover,
#{$card-type-custom-full} ._pi_question_custom_content_question button.pi_question_link,
#{$invitation-button-hover} 
{
	@include builder("submit-button-hover");		
}

				// HARDCODED TO ALLOW SPACE IN MULTIPLE CHOICE SPECIAL CASE
				#{$card-type-multi} input._pi_multiple_choices_question_submit_button,
				#{$card-type-multi-mobi} input._pi_multiple_choices_question_submit_button {
					margin-top: 10px;
				}

				// SKIPPING THIS BECAUSE YOU CAN'T ADD PSEUDO :AFTER TO AN INPUT TAG
				#{$card-type-free} input._pi_free_text_question_submit_button:after,
				#{$card-type-multi} input._pi_multiple_choices_question_submit_button:after,
				#{$card-type-custom} ._pi_question_custom_content_question button.pi_question_link:after,
				#{$card-type-custom-full} ._pi_question_custom_content_question button.pi_question_link,
				#{$invitation-button}#{$pseudo-after}
				{
					// content: '\27eb';
					// background-color: blue !important;
					// display: inline-block;
					// position: static;
				}



/* smallsmall */
// SMALL FONT ================================================== 
// Branding, Free Text Character Count, Multiple Choice Count

#{$character-count},
#{$multi-max-count},
#{$branding},
#{$branding-hover},
#{$branding-custom},
#{$branding-custom-hover} { @include builder("small-font"); }

#{$branding-hover},
#{$branding-custom-hover} { @include builder("small-font-hover"); }

#{$character-count-mobi},
#{$multi-max-count-mobi},
#{$branding-mobi},
#{$branding-custom-mobi} { @include builder("small-font-mobi"); }














	



/* singlesingle */
// ======================= SINGLE CHOICE =======================

	// CONTAINER WIDTHS
	#{$card-type-single} ul._pi_answers_container {
		width: 100% !important;
	}

	#{$card-type-single-mobi} ul._pi_answers_container {
		width: 98% !important;
	}


	// SINGLE CHOICE - ANSWERS
	#{$card-type-single} li,
	#{$card-type-single} li a,
	#{$card-type-single} li a #{$single-choice-text}  {
		@include builder("single-choice-answer-all");	
	}

	#{$card-type-single} li,
	#{$card-type-single-mobi} li {
		@include builder("single-choice-answer-each");
	}


			/* singleradio */
			// RADIO BUTTONS
			#{$radio-button-outer} {
				@include builder("radio-button-outer");
			}

			/* radioradio*/

			@media (min-width:769px) {
				#{$radio-button-outer-hover} {
					@include builder("radio-button-outer-hover");
				}

				#{$radio-button-inner-hover} {
					@include builder("radio-button-inner-hover");
				}
			}


	/* singletext */
	// TEXT - RADIO OFF - ALL BREAKING POINTS
	#{$card-type-single} li a #{$single-choice-text}  {
		padding: 12px 30px;
		width: 100% !important;
		min-width: auto;
	}

	// TEXT - RADIO ON - ALL BREAKING POINTS
	#{$card-type-single-radio-on} li a #{$single-choice-text}  {
		padding: 10px 8px;
	}


	// SINGLE CHOICE - DESKTOP - INCLUDING HOVERS
	@media (min-width:769px) {
		#{$card-type-single} li:hover,
		#{$card-type-single} li:hover a,
		#{$card-type-single} li:hover a #{$single-choice-text}  {
			@include builder("single-choice-answer-all-hover");
		}

		#{$card-type-single} li:hover {
			@include builder("single-choice-answer-each-hover");
		}
		
		#{$card-type-single} li:hover a #{$single-choice-text}  {
		}
		
		#{$card-type-single-radio-on} li:hover a #{$single-choice-text}  {
		}	
	}


	// SINGLE CHOICE - TABLET
	@media (min-width:415px) and (max-width:768px) {
		#{$card-type-single} li a #{$single-choice-text}  {
			padding: 12px 20px !important;
		}
		
		#{$card-type-single-radio-on} li a #{$single-choice-text}  {
			padding: 10px 8px !important;
		}
	}


	// SINGLE CHOICE MOBILE
	@media (max-width:414px) {
		// TEXT - RADIO OFF
		#{$card-type-single-mobi} li a #{$single-choice-text}  {
			padding: 12px 15px !important;
		}

		// TEXT - RADIO ON
		#{$card-type-single-radio-on-mobi} li a #{$single-choice-text}  {
			padding: 10px 8px !important;
		}
	}















/* multimulti */
// ======================= MULTIPLE CHOICE =======================

	// ANSWER CONTAINER WIDTHS
	#{$card-type-multi} ul._pi_answers_container {
		width: 100%;
	}

	#{$card-type-multi-mobi} ul._pi_answers_container {
		width: 98%;
	}

	// MULTIPLE CHOICE - ANSWERS
	#{$card-type-multi} li,
	#{$card-type-multi} li #{$multi-choice-text} {
		@include builder("multi-choice-answer-all");
	}

	#{$card-type-multi} li,
	#{$card-type-multi-mobi} li {
		@include builder("multi-choice-answer-each");
	}


			/* multicheck */
			// CHECKBOXES
			#{$multi-checkbox-outer} {
				margin-top: 0px !important;
				@include builder("multi-checkbox-outer");
			}

			#{$multi-checkbox-checkmark} {
				@include builder("multi-checkbox-checkmark");
			}

			@media (min-width:769px) {
				#{$multi-checkbox-outer-hover} {
					@include builder("multi-checkbox-outer-hover");
				}

				#{$multi-checkbox-checkmark-hover} {
					@include builder("multi-checkbox-checkmark-hover");
				}
			}


							// PENDING CHECKMARK ================
							div.pi-control-checkbox div._pi-control-indicator:after {
								 left: $checkmark-left-offset 		!important;
								 width: $checkmark-width 				!important;
								 height: $checkmark-height 			!important;
							}
							#{$top-container-mobi} div.pi-control-checkbox div._pi-control-indicator:after {
								 left: $checkmark-left-offset-mobi 	!important;
								 width: $checkmark-width-mobi 		!important;
								 height: $checkmark-height-mobi 		!important;
							}


	/* multitext */
	// TEXT - ALL BREAKING POINTS
	#{$card-type-multi} li #{$multi-choice-text} {
		padding: 15px 15px 15px 0;
	}


	// MULTIPLE CHOICE - DESKTOP - INCLUDING HOVERS
	@media (min-width:769px) {		
		#{$card-type-multi} li:hover,
		#{$card-type-multi} li:hover #{$multi-choice-text} {
			@include builder("multi-choice-answer-all-hover");
		}				

		#{$card-type-multi} li:hover {
			@include builder("multi-choice-answer-each-hover");
		}

		#{$card-type-multi} li:hover #{$multi-choice-text} {
		}
	}


	// MULTIPLE CHOICE - TABLET
	@media (min-width:415px) and (max-width:768px) {
		#{$card-type-multi} li #{$multi-choice-text} {
			padding: 13px 13px 13px 0;
		}
	}


	// MULTIPLE CHOICE - MOBILE
	@media (max-width:414px) {
		#{$card-type-multi-mobi} li #{$multi-choice-text} {
			padding: 10px 10px 10px 0;
		}
	}

						// PENDING ===============
						div._pi_multiple_choices_count {
							height: auto;
							padding: 4px 0 6px !important;
							text-align: center;
						}	














// ======================= FREE TEXT =======================

	div[data-question-type="free_text_question"] ._pi_answers_container { }

	div[data-question-type="free_text_question"] ._pi_question { }

	input._pi_free_text_question_field,
	textarea._pi_free_text_question_field {
		border-radius: 0px;
	}

	ul._pi_answers_container input[type="text"],
	input._pi_free_text_question_field {
		border-width: 1px 1px 1px 1px;
		border-style: solid;
		border-color: #ccc;
      box-shadow: 0 0 0 0 #ccc;
		padding: 0;
		margin: 0;
		background-color: #fafafa;
	}

	ul._pi_answers_container input[type="text"]:hover,
	input._pi_free_text_question_field:hover {
		border-width: 1px 1px 1px 1px;
		border-style: solid;
		border-color: #aaa;
      box-shadow: 0 0 0 0 #aaa;
		padding: 0;
		margin: 0;
		background-color: #f3f3f3;
	}

	ul._pi_answers_container input[type="text"]:focus,
	input._pi_free_text_question_field:focus {
		border-width: 1px 1px 1px 1px;
		border-style: solid;
		border-color: #999;
      box-shadow: 0 0 0 0 #999;
		padding: 0;
		margin: 0;
		background-color: #f3f3f3;
	}

	ul._pi_answers_container textarea._pi_free_text_question_field {
		border-width: 1px;
		border-style: solid;
		border-color: #ccc;
      box-shadow: 0 0 0 0 #ccc;
		padding: 0;
		margin: 0;
		background-color: #fafafa;
	}

	ul._pi_answers_container textarea._pi_free_text_question_field:hover {
		border-width: 1px;
		border-style: solid;
		border-color: #aaa;
      box-shadow: 0 0 0 0 #aaa;
		padding: 0;
		margin: 0;
		background-color: #f3f3f3;
	}

	ul._pi_answers_container textarea._pi_free_text_question_field:focus {
		border-width: 1px;
		border-style: solid;
		border-color: #999;
      box-shadow: 0 0 0 0 #999;
		padding: 0;
		margin: 0;
		background-color: #f3f3f3;
	}

	div._pi_free_text_question_characters_count {
		text-align: right;
		padding-top: 7px !important;
	}

	div._pi_free_text_question_submit_button_container {}



		// ================== FREE TEXT ==================
		// B3) ANSWERS CONTAINER | desktop
		div[data-question-type="free_text_question"] ul._pi_answers_container {
			width: 	80% !important;
			padding: 0 !important;
			margin: 	0 !important;

			display: 			flex;
			flex-direction: 	row;
			flex-wrap: 			nowrap;
			justify-content: 	space-around;
			align-items: 		flex-start;
		}

		// B3) ANSWERS CONTAINER | mobile
		#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="free_text_question"] ul._pi_answers_container {
			width: 		95% !important;
			margin: 		0 0 0 0;
			flex-wrap: 	nowrap !important;
		}

						// B3.a) FIELD CONTAINER | desktop
						._pi_free_text_question_field_container,
						#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
							@include builder("free-text-question-field-container");
						}

						._pi_free_text_question_field_container {
							padding: 0 !important;
							margin:	0 !important;

							flex: 	1 1 auto;
						}

						div[data-question-type="multiple_choices_question"] ._pi_free_text_question_field_container {
							background-color: rgba(255, 255, 255, 0);
							margin: 0 !important;
						}


			// B3.a) FIELD CONTAINER | mobile
			#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
				padding: 0;
				margin: 	0;

				flex: 	1 1 auto;
			}

				// B3.a1) INPUT AND TEXTAREA FIELDS
				input._pi_free_text_question_field {
					height: 		auto;
					padding: 	0.5rem !important;
				}
				
				textarea._pi_free_text_question_field {
					height: 		auto;
					padding: 	0.5rem !important;
				}
				
				// B3.a2) CHARACTERS COUNT
				._pi_free_text_question_characters_count {
					padding: 	3px 0 0 0 !important;
					margin: 		0 !important;
				}

			// B3.b) SUBMIT BUTTON CONTAINER | desktop
			._pi_free_text_question_submit_button_container {
				padding: 		0 !important;
				padding-left: 	10px !important;
				margin: 			0 !important;

				flex: 			0 1 auto;
				align-self:		flex-start;
			}

					div[data-question-type="multiple_choices_question"] ._pi_multiple_choices_question_submit_button_container {
						background-color: rgba(255, 255, 255, 0);
						margin: 0 !important;
					}

					// Button under the text box in Docked Widget
					#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] ._pi_free_text_question_submit_button_container {
						padding: 4px 0 2px 0 !important;
						flex: 	1 1 auto;
					}



			// B3.b) SUBMIT BUTTON CONTAINER | mobile
			#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
				padding: 		0 !important;
				padding-left: 	5px !important;
				margin: 			0 !important;
				
				flex: 			0 1 auto;
			}

				// B3.b1) SUBMIT BUTTON
				._pi_free_text_question_submit_button {
					margin-right: 0;
				}













/* invinvi */
// ======================= INVITATION TEXT ======================
#{$invitation},
#{$invitation-mobi} { @include builder("invitation"); }
#{$invitation-mobi} { @include builder("invitation-mobi"); }

#{$invitation-button},
#{$invitation-button-mobi} { @include builder("invitation-button"); }
#{$invitation-button-mobi} { @include builder("invitation-button-mobi"); }










/* thanky */
// ======================= THANK YOU ======================
#{$thank-you},
#{$thank-you-mobi} { @include builder("thank-you"); }
#{$thank-you-mobi} { @include builder("thank-you-mobi"); }











/* branbran */
// ======================= BRANDING ======================
#{$branding},
#{$branding-mobi} { @include builder("branding"); }
#{$branding-mobi} { @include builder("branding-mobi"); }

#{$branding-custom},
#{$branding-custom-mobi} { @include builder("branding-custom"); }
#{$branding-custom-mobi} { @include builder("branding-custom-mobi"); }

			#{$branding},
			#{$branding-mobi} {
				display: 		block;
				position: 		relative;
				bottom:			0;
				left: 			0;
				width: 			auto;   
			}


