	// ================== D2. FREE TEXT QUESTION FIELD CONTAINER ====================================
	div[data-question-type="multiple_choices_question"] ._pi_free_text_question_field_container {
		background-color: rgba(255, 255, 255, 0);
		margin: 0 !important;
	}






		// ================== E3. MULTIPLE CHOICE SELECTION COUNT ====================================
		div._pi_multiple_choices_count {
			height: auto;
			padding: 4px 0 6px !important;
			text-align: center;
			// background-color: ivory !important;
		}








// FLEX
// ================== D2. FREE TEXT QUESTION FIELD CONTAINER
div[data-question-type="multiple_choices_question"] ._pi_free_text_question_field_container {
	margin: 	3px 0;
	width: 	100%;
	display: inline-block;
}