#_pi_surveyWidgetContainer {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget[survey-widget-type="fullscreensurvey"] {
  height: auto !important;
  width: 600px !important;
  position: relative;
  background-color: #f9f7f4;
  max-width: 90vw !important;
  border: 3px solid rgba(174, 174, 174, 0.6);
  padding: 2%;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget[survey-widget-type="fullscreensurvey"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="free_text_question"] {
  flex-wrap: wrap !important;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget[survey-widget-type="fullscreensurvey"] div._pi_widgetContentContainer ul._pi_answers_container[data-question-type="free_text_question"] div._pi_free_text_question_field_container {
  width: 100%;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget[survey-widget-type="fullscreensurvey"] a._pi_branding {
  padding-top: 15px !important;
}
