/* ------------------------------- MULTIPLE CHOICE ONLY ------------------------------- */

div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
	width: 100% !important;
	background-color: white;
	margin-bottom: 10px !important;
	// max-width: 1035px !important;
}

// LARGE DESKTOP
@media (min-width: 1072px) {
	div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
		max-width: 1035px !important;
	}
}

// SMALL DESKTOP
@media (min-width: 769px) and (max-width: 1071px) {
	div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
		max-width: 900px !important;
	}
}

// TABLET
@media (min-width: 415px) and (max-width: 768px) {
	div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
		max-width: 700px !important;
	}
}

// MOBILE
@media (max-width: 414px) {
	div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
		max-width: 100% !important;
	}
}


div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="2"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="4"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="6"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="8"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="10"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="12"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="14"] ul._pi_answers_container {
	max-width: 750px !important;
}

div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="2"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="4"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="6"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="8"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="10"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="12"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="14"] ul._pi_answers_container li {
	flex: 0 0 48% !important; 
	max-width: 48% !important;
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
	width: 98% !important;
}

div[data-question-type="multiple_choices_question"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"] ul._pi_answers_container li:hover,
div[data-question-type="multiple_choices_question"] ul._pi_answers_container li:hover label._pi-control-checkbox {
	border-radius: 0 !important;
	border: 1px solid #fff !important;
	background-color: #fff !important;
}

		// Text
		ul._pi_answers_container li label._pi-control-checkbox {
			background-color: #fff !important;
			color: #44484C !important;
			border: 1px solid #fff !important;
			border-radius: 0px !important;
			padding: 8px 10px 8px 0 !important;
			line-height: 20px !important;
		}

		// Text - Tablet and Desktop Hover
		@media (min-width:769px) {
			ul._pi_answers_container li:hover label._pi-control-checkbox {		
				background-color: #fff !important;
				border: 1px solid #fff !important;
				color: #44484C !important;
			}
		}

		// Text - Mobile
		#_pi_surveyWidgetContainer.mobile-enabled label._pi-control._pi-control-checkbox {
			font-size: 15px !important;
			padding: 8px 10px 8px 0 !important;
		}


				// Checkbox
				._pi-control-indicator {
					background-color: #F2F4F5 !important;
					border: 1px solid #646A70 !important;
					border-radius: 3px !important;
					border-width: 1px !important;
					margin-top: 0px !important;
					margin-left: 0px !important;
					width: 18px !important;
					flex-basis: 18px !important;
					height: 18px !important;
				}

				._pi-control-indicator:after {
					border-color: #0272b6 !important;
					top: 2px !important;
					left: 6px !important;
					width: 3px !important;
					height: 10px !important;
				}

				// Checkbox - Tablet and Desktop Hover	
				@media (min-width:769px) {
					ul._pi_answers_container li:hover ._pi-control-indicator {					
						background-color: #0272B6 !important;
						border: 1px solid #0272B6 !important;
					}

					ul._pi_answers_container li:hover ._pi-control-indicator:after {
						border-color: #fff !important;
					}
				}

div[data-question-type="multiple_choices_question"] 
	._pi_multiple_choices_question_submit_button_container {
	margin-top: 10px !important;
}

div[data-question-type="multiple_choices_question"] 
	div._pi_multiple_choices_question_submit_button_container 
		input._pi_multiple_choices_question_submit_button {
			font-size: 16px !important;
			min-width: 160px !important;
			min-height: 44px !important;
		}

