// blue: #0272b6;


// CANCELLING OUT COMCAST'S CSS
#{$top-container} a:focus, 
#{$top-container} .link:focus {
	outline: 0;
	box-shadow: none !important;
	border: 0 !important;
}





// ------------------ FIXED - SINGLE CHOICE ---------------------------------

	// FIXED WITHOUT RADIO ---------------------------------
	// BLUE background 
	// CENTERED text
	// NO border

	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-off} li,
	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-off} li a,
	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-off} li a label {
		background-color: #0272b6 !important;
		border: 0 !important;
		color: #fff !important;	
	}

	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-off} li a label,
	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-off} li a label {
		padding: 14px 25px !important;
	}


	// FIXED WITH RADIO ---------------------------------
	// WHITE background 
	// RADIO BUTTON
	// LEFT-ALIGNED text
	// NO border
	// NO margin on the left of the RADIO BUTTON

	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-on} li,
	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-on} li a,
	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-on} li a label {
		background-color: #fff !important;
		border: 0 !important;
		color: #44484C !important;
	}

	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-on} li {
		padding: 0 !important;
	}

	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-on} li a label {
		padding: 10px 22px 10px 12px !important;
	}

	#{$card-type-single}#{$answer-widths-fixed}#{$radio-button-on} li a span._pi_radio_button_outer {
		margin: 0 !important;
	}
	
	// RADIO BUTTONS
	ul._pi_answers_container li a span._pi_radio_button_outer {
		background-color: #F2F4F5 !important;
		border: 1px solid #B1B9BF !important;
	}

	// RADIO BUTTONS - Tablet and Desktop Hover
	@media (min-width:769px) {
		ul._pi_answers_container li:hover a span._pi_radio_button_outer {
			background-color: #2B9CD8 !important;
			border: 1px solid #2B9CD8 !important;
		}

		ul._pi_answers_container li:hover a span._pi_radio_button_inner {
			background-color: #F2F4F5 !important;
			border: 1px solid #2B9CD8 !important;
		}
	}





// ------------------ FIXED - MULTIPLE CHOICE ---------------------------------=

	// FIXED LEFT - MULTIPLE CHOICE ONLY ------------------
	// Multiple Choice Answers left 
	// Submit button right

	#{$card-type-multi}#{$answer-widths-fixed}  li,
	#{$card-type-multi}#{$answer-widths-fixed}  li #{$multi-choice-text} {
		background-color: #fff !important;
		border: 0 !important;
		color: #44484C !important;		
	}





// ------------------ VARIABLE - YES / NO -------------------------------------------------------

	// Blue background 
	// NO hover
	// NO radio button
	// Minimum width: 130px

	#{$card-type-single}#{$answer-widths-var-left}#{$radio-button-off} li,
	#{$card-type-single}#{$answer-widths-var-left}#{$radio-button-off} li a,
	#{$card-type-single}#{$answer-widths-var-left}#{$radio-button-off} li a label,
	#{$card-type-single}#{$answer-widths-var-center}#{$radio-button-off} li,
	#{$card-type-single}#{$answer-widths-var-center}#{$radio-button-off} li a,
	#{$card-type-single}#{$answer-widths-var-center}#{$radio-button-off} li a label {
		background-color: #0272b6 !important;
		color: #fff !important;	
		border: 0 !important;
		border-color: transparent !important;
		min-width: 130px;
	}

	#{$card-type-single}#{$answer-widths-var-left}#{$radio-button-off} li a label,
	#{$card-type-single}#{$answer-widths-var-center}#{$radio-button-off} li a label {
		padding: 14px 25px !important;
	}





// @media (min-width:69px) {
// 	ul._pi_answers_container li:hover,
// 	ul._pi_answers_container li:hover a,
// 	ul._pi_answers_container li:hover a label,
// 	ul._pi_answers_container li:hover label._pi-control-checkbox {
// 		background-color: #fff !important;
// 		color: #191919;
// 		text-decoration: none;
// 		border: 0px solid transparent !important;
// 	}
// }




