%table{style: "text-align: center;", width:"100%", border:"0", cellspacing:"0", cellpadding:"0"}
  %tr
    %td
      %div
        = link_to 'Edit This Scheduled Report', edit_scheduled_report_url(@report.id), style: "background-color:#7ccb7a; border:1px solid #7ccb7a; border-radius:3px; color:#ffffff; display:inline-block; font-family:sans-serif;font-size:16px;line-height:44px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;mso-hide:all;"
        /[if mso]
          %v:roundrect(xmlns_v="urn:schemas-microsoft-com:vml" xmlns_w="urn:schemas-microsoft-com:office:word" href="#{edit_scheduled_report_url(@report.id)}" style="height:36px;v-text-anchor:middle;width:250px;" arcsize="5%" strokecolor="#7ccb7a" fillcolor="#7ccb7a")
            %w:anchorlock
            %center{style: "color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:16px;"}
              Edit This Scheduled Report

%p{ style: "color: #d2d2d2" }
  #{ @account.identifier }
  %br
  #{ @account.name }
