/* ----------- BACKGROUNDS, BORDERS, COLORS ----------- */
#_pi_surveyWidgetContainer,
#_pi_surveyWidgetContainer.mobile-enabled {
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #DCDCDB;
  border-top: 0;
}

#_pi_surveyWidget,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget {
  border-radius: 0;
  background-color: #fff !important;
}

#_pi_surveyWidgetCustom ._pi_widgetContentContainer {
  background-color: #fff;
}

._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_question {
  background-color: transparent;
}

._pi_answers_container,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_answers_container {
  background-color: transparent;
}

._pi_thankYouSurvey,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_thankYouSurvey {
  margin: 10px 0 10px 0;
  background-color: transparent;
}

a._pi_branding,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget a._pi_branding {
  background-color: transparent;
}

._pi_closeButton,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_closeButton {
  border-bottom-left-radius: 5px;
  background-color: transparent;
}

._pi_closeCustomButton,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom ._pi_closeCustomButton {
  border-bottom-left-radius: 0px;
  background-color: #fff;
}

/* ----------- FONTS, BUTTONS, TEXT FIELDS ------- */
/* FONT: Global */
div._pi_question,
div._pi_thankYouSurvey,
ul._pi_answers_container li a label,
input._pi_free_text_question_field,
textarea._pi_free_text_question_field,
input._pi_free_text_question_submit_button,
input._pi_multiple_choices_question_submit_button,
div._pi_free_text_question_characters_count,
label._pi-control._pi-control-checkbox,
div._pi_multiple_choices_count,
._pi_question_custom_content_question,
._pi_question_custom_content_question p,
._pi_question_custom_content_question button.pi_question_link,
._pi_invitationTextContainer,
._pi_startButton,
a._pi_branding,
a._pi_branding:hover {
  font-family: 'XfinityStandard', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 100%;
  text-transform: none;
  white-space: normal;
}

/* FONT: Question, Thank You, Custom Content Question, Invitation */
div._pi_question,
div._pi_thankYouSurvey,
div._pi_question_custom_content_question,
div._pi_question_custom_content_question p:first-child,
div._pi_invitationTextContainer {
  font-family: 'XfinityStandard', Helvetica, Arial, sans-serif;
  color: #191919 !important;
  font-size: 20px !important;
  font-weight: 200;
  text-align: center;
  text-transform: none;
  letter-spacing: 0px;
  line-height: 120%;
}

#_pi_surveyWidgetContainer.mobile-enabled div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_thankYouSurvey,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_question_custom_content_question,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_question_custom_content_question p:first-child,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_invitationTextContainer {
  font-size: 16px !important;
  font-weight: 200;
}

/* FONT: Custom Content */
._pi_question_custom_content_question {
  padding-bottom: 0px !important;
}

._pi_question_custom_content_question p {
  color: #44484C !important;
  font-size: 15px !important;
  text-align: center !important;
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}

#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question p {
  font-size: 15px !important;
}

._pi_question_custom_content_question p:last-child {
  margin-bottom: 0 !important;
}

/* ANSWERS: Single Choice */
/* BUTTONS: Free Text Submit, Multi Choice Submit, Custom Content */
input._pi_free_text_question_submit_button,
input._pi_multiple_choices_question_submit_button,
._pi_question_custom_content_question button.pi_question_link,
._pi_startButton,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_submit_button,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_multiple_choices_question_submit_button,
#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question button.pi_question_link,
#_pi_surveyWidgetContainer.mobile-enabled ._pi_startButton {
  font-family: 'XfinityStandard', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  letter-spacing: 0.2px;
  border-radius: 40px;
  cursor: pointer;
  padding: 12px 30px !important;
  border: 1px solid #0272b6;
  background-color: #0272b6;
}

#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_submit_button,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_multiple_choices_question_submit_button,
#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question button.pi_question_link,
#_pi_surveyWidgetContainer.mobile-enabled ._pi_startButton {
  font-size: 14px;
  padding: 8px 20px !important;
}

input._pi_free_text_question_submit_button:hover,
input._pi_multiple_choices_question_submit_button:hover,
._pi_question_custom_content_question button.pi_question_link:hover,
._pi_startButton:hover {
  color: #fff;
  text-decoration: none;
  border: 1px solid #00619A;
  background-color: #00619A;
}

/* FONT: Branding, Character Counts */
div._pi_free_text_question_characters_count,
div._pi_multiple_choices_count,
a._pi_branding,
a._pi_branding:hover {
  font-family: 'XfinityStandard', Helvetica, Arial, sans-serif;
  color: #888;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  letter-spacing: 0px;
  line-height: 100% !important;
}

#_pi_surveyWidgetContainer.mobile-enabled div._pi_free_text_question_characters_count,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_multiple_choices_count,
#_pi_surveyWidgetContainer.mobile-enabled a._pi_branding,
#_pi_surveyWidgetContainer.mobile-enabled a._pi_branding:hover {
  font-size: 11px;
}

a._pi_branding:hover {
  color: #0272b6 !important;
  text-decoration: none;
}

#_pi_surveyWidgetContainer.mobile-enabled a._pi_branding:hover {
  color: #888;
}

/* CLOSE BUTTON */
div._pi_closeButton {
  color: #888;
  font-family: 'XfinityStandard', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  line-height: 100% !important;
  height: 30px;
  width: 45px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

div._pi_closeCustomButton {
  color: #888;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
  line-height: 100% !important;
  height: 30px;
  width: 40px;
  padding: 0;
  margin: 0;
  margin-left: calc(100% - 70px);
  margin-top: 20px;
  /* 		background-color: lightgreen !important; */
}

div._pi_closeButton:hover {
  color: #0272b6;
}

#_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton:hover {
  color: #888;
  font-size: 22px;
  text-align: center;
  line-height: 70% !important;
  height: 20px !important;
  width: 30px !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-left: auto !important;
}

/* 	Bottom Bar */
#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton,
#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton:hover {
  color: #888;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton:hover {
  color: #888;
}

/* 	Docked Widget */
#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_closeButton,
#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_closeButton:hover {
  color: #999;
  font-size: 22px;
  font-weight: lighter;
  text-align: center;
  line-height: 80% !important;
  height: 20px;
  width: 20px;
}

#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_closeButton:hover {
  color: #000;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_closeButton,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_closeButton:hover {
  color: #999;
}

/* ----------- MULTIPLE CHOICE ELEMENTS --------------------------- */
/* ----------- CUSTOM CONTENT --------------------------- */
/* ----------- SINGLE CHOICE ----------- */
div[data-question-type="single_choice_question"] ._pi_answers_container {
  width: 98% !important;
}

/* ----------- FREE TEXT ------- */
input._pi_free_text_question_field,
textarea._pi_free_text_question_field {
  color: #44484C;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  line-height: 1.2em !important;
  border-radius: 0;
}

#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_field,
#_pi_surveyWidgetContainer.mobile-enabled textarea._pi_free_text_question_field {
  font-size: 15px;
}

ul._pi_answers_container input[type="text"],
input._pi_free_text_question_field {
  border: 0;
  border-bottom: 1px solid #646A70;
  box-shadow: 0 0 0 0 #646A70;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

ul._pi_answers_container input[type="text"]:hover,
input._pi_free_text_question_field:hover {
  border: 0;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 0 0 0 #aaa;
  padding: 0;
  margin: 0;
}

ul._pi_answers_container input[type="text"]:focus,
input._pi_free_text_question_field:focus {
  border: 0;
  border-bottom: 1px solid #646A70;
  box-shadow: 0 0 0 0 #646A70;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

ul._pi_answers_container textarea._pi_free_text_question_field {
  border: 1px solid #646A70;
  box-shadow: 0 0 0 0 #646A70;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

ul._pi_answers_container textarea._pi_free_text_question_field:hover {
  border: 1px solid #aaa;
  box-shadow: 0 0 0 0 #aaa;
  padding: 0;
  margin: 0;
}

ul._pi_answers_container textarea._pi_free_text_question_field:focus {
  border: 1px solid #646A70;
  box-shadow: 0 0 0 0 #646A70;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

input._pi_free_text_question_field:-moz-placeholder,
textarea._pi_free_text_question_field:-moz-placeholder {
  color: #999;
}

input._pi_free_text_question_field::-moz-placeholder,
textarea._pi_free_text_question_field::-moz-placeholder {
  color: #999;
}

input._pi_free_text_question_field::-ms-input-placeholder,
textarea._pi_free_text_question_field::-ms-input-placeholder {
  color: #999;
}

input._pi_free_text_question_field::-webkit-input-placeholder,
textarea._pi_free_text_question_field::-webkit-input-placeholder {
  color: #999;
}

div._pi_free_text_question_characters_count {
  text-align: right;
  padding-top: 7px !important;
}

/* ================== DEFAULT | SURVEY WIDGET ================== */
/*  SURVEY WIDGET */
div#_pi_surveyWidget {
  height: auto;
  width: 100%;
  margin: auto;
  padding-bottom: 0px;
  z-index: 50;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  /* 	    background-color: PeachPuff !important;   */
}

div#_pi_surveyWidgetCustom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  /* 		background-color: pink !important; */
}

/* ================== DEFAULT | CLOSE BUTTON ================== */
/* 	A) CLOSE BUTTON */
div._pi_closeButton,
div._pi_closeCustomButton {
  position: static !important;
}

div#_pi_surveyWidgetCustom ._pi_closeCustomButton {
  /* 		background-color: red !important; */
}

/* 	A) CLOSE BUTTON | BOTTOM BAR */
/* ================== DEFAULT | CONTENT CONTAINER ================== */
/* 	B) CONTENT CONTAINER */
#_pi_surveyWidget div._pi_widgetContentContainer,
#_pi_surveyWidgetCustom div._pi_widgetContentContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: auto;
  width: 100%;
  /* 		margin: 		auto !important; */
  margin: 0 !important;
  padding: 0;
  /* 	    background-color: aquamarine !important; */
}

div#_pi_surveyWidgetCustom ._pi_widgetContentContainer {
  padding: 15px;
}

/* 	B) CONTENT CONTAINER | desktop */
@media (min-width: 769px) {
  #_pi_surveyWidget div._pi_widgetContentContainer,
  #_pi_surveyWidgetCustom div._pi_widgetContentContainer {
    max-width: 900px;
  }
}

/* 	B) CONTENT CONTAINER | tablet */
@media (max-width: 768px) {
  #_pi_surveyWidget div._pi_widgetContentContainer,
  #_pi_surveyWidgetCustom div._pi_widgetContentContainer {
    max-width: 750px;
  }
}

/* 	B) CONTENT CONTAINER | IPHONE 6S PLUS */
@media (max-width: 414px) {
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget div._pi_widgetContentContainer,
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom div._pi_widgetContentContainer {
    max-width: calc(100% - 36px) !important;
  }
}

/* 	B) CONTENT CONTAINER | IPHONE 6 AND SMALLER */
@media (max-width: 375px) {
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget div._pi_widgetContentContainer,
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom div._pi_widgetContentContainer {
    max-width: calc(100% - 36px) !important;
  }
}

/* ================== DEFAULT | QUESTION ================== */
/*  B1) QUESTION | desktop */
div._pi_question,
div._pi_question_custom_content_question,
div._pi_question_custom_content_question_fullscreen {
  height: auto;
  width: 90%;
  /* 			margin: 	0 auto 0 auto; */
  margin: 0;
  padding: 0 0 10px 0;
  /* 			background-color: lavender; */
}

/*  B1) QUESTION | mobile */
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom ._pi_widgetContentContainer div._pi_question_custom_content_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom ._pi_widgetContentContainer div._pi_question_custom_content_question_fullscreen {
  width: 95%;
  /* 			margin: 	0 auto 0 auto !important; */
  margin: 0 !important;
  padding: 0 0 10px 0;
  /* 			background-color: lavender !important; */
}

/* ================== FREE TEXT ================== */
/*  B3) ANSWERS CONTAINER | desktop */
div[data-question-type="free_text_question"] ul._pi_answers_container {
  width: 80% !important;
  padding: 0 !important;
  margin: 0 !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: start;
      align-items: flex-start;
  /* 			background-color: 		lightblue; */
}

/*  B3) ANSWERS CONTAINER | mobile */
#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="free_text_question"] ul._pi_answers_container {
  width: 95% !important;
  margin: 0 0 0 0;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  /* 			background-color: purple !important; */
}

/*  B3.a) FIELD CONTAINER | desktop */
._pi_free_text_question_field_container {
  padding: 0 !important;
  margin: 0 !important;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  /* 				background-color: pink !important; */
}

/*  B3.a) FIELD CONTAINER | mobile */
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
  padding: 0;
  margin: 0;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  /* 				background-color: yellow !important; */
}

/*  B3.a1) INPUT AND TEXTAREA FIELDS */
input._pi_free_text_question_field {
  height: auto;
  padding: 0.5rem !important;
  box-sizing: border-box;
}

textarea._pi_free_text_question_field {
  height: auto;
  padding: 0.5rem !important;
  box-sizing: border-box;
}

/*  B3.a2) CHARACTERS COUNT */
._pi_free_text_question_characters_count {
  padding: 3px 0 0 0 !important;
  margin: 0 !important;
  /* 					background-color: cyan; */
}

/*  B3.b) SUBMIT BUTTON CONTAINER | desktop */
._pi_free_text_question_submit_button_container {
  padding: 0 !important;
  padding-left: 10px !important;
  margin: 0 !important;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /* 				background-color: 	yellow !important; */
}

/* Button under the text box in Docked Widget */
#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] ._pi_free_text_question_submit_button_container {
  padding: 4px 0 2px 0 !important;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}

/*  B3.b) SUBMIT BUTTON CONTAINER | mobile */
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
  padding: 0 !important;
  padding-left: 5px !important;
  margin: 0 !important;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  /* 				background-color: red !important; */
}

/*  B3.b1) SUBMIT BUTTON */
._pi_free_text_question_submit_button {
  margin-right: 0;
  /* 					background-color: red !important; */
}

/* ================== INVITATION ================== */
/*  B5) INVITATION CONTAINER */
._pi_invitationTextContainer {
  width: 100%;
  margin: 0px 0 15px !important;
  /* 			background-color: ivory; */
}

/*  B6) INVITATION START BUTTON */
._pi_startButton,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_startButton {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  /* 			background-color: red; */
}

/* ================== DEFAULT | BRANDING ================== */
/*  C) BRANDING */
a._pi_branding,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget a._pi_branding {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 170px;
  max-width: 170px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 0;
  /* 	    background-color: lightgreen; */
}

div#_pi_surveyWidgetCustom ._pi_branding {
  /* 		background-color: green; */
}

@media (min-width: 1100px) {
  #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] a._pi_branding {
    /* 			margin-top: -5px !important; */
  }
}

/* ------------------------------ ITEMS PER ROW -------------- */
ul._pi_answers_container li,
ul._pi_answers_container li a,
ul._pi_answers_container li a label,
ul._pi_answers_container li label._pi-control-checkbox {
  background-color: #fff !important;
  color: #0272b6;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.2px;
  border-radius: 25px;
}

@media (min-width: 769px) {
  ul._pi_answers_container li:hover,
  ul._pi_answers_container li:hover a,
  ul._pi_answers_container li:hover a label,
  ul._pi_answers_container li:hover label._pi-control-checkbox {
    background-color: #0272b6 !important;
    color: #fff;
    text-decoration: none;
  }
}

/* ------------------------------- SINGLE CHOICE ONLY ------------------------------- */
div[data-question-type="single_choice_question"] li,
#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"] li {
  border: 1px solid #0272b6;
}

div[data-question-type="single_choice_question"] li a label {
  padding: 12px 25px !important;
}

div[data-question-type="single_choice_question"][data-radio-button="on"] li a label {
  padding: 12px 10px !important;
  max-width: calc(100% - 26px) !important;
  min-width: calc(100% - 26px) !important;
}

@media (min-width: 415px) and (max-width: 768px) {
  div[data-question-type="single_choice_question"] li a label {
    padding: 10px 20px !important;
  }
  div[data-question-type="single_choice_question"][data-radio-button="on"] li a label {
    padding: 10px 10px !important;
    max-width: calc(100% - 26px) !important;
    max-width: calc(100% - 26px) !important;
  }
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"] li a label {
  font-size: 15px;
  padding: 8px 10px !important;
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"][data-radio-button="on"] li a label {
  padding: 8px 8px !important;
}

ul._pi_answers_container li a span._pi_radio_button_outer {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  /* make sure it matches the variable for checkbox right and left margin */
  margin-right: 0;
  /* VISUAL PARAMETERS - CAN BE OVERRIDDEN BY CIENT USING !IMPORTANT */
  width: 17px;
  min-width: 17px;
  max-width: 17px;
  height: 17px;
  min-height: 17px;
  max-height: 17px;
}

ul._pi_answers_container li a span._pi_radio_button_inner,
ul._pi_answers_container li:hover a span._pi_radio_button_inner {
  width: 9px;
  min-width: 9px;
  max-width: 9px;
  height: 9px;
  min-height: 9px;
  max-height: 9px;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}

ul._pi_answers_container li a span._pi_radio_button_outer {
  background-color: white !important;
  border: 1px solid #868f96 !important;
}

@media (min-width: 769px) {
  ul._pi_answers_container li:hover a span._pi_radio_button_outer {
    background-color: #0272b6 !important;
    border: 1px solid white !important;
  }
  ul._pi_answers_container li:hover a span._pi_radio_button_inner {
    background-color: white !important;
    border: 1px solid transparent;
  }
}

div[data-question-type="multiple_choices_question"] ._pi_free_text_question_field_container,
div[data-question-type="multiple_choices_question"] ._pi_multiple_choices_question_submit_button_container {
  background-color: rgba(255, 255, 255, 0);
  margin: 0 !important;
}

div._pi_multiple_choices_count {
  height: auto;
  padding: 4px 0 6px !important;
  text-align: center;
}

/* ------------------------------ RADIO BUTTONS ON/OFF -------------------------------------------- */
div[data-radio-button="off"] ul._pi_answers_container li a span._pi_radio_button_outer {
  display: none !important;
}

div[data-radio-button="on"] ul._pi_answers_container li a span._pi_radio_button_outer {
  display: block !important;
}

/* ------------------------------ TEXT ALIGNMENT: RADIO AND CHECKBOX ------------------------------ */
div[data-radio-button="off"] ul._pi_answers_container li a label {
  text-align: center !important;
}

div[data-radio-button="on"] ul._pi_answers_container li a label {
  text-align: left !important;
}

div[data-answer-widths="fixed"] ul._pi_answers_container li label._pi-control-checkbox {
  text-align: left !important;
}

/* ------------------------------ BUTTON GROUP ALIGNMENT: FIXED, VARIABLE LEFT/RIGHT ------------- */
div[data-answer-widths="variable-center"] ul._pi_answers_container {
  -ms-flex-pack: center;
      justify-content: center;
}

div[data-answer-widths="variable-center"] ul._pi_answers_container li {
  margin: 5px 1% !important;
}

div[data-answer-widths="variable-left"] ul._pi_answers_container {
  -ms-flex-pack: start;
      justify-content: flex-start;
}

div[data-answer-widths="variable-left"] ul._pi_answers_container li {
  margin: 5px 1% !important;
}

div[data-answer-widths="fixed"] ul._pi_answers_container {
  -ms-flex-pack: start;
      justify-content: flex-start;
}

div[data-answer-widths="fixed"] ul._pi_answers_container li {
  margin: 5px 0.9% !important;
}

/* ------------------------------ BUTTON WIDTHS: VARIABLE ---------------------------------------- */
div[data-answer-widths="variable-left"] ul._pi_answers_container li,
div[data-answer-widths="variable-center"] ul._pi_answers_container li {
  /* 	flex: 0 0 auto; */
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

/* 	flex: 1 0 auto;	} */
/* ------------------------------ BUTTON WIDTHS: FIXED ------------------------------------------- */
/* THE DEFAULT FOR FIXED: 3 PER ROW ------------------------------ */
div[data-answer-widths="fixed"] ul._pi_answers_container li {
  -ms-flex: 0 0 31%;
      flex: 0 0 31%;
  max-width: 31%;
}

div[data-answer-widths="fixed"][data-answers-per-row="1"] ul._pi_answers_container li {
  margin: 5px 7% !important;
  -ms-flex: 0 0 86% !important;
      flex: 0 0 86% !important;
  max-width: 86% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="2"] ul._pi_answers_container li {
  -ms-flex: 0 0 48% !important;
      flex: 0 0 48% !important;
  max-width: 48% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="3"] ul._pi_answers_container li {
  -ms-flex: 0 0 31% !important;
      flex: 0 0 31% !important;
  max-width: 31% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="4"] ul._pi_answers_container li {
  -ms-flex: 0 0 23% !important;
      flex: 0 0 23% !important;
  max-width: 23% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="5"] ul._pi_answers_container li {
  -ms-flex: 0 0 18% !important;
      flex: 0 0 18% !important;
  max-width: 18% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="6"] ul._pi_answers_container li {
  -ms-flex: 0 0 14.5% !important;
      flex: 0 0 14.5% !important;
  max-width: 14.5% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="7"] ul._pi_answers_container li {
  -ms-flex: 0 0 12.25% !important;
      flex: 0 0 12.25% !important;
  max-width: 12.25% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="8"] ul._pi_answers_container li {
  -ms-flex: 0 0 10.5% !important;
      flex: 0 0 10.5% !important;
  max-width: 10.5% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="9"] ul._pi_answers_container li {
  -ms-flex: 0 0 9.1% !important;
      flex: 0 0 9.1% !important;
  max-width: 9.1% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="10"] ul._pi_answers_container li {
  -ms-flex: 0 0 8% !important;
      flex: 0 0 8% !important;
  max-width: 8% !important;
}

/* ------------------------------- MULTIPLE CHOICE ONLY ------------------------------- */
div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
  width: 100% !important;
  background-color: white;
  margin-bottom: 10px !important;
}

@media (min-width: 1072px) {
  div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
    max-width: 1035px !important;
  }
}

@media (min-width: 769px) and (max-width: 1071px) {
  div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
    max-width: 900px !important;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
    max-width: 700px !important;
  }
}

@media (max-width: 414px) {
  div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
    max-width: 100% !important;
  }
}

div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="2"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="4"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="6"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="8"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="10"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="12"] ul._pi_answers_container,
div[data-question-type="multiple_choices_question"][data-answers-per-row="2"][data-possible-answers="14"] ul._pi_answers_container {
  max-width: 750px !important;
}

div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="2"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="4"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="6"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="8"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="10"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="12"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"][data-answer-widths="fixed"][data-answers-per-row="2"][data-possible-answers="14"] ul._pi_answers_container li {
  -ms-flex: 0 0 48% !important;
      flex: 0 0 48% !important;
  max-width: 48% !important;
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
  width: 98% !important;
}

div[data-question-type="multiple_choices_question"] ul._pi_answers_container li,
div[data-question-type="multiple_choices_question"] ul._pi_answers_container li:hover,
div[data-question-type="multiple_choices_question"] ul._pi_answers_container li:hover label._pi-control-checkbox {
  border-radius: 0 !important;
  border: 1px solid #fff !important;
  background-color: #fff !important;
}

ul._pi_answers_container li label._pi-control-checkbox {
  background-color: #fff !important;
  color: #44484C !important;
  border: 1px solid #fff !important;
  border-radius: 0px !important;
  padding: 8px 10px 8px 0 !important;
  line-height: 20px !important;
}

@media (min-width: 769px) {
  ul._pi_answers_container li:hover label._pi-control-checkbox {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    color: #44484C !important;
  }
}

#_pi_surveyWidgetContainer.mobile-enabled label._pi-control._pi-control-checkbox {
  font-size: 15px !important;
  padding: 8px 10px 8px 0 !important;
}

._pi-control-indicator {
  background-color: #F2F4F5 !important;
  border: 1px solid #646A70 !important;
  border-radius: 3px !important;
  border-width: 1px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
  width: 18px !important;
  -ms-flex-preferred-size: 18px !important;
      flex-basis: 18px !important;
  height: 18px !important;
}

._pi-control-indicator:after {
  border-color: #0272b6 !important;
  top: 2px !important;
  left: 6px !important;
  width: 3px !important;
  height: 10px !important;
}

@media (min-width: 769px) {
  ul._pi_answers_container li:hover ._pi-control-indicator {
    background-color: #0272B6 !important;
    border: 1px solid #0272B6 !important;
  }
  ul._pi_answers_container li:hover ._pi-control-indicator:after {
    border-color: #fff !important;
  }
}

div[data-question-type="multiple_choices_question"]
._pi_multiple_choices_question_submit_button_container {
  margin-top: 10px !important;
}

div[data-question-type="multiple_choices_question"]
div._pi_multiple_choices_question_submit_button_container
input._pi_multiple_choices_question_submit_button {
  font-size: 16px !important;
  min-width: 160px !important;
  min-height: 44px !important;
}

/* ================== SPECIAL CASES ================== */
div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"],
div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] {
  border-top: 3px solid #646A70 !important;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0);
}

div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question {
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="free_text_question"] ul._pi_answers_container {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

@media (min-width: 769px) {
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_thankYouSurvey,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question_custom_content_question,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question_custom_content_question p:first-child,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_invitationTextContainer {
    font-size: 24px !important;
    letter-spacing: .025rem;
  }
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_free_text_question_field_container {
    -ms-flex: 0 0 750px !important;
        flex: 0 0 750px !important;
    margin: 0 auto 10px !important;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_thankYouSurvey,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question_custom_content_question,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question_custom_content_question p:first-child,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_invitationTextContainer {
    font-size: 22px !important;
    letter-spacing: .025rem;
  }
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_free_text_question_field_container {
    -ms-flex: 0 0 600px !important;
        flex: 0 0 600px !important;
    margin: 0 auto 10px !important;
  }
}

@media (max-width: 414px) {
  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question,
  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_thankYouSurvey,
  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question_custom_content_question,
  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question_custom_content_question p:first-child,
  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_invitationTextContainer {
    font-size: 20px !important;
    letter-spacing: .025rem;
  }
  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_free_text_question_field_container {
    -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
    margin: 0 auto 10px !important;
  }
}

#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_free_text_question_submit_button_container,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
  padding-left: 0px !important;
  -ms-flex: 1 1 100% !important;
      flex: 1 1 100% !important;
  margin-bottom: 10px !important;
}

@media (min-width: 1066px) {
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_widgetContentContainer,
  div#_pi_surveyWidgetCustom[survey-widget-type="bottombarsurvey"] div._pi_widgetContentContainer {
    max-width: 1065px !important;
  }
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_closeButton {
    font-size: 34px;
    font-weight: 100;
    height: 30px !important;
    width: 20px !important;
    margin-left: 1045px !important;
  }
}

@media (max-width: 1065px) {
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_closeButton,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_closeButton:hover {
    font-size: 34px;
    font-weight: 100;
    height: 30px !important;
    width: 20px !important;
    margin-left: calc(100% - 60px) !important;
    margin-top: 10px !important;
  }
}

/* BUTTONS HARDCODED TO 160px WIDTH */
input._pi_free_text_question_submit_button,
input._pi_multiple_choices_question_submit_button,
._pi_question_custom_content_question button.pi_question_link,
._pi_startButton,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_submit_button,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_multiple_choices_question_submit_button,
#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question button.pi_question_link,
#_pi_surveyWidgetContainer.mobile-enabled ._pi_startButton {
  min-width: 160px !important;
  font-size: 16px !important;
}

div#_pi_surveyWidgetContainer {
  margin: 0 !important;
}

#_pi_surveyWidget[survey-widget-type="inlinesurvey"],
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
  border: 1px solid #dde2e6 !important;
  z-index: 5 !important;
}

div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"],
div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] {
  border-top: 2px solid #44484C !important;
}

a._pi_branding,
a._pi_branding:hover {
  color: transparent !important;
}

div._pi_closeButton,
div._pi_closeButton:hover,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton:hover {
  width: 20px !important;
  max-width: 100% !important;
  height: 20px !important;
  line-height: 15px !important;
  font-size: 34px !important;
  padding: 0 !important;
  box-sizing: content-box;
}

div._pi_widgetContentContainer,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_widgetContentContainer {
  -ms-flex-pack: start !important;
      justify-content: flex-start !important;
}

div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_question,
div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question,
div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_question,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_question {
  margin: 0 !important;
  text-align: left !important;
  padding: 0 0 20px 0 !important;
}

div[data-question-type="free_text_question"] ul._pi_answers_container {
  -ms-flex-pack: justify !important;
      justify-content: space-between !important;
  width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (min-width: 1072px) {
  #_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
    padding: 0 24px !important;
  }
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_closeButton,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_closeButton:hover {
    width: 1024px !important;
    height: 20px !important;
    text-align: right !important;
    margin: 30px auto 0 !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    position: absolute !important;
    z-index: 1 !important;
  }
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton,
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton:hover {
    width: 100% !important;
    height: 20px !important;
    text-align: right !important;
    margin: 30px auto 0 !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    position: absolute !important;
    z-index: 1 !important;
    padding-right: 24px !important;
    max-width: 1024px !important;
    left: initial !important;
    right: initial !important;
    margin-right: 0 !important;
    box-sizing: content-box !important;
    padding-right: 0 !important;
  }
  #_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_widgetContentContainer,
  #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_widgetContentContainer {
    width: 1024px !important;
    min-width: 1024px !important;
    max-width: 1024px !important;
    margin: 30px auto 0 !important;
  }
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_question,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question {
    width: calc(100% - 230px) !important;
    z-index: 2 !important;
  }
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"][data-question-type="free_text_question"] ._pi_free_text_question_field_container,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"][data-question-type="free_text_question"] ._pi_free_text_question_field_container {
    -ms-flex-preferred-size: calc(100% - 230px) !important;
        flex-basis: calc(100% - 230px) !important;
    -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
    margin: 0 !important;
  }
  #_pi_surveyWidget[data-question-type="multiple_choices_question"] div._pi_multiple_choices_question_submit_button_container {
    -ms-flex-preferred-size: 160px !important;
        flex-basis: 160px !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
  }
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_free_text_question_submit_button_container,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_free_text_question_submit_button_container {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
    -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
    padding: 0 !important;
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
  }
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_free_text_question_submit_button_container,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_free_text_question_submit_button_container {
    margin: 0 !important;
  }
}

@media (min-width: 415px) and (max-width: 1071px) {
  #_pi_surveyWidget[survey-widget-type="inlinesurvey"],
  #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] {
    padding: 0 24px !important;
    padding: 0 !important;
  }
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton,
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton:hover,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_closeButton,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_closeButton:hover {
    width: 100% !important;
    height: 20px !important;
    text-align: right !important;
    margin: 30px auto 0 !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    position: absolute !important;
    z-index: 1 !important;
    padding-right: 24px !important;
    max-width: 100% !important;
    margin-right: 0 !important;
    box-sizing: content-box !important;
  }
  #_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_widgetContentContainer,
  #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_widgetContentContainer {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    margin: 30px auto 0 !important;
    box-sizing: border-box !important;
    padding: 0 24px !important;
  }
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_question,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_question {
    width: calc(100% - 200px) !important;
    z-index: 2 !important;
  }
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_free_text_question_field_container,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_free_text_question_field_container {
    -ms-flex-preferred-size: calc(100% - 200px) !important;
        flex-basis: calc(100% - 200px) !important;
    -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
    margin: 0 !important;
  }
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_free_text_question_submit_button_container,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_free_text_question_submit_button_container {
    -ms-flex-preferred-size: auto !important;
        flex-basis: auto !important;
    -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
    padding: 0 !important;
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
  }
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_free_text_question_submit_button_container,
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_free_text_question_submit_button_container {
    margin: 0 !important;
  }
}

@media (max-width: 414px) {
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
    pading: 0 !important;
  }
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] {
    pading: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
  #_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton,
  #_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton:hover {
    margin-top: 30px !important;
    margin-bottom: 15px !important;
    margin-left: calc(100% - 24px) !important;
    max-width: 100% !important;
    margin-right: auto !important;
    margin-right: 32px !important;
    box-sizing: content-box !important;
  }
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_widgetContentContainer,
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_widgetContentContainer {
    box-sizing: border-box !important;
    padding: 0 !important;
  }
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_question {
    width: 100% !important;
    text-align: left !important;
    padding: 0 0 20px 0 !important;
  }
  #_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="free_text_question"] ul._pi_answers_container {
    width: 100% !important;
  }
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
    -ms-flex-preferred-size: calc(100% - 0px) !important;
    flex-basis: calc(100% - 0px) !important;
  }
  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container,
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container ._pi_free_text_question_submit_button {
    padding: 16px 30px !important;
    margin: 10px 0 0 !important;
  }
}

#_pi_surveyWidget[survey-widget-type="inlinesurvey"],
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
  border-top: 2px solid #44484C !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0 !important;
  padding: 0 24px !important;
  height: auto !important;
  width: 100% !important;
}

@media (min-width: 1072px) {
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton,
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton:hover {
    width: 1024px !important;
    height: 20px !important;
    text-align: right !important;
    margin: 30px auto 0 !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    position: absolute !important;
    z-index: 1 !important;
    padding-right: 0 !important;
  }
  #_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_widgetContentContainer {
    width: 1024px !important;
    min-width: 1024px !important;
    max-width: 1024px !important;
    margin: 30px auto 0 !important;
  }
}

@media (max-width: 1071px) {
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton,
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton:hover {
    margin-right: 0 !important;
    padding-right: 24px !important;
  }
}

@media (max-width: 414px) {
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
    padding: 0px !important;
    margin: 0 !important;
    max-width: 100% !important;
  }
  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container,
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }
}

#_pi_surveyWidgetContainer a:focus,
#_pi_surveyWidgetContainer .link:focus {
  outline: 0;
  box-shadow: none !important;
  border: 0 !important;
}

#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="off"] li,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="off"] li a,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="off"] li a label {
  background-color: #0272b6 !important;
  border: 0 !important;
  color: #fff !important;
}

#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="off"] li a label,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="off"] li a label {
  padding: 14px 25px !important;
}

#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="on"] li,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="on"] li a,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="on"] li a label {
  background-color: #fff !important;
  border: 0 !important;
  color: #44484C !important;
}

#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="on"] li {
  padding: 0 !important;
}

#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="on"] li a label {
  padding: 10px 22px 10px 12px !important;
}

#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="fixed"][data-radio-button="on"] li a span._pi_radio_button_outer {
  margin: 0 !important;
}

ul._pi_answers_container li a span._pi_radio_button_outer {
  background-color: #F2F4F5 !important;
  border: 1px solid #B1B9BF !important;
}

@media (min-width: 769px) {
  ul._pi_answers_container li:hover a span._pi_radio_button_outer {
    background-color: #2B9CD8 !important;
    border: 1px solid #2B9CD8 !important;
  }
  ul._pi_answers_container li:hover a span._pi_radio_button_inner {
    background-color: #F2F4F5 !important;
    border: 1px solid #2B9CD8 !important;
  }
}

#_pi_surveyWidget[data-question-type="multiple_choices_question"][data-answer-widths="fixed"] li,
#_pi_surveyWidget[data-question-type="multiple_choices_question"][data-answer-widths="fixed"] li label._pi-control._pi-control-checkbox {
  background-color: #fff !important;
  border: 0 !important;
  color: #44484C !important;
}

#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="variable-left"][data-radio-button="off"] li,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="variable-left"][data-radio-button="off"] li a,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="variable-left"][data-radio-button="off"] li a label,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="variable-center"][data-radio-button="off"] li,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="variable-center"][data-radio-button="off"] li a,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="variable-center"][data-radio-button="off"] li a label {
  background-color: #0272b6 !important;
  color: #fff !important;
  border: 0 !important;
  border-color: transparent !important;
  min-width: 130px;
}

#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="variable-left"][data-radio-button="off"] li a label,
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="variable-center"][data-radio-button="off"] li a label {
  padding: 14px 25px !important;
}

/* ------------------------------ BUTTON WIDTHS: FIXED ------------------------------------------- */
/* THE DEFAULT FOR FIXED: 3 PER ROW ------------------------------ */
div[data-answer-widths="fixed"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 31%;
      flex: 0 0 31%;
  max-width: 31%;
}

/* INDIVIDUAL ANSWERS PER ROW VALUES ------------------------------ */
div[data-answer-widths="fixed"][data-answers-per-row="1"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 86% !important;
      flex: 0 0 86% !important;
  max-width: 86% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="2"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 48% !important;
      flex: 0 0 48% !important;
  max-width: 48% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="3"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 31% !important;
      flex: 0 0 31% !important;
  max-width: 31% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="4"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 23% !important;
      flex: 0 0 23% !important;
  max-width: 23% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="5"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 18% !important;
      flex: 0 0 18% !important;
  max-width: 18% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="6"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 14.5% !important;
      flex: 0 0 14.5% !important;
  max-width: 14.5% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="7"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 12.25% !important;
      flex: 0 0 12.25% !important;
  max-width: 12.25% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="8"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 10.5% !important;
      flex: 0 0 10.5% !important;
  max-width: 10.5% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="9"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 9.1% !important;
      flex: 0 0 9.1% !important;
  max-width: 9.1% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="10"] ul._pi_answers_container li {
  margin: 5px 2% 5px 0 !important;
  -ms-flex: 0 0 8% !important;
      flex: 0 0 8% !important;
  max-width: 8% !important;
}

/* ------------------------------ BUTTON WIDTHS: VARIABLE LEFT ------------------------------------------- */
#_pi_surveyWidget[data-question-type="single_choice_question"][data-answer-widths="variable-left"][data-radio-button="off"] li {
  margin: 5px 2% 5px 0 !important;
}
