// input global style
@mixin global_input() {
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #57636e;
  border-radius: 0px;
  padding: 6px 12px;
  // width: 100%;
  outline: none;
  outline-width: 0px;
  font-size: 14px;
  @include box-shadow(none);

  &:focus {
    border-bottom: 1px solid #8fa9b6;
  }
}

@mixin global_select() {
  background-image: none;
  border: none;
  border-bottom: 1px solid #57636e;
  padding: 6px 12px;
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  outline: none;
  outline-width: 0px;
  background: image-url('icons/arrow-down.png') no-repeat right rgba(0, 0, 0, 0);
}

@mixin field_error() {
  display: block;
  padding: 5px 0 0 23px;
  color: #8f9dc6;
  background: image-url('icons/alert.png') no-repeat left center;
}

@mixin arrow-up($color, $width, $height) {
  width: 0;
  height: 0;
  border-left: $width / 2 solid transparent;
  border-right: $width / 2 solid transparent;

  border-bottom: $height solid $color;
}

@mixin arrow-down($color, $width, $height) {
  width: 0;
  height: 0;
  border-left: $width / 2 solid transparent;
  border-right: $width / 2 solid transparent;

  border-top: $height solid $color;
}

@mixin _checked-element-base($border-color-checked, $border-color, $checkmark-color, $background-color-checked, $background-color) {
  appearance: none;
  -webkit-appearance: none;

  position: relative;
  cursor: pointer;
  border: 1px solid $border-color;
  background-color: $background-color;

  &::before,
  &::after {
    content: '';
    visibility: hidden;
    position: absolute;
    background-color: $checkmark-color;
    transform: rotate(45deg);
  }

  &::before {
    width: 2px;
    height: 9px;
  }

  &::after {
    width: 4px;
    height: 2px;
  }

  &:checked {
    border-color: $border-color-checked;
    background: $background-color-checked;

    &::before,
    &::after {
      visibility: visible;
    }
  }

  &:focus {
    outline: none;
  }
}

@mixin custom-radio-button($border-color-checked, $border-color, $checkmark-color, $background-color-checked, $background-color) {
  @include _checked-element-base($border-color-checked, $border-color, $checkmark-color, $background-color-checked, $background-color);

  width: 18px;
  height: 18px;
  border-radius: 50%;

  // the long part of the checkmark
  &::before {
    left: 8px;
    top: 3px;
  }

  // the short part of the checkmark
  &::after {
    left: 3px;
    top: 9px;
  }
}

@mixin custom-checkbox($border-color-checked, $border-color, $checkmark-color, $background-color-checked, $background-color) {
  @include _checked-element-base($border-color-checked, $border-color, $checkmark-color, $background-color-checked, $background-color);

  width: 15px;
  height: 15px;
  border-radius: 20%;

  // the long part of the checkmark
  &::before {
    left: 7px;
    top: 2px;
  }

  // the short part of the checkmark
  &::after {
    left: 2px;
    top: 8px;
  }

  &:indeterminate {
    border-color: $border-color-checked;
    background: $background-color-checked;

    &::after {
      left: 2px;
      top: 6px;
      width: 9px;
      height: 2px;
      visibility: visible;
      background-color: $checkmark-color;
      transform: unset;
    }
  }
}

@mixin custom-text-input() {
  border-radius: 17.5px;
  border-width: 0;
  background-color: $pi-neutral-background-color;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $pi-highlight-color;
  }
}

@mixin dynamic-color-svg-icon($color) {
  -webkit-mask-size: contain;
  mask-size: contain;
  width: 100px;
  height: 100px;
  background: $color;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  mask-position: center;
  border: none;
}
