.tooltip {
  font-size: $font-size-base;
}

// Trigger for Tooltip extensions
.trigger-input {
  .tooltip-inner {
    padding: 7px 10px;
  }

  .tooltip.bottom .tooltip-arrow{
    left: 12%;
    bottom:1px;
  }

  .tooltip.bottom {
    margin-left: -295px;
  }
}

// Surveys list table Tooltip extensions

.survey-list-tooltip {
  .tooltip {
    .tooltip-inner {
      // background-color: $gray-lighter;
      // color: $gray-darker;
      text-align: left;
      max-width: 700px;
      line-height: 24px;
    }
    // .tooltip-arrow {
    //   border-bottom-color: white;
    // }
  }

}

