// THE _selectors FILE:
@import '../../01-css-pulse/_selectors';

// DEFAULT VARIABLES
@import '../_default/_default-1-variables';

// CLIENT-SPECIFIC DESIGN VARIABLES
@import '_gilead_variables';

// GLOBAL MAPS:
@import '../../01-css-pulse/_maps';

// GLOBAL MIXINS
@import '../../01-css-pulse/_mixins';

// THE GLOBAL STRUCTURE FOR FRAMEWORK V2:
@import '../../01-css-pulse/_theme-structure';

#_pi_surveyWidgetContainer{
  #_pi_surveyWidget{
    ._pi_closeButton{
      line-height: 16px;
      padding-bottom: 0px;
      padding-top: 12px;
      font-family: Helvetica, Arial, sans-serif;
    }
    ._pi_widgetContentContainer{
      ._pi_question{
        width: 100%;
        padding-bottom: 20px;
      }
      ul._pi_answers_container[data-question-type="multiple_choices_question"]{
        li{
          padding: 0px !important;
          label{
            padding: 8px 10px !important;
          }
        }
      }
      ul._pi_answers_container[data-question-type="multiple_choices_question"], ul._pi_answers_container[data-question-type="single_choice_question"]{
        // justify-content: space-between;
        overflow: visible !important;
        padding-bottom: 0px !important;
        li{
          background-color: transparent !important;
          transition: all 0.3s;
          overflow: visible !important;
          position: relative;
          // max-width: 245px !important;
          max-width: 230px !important;
          > * {
            z-index: 1 !important;
          }
          &:before{
            display: block;
            z-index: 0 !important;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #ffffff;
            transform: skew(-15deg);
            transition: all 0.3s;
            //box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
          }
          &:hover{
            color: #ffffff;
            transition: all 0.3s;
            &:before{
              background-color: #E2E2E2;
              transition: all 0.3s;
            }
          }
          label{
            background-color: transparent !important;
          }
        }
      }
      ul._pi_answers_container[data-radio-button="on"]{
        li{
          span._pi_radio_button_outer{
            min-width: 14px;
            display: block !important;
            flex-grow: 0;
            height: 14px !important;
            width: 14px !important;
            span._pi_radio_button_inner{
              left: 1px !important;
              top: 1px !important;
            }
          }
        }
      }
      ul._pi_answers_container[data-question-nps="t"]{
        justify-content: center !important;
      }
      ul[data-question-type="free_text_question"]{
        width: 100% !important;
        input._pi_free_text_question_field{
          padding: 8px !important;
        }
      }
      ._pi_question._pi_question_custom_content_question{
        width: 95%;
        h1,h2,h3,h4,h5{
          color: #b5072f !important;
          font-family: proximanova, arial !important;
          font-weight: 800 !important;
          font-style: normal !important;
          font-variant: normal !important;
          text-align: center !important;
          text-transform: uppercase !important;
          text-decoration: none !important;
          text-shadow: none !important;
          letter-spacing: normal !important;
          line-height: 120% !important;
        }
        h1,h2{
          font-size: 24px !important;
          margin-bottom: 10px !important;
        }
        h3{
          font-size: 20px !important;
          margin-bottom: 8px !important;
        }
        h4{
          font-size: 18px !important;
          margin-bottom: 5px !important;
        }
        p, p *{
          color: #42454a !important;
          font-family: proximanova, arial !important;
          // font-size: 16px !important;
          // font-weight: 400 !important;
          // font-style: normal !important;
          // font-variant: normal !important;
          // text-align: center !important;
          // text-transform: none !important;
          // text-decoration: none !important;
          // text-shadow: none !important;
          // letter-spacing: -0.55px !important;
          // line-height: 120% !important;
        }
        a, p a, a *{
          color: #b5072f !important;
          text-decoration: underline !important;
          transition: all 0.3s !important;
          &:hover{
            opacity: 0.8 !important;
            transition: all 0.3s !important;
          }
        }

      }
    }
    // ._pi_multiple_choices_question_submit_button_container{
    //   input{
    //     padding-right: 25px;
    //     &:hover{
    //       &+:after{
    //         color: #b5072f;
    //       }
    //     }
    //   }
    //     &:after{
    //       content: "\f054";
    //       margin-top: 1px;
    //       margin-left: -1.2em;
    //       display: inline-block;
    //       font-family: Font Awesome\ 5 Free;
    //       font-style: normal;
    //       font-variant: normal;
    //       font-weight: 900;
    //       text-rendering: auto;
    //       -webkit-font-smoothing: antialiased;
    //       vertical-align: middle;
    //       font-size: 12px;
    //     }
    // }
    a._pi_branding{
      font-size: 12px !important;
    }
  }
}
