%h1 Update Settings

/ Turn off all accounts
.panel.panel-default
  .panel-heading
    %h4.panel-title Turn off all accounts
  .panel-body
    = simple_form_for :settings, url: update_settings_admin_accounts_path, method: :post, html: { role: 'form', class: 'form-horizontal' } do |f|
      = f.input :disable_all, as: :boolean, input_html: { checked: @all_disabled }
      .form-action
        = f.submit 'Update', class: 'btn btn-default'

= react_component("BlockAllAccountsPanel", authenticityToken: form_authenticity_token, qrveyEnabled: @all_blocked_from_qrvey)
