// ======================= TOP CONTAINER ========================
#{$top-container},
#{$top-container-mobi} {
	@include builder("widget-container");
}

#{$top-container},
#{$top-container-mobi},
#{$top-container} *,
#{$top-container-mobi} * {
	appearance: none;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// ======================= SURVEY WIDGET ========================
#{$widget-default},
#{$widget-default-mobi} { @include builder("widget-default"); }

#{$widget-custom},
#{$widget-custom-mobi} { @include builder("widget-custom"); }

#{$widget-inline},
#{$widget-inline-mobi} { @include builder("widget-inline"); }

#{$widget-bottom},
#{$widget-bottom-mobi} { @include builder("widget-bottombar"); }

#{$widget-docked},
#{$widget-docked-mobi} { @include builder("widget-docked"); }
#{$widget-docked-mobi} { @include builder("widget-docked-mobi"); }

#{$widget-topbar},
#{$widget-topbar-mobi} { @include builder("widget-topbar"); }
#{$widget-topbar-mobi} { @include builder("widget-topbar-mobi"); }

#{$widget-fullsc},
#{$widget-fullsc-mobi} { @include builder("widget-fullscreen"); }

/* hardcoded */
div#_pi_surveyWidget {
	display: 					flex;
	flex-direction: 	column;
	flex-wrap:				nowrap;
	justify-content: 	center;
	align-items: 			center;
	height: 					auto;
	width: 						100%;
	margin: 					auto;
	padding-bottom: 	0px;
	//-webkit-appearance: none !important;
}

div#_pi_surveyWidgetCustom {
	display: 					flex;
	flex-direction: 	column;
	flex-wrap: 				nowrap;
	justify-content: 	space-between;
	align-items: 			center;
	align-content: 		space-between;
}

/* ======================= CLOSE BUTTON ======================== */

#{$close-default},
#{$close-default-mobi} 	{ @include builder("close-default"); }
#{$close-default-mobi} 	{ @include builder("close-default-mobi"); }
#{$close-default-hover} { @include builder("close-default-hover"); }

#{$close-custom},
#{$close-custom-mobi} 	{ @include builder("close-custom"); }
#{$close-custom-mobi} 	{ @include builder("close-custom-mobi"); }
#{$close-custom-hover} 	{ @include builder("close-custom-hover"); }

#{$close-inline},
#{$close-inline-mobi} 	{ @include builder("close-inline"); }
#{$close-inline-mobi} 	{ @include builder("close-inline-mobi"); }
#{$close-inline-hover} 	{ @include builder("close-inline-hover"); }

#{$close-bottom},
#{$close-bottom-mobi} 	{ @include builder("close-bottombar"); }
#{$close-bottom-mobi} 	{ @include builder("close-bottombar-mobi"); }
#{$close-bottom-hover} 	{ @include builder("close-bottombar-hover"); }

#{$close-docked},
#{$close-docked-mobi} 	{ @include builder("close-docked"); }
#{$close-docked-mobi} 	{ @include builder("close-docked-mobi"); }
#{$close-docked-hover} 	{ @include builder("close-docked-hover"); }

#{$close-topbar},
#{$close-topbar-mobi} 	{ @include builder("close-topbar"); }
#{$close-topbar-mobi} 	{ @include builder("close-topbar-mobi"); }
#{$close-topbar-hover} 	{ @include builder("close-topbar-hover"); }

#{$close-fullsc},
#{$close-fullsc-mobi} 	{ @include builder("close-fullscreen"); }
#{$close-fullsc-mobi} 	{ @include builder("close-fullscreen-mobi"); }
#{$close-fullsc-hover} 	{ @include builder("close-fullscreen-hover"); }

div._pi_closeButton,
div._pi_closeCustomButton {
	position: static !important;
}

/* ======================= SURVEY LEVEL IMAGE ======================= */

#{$image-survey-level} {
	@include builder("image-survey-level");
  align-self: $image-survey-level-align;
}
#{$image-survey-level-mobi} {
	@include builder("image-survey-level-mobi");
	align-self: $image-survey-level-mobi-align;
}



/* ======================= CONTENT CONTAINER ======================= */

#{$content-container-default},
#{$content-container-default-mobi} { @include builder("content-container-default"); }
#{$content-container-default-mobi} { @include builder("content-container-default-mobi"); }

#{$content-container-single},
#{$content-container-single-mobi} { @include builder("content-container-single"); }
#{$content-container-single-mobi} { @include builder("content-container-single-mobi"); }

#{$content-container-multi},
#{$content-container-multi-mobi} { @include builder("content-container-multi"); }
#{$content-container-multi-mobi} { @include builder("content-container-multi-mobi"); }

#{$content-container-free},
#{$content-container-free-mobi} { @include builder("content-container-free"); }
#{$content-container-free-mobi} { @include builder("content-container-free-mobi"); }

#{$content-container-custom},
#{$content-container-custom-mobi} { @include builder("content-container-custom"); }
#{$content-container-custom-mobi} { @include builder("content-container-custom-mobi"); }

#{$content-container-custom-full},
#{$content-container-custom-full-mobi} { @include builder("content-container-custom-full"); }
#{$content-container-custom-full-mobi} { @include builder("content-container-custom-full-mobi"); }

/* here */
#{$content-container-default},
#{$content-container-custom} {
	display: 					flex;
	flex-direction: 	row;
	flex-wrap:				wrap;
	justify-content:	center;
	align-items: 			center;
	width: 				    100% !important;
}

// Desktop - HUGE
@media (min-width:1360px) {
	#{$content-container-default},
	#{$content-container-custom} 			{ max-width: 1240px; }
}

// Desktop - BIG
@media (min-width:1025px) {
	#{$content-container-default},
	#{$content-container-custom} 			{ max-width: 1024px; }
}

// Desktop - SMALL
@media (min-width:769px) {
	#{$content-container-default},
	#{$content-container-custom} 			{ max-width: 900px; }
}

// Tablet
@media (max-width:768px) {
	#{$content-container-default},
	#{$content-container-custom} 			{ max-width: 750px; }
}

// iPhone 6S plus
@media (max-width:414px) {
	#{$content-container-default-mobi},
	#{$content-container-custom-mobi} 	{	max-width: 400px; }
}

// iPhone 6 and smaller
@media (max-width:375px) {
	#{$content-container-default-mobi},
	#{$content-container-custom-mobi} 	{ max-width: 355px; }
}






// ======================= QUESTION TYPES ======================
#{$question-default} { @include builder("question-default");
 	height: auto;
}

#{$question-default-mobi} { @include builder("question-default-mobi"); }

#{$question-single},
#{$question-single-mobi} { @include builder("question-single");}
#{$question-single-mobi} { @include builder("question-single-mobi"); }

#{$question-multi},
#{$question-multi-mobi} { @include builder("question-multi"); }
#{$question-multi-mobi} { @include builder("question-multi-mobi"); }

#{$question-free},
#{$question-free-mobi} { @include builder("question-free"); }
#{$question-free-mobi} { @include builder("question-free-mobi"); }







// ======================= ANSWERS CONTAINER ======================
/* answers container */
._pi_answers_container,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_answers_container {
	@include builder("answers-container");
  display: flex !important;
	flex-wrap: wrap !important;
	height: auto !important;
	@if variable-exists(margin-answers-container) {
		margin: $margin-answers-container;
	}
}

div#_pi_surveyWidget[data-question-type="custom_content_question"] ul._pi_answers_container,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[data-question-type="custom_content_question"] ul._pi_answers_container {
  display: none !important;
}





// ======================= FONTS, BUTTONS, TEXT FIELDS =======================

// MEDIUM FONT ==================================================
// default
#{$card-type-single} 							li a #{$single-choice-text},
#{$card-type-single-radio-on} 		li a #{$single-choice-text},
#{$card-type-multi} 							li #{$multi-choice-text},
#{$card-type-free} 								#{$free-text-one-line-text},
#{$card-type-free} 								#{$free-text-multi-line-text},
#{$card-type-custom} 							#{$custom-text},
#{$card-type-custom-full} 				#{$custom-full-text},

// mobile
#{$card-type-single-mobi} 					li a #{$single-choice-text},
#{$card-type-single-radio-on-mobi} 	li a #{$single-choice-text},
#{$card-type-multi-mobi} 						li #{$multi-choice-text},
#{$card-type-free-mobi} 						#{$free-text-one-line-text},
#{$card-type-free-mobi} 						#{$free-text-multi-line-text}

// hover
#{$card-type-single-not-mobi} 							li:hover a #{$single-choice-text},
#{$card-type-single-radio-on-not-mobi} 		li:hover a #{$single-choice-text},
#{$card-type-multi-not-mobi} 							li:hover #{$multi-choice-text},
#{$card-type-free} 								#{$free-text-one-line-text}#{$pseudo-hover},
#{$card-type-free} 								#{$free-text-multi-line-text}#{$pseudo-hover},

// focus
#{$card-type-free} 								#{$free-text-one-line-text}#{$pseudo-focus},
#{$card-type-free} 								#{$free-text-multi-line-text}#{$pseudo-focus},

//poll
#{$poll-name}
{
	@include builder("medium-font");
}


#{$card-type-single-mobi} 					li a #{$single-choice-text},
#{$card-type-single-radio-on-mobi} 	li a #{$single-choice-text},
#{$card-type-multi-mobi} 						li #{$multi-choice-text},
#{$card-type-free-mobi} 						#{$free-text-one-line-text},
#{$card-type-free-mobi} 						#{$free-text-multi-line-text},
#{$card-type-custom-mobi} 					#{$custom-text},
#{$card-type-custom-full-mobi} 			#{$custom-full-text},
#{$poll-name}
{
	@include builder("medium-font-mobi");
}


#{$card-type-single-not-mobi} 							li:hover a #{$single-choice-text},
#{$card-type-single-radio-on-not-mobi} 		li:hover a #{$single-choice-text},
#{$card-type-multi-not-mobi} 							li:hover #{$multi-choice-text}
{
	@include builder("medium-font-hover");
}


input._pi_free_text_question_field::-moz-placeholder 						 { color: $font-md-placeholder }
input._pi_free_text_question_field:-moz-placeholder 						 { color: $font-md-placeholder }
input._pi_free_text_question_field::-ms-input-placeholder 			 { color: $font-md-placeholder }
input._pi_free_text_question_field::-webkit-input-placeholder 	 { color: $font-md-placeholder }

textarea._pi_free_text_question_field:-moz-placeholder 					 { color: $font-md-placeholder }
textarea._pi_free_text_question_field::-moz-placeholder 				 { color: $font-md-placeholder }
textarea._pi_free_text_question_field::-ms-input-placeholder 		 { color: $font-md-placeholder }
textarea._pi_free_text_question_field::-webkit-input-placeholder { color: $font-md-placeholder }


// BUTTONS ======================================================================
// Free Text, Multi Choice, Custom Content, Custom Content Fullscreen, Invitation

#{$card-type-free} input._pi_free_text_question_submit_button,
#{$card-type-multi} input._pi_multiple_choices_question_submit_button,
#{$invitation-button}

#{$card-type-free-mobi} input._pi_free_text_question_submit_button,
#{$card-type-multi-mobi} input._pi_multiple_choices_question_submit_button,
#{$invitation-button-mobi} {
	@include builder("submit-button");
}

#{$card-type-free-mobi} input._pi_free_text_question_submit_button,
#{$card-type-multi-mobi} input._pi_multiple_choices_question_submit_button,
#{$invitation-button-mobi} {
	@include builder("submit-button-mobi");
}

#{$card-type-free-not-mobi} input._pi_free_text_question_submit_button:hover,
#{$card-type-multi-not-mobi} input._pi_multiple_choices_question_submit_button:hover,
#{$invitation-button-hover} {
	@include builder("submit-button-hover");
}

// HARDCODED TO ALLOW SPACE IN MULTIPLE CHOICE SPECIAL CASE
#{$card-type-multi} input._pi_multiple_choices_question_submit_button,
#{$card-type-multi-mobi} input._pi_multiple_choices_question_submit_button {
	margin-top: 10px;
}

// SKIPPING THIS BECAUSE YOU CAN'T ADD PSEUDO :AFTER TO AN INPUT TAG
#{$card-type-free} input._pi_free_text_question_submit_button:after,
#{$card-type-multi} input._pi_multiple_choices_question_submit_button:after,
#{$invitation-button} #{$pseudo-after} {

}

// SMALL FONT ==================================================
// Branding, Free Text Character Count, Multiple Choice Count

#{$character-count},
#{$multi-max-count},
#{$branding},
#{$branding-hover},
#{$branding-custom},
#{$branding-custom-hover}, #{$poll-progress} { @include builder("small-font"); }

#{$branding-hover},
#{$branding-custom-hover} { @include builder("small-font-hover"); }

#{$character-count-mobi},
#{$multi-max-count-mobi},
#{$branding-mobi},
#{$branding-custom-mobi} { @include builder("small-font-mobi"); }



// ===================== HEADERS =====================
/* Before and After Question Headers */
#{$question-header-before},
#{$question-header-after} { @include builder("question-header"); }

#{$question-header-before-mobi},
#{$question-header-after-mobi} { @include builder("question-header-mobi"); }

#{$aao-question-header-before},
#{$aao-question-header-after} {
	@include builder("question-header");
	text-align: $font-header-align-aao !important;
}

#{$aao-question-header-before-mobi},
#{$aao-question-header-after-mobi} {
	@include builder("question-header-mobi");
	text-align: $font-header-align-aao !important;
}


// ===================== SCALES =====================
/* scale container */
#{$pi-scale-container},
#{$pi-scale-container-mobi} { @include builder("answer-scale"); }

#{$pi-scale-container-mobi} { @include builder("answer-scale-mobi"); }

/* scale container before (both) */
#{$pi-scale-container-before},
#{$pi-scale-container-before-mobi} {
	margin-top: 5px
}

/* scale container after (both) */
#{$pi-scale-container-after},
#{$pi-scale-container-after-mobi} {
	margin-bottom: 5px;
}


// ===================== POLLS =====================
#{$poll-chart} {
	background-color: $bg-color-single-choice-answer-all-hover;
}

#{$poll-container} {
	width: 75% !important;
	padding: 30px 0 0 0 !important;
}

#{$poll-progress} {
	margin-bottom: 10px !important;
}


// ======================= SINGLE CHOICE STANDARD =======================

// CONTAINER WIDTHS
#{$card-type-single} ul._pi_answers_container {
	width:   100% !important;
}

#{$card-type-single-mobi} ul._pi_answers_container {
	width:   98% !important;
}

/* SINGLE CHOICE - ANSWERS */
#{$card-type-single} li,
#{$card-type-single} li a,
#{$card-type-single} li a #{$single-choice-text} {
	@include builder("single-choice-answer-all");
  height:  auto !important;
  display: flex;
	align-items: center !important;
	cursor: pointer !important;
}

#{$card-type-single} li a {
	width: 100% !important;
}

#{$card-type-single} li,
#{$card-type-single-mobi} li {
	@include builder("single-choice-answer-each");
}

ul._pi_answers_container li label._pi-control-checkbox {
  flex-basis: 	100%;
  margin: 			0;
  display: 			flex;
}

// RADIO BUTTONS
/* radio buttons - ALL breaking points */
#{$radio-button-outer} {
	@include builder("radio-button-outer");
  position: relative !important;
	top: 0px !important;
	height: auto !important;
	min-height: auto !important;
}

#{$radio-button-inner} {
  position: relative !important;
  display: 	block !important;
	height: 10px !important;
	width: 10px !important;
	top: 0px !important;
	left: 0px !important;
}

/* radio buttons - tablet */
@media (min-width:769px) {
	#{$radio-button-outer-hover} { @include builder("radio-button-outer-hover"); }

	#{$radio-button-inner-hover} { @include builder("radio-button-inner-hover"); }
}




// TEXT - RADIO OFF - ALL BREAKING POINTS
/* single choice - standard - ALL breaking points */
#{$card-type-single} li a #{$single-choice-text} {


	/* single choice - standard - radio OFF */
	@if variable-exists(single-choice-noradio-text-padding-desk) {
		padding: $single-choice-noradio-text-padding-desk;
	}


	width: 100% !important;
	min-width: auto;
}




// TEXT - RADIO ON - ALL BREAKING POINTS
/* single choice - standard - ALL breaking points */
#{$card-type-single-radio-on} li a #{$single-choice-text} {


	/* single choice - standard - radio ON */
	// padding: 10px 8px;
	@if variable-exists(single-choice-radio-text-padding-desk) {
		padding: $single-choice-radio-text-padding-desk;
	}


}

// SINGLE CHOICE - DESKTOP - INCLUDING HOVERS
@media (min-width:769px) {
	#{$card-type-single-not-mobi} li:hover,
	#{$card-type-single-not-mobi} li:hover a,
	#{$card-type-single-not-mobi} li:hover a #{$single-choice-text} {
		@include builder("single-choice-answer-all-hover");
	}

	#{$card-type-single-not-mobi} li:hover {
		@include builder("single-choice-answer-each-hover");
	}

	#{$card-type-single-not-mobi} li:hover a #{$single-choice-text} {
	}

	#{$card-type-single-radio-on-not-mobi} li:hover a #{$single-choice-text} {
	}
}

// SINGLE CHOICE - TABLET
@media (min-width:415px) and (max-width:768px) {
	/* single choice - standard - tablet - radio OFF */
	#{$card-type-single} li a #{$single-choice-text} {
		@if variable-exists(single-choice-noradio-text-padding-ipad) {
			padding: $single-choice-noradio-text-padding-ipad;
		}
	}

	#{$card-type-single-radio-on} li a #{$single-choice-text} {
		/* single choice - standard - tablet - radio ON */
		// padding: 10px 8px !important;
		@if variable-exists(single-choice-radio-text-padding-ipad) {
			padding: $single-choice-radio-text-padding-ipad;
		}
	}
}

// SINGLE CHOICE MOBILE
@media (max-width:414px) {
	// TEXT - RADIO OFF
	#{$card-type-single-mobi} li a #{$single-choice-text} {
		/* single choice - standard - mobile - radio OFF */
		//padding: 12px 15px !important;
		@if variable-exists(single-choice-noradio-text-padding-mobi) {
			padding: $single-choice-noradio-text-padding-mobi;
		}
	}

	// TEXT - RADIO ON
	#{$card-type-single-radio-on-mobi} li a #{$single-choice-text} {
		/* single choice - standard - mobile - radio ON */
		// padding: 10px 8px !important;
		@if variable-exists(single-choice-radio-text-padding-mobi) {
			padding: $single-choice-radio-text-padding-mobi;
		}
	}
}

// ======================= MULTIPLE CHOICE =======================
// ANSWER CONTAINER WIDTHS
#{$card-type-multi} ul._pi_answers_container {
	width: 100%;
	flex-wrap: wrap !important;
}

#{$card-type-multi-mobi} ul._pi_answers_container {
	width: 98%;
	flex-wrap: wrap !important;
}

// MULTIPLE CHOICE - ANSWERS
#{$card-type-multi} li,
#{$card-type-multi} li #{$multi-choice-text} {
	@include builder("multi-choice-answer-all");
	height: auto;
	width: 100% !important;
	align-items: center !important;
}

#{$card-type-multi} li,
#{$card-type-multi-mobi} li {
	@include builder("multi-choice-answer-each");
	height: auto;
}

// CHECKBOXES
#{$multi-checkbox-outer} {
	@include builder("multi-checkbox-outer");
  position: static !important;
  display:  block !important;
  min-height:   14px;
}

/* after */
#{$multi-checkbox-checkmark} {
	@include builder("multi-checkbox-checkmark");
	left: 	  $checkmark-left-offset;
	width: 	  $checkmark-width;
	height:   $checkmark-height;
}

@media (min-width:769px) {
	#{$multi-checkbox-outer-hover} {
		@include builder("multi-checkbox-outer-hover");
	}

	#{$multi-checkbox-checkmark-hover} {
		@include builder("multi-checkbox-checkmark-hover");
	}
}

#{$multi-checkbox-outer-mobi} {
	left: 	$checkmark-left-offset-mobi;
	width: 	$checkmark-width-mobi;
	height:	$checkmark-height-mobi;
}

/* multitext */
// TEXT - ALL BREAKING POINTS
#{$card-type-multi} li #{$multi-choice-text} {
	padding: 15px 15px 15px 0;
}

// MULTIPLE CHOICE - DESKTOP - INCLUDING HOVERS
@media (min-width:769px) {
	#{$card-type-multi-not-mobi} li:hover,
	#{$card-type-multi-not-mobi} li:hover #{$multi-choice-text} {
		@include builder("multi-choice-answer-all-hover");
	}

	#{$card-type-multi-not-mobi} li:hover {
		@include builder("multi-choice-answer-each-hover");
	}

	#{$card-type-multi-not-mobi} li:hover #{$multi-choice-text} {
	}
}

// MULTIPLE CHOICE - TABLET
@media (min-width:415px) and (max-width:768px) {
	#{$card-type-multi} li #{$multi-choice-text} {
		padding: 13px 13px 13px 0;
	}
}

// MULTIPLE CHOICE - MOBILE
@media (max-width:414px) {
	#{$card-type-multi-mobi} li #{$multi-choice-text} {
		padding: 10px 10px 10px 0;
	}
}

div._pi_multiple_choices_count {
	height:      auto;
	padding:     4px 0 6px !important;
	text-align:  center;
}

// ======================= FREE TEXT =======================

div[data-question-type="free_text_question"] ._pi_answers_container { }

div[data-question-type="free_text_question"] ._pi_question { }

input._pi_free_text_question_field,
textarea._pi_free_text_question_field {
	border-radius: 0px;
}

ul._pi_answers_container input[type="text"],
input._pi_free_text_question_field {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #ccc;
	box-shadow: 0 0 0 0 #ccc;
	padding: 0;
	margin: 0;
	background-color: #fff; //#fafafa;
}

#{$top-container-not-mobi} ul._pi_answers_container input[type="text"]:hover,
#{$top-container-not-mobi} input._pi_free_text_question_field:hover {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #aaa;
	box-shadow: 0 0 0 0 #aaa;
	padding: 0;
	margin: 0;
	background-color: #f3f3f3;
}

ul._pi_answers_container input[type="text"]:focus,
input._pi_free_text_question_field:focus {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #999;
	box-shadow: 0 0 0 0 #999;
	padding: 0;
	margin: 0;
	background-color: #f3f3f3;
}

ul._pi_answers_container textarea._pi_free_text_question_field {
	border-width: 1px;
	border-style: solid;
	border-color: #ccc;
	box-shadow: 0 0 0 0 #ccc;
	padding: 0;
	margin: 0;
	background-color: #fff; //#fafafa;
}

#{$top-container-not-mobi} ul._pi_answers_container textarea._pi_free_text_question_field:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
	box-shadow: 0 0 0 0 #aaa;
	padding: 0;
	margin: 0;
	background-color: #f3f3f3;
}

ul._pi_answers_container textarea._pi_free_text_question_field:focus {
	border-width: 1px;
	border-style: solid;
	border-color: #999;
	box-shadow: 0 0 0 0 #999;
	padding: 0;
	margin: 0;
	background-color: #f3f3f3;
}

div._pi_free_text_question_characters_count {
	text-align: right;
	padding-top: 7px !important;
}

div._pi_free_text_question_submit_button_container {}

// B3) ANSWERS CONTAINER | desktop
div[data-question-type="free_text_question"] ul._pi_answers_container {
	width: 		80% !important;
	padding: 	0 !important;
	margin: 	0 !important;

	display: 					flex;
	flex-direction: 	row;
	flex-wrap: 				nowrap;
	justify-content: 	space-around;
	align-items: 			flex-start;
}

// B3) ANSWERS CONTAINER | mobile
#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="free_text_question"] ul._pi_answers_container {
	width: 			95% !important;
	margin: 		0 0 0 0;
	flex-wrap: 	nowrap !important;
}

// B3.a) FIELD CONTAINER | desktop
._pi_free_text_question_field_container,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
	@include builder("free-text-question-field-container");
}

._pi_free_text_question_field_container {
	padding: 	0 !important;
	margin:		0 !important;
	flex: 		1 1 auto;
}

div[data-question-type="multiple_choices_question"] ._pi_free_text_question_field_container {
	background-color: rgba(255, 255, 255, 0);
	margin: 					0 !important;
}

// B3.a) FIELD CONTAINER | mobile
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
	padding: 	0;
	margin: 	0;
	flex: 		1 1 auto;
}

// B3.a1) INPUT AND TEXTAREA FIELDS
input._pi_free_text_question_field {
	height: 		auto;
	padding: 		0.5rem !important;
}

textarea._pi_free_text_question_field {
	height: 		auto;
	padding: 		0.5rem !important;
}

// B3.a2) CHARACTERS COUNT
._pi_free_text_question_characters_count {
	padding: 		3px 0 0 0 !important;
	margin: 		0 !important;
}

// B3.b) SUBMIT BUTTON CONTAINER | desktop
._pi_free_text_question_submit_button_container {
	padding: 				0 !important;
	padding-left: 	10px !important;
	margin: 				0 !important;

	flex: 				0 1 auto;
	align-self:		flex-start;
}

div[data-question-type="multiple_choices_question"] ._pi_multiple_choices_question_submit_button_container {
	background-color: rgba(255, 255, 255, 0);
	margin: 					0 !important;
	width: 100% !important;
}

// Button under text box in Docked Widget
#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] ._pi_free_text_question_submit_button_container {
	padding: 4px 0 2px 0 !important;
	flex: 	 1 1 auto;
}

// B3.b) SUBMIT BUTTON CONTAINER | mobile
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
	padding: 				0 !important;
	padding-left: 	5px !important;
	margin: 				0 !important;

	flex: 					0 1 auto;
}

// B3.b1) SUBMIT BUTTON
._pi_free_text_question_submit_button {
	margin-right: 0;
}

// ======================= ALL AT ONCE =======================
/* TO DISPLAY: NONE UPON CLOSE */
div#_pi_surveyWidgetContainer.all-at-once[style*="none"],
div#_pi_surveyWidgetContainer.mobile-enabled.all-at-once[style*="none"] {
	display: none !important;
  height: 0 !important;
}

#{$aao-top-container},
#{$aao-top-container-mobi} {
	width: 100vw !important;
	height: 100vh !important;
	top: 0px !important;
	left: 0px !important;
	position: fixed;
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	z-index: 1000000 !important
}

#{$aao-top-container} div#_pi_surveyWidget {
	display: 					flex !important;
	flex-direction: 	column !important;
	flex-wrap:				nowrap !important;
	justify-content: 	flex-start !important;
	align-items: 			center !important;
	flex-direction: column;
	align-content: 		space-between !important;
	height: 					auto;
	width: 						100%;
	margin: 					auto !important;
	padding-bottom: 	0px !important;
	overflow-y: auto;
}

#{$aao-top-container} div#_pi_surveyWidgetCustom {
	display: 					flex !important;
	flex-direction: 	column !important;
	flex-wrap: 				nowrap !important;
	justify-content: 	space-between !important;
	align-items: 			center !important;
	align-content: 		space-between !important;
}

#{$aao-close-fullsc} {
	margin: 0 0 0 auto !important;
}

#{$aao-close-fullsc-mobi} {
	margin: -5px 10px auto auto !important;
}

#{$aao-content-container} {
	width: 95% !important;
}

/*------------------------ AAO ANSWER FONTS ------------------------ */
// default
#{$aao-card-type-single} 							li a #{$single-choice-text},
#{$aao-card-type-single-radio-on} 		li a #{$single-choice-text},
#{$aao-card-type-multi} 							li #{$multi-choice-text},
#{$aao-card-type-free} 								#{$free-text-one-line-text},
#{$aao-card-type-free} 								#{$free-text-multi-line-text},
#{$aao-card-type-custom} 							#{$custom-text},
#{$aao-card-type-custom} 							#{$custom-text} p,
#{$aao-card-type-custom-full} 				#{$custom-full-text},

// mobile
#{$aao-card-type-single-mobi} 					li a #{$single-choice-text},
#{$aao-card-type-single-radio-on-mobi} 	li a #{$single-choice-text},
#{$aao-card-type-multi-mobi} 						li #{$multi-choice-text},
#{$aao-card-type-free-mobi} 						#{$free-text-one-line-text},
#{$aao-card-type-free-mobi} 						#{$free-text-multi-line-text},
#{$aao-card-type-custom-mobi} 					#{$custom-text},
#{$aao-card-type-custom-full-mobi} 			#{$custom-full-text},

// hover
#{$aao-card-type-single-not-mobi} 							li:hover a #{$single-choice-text},
#{$aao-card-type-single-radio-on-not-mobi} 		li:hover a #{$single-choice-text},
#{$aao-card-type-multi-not-mobi} 							li:hover #{$multi-choice-text},
#{$aao-card-type-free} 								#{$free-text-one-line-text}#{$pseudo-hover},
#{$aao-card-type-free} 								#{$free-text-multi-line-text}#{$pseudo-hover},

// focus
#{$aao-card-type-free} 								#{$free-text-one-line-text}#{$pseudo-focus},
#{$aao-card-type-free} 								#{$free-text-multi-line-text}#{$pseudo-focus}
{
	@include builder("medium-font");
}

#{$aao-card-type-single-mobi} 					li a #{$single-choice-text},
#{$aao-card-type-single-radio-on-mobi} 	li a #{$single-choice-text},
#{$aao-card-type-multi-mobi} 						li #{$multi-choice-text},
#{$aao-card-type-free-mobi} 						#{$free-text-one-line-text},
#{$aao-card-type-free-mobi} 						#{$free-text-multi-line-text},
#{$aao-card-type-custom-mobi} 					#{$custom-text},
#{$aao-card-type-custom-full-mobi} 			#{$custom-full-text}
{
	@include builder("medium-font-mobi");
}

#{$aao-card-type-single-not-mobi} 							li:hover a #{$single-choice-text},
#{$aao-card-type-single-radio-on-not-mobi} 		li:hover a #{$single-choice-text},
#{$aao-card-type-multi-not-mobi} 							li:hover #{$multi-choice-text},
#{$aao-card-type-single} li.selected,
#{$aao-card-type-single} li.selected a,
#{$aao-card-type-single} li.selected a #{$single-choice-text}
{
	@include builder("medium-font-hover");
}
//------------------------ end AAO ANSWER FONTS ------------------------

//------------------------ AAO ANSWERS CONTAINERS ------------------------
/* aao answers container */
#{$aao-top-container} ._pi_answers_container,
#{$aao-top-container-mobi} #_pi_surveyWidget #{$aao-content-container} ._pi_answers_container {
	@include builder("answers-container");
  display: flex !important;
	flex-wrap: wrap !important;
	height: auto !important;
}

// /* single choice - aao */
// #{$aao-card-type-single} li a #{$single-choice-text} {
// 	@if variable-exists(single-choice-answer-text-padding) {
// 		padding: $single-choice-answer-text-padding;
// 	}
// 	width: 100% !important;
// 	min-width: auto;
// }

// TEXT - AAO - RADIO OFF - ALL BREAKING POINTS
/* single choice - AAO - ALL breaking points */
#{$aao-card-type-single} li a #{$single-choice-text} {
	/* single choice - AAO - radio OFF */
	@if variable-exists(single-choice-noradio-text-padding-desk) {
		padding: $single-choice-noradio-text-padding-desk !important;
	}
	width: 100% !important;
	min-width: auto;
}

// TEXT - AAO - RADIO ON - ALL BREAKING POINTS
/* single choice - AAO - ALL breaking points */
#{$aao-card-type-single-radio-on} li a #{$single-choice-text} {
	/* single choice - AAO - radio ON */
	// padding: 10px 8px;
	@if variable-exists(single-choice-radio-text-padding-desk) {
		padding: $single-choice-radio-text-padding-desk !important;
	}
}








/* aao single choice - DESKTOP - INCLUDING HOVERS */
@media (min-width:769px) {
	#{$aao-card-type-single-not-mobi} li:hover,
	#{$aao-card-type-single-not-mobi} li:hover a,
	#{$aao-card-type-single-not-mobi} li:hover a #{$single-choice-text} {
		@include builder("single-choice-answer-all-hover");
	}

	#{$aao-card-type-single-not-mobi} li:hover {
		@include builder("single-choice-answer-each-hover");
	}
}

// /* aao single choice - TABLET */
// @media (min-width:415px) and (max-width:768px) {
// 	#{$aao-card-type-single} li a #{$single-choice-text} {
// 		@if variable-exists(single-choice-noradio-text-padding-ipad) {
// 			padding: $single-choice-noradio-text-padding-ipad;
// 		}
// 	}
// }

// SINGLE CHOICE - AAO - TABLET
@media (min-width:415px) and (max-width:768px) {
	/* single choice - AAO - tablet - radio OFF */
	#{$aao-card-type-single} li a #{$single-choice-text} {
		@if variable-exists(single-choice-noradio-text-padding-ipad) {
			padding: $single-choice-noradio-text-padding-ipad !important;
		}
	}

	#{$aao-card-type-single-radio-on} li a #{$single-choice-text} {
		/* single choice - AAO - tablet - radio ON */
		// padding: 10px 8px !important;
		@if variable-exists(single-choice-radio-text-padding-ipad) {
			padding: $single-choice-radio-text-padding-ipad !important;
		}
	}
}

// /* aao single choice - MOBILE */
// @media (max-width:414px) {
// 	// TEXT - RADIO OFF
// 	#{$aao-card-type-single-mobi} li a #{$single-choice-text} {
// 		padding: 12px 15px !important;
// 	}
// }

// SINGLE CHOICE - AAO - MOBILE
@media (max-width:414px) {
	// TEXT - RADIO OFF
	#{$aao-card-type-single-mobi} li a #{$single-choice-text} {
		/* single choice - AAO - mobile - radio OFF */
		//padding: 12px 15px !important;
		@if variable-exists(single-choice-noradio-text-padding-mobi) {
			padding: $single-choice-noradio-text-padding-mobi !important;
		}
	}

	// TEXT - RADIO ON
	#{$aao-card-type-single-radio-on-mobi} li a #{$single-choice-text} {
		/* single choice - AAO - mobile - radio ON */
		// padding: 10px 8px !important;
		@if variable-exists(single-choice-radio-text-padding-mobi) {
			padding: $single-choice-radio-text-padding-mobi !important;
		}
	}
}



/* aao multiple choice */
#{$aao-card-type-multi} li #{$multi-choice-text}  {
	padding: 12px 0px !important;
	width: 100% !important;
	min-width: auto;
}

/* aao multiple choice - DESKTOP - INCLUDING HOVERS */
@media (min-width:769px) {
	#{$aao-card-type-multi-not-mobi} li:hover,
	#{$aao-card-type-multi-not-mobi} li:hover a,
	#{$aao-card-type-multi-not-mobi} li:hover a #{$multi-choice-text}  {
		@include builder("multi-choice-answer-all-hover");
	}

	// #{$aao-card-type-multi} li:hover {
	// 	@include builder("multi-choice-answer-each-hover");
	// }
}

/* aao multiple choice - TABLET */
@media (min-width:415px) and (max-width:768px) {
	#{$aao-card-type-multi} li a #{$multi-choice-text}  {
		padding: 12px 20px !important;
	}
}

/* aao multiple choice - MOBILE */
@media (max-width:414px) {
	// TEXT - RADIO OFF
	#{$aao-card-type-multi-mobi} li a #{$multi-choice-text}  {
		padding: 12px 15px !important;
		// color: red !important;
	}
}
//------------------------ end AAO ANSWERS CONTAINERS ------------------------

#{$widget-fullsc-aao},
#{$widget-fullsc-aao-mobi} {
	@include builder("widget-fullscreen");
	margin: auto 0 !important;
	position: relative;
	max-width: 650px;
	height: auto !important;
}

// SINGLE CHOICE
#{$aao-question-single},
#{$aao-question-single-mobi} {
	@include builder("question-single");
	padding-top: 10px;
	text-align: $font-lg-align-aao;
	width: 100%;
}
#{$aao-question-single-mobi} { @include builder("question-single-mobi"); }

/* AAO SINGLE CHOICE - ANSWERS */
#{$aao-card-type-single} li,
#{$aao-card-type-single} li a,
#{$aao-card-type-single} li a #{$single-choice-text} {
	@include builder("single-choice-answer-all");
  height:  auto !important;
  display: flex;
	align-items: center !important;
	cursor: pointer !important;
	flex-grow: 1;
	flex-basis: 0;
}

#{$aao-card-type-single-radio-off} li,
#{$aao-card-type-single-radio-off} li a,
#{$aao-card-type-single-radio-off} li a #{$single-choice-text} {
	flex-grow: 0;
	flex-basis: auto;
	display: block;
}

#{$aao-card-type-single} li,
#{$aao-card-type-single-mobi} li {
	@include builder("single-choice-answer-each");
}

#{$aao-card-type-single} ul._pi_answers_container {
	width: 100% !important;
}

#{$aao-card-type-single} li.selected,
#{$aao-card-type-single} li.selected a,
#{$aao-card-type-single} li.selected a #{$single-choice-text} {
	@include builder("single-choice-answer-all-hover");
}

#{$aao-card-type-single} li.selected {
	@include builder("single-choice-answer-each-hover");
}

// MULTI CHOICE
#{$aao-question-multi},
#{$aao-question-multi-mobi} {
	@include builder("question-multi");
	padding-top: 10px;
	text-align: left;
	width: 100%;
}
#{$aao-question-multi-mobi} { @include builder("question-multi-mobi"); }

// MULTI CHOICE - ANSWERS
#{$aao-card-type-multi} li {
	@include builder("multi-choice-answer-all");
  height:  auto !important;
  display: flex;
	align-items: center !important;
	cursor: pointer !important;
	flex-grow: 1;
	flex-basis: 0;
}

#{$aao-card-type-multi} li,
#{$aao-card-type-multi-mobi} li {
	@include builder("multi-choice-answer-each");
}

// MULTI CHOICE - CHECKBOXES
#{$aao-multi-checkbox-outer} {
	@include builder("multi-checkbox-outer");
  position: static !important;
  display:  block !important;
  min-height:   14px;
}

/* after */
#{$aao-multi-checkbox-checkmark} {
	@include builder("multi-checkbox-checkmark");
	left: 	  $checkmark-left-offset;
	width: 	  $checkmark-width;
	height:   $checkmark-height;
}

@media (min-width:769px) {
	#{$aao-multi-checkbox-outer-hover} {
		@include builder("multi-checkbox-outer-hover");
	}

	#{$aao-multi-checkbox-checkmark-hover} {
		@include builder("multi-checkbox-checkmark-hover");
	}
}

#{$aao-multi-checkbox-outer-mobi} {
	left: 	$checkmark-left-offset-mobi;
	width: 	$checkmark-width-mobi;
	height:	$checkmark-height-mobi;
}

#{$aao-card-type-multi} ul._pi_answers_container {
	width: 100% !important;
}

// FREE TEXT
#{$aao-question-free},
#{$aao-question-free-mobi} {
	@include builder("question-free");
	padding-top: 10px;
	text-align: left;
	width: 100%;
}
#{$aao-question-free-mobi} { @include builder("question-free-mobi"); }

// SUBMIT BUTTON
#{$aao-submit-button} { @include builder("submit-button"); }
#{$aao-submit-button-not-mobi}:hover { @include builder("submit-button-hover"); }

// MENU SELECT
#{$aao-selected}, #{$aao-selected} option { @include builder("medium-font"); }
#{$aao-selected-mobi}, #{$aao-selected-mobi} option { @include builder("medium-font-mobi"); }


#{$selected}, #{$selected} option { @include builder("medium-font"); }
#{$selected-mobi}, #{$selected-mobi} option { @include builder("medium-font-mobi"); }

/* aao-selected */
#{$aao-selected}, #{$selected} {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	background-color: #fff;
	border-radius: 0px;
	background-position: 100% center;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
	background-repeat: no-repeat;
	border-style: solid;
	border-width: 1px;
	border-color: #afafaf;
	height: auto;
	width: 100% !important;
	padding: 13px 10px !important;
}

//------------------------ ANSWER LEVEL IMAGES ----------------------------

//GENERAL STYLING
#{$with-image} a span {
	margin: 0px !important;
	order: 2 !important;
}

#{$with-image} #{$answer-image-top} img,
#{$with-image} #{$answer-image-bottom} img {
	margin-top: 10px !important;
}

#{$with-image} a label.with-image {
	display: block !important;
	text-align: center !important;
	order: 2 !important;
	padding: 5px 20px !important;
}

#{$with-image} {
	flex-grow: 0 !important;
  flex-basis: auto !important;
  display: flex !important;
  align-items: center !important;
	justify-content: center !important;
	align-content: center !important;
}

#{$with-image} a img {
	margin: 5px 5px !important;
}

//TOP
#{$answer-image-top} {
	flex-grow: 0 !important;
  flex-basis: auto !important;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
	justify-content: center !important;
	align-content: center !important;
}

//BOTTOM
#{$answer-image-bottom} {
	flex-grow: 0 !important;
  flex-basis: auto !important;
  display: flex !important;
  flex-direction: column-reverse;
  align-items: center !important;
	justify-content: center !important;
	align-content: center !important;
}

//LEFT
#{$answer-image-left} {
	flex-grow: 0 !important;
  flex-basis: auto !important;
  display: flex !important;
  flex-direction: row;
  align-items: center !important;
	justify-content: center !important;
	align-content: center !important;
}

//RIGHT
#{$with-image} #{$answer-image-right} label.with-image {
	order: 1 !important;
}
// #{$with-image} #{$answer-image-right} span {
// 	margin-left: 10px !important;
// }

#{$answer-image-right} {
	flex-grow: 0 !important;
  flex-basis: auto !important;
  display: flex !important;
  flex-direction: row-reverse;
  align-items: center !important;
	justify-content: center !important;
	align-content: center !important;
}

//SELECTED ANSWERS


//------------------------ end ANSWER LEVEL IMAGES ------------------------

/* ------------------------------ RADIO BUTTONS ON/OFF -------------------------------------------- */
ul[data-radio-button="off"] li {
	justify-content: center;
}

ul[data-radio-button="off"] li a span._pi_radio_button_outer {
	display: none !important; }

ul[data-radio-button="on"] li a span._pi_radio_button_outer {
	@include builder("radio-button-outer");
	top: 0px !important;
	height: 14px !important;
	width: 14px !important;
	min-height: auto !important;
 	position: relative !important; }

#{$top-container-not-mobi} ul[data-radio-button="on"] li:hover a span._pi_radio_button_outer {
	@include builder("radio-button-outer-hover");
	top: 0px !important;
	height: 14px !important;
	width: 14px !important;
	min-height: auto !important;
 	position: relative !important; }

#{$top-container-not-mobi} ul[data-radio-button="on"] li:hover a span._pi_radio_button_inner {
	@include builder("radio-button-inner-hover"); }

ul[data-radio-button="on"] li.selected a span._pi_radio_button_outer {
	@include builder("radio-button-outer");
	top: 0px !important;
	height: 14px !important;
	width: 14px !important;
	min-height: auto !important;
 	position: relative !important; }

ul[data-radio-button="on"] li.selected a span._pi_radio_button_outer {
	@include builder("radio-button-outer-hover");
	top: 0px !important;
	height: 14px !important;
	width: 14px !important;
	min-height: auto !important;
 	position: relative !important; }

ul[data-radio-button="on"] li.selected a span._pi_radio_button_inner {
	@include builder("radio-button-inner-hover"); }
/* ------------------------------ TEXT ALIGNMENT: RADIO AND CHECKBOX ------------------------------ */
ul[data-radio-button="off"] li a label {
	text-align: center !important;
 	justify-content: center !important; }

ul[data-radio-button="on"] li a label {
	text-align: left !important; }

ul[data-answer-widths="fixed"] li label._pi-control-checkbox {
	text-align: left !important; }

/* ------------------------------ BUTTON GROUP ALIGNMENT: FIXED, VARIABLE LEFT/RIGHT ------------- */
ul[data-answer-widths="variable-center"] {
	justify-content: 	center;	}

ul[data-answer-widths="variable-center"] li {
	margin: 5px 1% !important; }

ul[data-answer-widths="variable-left"] {
	justify-content: 	flex-start;	}

ul[data-answer-widths="variable-left"] li {
	margin: 5px 1% !important; }

ul[data-answer-widths="fixed"] {
	justify-content: 	flex-start;	}

ul[data-answer-widths="fixed"] li {
	margin: 5px 0.9% !important; }

/* ------------------------------ BUTTON WIDTHS: VARIABLE ---------------------------------------- */
ul[data-answer-widths="variable-left"] li,
ul[data-answer-widths="variable-center"] li {
/* 	flex: 0 0 auto; */
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
}

/* ------------------------------ BUTTON WIDTHS: FIXED ------------------------------------------- */
/* THE DEFAULT FOR FIXED: 3 PER ROW ------------------------------ */
ul[data-answer-widths="fixed"] li {
	flex: 0 0 31%;
	max-width: 31%; }

ul[data-answer-widths="fixed"][data-answers-per-row="1"] li {
	margin: 5px 7% !important;
	flex: 0 0 86% !important;
	max-width: 86% !important; }

ul[data-answer-widths="fixed"][data-answers-per-row="2"] li {
	flex: 0 0 48% !important;
	max-width: 48% !important; }

ul[data-answer-widths="fixed"][data-answers-per-row="3"] li {
	flex: 0 0 31% !important;
	max-width: 31% !important; }

ul[data-answer-widths="fixed"][data-answers-per-row="4"] li {
	flex: 0 0 23% !important;
	max-width: 23% !important; }

ul[data-answer-widths="fixed"][data-answers-per-row="5"] li {
	flex: 0 0 18% !important;
	max-width: 18% !important; }

ul[data-answer-widths="fixed"][data-answers-per-row="6"] li {
	flex: 0 0 14.5% !important;
	max-width: 14.5% !important; }

ul[data-answer-widths="fixed"][data-answers-per-row="7"] li {
	flex: 0 0 12.25% !important;
	max-width: 12.25% !important; }

ul[data-answer-widths="fixed"][data-answers-per-row="8"] li {
	flex: 0 0 10.5% !important;
	max-width: 10.5% !important; }

ul[data-answer-widths="fixed"][data-answers-per-row="9"] li {
	flex: 0 0 9.1% !important;
	max-width: 9.1% !important; }

ul[data-answer-widths="fixed"][data-answers-per-row="10"] li {
	flex: 0 0 8% !important;
	max-width: 8% !important; }

// ======================= INVITATION TEXT ======================
#{$invitation},
#{$invitation-mobi} { @include builder("invitation"); }
#{$invitation-mobi} { @include builder("invitation-mobi"); }

#{$invitation-button},
#{$invitation-button-mobi} { @include builder("invitation-button"); }
#{$invitation-button-mobi} { @include builder("invitation-button-mobi"); }


// ======================= THANK YOU ======================
#{$thank-you},
#{$thank-you-mobi} { @include builder("thank-you"); }
#{$thank-you-mobi} { @include builder("thank-you-mobi"); }


// ======================= BRANDING ========================
#{$branding},
#{$branding-mobi} { @include builder("branding"); }
#{$branding-mobi} { @include builder("branding-mobi"); }

#{$branding-custom},
#{$branding-custom-mobi} { @include builder("branding-custom"); }
#{$branding-custom-mobi} { @include builder("branding-custom-mobi"); }

#{$branding},
#{$branding-mobi} {
	display: 		block;
	position: 	relative;
	bottom:			0;
	left: 			0;
	width: 			auto;
}

#{$aao-top-container} #{$branding} {
	//display: none !important
}

#{$aao-top-container-mobi} #{$branding} {
	//display: none !important;
}

// ======================= ITEMS PER ROW VALUES =======================
/* ------------------------------ RADIO BUTTONS ON/OFF -------------------------------------------- */
div[data-radio-button="off"] ul._pi_answers_container li a span._pi_radio_button_outer {
	display: none !important; }

div[data-radio-button="on"] ul._pi_answers_container li a span._pi_radio_button_outer {
	display: block !important; }


/* ------------------------------ TEXT ALIGNMENT: RADIO AND CHECKBOX ------------------------------ */
div[data-radio-button="off"] ul._pi_answers_container li a label {
	text-align: center !important; }

div[data-radio-button="on"] ul._pi_answers_container li a label {
	text-align: left; }

div[data-radio-button="on"] ul._pi_answers_container li {
	justify-content: flex-start !important; }

div[data-answer-widths="fixed"] ul._pi_answers_container li label._pi-control-checkbox {
	text-align: left !important; }


/* ------------------------------ BUTTON GROUP ALIGNMENT: FIXED, VARIABLE LEFT/RIGHT ------------- */
div[data-answer-widths="variable-center"] ul._pi_answers_container {
	justify-content: 	center;	}

div[data-answer-widths="variable-center"] ul._pi_answers_container li {
	margin: 5px 1% !important; }


div[data-answer-widths="variable-left"] ul._pi_answers_container {
	justify-content: 	flex-start; }

div[data-answer-widths="variable-left"] ul._pi_answers_container li {
	margin: 5px 1% !important; }


div[data-answer-widths="fixed"] ul._pi_answers_container {
	justify-content: 	flex-start;	}

div[data-answer-widths="fixed"] ul._pi_answers_container li {
	margin: 5px 0.9% !important; }



/* ------------------------------ BUTTON WIDTHS: VARIABLE ---------------------------------------- */
div[data-answer-widths="variable-left"] ul._pi_answers_container li,
div[data-answer-widths="variable-center"] ul._pi_answers_container li {
/* 	flex: 0 0 auto; */
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
}
/* 	flex: 1 0 auto;	} */


/* flexible width min-width */
ul[data-answers-layout="variable"] li {
	min-width: 80px;
}

#{$top-container-mobi} ul[data-answers-layout="variable"] li {
	min-width: 60px;
}

/* ------------------------------ BUTTON WIDTHS: FIXED ------------------------------------------- */
/* THE DEFAULT FOR FIXED: 3 PER ROW ------------------------------ */
div[data-answer-widths="fixed"] ul._pi_answers_container li {
	flex: 0 0 31%;
	max-width: 31%;
  // justify-content: center;
}

div[data-answer-widths="fixed"][data-answers-per-row="1"] ul._pi_answers_container li {
	margin: 5px 7% !important;
	flex: 0 0 86% !important;
	max-width: 86% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="2"] ul._pi_answers_container li {
	flex: 0 0 48% !important;
	max-width: 48% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="3"] ul._pi_answers_container li {
	flex: 0 0 31.5% !important;
	max-width: 31.5% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="4"] ul._pi_answers_container li {
	flex: 0 0 23% !important;
	max-width: 23% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="5"] ul._pi_answers_container li {
	flex: 0 0 18% !important;
	max-width: 18% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="6"] ul._pi_answers_container li {
	flex: 0 0 14.5% !important;
	max-width: 14.5% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="7"] ul._pi_answers_container li {
	flex: 0 0 12.25% !important;
	max-width: 12.25% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="8"] ul._pi_answers_container li {
	flex: 0 0 10.5% !important;
	max-width: 10.5% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="9"] ul._pi_answers_container li {
	flex: 0 0 9.1% !important;
	max-width: 9.1% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="10"] ul._pi_answers_container li {
	flex: 0 0 8% !important;
	max-width: 8% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="11"] ul._pi_answers_container li {
	flex: 0 0 7% !important;
	max-width: 7% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="12"] ul._pi_answers_container li {
	flex: 0 0 6.3% !important;
	max-width: 6.3% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="13"] ul._pi_answers_container li {
	flex: 0 0 5.6% !important;
	max-width: 5.6% !important; }

div[data-answer-widths="fixed"][data-answers-per-row="14"] ul._pi_answers_container li {
	flex: 0 0 5.1% !important;
	max-width: 5.1% !important; }
