// NYU
@font-face {
    font-family: 'benton regular';
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-regular.eot");
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-regular.eot?#iefix") format("embedded-opentype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-regular.woff") format("woff"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-regular.ttf") format("truetype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-regular.svg#bentonsansregular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'benton regular';
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-light-webfont.eot");
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-light-webfont.eot?#iefix") format("embedded-opentype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-light-webfont.woff") format("woff"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-light-webfont.ttf") format("truetype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-light-webfont.svg#bentonsanslight") format("svg");
    font-weight: 100
}

@font-face {
    font-family: 'benton regular';
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-bold.eot");
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-bold.eot?#iefix") format("embedded-opentype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-bold.woff") format("woff"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-bold.ttf") format("truetype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-bold.svg#bentonsansregular") format("svg");
    font-weight: bold
}

@font-face {
    font-family: 'benton bold';
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-bold.eot");
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-bold.eot?#iefix") format("embedded-opentype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-bold.woff") format("woff"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-bold.ttf") format("truetype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-bold.svg#bentonsansbold") format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'benton medium';
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-medium.eot");
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-medium.eot?#iefix") format("embedded-opentype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-medium.woff") format("woff"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-medium.ttf") format("truetype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-medium.svg#bentonsansbold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'benton black';
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-black.eot");
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-black.eot?#iefix") format("embedded-opentype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-black.woff") format("woff"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-black.ttf") format("truetype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/benton/bentonsans-black.svg#bentonsansbold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'FontAwesome';
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/awesome/icons.eot?v=4.0.3");
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/awesome/icons.eot?#iefix&v=4.0.4") format("embedded-opentype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/awesome/icons.woff?v=4.0.4") format("woff"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/awesome/icons.ttf?v=4.0.") format("truetype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/awesome/icons.svg?v=4.0.4#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "utopia regular";
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/utopia/UtopiaStd-Regular.eot");
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/utopia/UtopiaStd-Regular.eot?#iefix") format("embedded-opentype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/utopia/UtopiaStd-Regular.woff") format("woff"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/utopia/UtopiaStd-Regular.ttf") format("truetype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/utopia/UtopiaStd-Regular.svg#UtopiaStd-Regular") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "utopia bold";
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/utopia/UtopiaStd-Bold.eot");
    src: url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/utopia/UtopiaStd-Bold.eot?#iefix") format("embedded-opentype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/utopia/UtopiaStd-Bold.woff") format("woff"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/utopia/UtopiaStd-Bold.ttf") format("truetype"), url("https://nyulangone.org/bundles/nyulangoneweb/css/fonts/utopia/UtopiaStd-Bold.svg#UtopiaStd-Bold") format("svg");
    font-weight: 700;
    font-style: normal
}