		// ================== E2. <label> FOR MULTIPLE CHOICE ====================================
		// --- Desktop
		ul._pi_answers_container li label._pi-control-checkbox {
			background-color: #fff !important;
			color: #0272b6 !important;
			border: 1px solid #0272b6;
			border-radius: 4px;
			padding: 15px 15px 15px 0 !important;
			// background-color: lightgreen !important;
		}

		// --- Desktop Only Hover
		@media (min-width:769px) {
			ul._pi_answers_container li:hover label._pi-control-checkbox {
				background-color: #0272b6 !important;

				border: 1px solid #0272b6;
				color: #fff !important;
			}
		}

		// --- Mobile
		#_pi_surveyWidgetContainer.mobile-enabled label._pi-control._pi-control-checkbox {
			font-size: 15px !important;
			padding: 10px 10px 10px 0 !important;
		}



//FLEX
		/* Text */
		ul._pi_answers_container li label._pi-control-checkbox {
/* 			width: initial; */
/* 			float: initial; */
/* 			margin: initial; */

			flex-grow: 			0;
			flex-shrink: 		0;
			flex-basis: 		100%;
			
			position: 			static;
			overflow: 			hidden;
			margin: 				0;
			
			display: 			flex;			
			flex-direction: 	row;
			flex-wrap: 			nowrap;
			justify-content: 	flex-start;
			align-items: 		flex-start;
			align-content: 	flex-start;

			padding-top: 		8px;			/* Match to single-choice */
			padding-bottom: 	8px;			/* Match to single-choice */
			padding-left: 		0; 			/* Do NOT make it a variable. There's a margin already in checkbox  */
			padding-right: 	15px; 		/* Match it to single-choice label right & left padding */
		}