div#_pi_surveyWidgetContainer, div#_pi_surveyWidgetContainer.mobile-enabled{
  z-index: 1 !important;
  background-color: rgba(242, 242, 242, 0.88) !important;
  //position: absolute;
  width: 780px;
  max-width: calc(100vw - 60px);
  position: relative;
  margin: 10px 0px 0px;
  ._pi_closeButton{
     opacity: 1 !important;
   }
  div#_pi_surveyWidget{
    background-color: transparent !important;
    &[data-question-type="single_choice_question"],
    //&[data-question-type="single_choice_question"],
    &[data-question-type="multiple_choices_question"],
    &[data-question-type="free_text_question"]{
      ._pi_question{
        // max-width: 90%;
        width: 100%;
        padding-right: 45px;
        font-size: 25px !important;
        color: #b5072f;
        padding-bottom: 0px !important;
        line-height: 21px !important;
        text-align: left !important;
      }
    }
    &[data-question-type="free_text_question"]{
      ._pi_question{
        padding-bottom: 10px !important;
      }
    }
    ._pi_widgetContentContainer{
      ul._pi_answers_container[data-question-type="multiple_choices_question"] li label,
      ul[data-question-type="single_choice_question"] li label {
         min-height: 30px !important;
         line-height: 15px !important;
         padding-top: 0px !important;
         padding-bottom: 0px !important;
     }
     ul[data-question-type="single_choice_question"] li label{
      padding-right: 5px !important;
      padding-left: 5px !important;
     }
     ul{
       li{
         label{
           font-size: 15px !important;
         }
       }
     }
     ._pi_question._pi_question_custom_content_question{
       text-align: left !important;
       h2{
         text-align: left !important;
       }
     }
    }
  }
}
div#_pi_surveyWidgetContainer.mobile-enabled{
  position: relative !important;
  margin-bottom: -50%;
  div#_pi_surveyWidget{
    div._pi_widgetContentContainer{
      div._pi_question{
        //margin: 5px 7% !important;
        margin: 5px 0% !important;
        font-size: 22px !important;
        text-align: center !important;
        padding: 0 !important;
      }
    }
  }
}
@media only screen
and (max-width: 568px)
and (orientation:landscape){
  div#_pi_surveyWidgetContainer.mobile-enabled{
    div#_pi_surveyWidget{
      div._pi_widgetContentContainer{
        div._pi_question{
          font-size: 18px !important;
        }
      }
    }
  }
}
