#inline-survey{
  height: 100%;
  width: 100%;
}
#_pi_surveyWidgetContainer{
  height: 100%;
  #_pi_surveyWidget{
    height: 100%;
    overflow: visible;
    background-color: transparent;
    ._pi_closeButton{
      display: none;
    }
    ._pi_widgetContentContainer{
      padding-top: 100px;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      ._pi_question._pi_question_single_choice_question{
        padding-left: 0px;
        max-width: 545px;
        width: 100%;
        color: #000000;
        font-family: Diodrum;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 46px;
        padding-bottom: 38px;
      }
      ._pi_question._pi_question_custom_content_question{
        margin-top: calc(50vh - 116px);
        p{
          font-family: Raleway;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 140%;
          color: #000000;
          text-align: center;
        }
        /* or 28px */

        a{
          display: inline-block;
          margin-top: 10px;
          border: 1px solid #4f2550;
          color: #000000;
          padding: 14px 39px;
          text-decoration: none !important;
          &:hover{
            background-color: #4f2550;
            color: #ffffff;
          }
        }
      }
      ul._pi_answers_container{
        &[data-question-type="single_choice_question"][data-radio-button="off"]{
          border-top: 1px solid #D6D6D6;
          height: 534px;
          justify-content: space-between;
          align-content: center !important;
          overflow: visible !important;
          transition: all 0.3s;
          li{
            flex: 0 0 auto !important;
            background: #FFFFFF;
            border: 1px solid #B7B7B7;
            box-sizing: border-box;
            border-radius: 30px;
            height: 280px !important;
            margin: 0px !important;
            width: 352px !important;
            max-width: 26% !important;
            border-radius: 30px;
            transition: all 0.3s;
            &:nth-child(1){
              a{
                &:before{
                  content: url("data:image/svg+xml,%3Csvg width='122' height='70' viewBox='0 0 122 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M122.1 38.6H35L29.5 17.2L21.1 61L13.1 9L6.9 38.6H0' stroke='url(%23paint0_linear)' stroke-width='3' stroke-miterlimit='10'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='32.7706' y1='-8.4002' x2='46.799' y2='71.1588' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CF6EAB'/%3E%3Cstop offset='0.1336' stop-color='%23C55FA0'/%3E%3Cstop offset='0.3258' stop-color='%23BB5196'/%3E%3Cstop offset='0.5659' stop-color='%23B64991'/%3E%3Cstop offset='1' stop-color='%23B4478F'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                }
              }
            }
            &:nth-child(2){
              a{
                &:before{
                  content: url("data:image/svg+xml,%3Csvg width='85' height='85' viewBox='0 0 85 85' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M40.7665 3.22559C40.5245 3.22559 40.4036 3.22559 40.1616 3.22559V8.42722C19.3551 8.79012 2.54053 25.8466 2.54053 46.7741C2.54053 55.7258 5.6857 64.0726 10.8873 70.6049C11.2502 71.0887 11.6131 71.4516 11.976 71.9355C12.3389 72.4194 12.7019 72.7823 13.0648 73.1452C13.4277 73.5081 13.9115 73.992 14.2744 74.3549C20.9277 80.7662 30.0003 84.7581 39.9197 85.0001C40.1616 85.0001 40.5245 85.0001 40.7665 85.0001C61.9359 85.0001 79.1134 67.8226 79.1134 46.6532H84.315C84.315 22.7015 64.8391 3.22559 40.7665 3.22559Z' fill='%239FA9B4'/%3E%3Cpath d='M38.3469 6.0083C17.1775 6.0083 0 23.1858 0 44.3552C0 65.5246 17.1775 82.7021 38.3469 82.7021C59.5163 82.7021 76.6938 65.5246 76.6938 44.3552C76.6938 23.1858 59.5163 6.0083 38.3469 6.0083ZM38.3469 63.5892C27.8227 63.5892 19.2339 55.0004 19.2339 44.4762C19.2339 33.9519 27.8227 25.2422 38.3469 25.2422C48.8711 25.2422 57.4599 33.831 57.4599 44.3552C57.4599 54.8794 48.9921 63.5892 38.3469 63.5892Z' fill='%23ACB5BF'/%3E%3Cpath d='M19.4756 47.0161H0.241699C1.57235 66.7339 17.7821 82.3388 37.6209 82.7017V63.4678C28.3063 63.1049 20.6853 56.0887 19.4756 47.0161Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M38.3471 76.9437C56.3454 76.9437 70.9359 62.3532 70.9359 44.3549C70.9359 26.3566 56.3454 11.7661 38.3471 11.7661C20.3488 11.7661 5.7583 26.3566 5.7583 44.3549C5.7583 62.3532 20.3488 76.9437 38.3471 76.9437Z' fill='%239FA9B4' stroke='%239FA9B4' stroke-width='3'/%3E%3Cpath d='M60.1213 44.3547H81.8956C81.8956 20.282 62.4197 0.806152 38.347 0.806152C38.1051 0.806152 37.9841 0.806152 37.7422 0.806152V22.5804C37.9841 22.5804 38.1051 22.5804 38.347 22.5804C50.4438 22.5804 60.1213 32.3788 60.1213 44.3547Z' fill='url(%23paint1_linear)'/%3E%3Cpath d='M39.946 52.0427H35.5827C35.5827 51.3929 35.5827 51.0215 35.5827 50.9287C35.5827 49.5361 35.8612 48.3293 36.3254 47.4009C36.7896 46.4725 37.7179 45.4513 39.1105 44.3373C40.503 43.2232 41.3386 42.4805 41.6171 42.1092C42.0813 41.5522 42.2669 40.9023 42.2669 40.2524C42.2669 39.3241 41.8956 38.4885 41.1529 37.8387C40.4102 37.1888 39.389 36.8175 38.0893 36.8175C36.8824 36.8175 35.8612 37.1888 35.0257 37.8387C34.1901 38.5814 33.6331 39.6026 33.3546 40.9951L28.8984 40.4381C28.9913 38.3957 29.9196 36.6318 31.4979 35.2393C33.0761 33.8467 35.2113 33.104 37.9036 33.104C40.6887 33.104 42.824 33.8467 44.495 35.2393C46.1661 36.7246 46.9088 38.3957 46.9088 40.2524C46.9088 41.2737 46.6303 42.2949 45.9804 43.2232C45.4234 44.1516 44.1237 45.4513 42.1741 47.1224C41.1529 47.9579 40.503 48.6078 40.3174 49.1648C40.0389 49.8146 39.946 50.6502 39.946 52.0427ZM35.5827 58.5413V53.7138H40.4102V58.5413H35.5827Z' fill='%23F1F2F2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0.18303' y1='64.825' x2='37.5794' y2='64.825' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CF6EAB'/%3E%3Cstop offset='0.1336' stop-color='%23C55FA0'/%3E%3Cstop offset='0.3258' stop-color='%23BB5196'/%3E%3Cstop offset='0.5659' stop-color='%23B64991'/%3E%3Cstop offset='1' stop-color='%23B4478F'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='37.8425' y1='22.6114' x2='81.9472' y2='22.6114' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CF6EAB'/%3E%3Cstop offset='0.1336' stop-color='%23C55FA0'/%3E%3Cstop offset='0.3258' stop-color='%23BB5196'/%3E%3Cstop offset='0.5659' stop-color='%23B64991'/%3E%3Cstop offset='1' stop-color='%23B4478F'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                }
              }
            }
            &:nth-child(3){
              a{
                &:before{
                  content: url("data:image/svg+xml,%3Csvg width='78' height='78' viewBox='0 0 78 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 45.9998H7.6C9 45.9998 10.2 46.5998 11 47.5998C11.1 47.6998 11.2 47.7998 11.3 47.8998C11.8 48.5998 12.2 49.4998 12.2 50.4998V51.9998L11.8 52.2998C10.6 53.1998 9.9 54.6998 9.9 56.1998C9.9 57.3998 10.4 58.5998 11.2 59.3998C12 60.2998 13.2 60.7998 14.5 60.8998C15.8 60.8998 17.1 60.4998 18.1 59.4998C19.1 58.5998 19.6 57.2998 19.6 55.9998C19.6 54.8998 19.2 53.7998 18.5 52.9998C18.3 52.6998 18 52.4998 17.7 52.2998L17.3 51.9998L17.2 51.8998V50.4998C17.2 48.0998 19.2 46.0998 21.6 46.0998H29.2V37.9998C29 36.7998 27.9 35.9998 26.8 35.9998H26.3C25 37.4998 23.2 38.2998 21.2 38.2998C19.3 38.2998 17.6 37.5998 16.3 36.1998C15 34.8998 14.3 33.0998 14.4 31.1998C14.5 27.5998 17.6 24.6998 21.2 24.6998C23.2 24.6998 25 25.4998 26.3 26.9998H26.8C28 26.9998 29 26.1998 29.2 25.0998V16.7998H0V45.9998Z' fill='%239FA9B4'/%3E%3Cpath d='M29.2 68.7996C29.6 66.6996 31.4 65.2996 33.5 65.2996H34.9L35 65.3996H35.1L35.4 65.7996C35.7 66.1996 36.1 66.5996 36.5 66.8996C37.3 67.3996 38.2 67.5996 39.1 67.5996C41.7 67.5996 43.9 65.4996 44 62.8996C44.1 61.5996 43.6 60.2996 42.6 59.2996C42.4 59.0996 42.2 58.8996 41.9 58.6996C41.1 58.1996 40.2 57.8996 39.2 57.8996C37.7 57.8996 36.3 58.5996 35.3 59.7996L35 60.1996H33.6C32.6 60.1996 31.7 59.8996 31 59.2996C30.1 58.6996 29.4 57.6996 29.1 56.4996V56.2996V48.0996H21.1C20 48.3996 19.2 49.3996 19.2 50.4996V50.9996C19.4 51.1996 19.6 51.2996 19.7 51.4996C20.8 52.6996 21.5 54.3996 21.5 56.0996C21.5 57.9996 20.8 59.6996 19.4 60.9996C18.1 62.2996 16.3 62.9996 14.4 62.8996C12.4 62.7996 10.5 61.7996 9.3 60.2996C8.3 59.0996 7.7 57.5996 7.7 55.9996C7.7 53.9996 8.5 52.1996 10 50.8996V50.3996C10 49.7996 9.8 49.2996 9.5 48.8996C9.2 48.4996 8.7 48.2996 8.2 48.0996H0V77.2996H29.1L29.2 68.7996Z' fill='%23ACB5BF'/%3E%3Cpath d='M60.3 48.1998H52.7C50.3 48.1998 48.3 46.1998 48.3 43.7998V42.3998L48.7 42.0998C49.9 41.1998 50.6 39.6998 50.6 38.1998C50.6 35.5998 48.5 33.3998 45.9 33.2998C44.6 33.2998 43.3 33.6998 42.3 34.6998C41.3 35.5998 40.8 36.8998 40.8 38.1998C40.8 39.6998 41.5 41.0998 42.7 42.0998L43.1 42.3998V43.7998C43.1 46.1998 41.1 48.1998 38.7 48.1998H31.2V55.7998C31.2 56.5998 31.6 57.2998 32.2 57.7998C32.6 57.9998 33 58.1998 33.5 58.1998H34C35.3 56.6998 37.1 55.8998 39.1 55.8998C40.5 55.8998 41.9 56.2998 43 57.0998C43.4 57.3998 43.8 57.6998 44.1 58.0998C45.4 59.3998 46.1 61.1998 46 63.0998C45.9 66.6998 42.8 69.5998 39.2 69.5998C37.7 69.5998 36.3 69.0998 35.1 68.2998C34.7 67.9998 34.3 67.6998 34 67.2998H33.5C32.1 67.2998 31 68.3998 31 69.7998V77.3998H60.1V48.1998H60.3Z' fill='%239FA9B4'/%3E%3Cpath d='M77.5001 15L52.4001 0L48.5001 6.5C47.9001 7.5 46.9001 8.2 45.8001 8.5C44.7001 8.8 43.4001 8.6 42.4001 8L41.2001 7.3L41.1001 6.8C40.9001 5.3 40.1001 3.9 38.8001 3.1C36.6001 1.8 33.6001 2.5 32.2001 4.6C31.5001 5.7 31.2001 7.1 31.5001 8.4C31.8001 9.7 32.6001 10.8 33.7001 11.5C35.0001 12.3 36.6001 12.4 38.0001 11.8L38.4001 11.6L39.6001 12.3C40.6001 12.9 41.3001 13.9 41.6001 15C41.9001 16.1 41.7001 17.3 41.1001 18.4L37.2001 24.9L44.1001 29.1C45.2001 29.4 46.4001 29 47.0001 28L47.3001 27.6C46.7001 25.7 46.9001 23.7 48.0001 22C49.0001 20.4 50.5001 19.3 52.3001 18.9C54.1001 18.5 56.0001 18.8 57.6001 19.8C60.6001 21.8 61.6001 25.9 59.7001 29C58.7001 30.7 57.0001 31.9 55.1001 32.2L54.8001 32.6C54.2001 33.6 54.4001 34.9 55.2001 35.7L62.3001 40L77.5001 15Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='47.2' y1='-2.84127' x2='65.6849' y2='38.6329' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CF6EAB'/%3E%3Cstop offset='0.1336' stop-color='%23C55FA0'/%3E%3Cstop offset='0.3258' stop-color='%23BB5196'/%3E%3Cstop offset='0.5659' stop-color='%23B64991'/%3E%3Cstop offset='1' stop-color='%23B4478F'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                }
              }
            }
            a{
              // flex-wrap: wrap !important;
              flex-direction: column;
              height: 100%;
              justify-content: space-between !important;
              color: #000000;
              font-family: Raleway;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 19px;
              transition: all 0.3s;
              width: 100%;
              padding-left: 0px;
              padding-right: 0px;
              padding-top: 90px;
              padding-bottom: 42px;
              /* identical to box height */

              text-align: center;
              span{
                width: 100%;
              }
              label{
                margin-top: 5px !important;
                width: 100%;
                padding: 0px 10px;
                color: #000000;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                margin-left: 0px;
                /* identical to box height */

                text-align: center;
              }
              &:before{
                transition: all 0.3s;
              }
            }
            &:hover{
              transform: scale(1.2);
              background-color: #000000;
              border: 3px solid #4f2550;
              transition: all 0.3s;
              box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
              a{
                &:before{
                  transform: scale(calc(1 / 1.2));
                  transition: all 0.3s;
                }
                label{
                  transform: scale(calc(1 / 1.2));
                  transition: all 0.3s;
                  color: #ffffff !important;
                }
              }
            }
          }
        }
      }
    }
  }
  &.mobile-enabled{
    @media (max-width: 768px){
      #_pi_surveyWidget{
        ._pi_question._pi_question_single_choice_question{
          font-size: 20px;
          line-height: 24px;
          padding-bottom: 20px;
        }
        ._pi_widgetContentContainer{
          padding-top: 20px;
          ul._pi_answers_container{
            flex-direction: column !important;
            flex-wrap: nowrap !important;
            justify-content: space-between !important;
            align-items: center !important;
            align-content: center !important;
            height: calc(100vh - 130px) !important;
            padding-top: 50px;
            &[data-question-type="single_choice_question"][data-radio-button="off"]{
              li{
                max-width: 100% !important;
                max-height: 22vh;
                a{
                  padding-top: 20px;
                  padding-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
