#inline-survey {
  height: 100%;
  width: 100%;
}

#_pi_surveyWidgetContainer {
  height: 100%;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget {
  height: 100%;
  overflow: visible;
  background-color: transparent;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_closeButton {
  display: none;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer {
  padding-top: 100px;
  height: 100%;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ._pi_question._pi_question_single_choice_question {
  padding-left: 0px;
  max-width: 545px;
  width: 100%;
  color: #000000;
  font-family: Diodrum;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  padding-bottom: 38px;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ._pi_question._pi_question_custom_content_question {
  margin-top: calc(50vh - 116px);
  /* or 28px */
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ._pi_question._pi_question_custom_content_question p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  text-align: center;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ._pi_question._pi_question_custom_content_question a {
  display: inline-block;
  margin-top: 10px;
  border: 1px solid #4f2550;
  color: #000000;
  padding: 14px 39px;
  text-decoration: none !important;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ._pi_question._pi_question_custom_content_question a:hover {
  background-color: #4f2550;
  color: #ffffff;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] {
  border-top: 1px solid #D6D6D6;
  height: 534px;
  justify-content: space-between;
  align-content: center !important;
  overflow: visible !important;
  transition: all 0.3s;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li {
  flex: 0 0 auto !important;
  background: #FFFFFF;
  border: 1px solid #B7B7B7;
  box-sizing: border-box;
  border-radius: 30px;
  height: 280px !important;
  margin: 0px !important;
  width: 352px !important;
  max-width: 26% !important;
  border: 1px solid #B7B7B7;
  border-radius: 30px;
  transition: all 0.3s;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(1) a:before {
  content: url("data:image/svg+xml,%3Csvg width='89' height='59' viewBox='0 0 89 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M88 58H1V1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 8.5L38.5 25L50.5 11.5L77.5 37' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M77.5 25V37H65.5' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(2) a:before {
  content: url("data:image/svg+xml,%3Csvg width='48' height='62' viewBox='0 0 48 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46.389 28.0791C44.518 36.1821 39 40.6091 39 40.6091L43 60.0021H22.082L20.166 56.0021L11.307 54.4571C9.76 54.1871 8.576 52.9281 8.403 51.3671L7 38.7351L1 36.8021L5 25.5781' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.00049 25.5784V22.3874C5.00049 10.9734 15.1355 2.00244 26.4755 2.00244C26.9865 2.00244 27.4965 2.02144 28.0005 2.05844' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M34.0005 8.90838C34.0005 4.12738 38.1175 0.900382 42.5725 2.34938C45.1565 3.18938 47.0005 5.50238 47.0005 8.45138C47.0005 11.4944 44.7855 13.4374 41.8345 14.6764C40.7015 15.1524 39.9695 16.2674 39.9695 17.4974V19.0024' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M42.0005 25.002C42.0005 26.106 41.1045 27.002 40.0005 27.002C38.8955 27.002 38.0005 26.106 38.0005 25.002C38.0005 23.898 38.8955 23.002 40.0005 23.002C41.1045 23.002 42.0005 23.898 42.0005 25.002Z' fill='black'/%3E%3C/svg%3E%0A");
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:nth-child(3) a:before {
  content: url("data:image/svg+xml,%3Csvg width='60' height='44' viewBox='0 0 60 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M44.541 43C53.332 43 59 35.512 59 27.727C59 19.289 52.078 12.453 43.533 12.453C43.205 12.453 42.875 12.473 42.549 12.51C40.17 5.809 33.73 1 26.133 1C16.527 1 8.734 8.691 8.734 18.182C8.734 19.039 8.812 19.861 8.947 20.684C4.326 22.189 1 26.484 1 31.545C1 37.861 6.203 43 12.6 43H44.541Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li a {
  flex-wrap: wrap !important;
  flex-direction: column;
  height: 100%;
  justify-content: space-between !important;
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.3s;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 90px;
  padding-bottom: 42px;
  /* identical to box height */
  text-align: center;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li a span {
  width: 100%;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li a label {
  width: 100%;
  padding: 0px 10px;
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-left: 0px;
  /* identical to box height */
  text-align: center;
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:hover {
  transform: scale(1.2);
  background-color: #000000;
  border: 2px solid #D8B624;
  transition: all 0.3s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:hover:nth-child(1) a:before {
  content: url("data:image/svg+xml,%3Csvg width='89' height='59' viewBox='0 0 89 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M88 58H1V1' stroke='%23E8E138' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 8.5L38.5 25L50.5 11.5L77.5 37' stroke='%23E8E138' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M77.5 25V37H65.5' stroke='%23E8E138' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:hover:nth-child(2) a:before {
  content: url("data:image/svg+xml,%3Csvg width='48' height='62' viewBox='0 0 48 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46.389 28.0791C44.518 36.1821 39 40.6091 39 40.6091L43 60.0021H22.082L20.166 56.0021L11.307 54.4571C9.76 54.1871 8.576 52.9281 8.403 51.3671L7 38.7351L1 36.8021L5 25.5781' stroke='%23E8E138' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.00049 25.5784V22.3874C5.00049 10.9734 15.1355 2.00244 26.4755 2.00244C26.9865 2.00244 27.4965 2.02144 28.0005 2.05844' stroke='%23E8E138' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M34.0005 8.90838C34.0005 4.12738 38.1175 0.900382 42.5725 2.34938C45.1565 3.18938 47.0005 5.50238 47.0005 8.45138C47.0005 11.4944 44.7855 13.4374 41.8345 14.6764C40.7015 15.1524 39.9695 16.2674 39.9695 17.4974V19.0024' stroke='%23E8E138' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M42.0005 25.002C42.0005 26.106 41.1045 27.002 40.0005 27.002C38.8955 27.002 38.0005 26.106 38.0005 25.002C38.0005 23.898 38.8955 23.002 40.0005 23.002C41.1045 23.002 42.0005 23.898 42.0005 25.002Z' fill='black'/%3E%3C/svg%3E%0A");
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:hover:nth-child(3) a:before {
  content: url("data:image/svg+xml,%3Csvg width='60' height='44' viewBox='0 0 60 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M44.541 43C53.332 43 59 35.512 59 27.727C59 19.289 52.078 12.453 43.533 12.453C43.205 12.453 42.875 12.473 42.549 12.51C40.17 5.809 33.73 1 26.133 1C16.527 1 8.734 8.691 8.734 18.182C8.734 19.039 8.812 19.861 8.947 20.684C4.326 22.189 1 26.484 1 31.545C1 37.861 6.203 43 12.6 43H44.541Z' stroke='%23E8E138' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:hover a:before {
  transform: scale(calc(1 / 1.2));
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li:hover a label {
  transform: scale(calc(1 / 1.2));
  transition: all 0.3s;
  color: #ffffff !important;
}

@media (max-width: 768px) {
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_question._pi_question_single_choice_question {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 20px;
  }
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer {
    padding-top: 20px;
  }
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    align-content: center !important;
    height: calc(100vh - 130px) !important;
    padding-top: 50px;
  }
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li {
    max-width: 100% !important;
    max-height: 22vh;
  }
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"] li a {
    padding-top: 35px;
    padding-bottom: 20px;
  }
}
