@import 'common/variables';
@import 'control/buttons';
@import 'admin/metadata';
@import 'admin/submission_generator';
@import 'admin/qrvey_dashboard_mappings';
@import 'admin/survey_troubleshooter';
@import 'admin/pdf_templates';

.very-serious-vignette {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  box-shadow: inset 0 0 120px #fff, inset 0 0 80px #fff, inset 0 0 40px #fff;
  border-radius: 50%;
}
