//= depend_on_asset "icons/alert.png"

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

// Open Sans
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), asset-url('OpenSans300.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), asset-url('OpenSans400.woff') format('woff');
}

// ** Alert
$alert-padding: 7px;

@import 'common/variables';
@import 'control/variables';
@import 'common/bootstrap';

@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/forms";

// Components
@import "bootstrap/alerts";
@import "bootstrap/close";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

// Custom css
@import 'control/ext/alerts';
@import 'auth/global';
@import 'auth/sessions';
@import 'auth/passwords';
@import "registrations";

