@import 'common/variables';
@import 'control/ext/mixins';
@import 'control/_color_picker';

html {
  &.full-height {
    height: 100%;

    body {
      height: 100%;
    }

    .container {
      height: calc(100% - 10px);
    }
  }
}

.no-data-container {
  margin-bottom: 300px;
  text-align: center;
}

.text-response-content-wrapper {
  height: 100%;

  .popup-menu {
    z-index: 20;
    position: fixed;
    border-radius: 8px;

    label {
      display: flex;
    }

    input {
      margin: 0 4px 0 0;
    }
  }
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-container {
  flex-grow: 2;
  overflow: auto;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  opacity: 0;

  &.isResizing {
    background: blue;
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.text-response-table {
  table-layout: fixed;
  width: 100%;

  .even {
    td {
      background-color: #fff;
    }
  }

  .odd {
    td {
      background-color: $pi-neutral-color;
    }
  }

  .selected {
    td {
      background-color: #ccd1dd;
    }

    .select-column {
      padding-left: 5px;
      border-left: 10px solid $pi-darkened-highlight-color;
    }
  }

  td,
  th {
    padding: 0 10px;
  }

  th {
    background-color: #d5dce2;
  }

  td {
    border-left: 1px solid #90979d;
  }

  .select-column {
    width: 35px;
  }
}

// https://github.com/airbnb/react-outside-click-handler/issues/21
.outside-click-handler-wrapper {
  position: absolute;
}

.checkbox-list {
  margin: 10px;

  label {
    font-weight: 300;

    &.checked {
      font-weight: 700;
    }
  }

  li {
    margin-top: 10px;
  }
}

.bulk-tag-popup {
  padding: 5px;

  &.per-row {
    position: fixed;
  }

  .tag-options-list {
    max-height: 150px;
    overflow-y: scroll;
  }

  .tag-filter-wrapper {
    display: flex;
    align-items: center;
  }
}

.filter-popup {
  padding: 5px;
}

.container {
  font-family: 'Diodrum';

  &.text-response-content {
    width: 100%;
  }

  input {
    &[type='checkbox'] {
      @include custom-checkbox(#909ba7, #909ba7, #5181bd, $pi-neutral-color, $pi-neutral-color);
    }
  }
}

.column-selection-menu {
  padding-left: 10px;
  width: 250px;

  ul {
    padding-right: 10px;
  }

  li {
    display: flex;
    align-items: center;
    font-size: 15px;

    &.draggable {
      border-right: 3px double #ccc;
    }
  }

  label {
    margin-bottom: 0;
    align-items: center;
    gap: 10px;
    font-weight: 300;
  }
}


.tag-cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  gap: 20px;

  .tag-bubble {
    display: flex;
    align-items: center;
    gap: 1px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    color: #fff; // TODO: customize for contrast
  }

  .pending-approval {
    border-style: dotted;
    font-style: italic;
  }

  .control {
    display: flex;
    padding: 3px;
    height: 15px;
    cursor: pointer;

    &:hover {
      border-radius: 50%;
      background-color: #fff;

      &.approve {
        background-color: #20bf67;
      }

      &.delete {
        background-color: #f55;
      }
    }
  }

  .control-icon {
    @include dynamic-color-svg-icon(#fff);

    padding: 5px;
    width: 100%;
    height: 100%;
  }
}

.clear-filter {
  @include dynamic-color-svg-icon(#9ba3c0);

  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  height: 18px;
  width: 20px;
  cursor: pointer;
}

thead {
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 10;
  background-color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.actions-list {
  margin-left: 10px;
  margin-bottom: 10px;

  li {
    margin-top: 10px;
    .open-tag-manager {
      border: none;
      background: none;
      cursor: pointer;
    }
  }
}

.row-selection-wrapper {
  display: flex;
  align-items: center;

  .arrow {
    display: block;
    height: 3px;
    width: 3px;
    cursor: pointer;
  }

  .popup-trigger {
    position: absolute;
    left: 24px;
    z-index: 1;
  }

  input {
    margin: 0;
  }
}

.row-selection-list {
  li {
    cursor: pointer;

    &:hover {
      background-color: #f2f4f8;
    }
  }

  a {
    display: block;
    padding: 3px 20px;
    text-decoration: none;
    color: #333;
  }
}

.tag-status-list {
  width: 140px;
}

.question-header-container {
  display: flex;
  align-items: center;
  margin-top: 5px;

  .question-header {
    margin: 10px 0;
  }

  .close-button {
    margin-left: 20px;
    text-decoration: none;
    font-size: 40px;
    color: #000;
  }
}

.table-actions-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.report-download-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.autotag-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.header-container {
  display: flex;
  white-space: nowrap;
}

.working-overlay-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  border-width: 10px;
  width: 100px;
  height: 100px;
}

.working-overlay {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);
}

.csv-export-link {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.csv-export-link-wrapper {
  margin-left: auto;
}

.big-round-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background-color: $pi-highlight-color;
}

.sorting-indicator {
  margin: 0 10px;
}

.change-summary {
  max-width: 200px;
}

.filter-button-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid $pi-neutral-color-border;
  width: 70px;
  height: 30px;
  padding: 5px 10px;
  gap: 5px;
  background: $pi-neutral-color;
  background-repeat: no-repeat;
  font-weight: 300;

  &:hover {
    background-color: #d0d0d7d9;
  }

  &.filters-active {
    gap: 10px;
    width: 125px;
    background-color: $pi-highlight-color;
    color: #fff;

    .filter-icon {
      @include dynamic-color-svg-icon(#fff);
    }
  }

  .filter-icon {
    @include dynamic-color-svg-icon(#000);

    width: 15px;
    height: 15px;
  }

  .filter-count-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 25px;
    background-color: $pi-darkened-highlight-color;
  }
}

.createdAt-filter-input {
  width: 150px;
}

.sentiment-filter-input {
  width: 130px;
}

.deviceType-filter-input {
  width: 130px;
}

.completionUrl-filter-input {
  width: 150px;
}

.response-filter-input {
  width: 150px;
}

.deviceData-filter-input {
  width: 150px;
}

.completionUrl-column {
  overflow: hidden;
}

.tag-manager-overlay {
  z-index: 11;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
}

.tag-manager {
  z-index: 12;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin: -300px 0 0 -300px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.tag-manager-header {
  h2 {
    color: #000;
    font-size: 15px;
    font-family: 'Raleway';
    font-weight: 600;
    text-align: center;
    padding: 18px 0;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
  }

  button.close {
    position: absolute;
    top: 18px;
    right: 12px;
  }
}

.tag-manager-body {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(227, 229, 234, 0.3) 100%);

  h3 {
    font-size: 15px;
    font-weight: 500;
    padding: 17px 0 17px 35px;
    margin: 0;
  }

  .tags {
    max-height: 185px;
    overflow: scroll;
  }

  .tag, .new-tag {
    position: relative;
    display: flex;
    margin: 0 5px 5px 35px;
    border-bottom: 1px solid #e5e5e5;

    button {
      &.color {
        width: 20px;
        height: 20px;
        border: none;
        background-color: black;
      }
    }

    input {
      &.name {
        height: 28px;
        width: 100%;
        padding: 0 0 5px 5px;
        margin: 0;
        background: transparent;
        box-shadow: none;
        font-size: 16px;
        font-weight: 400;
      }
    }

    .delete {
      background: transparent;
      border: 0;
      font-size: 25px;
      line-height: 25px;
      color: grey;
    }

    .color-picker-popover {
      right: 50px;
      top: 70px;
    }
  }

  .add-tag, .ai-recommendation {
    display: block;
    width: 140px;
    padding: 5px 10px;
    margin: 20px 35px;
    background: transparent;
    border: 1px solid #9576d6;
    border-radius: 19.5px;
    font-weight: 600;
    font-size: 12px;
  }

  .ai-recommendation {
    .settings-icon {
      display: inline-block;
      height: 10px;
      width: 10px;
      background-color: black;
    }
  }

  .ai-recommended-tags {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 0 35px;

    .ai-tag-spinner {
      position: absolute;
      top: 40px;
      right: 250px;
    }
  }

  .ai-recommended-tag {
    position: relative;
    padding: 5px 3px;
    margin: 3px 5px;
    width: 170px;
    text-align: center;
    background-color: green;
    color: white;
    border: 1px solid grey;
    border-radius: 5px;

    button {
      position: absolute;
      right: 3px;
      margin-top: -11px;
      background: transparent;
      border: 0;
      font-size: 16px;

      &.promote {
        top: 50%;
      }

      &.promoted {
        top: 40%;
      }
    }

    .settings-icon {
      display: inline-block;
      width: 10px;
      height: 7px;
      background-color: white;
    }

    .name {
      margin-right: 15px;
    }
  }
}
