		/* ================== C3. INVITATION TEXT ================== */
		._pi_invitationTextContainer {
			width: 	100%;
			margin: 	0px 0 15px !important;
			// background-color: ivory;
		}






		/* ================== C4. INVITATION BUTTON ================== */
		._pi_startButton,
		#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_startButton {
			width: 			100px;
			margin-right: 	auto;
			margin-left: 	auto;
			// background-color: red;
		}