%p We got a request to reset your Pulse Insights password. You can reset your password using the link below.

%p= link_to 'Change my password', edit_user_password_url(reset_password_token: @token)

%p Your password won't change until you access the link above and create a new one. If you didn't request to reset your password, please let us know.
