@import '../source/_0_base';
@import '../source/_1_special-cases';
@import '../source/_2_inline-and-bottombar-left';
@import '../source/_3_inline-and-bottombar-center';
@import '../source/_4_fake-inline-as-bottombar';

@import '../source/_9_single-choice-and-radios';



#_pi_surveyWidgetContainer.mobile-enabled div[data-answer-widths=fixed][data-answers-per-row="1"] ul._pi_answers_container li {
    margin: 5px 0!important;
    flex: 0 0 100%!important;
    max-width: 100%!important
}

input._pi_free_text_question_field {
    width: 750px !important;
}

#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_field {
    width: 100% !important;
}
