// THE _selectors FILE:
@import '../../01-css-pulse/_selectors';

// DEFAULT VARIABLES
@import '../_default/_default-1-variables';

// CLIENT-SPECIFIC DESIGN VARIABLES
@import "_sony-theme-2-variables";

// GLOBAL MAPS:
@import '../../01-css-pulse/_maps';

// GLOBAL MIXINS
@import '../../01-css-pulse/_mixins';

// THE GLOBAL STRUCTURE FOR FRAMEWORK V2:
@import '../../01-css-pulse/_theme-structure';

/* hide outlines */
div#_pi_surveyWidgetContainer:focus, div#_pi_surveyWidgetContainer *:focus,div#_pi_surveyWidgetContainer:focus-within, div#_pi_surveyWidgetContainer *:focus-within{outline:none !important;}
/* end hide outlines */
// ADJUSTMENTS - FREE TEXT
div[data-question-type="free_text_question"] ul._pi_answers_container {
  margin-top: 10px !important;
}

._pi_free_text_question_field_container,
._pi_free_text_question_submit_button_container {
  margin-top: 5px !important;
  flex: 1 1 100% !important;
}


// ADJUSTMENTS - HEADER AND CUSTOM CONTENT
div.pi_header_before,
div._pi_question_custom_content_question {
  margin-top: 0px;
  margin-bottom: 15px;
}


// ADJUSTMENTS - SCALE AND CUSTOM CONTENT
div._pi_scale_container_after,
div._pi_question_custom_content_question {
  margin-top: 3px;
  margin-bottom: 0px;
}


// ADJUSTMENTS - DESKTOP
@media (min-width: 769px) {
  div._pi_widgetContentContainer,
  div#_pi_surveyWidget[data-question-type="custom_content_question"] div._pi_widgetContentContainer,
  div._pi_question._pi_question_custom_content_question {
    width: calc(100vw - 10vw) !important;
    max-width: 1000px !important;
  }

  ul._pi_answers_container[data-question-type="single_choice_question"][data-answer-widths="fixed"] {
    justify-content: space-between !important;
  }

  ul[data-answers-alignment='center'] li {
    margin: 0 !important;
  }

  div#_pi_surveyWidget[data-question-type="single_choice_question"][data-answers-layout='fixed'][data-answers-per-row='5'] li a label {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  div[data-answers-layout='fixed'][data-answers-per-row='5']:not([data-survey-display='all-at-once']) ul._pi_answers_container[data-answers-layout="fixed"][data-answers-per-row='5'] li,
  div[data-answers-layout='fixed'][data-answers-per-row='5'] ul[data-answers-layout='fixed'][data-answers-per-row='5'] li {
    flex: 0 0 calc((100% / 5) - 1%) !important;
    margin: 0 !important;
    max-width: 18.5% !important;
  }
}

// ADJUSTMENTS - IPAD
@media screen and (min-width: 426px) and (max-width: 768px) {
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_closeButton {
    font-size: 40px !important;
  }

  ._pi_header.pi_header_before,
  ._pi_header.pi_header_after {
    font-size: 30px !important;;
  }

  div#_pi_surveyWidget[data-question-type="single_choice_question"] ._pi_question {
    font-size: 22px !important;
    padding: 0 0 10px 0 !important;
    width: 85% !important;
  }

  div#_pi_surveyWidget[data-question-type="single_choice_question"] li a label {
    font-size: 18px !important;
  }

  ._pi_scale_container {
    font-size: 16px !important;
  }

  div._pi_scale_container_after,
  div._pi_question_custom_content_question {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
  }

  ul._pi_answers_container[data-question-type="single_choice_question"] + div:after  {
    bottom: 35px !important;
  }

  div._pi_custom_p2 {
    font-size: 20px !important;
    line-height: normal !important;
    width: 85% !important;
    margin: auto !important;
  }
}

// ADJUSTMENTS - MOBILE
@media screen and (max-width: 425px) {
  div#_pi_surveyWidgetContainer.mobile-enabled
  div#_pi_surveyWidget[data-question-type="single_choice_question"]
  div._pi_widgetContentContainer {
    margin: 0 0 10px 0 !important;
  }

  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_closeButton {
    padding: 0px 12px 0 !important;
    margin: 0 0 -12px auto !important;
  }


  div.pi_header_before,
  div._pi_question_custom_content_question {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  div#_pi_surveyWidgetContainer.mobile-enabled div[data-answers-layout='fixed'][data-answers-per-row='1']:not([data-survey-display='all-at-once']) ul._pi_answers_container[data-answers-layout="fixed"][data-answers-per-row='1'] li,
  div#_pi_surveyWidgetContainer.mobile-enabled div[data-answers-layout='fixed'][data-answers-per-row='1'] ul[data-answers-layout='fixed'][data-answers-per-row='1'] li {
    max-width: 155px !important;
  }

  div._pi_scale_container_after,
  div._pi_question_custom_content_question {
    margin-top: 0;
    margin-bottom: 0px;
  }
}


// CIRCLES
@media screen and (max-width: 425px) {
  div#_pi_surveyWidgetContainer.mobile-enabled a._pi_branding {
    padding: 20px 0 10px 10px !important;
  }
}

@media screen and (min-width: 1440px) {
  div#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] ._pi_closeButton {
    padding: 10px 17px 0;
    font-size: 40px;
  }

  ._pi_header.pi_header_before {
    font-size: 35px;
  }

  div.pi_header_before {
    margin-bottom: 20px;
  }

  div#_pi_surveyWidget[data-question-type="single_choice_question"] ._pi_question {
    font-size: 21px;
    padding: 0px 0px 20px 0px;
  }

  div#_pi_surveyWidget[data-question-type="single_choice_question"] div._pi_widgetContentContainer {
    margin: 0 0 20px 0;
  }

  ._pi_scale_container {
    font-size: 16px;
    padding: 15px 0 10px;
  }

  ul._pi_answers_container[data-question-type="single_choice_question"] + div:after {
    bottom: 20px;
  }
}
