//= depend_on_asset "background.png"
//= depend_on_asset "icons/alert.png"

body {
  font-weight: 300;
  padding-top: 50px;
  //background-image: image-url('background.png');
  background-color: $global-background-color;
  color: #373741;
  font-family: 'Diodrum';
}

// TODO: DESTROY !important
input[type="password"], input[type="text"], input[type="email"], input[type="number"], input[type="datetime"] {
  @include global_input();
  border-bottom-color: #C8C8C8 !important;
}

textarea {
  background-color: #f2f5f5;
  border: 1px solid #424d56;
}

select {
  @include global_select();
  border-bottom: 1px solid #C8C8C8 !important; // TODO: Remove "!important". The scope is too broad

  option {
    color: #373741;
  }
}

select[disabled] {
  opacity: 0.5;
}

.alert {
  margin-top: 20px;
  text-align: center;
}

// Below modals, but above sticky headers
.navbar-fixed-top {
  z-index: 1049;
}

// navbar
.navbar-header {
  // Something's making this float
  // I can't identify where, so I'm overriding the rule
  float: none;
  display: flex;
  align-items: center;

  .navbar-brand {
    $logo-height: 35px;

    padding: (($navbar-height - $logo-height) / 2) $navbar-padding-horizontal;
    margin-left: 0 !important; // TODO: Kill Bootstrap

    .logo {
      height: $logo-height;
    }
  }
}

.dropdown-menu {
  color: #000;

  .navbar-account-list {
    padding-left: 0;
    max-height: 100px;
    min-width: 300px;
    overflow-y: scroll;
    list-style: none;

    .navbar-current-account {
      padding-left: 20px;
      font-weight: bold;
    }

    li {
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    a {
      display: block;
      padding: 3px 20px;
      text-decoration: none;
    }
  }

  .navbar-divider {
    margin: 10px 0;
  }

  .navbar-section-title {
    text-align: center;
  }
}

.navbar {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 54px;
    width: 100%;

    // Something's applying clearfix rules
    // I can't identify where, so I'm overriding them.
    &::before,
    &::after {
      display: none;
    }
  }
}

.navbar-collapse {
  .navbar-image {
    display: inline;
    height: 19px;
    width: 19px;
    margin-right: 9px;
  }

  .navbar-right {
    display: flex;
    height: 54px;

    > li {
      margin-left: 30px;

      .top-level-container {
        $navbar-custom-padding-vertical: 5px;
        $navbar-default-link-bg: #000;

        display: flex;
        align-items: center;

        margin: ($navbar-padding-vertical - $navbar-custom-padding-vertical) 0;

        padding: $navbar-custom-padding-vertical 20px;
        border-radius: 17px;
        background-color: $navbar-default-link-bg;
        border: 1px solid #f000;

        cursor: pointer;

        font-family: 'Raleway';
        font-size: 13px;
        font-weight: 500;

        &.add {
          padding: $navbar-custom-padding-vertical 10px;
        }

        a {
          text-decoration: none;
          color: $navbar-inverse-link-color;
        }

        &:hover,
        &:focus {
          border: 1px solid $pi-highlight-color;
        }
      }
    }
  }

  .dropdown-menu {
    a {
      font-family: 'Diodrum';
    }
  }
}

//  table
.table {
  thead > tr > th {
    background-color: rgba(32, 37, 40, 0.3);
    border: none;
    font-weight: 300;
  }
}

table.list-table {
  thead > tr > th {
    background-color: rgba(0, 0, 0, 0.2) !important;
    text-align: center;
    vertical-align: middle;

    &:first-child {
      text-align: left;
    }
  }

  tbody > tr > td {
    border-bottom: 1px solid $table-border-color;
    padding: 15px 8px;

    text-align: center;
    vertical-align: middle;

    &:first-child {
      text-align: left;
    }
    .actions {
      margin-top: 5px;
    }

    span.info {
      color: #697488;
    }
  }
}

// nav
.nav-tabs {
  > li > a {
    color: $gray-light;
  }
}

.form-horizontal {
  .form-group {
    label {
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      width: 15%;
      text-align: left;
      vertical-align: top;
      font-weight: 300;
      font-size: 14px;
    }
    .controls {
      display: inline-block;
      width: 83.3333%;
      @include clearfix;

      .error {
        @include field_error();
      }
    }
  }

  .form-action {
    text-align: right;
    padding-right: 5px;

    input {
      width: 150px;
    }
  }
}

// List table
.list-header {
  margin: 40px 0 30px;
  position: relative;

  .inline-search-form {
    position: absolute;
    top: 4px;
    left: 0;
  }

  h1.list-title {
    padding-top: 0;
    text-align: center;
  }

  .right-btns {
    position: absolute;
    top: 1px;
    right: 0;

    .btn {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Inline search form
.inline-search-form {
  > input[type='text'] {
    $keyword-height: 26px;
    $keyword-bg: rgba(37,37,37,0.35);

    height: $keyword-height;
    width: 200px;
    // line-height: $keyword-height;
    border: 1px solid $keyword-bg;
    border-radius: $keyword-height / 2;
    padding-left: $input-height-base;
    background: $keyword-bg image-url('icons/search.png') no-repeat 10px center;
  }
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.auditing-container {
  padding: 10px;
  background-color: $gray-lighter;
}

@-moz-keyframes turn { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes turn { 100% { -webkit-transform: rotate(90deg); } }
@keyframes turn { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }

.navbar {
  color: #fff;
  font-size: 12px;
  font-family: 'Raleway';
  font-weight: 500;

  .report_explorer_link {
    margin-left: 30px;
    padding: 5px 10px;
    border: 1px solid #000; // Invisible against black navbar
    border-radius: 15px;

    color: #fff;
    text-decoration: none;
    font-size: 13px;

    &:hover {
      border-color: $pi-highlight-color;
      border-radius: 15px;
    }

    &.highlighted {
      background-color: $pi-darkened-highlight-color !important; // Bootstrap :(
    }
  }
}

.navbar-breadcrumbs-container {
  display: flex;
  align-items: center;
  margin-left: 60px;

  .inline-edit-survey-name-input {
    border: none;
    border-bottom: 1px solid white;
    margin-right: 25px;
    border-radius: 0;
    color: #fff;
    background-color: rgba(155, 163, 192, 0.27);
    outline: none;
  }

  span {
    margin-right: 20px;
  }

  select {
    padding-right: 25px;
    background-color: rgba(155, 163, 192, 0.27);
    background-position: right 10px center;
  }
}

.pi-spinner {
  display: block;
  border: 4px solid transparent;
  border-top: 4px solid #d2d1e0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: 2s linear 0s infinite pi-spin;
}

@keyframes pi-spin {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.summary-chart-spinner {
  position: relative;
  left: 50%;
  top: -50%;
}

/* The switch - the box around the slider */
$pi-switch-height: 20px;
$pi-switch-width: 40px;

.console-switch {
  display: inline-block;
  position: relative;
  width: $pi-switch-width;
  height: $pi-switch-height;
  margin: 0;

  /* Hide default HTML checkbox */
  input {
    width: 0;
    height: 0;
    opacity: 0;

    &:checked {
      + .console-slider {
        background-color: $pi-highlight-color;

        &::before {
          transform: translateX($pi-switch-width - $pi-switch-height);
        }
      }
    }

    &:focus {
      + .console-slider {
        box-shadow: 0 0 5px $pi-highlight-color-border;
      }
    }
  }

  /* The slider */
  .console-slider {
    position: absolute;
    cursor: pointer;
    border-radius: $pi-switch-height;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $pi-neutral-color;
    transition: .4s;

    &::before {
      content: "";
      position: absolute;
      height: $pi-switch-height;
      width: $pi-switch-height;
      border-radius: 50%;
      border: 2px solid #000;
      background-color: #fff;
      transition: .4s;
    }
  }
}

.popup-menu {
  z-index: 1;
  position: absolute;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.pi-modal {
  border-radius: 6px;
  border: none;
  padding: 0;
  width: 600px;
  font-size: 12px;
  font-weight: 300;
  color: $text-color;
  font-family: 'Diodrum';

  &::backdrop {
    background-color: #000;
    opacity: 0.5;
  }
}

.pi-modal-header {
  padding: 15px;
}

.pi-modal-body {
  padding: 15px;
}

.pi-modal-footer {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  border-top: 1px solid $pi-neutral-color-border;
}

.pi-modal-close-button {
  display: block;
  position: absolute;
  right: 12px;
  top: 6px;
  padding: 0;
  border: none;
  background: none;
  color: $pi-neutral-color-border;
  font-size: 24px;
}
