.mfa-settings-title {
  margin-bottom: 20px;
}

.mfa-settings-container {
  display: flex;
  justify-content: space-between;

  .mfa-settings-panel-content {
    border: 1px solid $pi-neutral-color-border;
    padding: 10px;
  }

  .mfa-instructions {
    margin-top: 10px;
  }

  .qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;

    label {
      margin: 0;
    }

    input {
      padding: 0;
    }
  }

  .pi-primary-button {
    margin-top: 20px;
  }

  .backup-code-lists-container {
    display: flex;
    justify-content: space-between;

    ul {
      padding: 0;
      list-style-type: none;
    }
  }
}
