.my_accounts-controller {
  #content {
    .panel {
      .panel-heading {
        margin-top: 25px;
      }
    }

    form {
      #user_first_name {
        @extend .pull-left;
        width: 45% !important;
      }

      #user_last_name {
        @extend .pull-right;
        width: 47% !important;
      }

      input[type="password"], input[type="text"], input[type="email"], input[type="number"], input[type="datetime"] {
        width: 100%;
      }
    }


    .users {
      margin-top: 40px;

      table {
        border: none;

        tr, td {
          border: none;
        }
      }
    }
  }

  .css-top-label {
    font-size: 14px;
    margin: 10px 0;
  }

  .css-bottom-label {
    font-size: 12px;
    margin: 0px 155px;
    color: #7c92a5
  }

  #user_custom_css {
    width: 80%;
    height: 200px;
  }

  .ips-to-block, .domains-to-allow-for-redirection {
    width: 40%;
    height: 400px;
  }

  div#selector_list div.modal-body table tr td {
    width: 50%;
    color: black;
  }

  #frequency-cap-submit {
    width: 175px;
  }

  #user_frequency_cap_limit {
    display: inline-block;
    width: 100px!important;
  }

  .frequency-cap-hint {
    display: inline-block;
    margin: 0 15px;
  }

  .frequency-cap-inputs,
  .user_frequency_cap_enabled,
  .frequency-cap-data {
    display: inline-block;
  }

  .frequency-cap-data {
    display: none;
  }

  .frequency-cap-inputs {
    width: 100%;
  }

  .ai-summaries-inputs {
    display: flex;
    align-items: center;
  }

  #user_frequency_cap_duration {
    width: 75px!important;
    margin-right: 15px;
  }

  .user_frequency_cap_enabled {
    margin-right: 0px;
    margin-left: 0px;
  }

  .frequency-cap-label {
    display: inline-block;
    font-family: 'Bree Serif';
    font-size: 16px;
    color: #1a537e;
    width: 15%;
  }
}

.code-snippet {
  width: 100%;
  height: 320px;
}

.code-field-hint {
  font-size: 14px;
  line-height: 24px;
}

.dynamic-email-template-container {
  display: none;
}

.snippet-controls-container {
  margin: 30px 0;
  font-size: 14px;

  a {
    text-decoration: none;
    margin-right: 50px;
    color: $gray-light;

    &:hover {
      text-decoration: none;
      color: $gray-light;
    }

    &.selected {
      border-bottom: 1px solid black;
      color: black;
    }
  }
}

.an-qv-modal {
  margin-top: $navbar-height;
}
