body {
  padding-top: 0 !important;
  height: 100%;
}

.navbar {
  position: static !important; // need a hard override of bootstrap
  margin-bottom: 0 !important; // bootstrap
  height: $navbar-height !important; // bootstrap
}

.outlined-link-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #f000;
  height: 30px;
  gap: 2px;
  padding: 2px 10px;

  // TODO: Use CSS variables or something. This is effectively the same as theme toggling
  &.inverted {
    background-color: $pi-highlight-color;
    border: 1px solid $pi-highlight-color;
    border-radius: 20px;

    .icon {
      background-color: #fff;
    }

    .pi-label {
      color: #fff;
    }
  }

  &:hover,
  &:focus {
    border: 1px solid $pi-highlight-color;
    border-radius: 20px;
    text-decoration: none;
  }

  &:focus {
    background-color: $pi-highlight-color;

    &.inverted {
      background-color: #f000;

      .icon {
        background-color: #000;
      }

      .pi-label {
        color: #000;
      }
    }

    .icon {
      background-color: #fff;
    }

    .pi-label {
      color: #fff;
    }
  }

  .icon {
    display: block;
    background-color: #000;
    height: 12px;
    width: 12px;
    mask-size: 100%;
  }

  .pi-label {
    color: #000;
  }
}

.access-table {
  margin-top: 10px;

  td,
  th {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  tr {
    &.revoked {
      background-color: $pi-neutral-color;
    }
  }

  td {
    border-top: 1px solid $pi-neutral-color-border;

    select {
      padding-left: 0;
    }
  }
}

.delete-control {
  @include dynamic-color-svg-icon($pi-light-neutral-color);

  width: 15px;
  height: 15px;
}

.survey-list-sidebar {
  &.qrvey-sidebar {
    min-height: 1000px;
  }
}

.sidebar-header {
  border-top: 1px solid $pi-neutral-color-border;
  padding: 20px 0 20px 10px;
  margin: 0;
  font-size: 16px;
}

.qrvey-modal {
  .pi-modal-header {
    font-size: 32px;
    color: #5181bd;
    text-align: center;
  }

  .pi-modal-body {
    padding: 0 64px;
  }

  .qrvey-dashboard-new-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  label {
    font-weight: 300;
    font-size: 15px;
  }

  .pi-modal-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: none;
  }
}

.pi-modal {
  &.qrvey-modal {
    .qrvey-dashboard-clone-form {
      // cursor: default; // TODO: Fix cursor
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.sidebar-list {
  .qrvey-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto !important;
    padding-left: 10px;

    &:hover {
      background-color: $pi-highlight-color-border;
    }

    &.sublist-item {
      a {
        padding-left: 20px;
      }
    }

    &.current {
      text-decoration: none;
      background-color: $pi-highlight-color;
    }

    .icon-button {
      @include dynamic-color-svg-icon(#fff);

      align-self: stretch;
      padding: 10px 0; // kind of gross. align-self: stretch; ought to cover this
      width: 30px;
      height: 40px;
      border-color: transparent;
      mask-size: auto;
    }

    .qrvey-dashboard-link {
      display: block;
      text-decoration: none;
      padding: 10px 0;
      flex-grow: 1;
      color: #fff;
    }

    a {
      padding-left: 20px;
    }
  }
}

// TODO: Upgrade react-contexify to v6 so that we can style it with CSS variables
.react-contexify {
  .dangerous-option {
    &:hover {
      .react-contexify__item__content {
        background-color: $pi-danger-color !important;
      }
    }
  }
}

.user-selection-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.user-selector {
  flex-grow: 1;
}

.new-dashboard-button {
  align-self: center;
  border-color: #f000;
  border-radius: 30px;
  background-color: #f000;
  font-weight: 500;
  color: #fff;

  &:hover {
    border-color: $pi-highlight-color;
    background-color: #f000;

    color: #fff;
  }

  // TODO: Review accessibility
  &:focus {
    border-color: $pi-highlight-color;
    color: #fff;

    &:active {
      background-color: $pi-darkened-highlight-color;
      color: #fff;
    }
  }

  .button-icon {
    width: 20px;
    margin-right: 10px;
  }
}
