@import 'chosen';
@import 'nouislider.min';
@import 'control/_round_flat_inputs';

.survey-subnav-container {
  display: flex;
  align-items: center;
  background-color: #fff;

  .report-category {
    font-weight: 600;
  }
}

.survey-subnav {
  display: flex;
  gap: 20px;
  padding: 0 0 0 50px;
  margin: 0;
  max-width: 70%;
  list-style: none;

  background-color: #fff;
  font-size: 15px;
  font-family: 'Diodrum';
  font-weight: 500;

  li {
    padding: 10px 20px;

    &.selected {
      border-bottom: 3px solid $pi-highlight-color-border;
    }

    a {
      color: #333;
      text-decoration: none;
    }
  }
}

.surveys-controller {
  // Survey list table ****************************************

  .form-title {
    color: #57636e;
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 28px;

    span.label-default {
      text-transform: uppercase;
      font-size: 80%;
      position: absolute;
      margin-left: 10px !important;
      margin-top: 8px;
      padding: 3px;
    }
  }

  // Custom Card *****************************************************

  .navbar-custom {
    background-color: green;
  }

  .container-custom {
    color: black;
    padding-top: 12px;
    font-size: 17px;

    .close {
      font-size: 30px;
      color: black;
    }

    .save {
      float: right;
      margin-right: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  // Form *****************************************************
  .survey-formatting {
    position: relative;

    @include clearfix();
    padding: 40px 0;

    .survey-fields-wrapper {
      width: 100%;
      float: left;

      .close {
        $close-color: #1A537E;

        position: absolute;

        top: 5px;
        right: 15px;
        font-weight: 300;
        color: $close-color;
        opacity: 1 !important;

        &:hover,
        &:focus {
          color: $close-color;
        }

        &.answer-close {
          top: 8px;
          right: 5px;
        }
      }

      .form-group {
        margin: 0 0 60px;

        label {
          // width: 12%;
          font-family: 'Bree Serif';
          font-size: 16px;
          color: $form-label;
        }

        .controls {
          vertical-align: bottom;

          input[type="text"], input[type="number"] {
            width: 100%;
          }
        }

      }

      .options-group {
        margin: 15px;

        label, p.hint {
          font-weight: 300;
        }

        .hidden-answer-button-type,
        .hidden-answer-alignment-type,
        .answer-alignment-type-desktop,
        .answer-alignment-type-mobile,
        .answer-per-row-desktop,
        .answer-per-row-mobile,
        .desktop-answer-width-type,
        .mobile-answer-width-type,
        .single-choice-default-label {
          display: none;
        }

        .answer-per-row-desktop.nps-per-row,
        .answer-per-row-mobile.nps-per-row {
          display: block;
        }

        .answer-button-type {
          label {
            font-size: 14px !important;
          }
        }

        .desktop-answer-options-label {
          margin-top: 15px;
          float: left;
        }

        .mobile-answer-options-label {
          float: left;
        }

        .desktop-answer-width-type,
        .mobile-answer-width-type,
        .answer-alignment-type-desktop,
        .answer-alignment-type-mobile {
          font-size: 14px;
          margin: 10px 0 10px 18%;

          select {
            width: 125px;
          }
        }

        #input_answers_per_row_desktop,
        #input_answers_per_row_mobile {
          width: 60px;
        }

        .answer-per-row-desktop:not(.nps-per-row),
        .answer-per-row-mobile:not(.nps-per-row) {
          margin: 10px 0 10px 18%;

          label {
            margin-left: 5px;
            margin-bottom: 0;
          }
        }

        .answer-alignment-type-desktop,
        .answer-alignment-type-mobile {
          .alignment-type {
            margin-left: 15px;
            display: inline-block;

            .alignment-hint {
              display: inline-block;
              margin-left: 5px;
              font-size: 12px;
            }
          }
        }

        .single-choice-default-label {
          input[type="text"] {
            width: 75%;
          }
        }

        .invitation-button-boolean {
          margin-left: 0px;
          margin-right: 5px;
        }
      }

      .form-group.survey_goal {
        input#survey_goal.string.optional[type="text"] {
          width: 80px;
        }
        p.hint {
          display: inline;
          padding-left: 10px;
        }
      }

      .form-actions {
        text-align: right;
        padding-right: 15px;

        input {
          font-size: 14px;
          border-width: 2px;
          padding: 6px 30px;
        }
      }

      .form-actions-custom {
        text-align: center;
        padding-right: 15px;
        padding-top: 15px;

        input {
          font-size: 14px;
          border-width: 2px;
          padding: 6px 30px;
        }
      }

      h4.title {
        text-align: center;
        font-weight: 300;
        color: #7890ab;
        // margin-bottom: 20px;
      }

      .sub-fields:hover input[type="text"] {
        border-bottom-color: #48525b;
      }

      .sub-fields {
        position: relative;
        // background-color: #424F5C;
        background-color: #f4f4f4;
        border-radius: 4px;
        padding: 10px 30px 20px;
        margin-bottom: 30px;
        // border: 1px solid #57636E;
        border: 1px solid #b1ccde;
        z-index: 1;

        input[type="text"] {
          width: 100%;
          // border-bottom-color: black;
        }



        .add_btn {
          @include center-block();
          @include square(40px);
          @include button-size(10px, 5px, 40px, 10px, 50%);
          border: 1px solid $btn-default-border;
          text-align: center;
          font-weight: 300;
          & {
            color: $text-color;
            text-decoration: none;
          }
          &:hover, &:focus {
            background-color: rgba(25,32,39,0.3);
          }
        }

        &.add {
          padding-bottom: 10px;
          padding-top: 20px;
        }

        &.question-field, &.follow_question-field, &.thank_you-field {
          &:hover, &:focus {
            background-color: #f4f4f4;
          }

          .answer-field {
            padding-left: 5%;
            padding-right: 3%;

            input {
              color: #373741;
            }

            .error {
              @include field_error();
            }

            .add_answer_btn {
              margin-top: 15px;
            }
          }

          .randomize, .poll {
            display: inline-block;
            padding-top: 10px;
            margin-left: 20px;

            label, input, select {
              display: inline-block;
            }

            label {
              font-weight: normal;
              font-size: 14px;
              color: #B4B4B4;
            }

            .checkbox input {
              margin-right: 5px;
            }
          }

          .randomize {
            padding-left: 5%;
          }
        }

        &:not(.free-text) {
          .form-group {
            margin: 10px 0;

            label {
              width: 20%;
              position: relative;
            }
            .controls {
              width: 78%;
            }
          }

          .options {
            background-color: $options-bg;
            border-radius: 4px;
            padding: 12px;
            margin-top: 15px;

            .optional-question {
              margin-left: 20px;
            }

            ._pi_radio_button_outer {
              display: inline-block;
              cursor: pointer;
              margin: 0px 10px 5px 35px;
              vertical-align: middle;
              border: 1px solid rgba(255,255,255,0.5);
              border-radius: 50%;
              width: 32px;
              height: 32px;
            }

            ._pi_radio_button_inner {
              background-color: #ffffff;
              border: 1px solid transparent;
              border-radius: 50%;
              margin-top: 4px;
              margin-left: 4px;
              width: 22px;
              height: 22px;
            }

            ._pi_radio_button_outer:hover,
            ._pi_radio_button_outer.active {
              border: 1px solid #5181bd;

              ._pi_radio_button_inner {
                background-color: #5181bd;
              }
            }

            ._pi_menu {
              margin-left: 35px;
              cursor: pointer;
              font-size: 14px;
              color: rgba(255, 255, 255, 0.5);
            }

            ._pi_menu:hover,
            ._pi_menu.active {
              color: #5181bd;
            }

            ._pi_standard_button_outer {
              display: inline-block;
              font-size: 14px;
              cursor: pointer;
              padding: 5px;
              margin-left: 35px;
              border-radius: 4px;
              border: 1px solid rgba(255, 255, 255, 0.5);
              color: rgba(255, 255, 255, 0.5);
            }

            ._pi_standard_button_outer:hover,
            ._pi_standard_button_outer.active {
              border: 1px solid #5181bd;
              color: #5181bd;
            }

              a.options-link {
              color: #373741;
              text-decoration: none;

              &:hover {
                color: #373741;
                text-decoration: none;
              }
            }

            .options-content {
              max-height: 0;
              -webkit-transition: max-height 0.2s;
              -moz-transition: max-height 0.2s;
              -ms-transition: max-height 0.2s;
              -o-transition: max-height 0.2s;
              transition: max-height 0.2s;
              overflow: hidden;

              input {
                display: inline-block;
              }

              label, p.hint {
                font-family: "Open Sans";
                color: $options-color;
                font-size: 15px;
              }

              p.hint {
                display: inline;
                padding-left: 10px;
                font-size: 12px;
              }
            }

            &.expanded {
              a.options-link {
                .arrow {
                  -webkit-animation:turn 0.2s linear forwards;
                  -moz-animation:turn 0.2s linear forwards;
                  animation:turn 0.2s linear forwards;
                }
              }

              .options-content {
                max-height: 100%;
              }
            }
          }
        }

        &.free-text {
          .form-group {
            margin-bottom: 0;

            label {
              width: 20%;
              position: relative;
              top: 10px;
            }
            .controls {
              width: 78%;
            }
          }

          .form-group.numeric {
            .controls {
              input {
                width: 50px;
              }

              #autoredirect_url {
                width: 200px;
              }
            }
          }

          .options {
            background-color: $options-bg;
            border-radius: 4px;
            padding: 12px;
            margin-top: 15px;

            a.options-link {
              color: white;
              text-decoration: none;

              &:hover {
                color: white;
                text-decoration: none;
              }
            }

            .options-content {
              max-height: 0;
              -webkit-transition: max-height 0.2s;
              -moz-transition: max-height 0.2s;
              -ms-transition: max-height 0.2s;
              -o-transition: max-height 0.2s;
              transition: max-height 0.2s;
              overflow: hidden;

              input {
                display: inline-block;
              }

              label, p.hint {
                font-family: "Open Sans";
                color: $options-color;
                font-size: 15px;
              }

              p.hint {
                display: inline;
                padding-left: 10px;
                font-size: 12px;
              }
            }

            &.expanded {
              a.options-link {
                .arrow {
                  -webkit-animation:turn 0.2s linear forwards;
                  -moz-animation:turn 0.2s linear forwards;
                  animation:turn 0.2s linear forwards;
                }
              }

              .options-content {
                max-height: 115px;

                .optional-question {
                  margin-left: 35px;
                }
              }
            }
          }
        }

        .question_types {
          width: 90%;
          margin-top: 14px;
          overflow: hidden;
          text-align: center;
          margin-left: auto;
          margin-right: auto;

          #add_single_choice_btn, #add_free_text_btn, #add_custom_content_btn, #add_multiple_choices_btn, #add_nps_btn {
            float: left;
            width: 90px;
            height: 90px;
            padding: 14px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            border: 1px solid $btn-default-border;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color 0.2s ease-in;

            img {
              display: block;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 4px;
            }
            span {
              text-decoration: none;
              color: $panel-default-text;
              font-size: 15px;
            }

            &:hover, &:focus {
              background-color: #1a537e;
              span {
                text-decoration: none;
                color: #fff !important;
              }
            }
          }

          #add_single_choice_btn, #add_free_text_btn, #add_multiple_choices_btn, #add_custom_content_btn {
            margin-right: 30px;
          }
        }
      }
    }

    .additional-text {
      margin-top: 15px;

      .subtitle {
        font-family: 'Bree Serif';
        font-size: 16px;
        color: #1a537e;
      }

      .icon-answers {
        text-align: right;
      }

      .form-group {
        label {
          width: 25%!important;
          padding: 0!important;
          line-height: 30px;
        }

        .controls {
          display: inline-block;
          width: 75%!important;

          .numeric {
            width: 65px!important;
          }

          #before_answers_item,
          #after_answers_item {
            margin: 0 5px;
          }
        }
      }
    }

    .fullscreen-group {
      margin-left: 70px;
      margin-top: 10px;

      .form-group.background_color input {
        width: 85px !important;
      }

      .form-group.background_color .color-box {
        display: inline-block;
        width: 70px;
        height: 25px;
        margin-left:5px;
        border: 1px solid white;
        vertical-align: bottom;
        border-radius: 4px;
      }

      .form-group.opacity input {
        width: 50px !important;
      }
    }
  }

  #inline_survey_target_area {
    position: relative;
    width: 100%;
    min-height: 80px;
    background-color: #424F5C;
    margin-top: 15px;
    border: 3px dashed black;
    padding: -10px;
  }

  #live_preview.modal .modal-body {
    input {
      color: black;
      width: 450px;
      margin-right: 20px;
    }
  }

  .steps, .ranges {
    position: absolute;
    top: 0;
  }

  .steps {
    left: 30%;
    > li > a {
      padding: 6px 25px;
    }
  }

  .ranges {
    z-index: 2;
    right: 200px;
    > li > a {
      padding: 6px 8px;
    }
  }

  .ranges, .input-daterange {
    top: -70px;
  }
  .input-daterange {
    position: absolute;
    right: 5px;
    cursor: pointer;
    input {
      width: 80px;
      font-size: 12px;
      padding: 0;
      text-align: center;
      line-height: 22px;
    }
    span.add-on {
      padding: 0 5px;
    }
  }

  .select2-search__field:focus {
    outline: none !important;
  }

  .select2-results {
    a.survey-manage-tags {
      float: left;
      padding: 6px;
    }

    hr {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }


  .dataTables_wrapper {
    position: inherit;
  }

  .dataTables_filter {
    display: none;
  }

  // Reporting & Localization Report ************************************************
  .reporting, .localization-report {
    position: relative;
    margin-top: 10px;
    padding: 0 60px;

    .results {
      margin-top: 60px;
      margin-bottom: 60px;

      .question {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
        margin-top: 50px;
        padding: 20px;

        &:first-child {
          margin-top: 0;
        }

        .question-header {
          display: flex;
          justify-content: space-between;

          .settings-control {
            margin-right: 10px;

            &:last-of-type {
              margin-right: 0;
            }
          }

          ul {
            list-style: none;
            display: flex;
            margin: 0;
          }
        }

        .chart-header {
          margin: 0;
          color: $pi-neutral-color-border;
          font-size: 12px;
          font-family: 'Diodrum';
          font-weight: 600;
        }

        .answers {
          border-left: 1px solid $pi-neutral-color-border;

          .answer {
            @include clearfix();
            margin-bottom: 40px;

            &:first-child {
              margin-top: 40px;
            }

            .progress-custom {
              width: 1060px;
            }
          }
        }

        .answers-active {
          background-color: #ffffff;
          -webkit-transition: background 0.2s linear;
          -moz-transition: background 0.2s linear;
          -ms-transition: background 0.2s linear;
          -o-transition: background 0.2s linear;
          transition: background 0.2s linear;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .surveys-controller {
    .inline-search-form {
      position: relative;
      display: block;
    }
  }
}

$modal_z_index: 1050;

.toggle-rows-button {
  margin-right: 10px;
}

.localization-editor,
.localization-modal-container,
.survey-report {
  .modal {
    z-index: $modal_z_index;

    .modal-title {
      margin-top: 50px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 22px;
      color: #5181bd;
    }

    .modal-header {
      border-width: 0;
    }

    .modal-body {
      padding: 0 64px;
    }

    .modal-footer {
      display: flex;
      justify-content: space-around;
      border-width: 0;
      padding: 64px 15px;

      &.localize-survey-modal {
        justify-content: center;
      }
    }

    label {
      min-width: 100px;
      margin-bottom: 0;
      margin-right: 20px;
      font-size: 15px;
      font-weight: 300;
    }

    p {
      margin-bottom: 40px;
      text-align: center;
    }
  }
}

.localization-editor {
  overscroll-behavior-x: none;

  > .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  h1 {
    text-align: center;
    font-size: 43px;
    font-weight: 300;
    margin-top: 60px;
  }

  .diff-tooltip {
    cursor: pointer;
  }

  .modal-dialog {
    &.css-triggers {
      width: 1200px;
    }

    &.refire-settings {
      width: 800px;
    }

    &.new-question,
    &.edit-question {
      width: 900px;
    }

    &.docked-widget {
      width: 500px;
    }

    &.custom-data-triggers,
    &.css-selectors,
    &.url-triggers,
    &.url-suppressers {
      width: 1000px;
    }
  }

  .modal {
    .basic-fields-container {
      display: flex;
      flex-direction: column;
    }

    .basic-fields-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 35px;

      &.left-aligned {
        justify-content: flex-start;
      }

      input:not([type="checkbox"]),
      select,
      textarea,
      span {
        flex-grow: 2;
        font-size: 15px;
      }

      textarea {
        height: 300px;
        margin-bottom: 30px;
      }

      .input-column,
      .trigger-input {
        display: flex;
        align-items: center;

        flex-grow: 2;
        font-size: 15px;

        input,
        select,
        textarea,
        span {
          flex-grow: 0;
          margin-right: 5px;
        }
      }

      .trigger-input {
        .last-input {
          flex-grow: 2;
        }
      }
    }

    label {
      &.image-label {
        min-width: 200px;
      }

      &.custom-data-row {
        min-width: 130px;
      }

      &.css-selector-label {
        min-width: 0px;
      }
    }

    .trigger-input {
      &:nth-last-of-type(2) {
        margin-bottom: 20px;
      }
    }

    .refire-time-input {
      width: 100px;
    }

    .survey-formatting {
      padding-bottom: 0;
    }
  }

  .trigger-input-wrapper {
    flex-grow: 2;
  }

  .css-selector-title {
    margin: 32px 0 16px;
  }

  .position-content-field {
    max-width: 80px;
  }

  .color-box {
    display: inline-block;
    width: 70px;
    height: 25px;
    margin-left:5px;
    border: 1px solid #57636e;
    vertical-align: bottom;
    border-radius: 4px;
  }

  .colpick {
    z-index: $modal_z_index + 1; // Necessary for modal dialog support: https://github.com/josedvq/colpick-jQuery-Color-Picker/issues/7
  }

  .select2-container .select2-search--inline .select2-search__field {
    width: 100% !important;
  }
}

$localization-border-color: #e4e7ea;
$column-divider-border-width: 2;
$row-divider-border-width: 6;
$default-bottom-padding: 10;
$default-left-padding: 50;

// Borders are complicated by a bug with position: sticky
// I've resorted to box shadows (which cover part of the adjacent cell),
// with padding for the obscured cell.
// See https://stackoverflow.com/questions/41882616/why-border-is-not-visible-with-position-sticky-when-background-color-exists
// and https://bugzilla.mozilla.org/show_bug.cgi?id=1450584 for updates on this problem.
.localization-table {
  box-shadow: 0px 0px 0px 2px $localization-border-color; // surrounding border

  .header-row {
    th {
      box-sizing: border-box;
      height: 60px;
    }
  }

  .header-row,
  .survey-row.last,
  .possible-answer-row.last {
    th,
    td {
      padding-bottom: $default-bottom-padding + $row-divider-border-width + px;
    }

    + tr {
      th,
      td {
        box-shadow: 0px (-$row-divider-border-width + px) 0px 0px $localization-border-color; // top border
      }

      td {
        &:nth-child(2) {
          // top border, right border
          box-shadow: 0px (-$row-divider-border-width + px) 0px 0px $localization-border-color, ($column-divider-border-width + px) 0px 0px 0px $localization-border-color;
        }
      }
    }
  }

  $first-column-width: 300px;
  $second-column-width: 360px;

  td,
  th {
    padding: $default-bottom-padding + px;
    padding-left: $default-left-padding + px;
    font-size: 15px;

    &:nth-child(1),
    &:nth-child(2)
    {
      position: sticky;
    }

    &:nth-child(1) {
      left: 0;
      width: $first-column-width;
      min-width: $first-column-width;
      max-width: $first-column-width;
    }

    &:nth-child(2) {
      left: $first-column-width;
      width: $second-column-width;
      min-width: $second-column-width;
      max-width: $second-column-width;
      box-shadow: ($column-divider-border-width + px) 0px 0px 0px $localization-border-color; // right border

      + td,
      + th {
        padding-left: ($default-left-padding + $column-divider-border-width) + px;
      }
    }

    ul {
      padding: 0;
      list-style-type: none;
    }
  }

  th {
    color: #5181bd;
    font-weight: 300;
    font-size: 18px;

    &.sticky {
      position: sticky;
      z-index: $modal_z_index - 20;

      &:nth-child(1),
      &:nth-child(2) {
        z-index: $modal_z_index - 10;
      }
    }
  }

  .divider-row,
  .sub-divider-row {
    td:nth-child(1) {
      font-weight: 500;
    }
  }

  .survey-row {
    &.sub-divider-row {
      td {
        background-color: #d5dce2;
      }
    }
  }

  .survey-row,
  .question-row {
    &.divider-row,
    &.sub-divider-row {
      td {
        &:nth-child(1) {
          box-sizing: border-box;
          height: 60px;
          padding-left: $default-left-padding - 20px;
        }
      }
    }

    td {
      &:nth-child(1) {
        padding-left: $default-left-padding + 20px;
      }
    }
  }

  .new-possible-answer-modal-button {
    color: #537be3;
  }

  tr {
    &.question-header-row {
      &.highlighted {
        td {
          background-color: #bfe5f4;
        }
      }
    }

    &:nth-child(even) {
      &.question-row,
      &.question-header-row,
      &.possible-answer-row {
        &.sub-divider-row {
          td {
            background-color: #dac7e2;
          }
        }

        &.highlighted {
          td {
            background-color: #c1d1e4;
          }
        }

        td {
          background-color: #e3d8e3;
        }
      }

      td,
      th {
        background-color: #eff1f5;
      }
    }

    &:nth-child(odd) {
      &.question-row {
        &.sub-divider-row {
          td {
            background-color: #dac7e2;
          }
        }
      }

      &.possible-answer-row,
      &.question-row,
      &.question-header-row {
        &.highlighted {
          td {
            background-color: #c1d1e4;
          }
        }
      }

      td,
      th {
        background-color: #fff;
      }
    }

    td {
      border-right: 1px solid #ccc;
    }
  }

  .editable-cell {
    input {
      display: none;
      border: 1px #4a90d5 solid !important; // there's a global important we need to override
      border-radius: 4px;
      background-color: #fafafa;

      &:invalid {
        background-color: rgba(255, 0, 0, 0.2);
      }
    }
  }

  .theme-input {
    min-width: 250px;
  }

  .glyphicon {
    position: static;
  }

  .image-modal-button,
  .translation-tooltip {
    margin-left: 10px;
  }

  .glyphicon-triangle-bottom,
  .glyphicon-triangle-right {
    margin-left: -10px;
  }

  .collapse-question-button {
    margin-right: 10px;
  }
}

.new-base-question-modal-button {
  margin-top: 20px;
}

.btn-default {
  &.generate-submissions-button,
  &.create-survey-button {
    box-sizing: border-box;
    padding: 4px 10px;
    border-color: #923d75;
    background-color: $pi-highlight-color;

    &:hover {
      background-color: #923d75;
      border-color: #923d75;
    }

    &:active {
      background-color: #7f3566;
      border-color: #7f3566;
    }
  }
}

.fake-background {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - #{$navbar-height});
  background: image-url('fake_editor.png') no-repeat;
  backdrop-filter: blur(4px) brightness(75%);
  -webkit-filter: blur(4px) brightness(75%);
  background-size: cover;
  background-position-x: center;
}

.fake-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 750px;
  height: 400px;
  padding: 70px 100px;
  background-color: white;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Diodrum';
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      width: 100px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 300;
      color: #333;
    }

    input {
      flex: 2;
    }
  }

  .create-survey-button {
    align-self:  center;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 15px;
  }
}

.settings-modal-title {
  color: #000;
  font-size: 15px;
  font-family: 'Raleway';
  font-weight: 600;
  text-align: center;
  margin: 0;
}
