$filter-panel-width: 320px;

.survey-dashboard {
  .filter-panel {
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    z-index: 2;
    color: #fff;
    background-color: #000;
    min-height: 100vh;

    input {
      background-color: #000;
    }

    &.collapsed {
      position: absolute;
      left: -$filter-panel-width;
    }
  }

  .filter-tab {
    position: absolute;
    z-index: 1;
    left: $filter-panel-width;
    width: 29px;
    height: 50px;
    padding-top: 7px;
    padding-left: 5px;
    cursor: pointer;

    &.collapsed {
      border-radius: 0px 4px 4px 0px;
      background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(34, 34, 34) 100%);
    }
  }

  .filter-sub-panel {
    display: flex;
    flex-direction: column;
    width: $filter-panel-width;
  }

  .filter-sub-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 50px;
    border-radius: 0px;
    padding-left: 40px;
    padding-right: 20px;
    background: #222;
    cursor: pointer;

    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
  }

  .filter-sub-panel-contents {
    padding: 20px 0 20px 40px;
    background: linear-gradient(0deg, #000 0%, #222 100%);
    border-radius: 0px;

    font-family: 'Raleway';
    font-weight: 500;

    &.collapsed {
      display: none;
    }

    &.text-search {
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
    }

    label,
    input {
      cursor: pointer;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    input {
      &:not([type]) {
        border-style: solid;
        border-color: #fff;
        border-width: 0 0 1px 0;
        background: transparent;
      }
    }

    label {
      margin-left: 10px;
      font-weight: 500;
    }

    ul {
      padding: 0;
      list-style-type: none;
    }

    li {
      display: flex;
    }

    a {
      color: $pi-highlight-color;
    }
  }

  .survey-filter-radio-button {
    appearance: none;

    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid $pi-neutral-color-border;
    border-radius: 50%;
    background: rgba(155, 163, 192, 0.2);

    &::before {
      content: '';
      visibility: hidden;
      position: absolute;
      left: 15%;
      top: 15%;
      width: 70%;
      height: 70%;
      border-radius: 50%;
      background-color: $pi-highlight-color;
    }

    &:checked {
      border-color: $pi-highlight-color;
      background-color: #000;

      &::before {
        visibility: visible;
      }
    }

    &:focus {
      visibility: hidden;
    }
  }

  .survey-filter-checkbox {
    @include custom-checkbox($pi-highlight-color, $pi-neutral-color-border, #000, $pi-highlight-color, #000);
  }
}

// wrapper element created by react-datepicker component
.filter-panel {
  .react-datepicker-wrapper {
    width: 100%;

    input {
      width: 85%;
    }
  }
}

.calendar-container {
  padding: 16px;
  width: 590px;
  background: #fff;

  .react-datepicker {
    display: flex;

    .calendar-side-panel {
      li {
        margin: 10px 0;
      }

      button {
        display: block;
        padding: 10px 20px 10px 10px;
        width: 100%;
        border-style: none;
        text-decoration: none;
        color: #000;
        text-align: left;

        &:hover {
          background: #9576D6;
        }
      }
    }
  }

  // TODO: Be more robust
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__day--in-range {
    background-color: #9576D6 !important;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }
}
