.color-label {
  display: inline-block;
  color: #FFFFFF;
  padding: 6px 12px 6px;
  margin: 0 2px;
  font-size: 12px;
  border-radius: 100px;
  text-align: center;
  font-weight: 500;
}

#close-tag {
  cursor: pointer;
  margin: 0 0 0 5px;
}

.tags-table {
  margin-top: 25px;
}

.new-tag {
  margin-bottom: 20px;
}

.tag-color-group {
  input {
    display: inline-block;
  }

  .tag-input-group-addon {
    display: inline-block;
    width: 70px;
    height: 25px;
    margin-left: 10px;
    border: 1px solid white;
    vertical-align: bottom;
    border-radius: 4px;
  }
}

.tag-form-actions {
  margin-top: 20px;
  float: right;

  input {
    font-size: 14px;
    padding: 6px 30px;
  }
}

.survey_applied_survey_tags {
  .select2-container {
    width: 400px !important;

    .select2-selection--multiple {
      background: none;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #57636e;
      border-radius: 0;
      box-shadow: none;
    }

    .chosen-choices {
      .search-choice span {
        color: #3e4c59 !important;
      }

      li.search-field input[type="text"] {
        font-family: "Open Sans" !important;
        font-size: 12px !important;
        color: #ccd1dd !important;
      }
    }
  }
}

.survey_tag_name {
  #survey_tag_name {
    width: 250px;
  }
}