@import 'monokai';
@import 'codemirror';

.theme-header {
  margin: 40px 0 30px;
  position: relative;

  .theme-title {
    padding-top: 0;
    text-align: center;
  }

  .right-btns {
    position: absolute;
    top: 1px;
    right: 0;
  }
}

.theme-panel {
  .panel-body {
    padding: 0;
  }
}

.theme-name,
.theme-last-edited,
.theme-surveys,
.theme-css,
.theme-native {
  label {
    font-family: 'Bree Serif';
    width: 100px;
    font-size: 16px;
    color: #829BC1;
  }
}

#theme_name {
  width: 450px;
}

.theme_name label abbr[title="required"] {
  display: none;
}

.theme-surveys-link,
#theme-css-text,
#theme-native-text {
  display: inline-block;
}

.theme_css .CodeMirror,
.theme_native .CodeMirror {
  min-height: 500px;
}
