//** Global navbar setting
//$navbar-inverse-bg:  #323c46;
$navbar-inverse-bg:  #000;
$navbar-inverse-border: transparent;
$navbar-inverse-link-color: #fff;

//** Panel
$panel-default-text: #7890ab;
$panel-default-border: transparent;
//$panel-default-heading-bg: rgba(32, 37, 40, 0.3);
$panel-default-heading-bg: #f4f4f4;
$panel-border-radius: 1px;
$panel-bg: transparent;

//** Button
//$btn-default-bg: #3a4d60;
$btn-default-bg: #5C94D8;
//$btn-default-border: #7b8692;
$btn-default-border: #b1ccde;
$btn-default-color: white;

//** Table
$table-border-color: #C8C8C8;
$table-bg-hover: #f2f2f2;

//** Dropdown
$dropdown-bg: #192127;
$dropdown-border: white;
$dropdown-link-color: #333;
$dropdown-link-hover-color: darken($dropdown-link-color, 5%);
$dropdown-link-hover-bg:  #212c35;

// ** Alert
$alert-padding: 7px;

// ** Label
$label-default-bg: #2c3944;
$label-color: #646b74;
$label-link-hover-color: #646b74;

// ** Navs
$nav-link-padding: 6px 15px;
$nav-link-hover-bg: #2C3944;

// ** Tabs
$nav-tabs-border-color: #5181bd;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-active-link-hover-color: #fff;
$nav-tabs-active-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-justified-link-border-color: $nav-tabs-border-color;
$nav-tabs-justified-active-link-border-color: $nav-tabs-border-color;

// ** Tooltip
$tooltip-bg: #1a537e;
$tooltip-color: #ffffff;
$tooltip-arrow-width: 8px;

// ** Progress-bar
$progress-bg:  transparent;

$form-label: #1a537e;
$options-bg: rgba(0,0,0,.15);
$options-color: #373741;
