// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
// @import url(http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
// Open Sans
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), asset-url('OpenSans300.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), asset-url('OpenSans400.woff') format('woff');
}

// Bree Serif
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Bree Serif'), local('BreeSerif-Regular'), asset-url('BreeSerif400.woff') format('woff');
}

@font-face {
  font-family: 'summernote';
  font-style: normal;
  font-weight: normal;
  src: asset-url("summernote.eot");
  src: asset-url("summernote.eot") format("embedded-opentype"), asset-url("summernote.woff") format("woff"), asset-url("summernote.ttf") format("truetype");
}

@font-face {
  font-family: 'Diodrum';
  src: font-url('diodrum/extralight.woff2') format('woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'Diodrum';
  src: font-url('diodrum/light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Diodrum';
  src: font-url('diodrum/medium.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Diodrum';
  src: font-url('diodrum/regular.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Diodrum';
  src: font-url('diodrum/semibold.woff2') format('woff2');
  font-weight: 600
}

@font-face {
  font-family: 'Diodrum';
  src: font-url('diodrum/bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: font-url('raleway/Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Raleway';
  src: font-url('raleway/Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Raleway';
  src: font-url('raleway/SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Raleway';
  src: font-url('raleway/Bold.ttf') format('truetype');
  font-weight: 700;
}
