$global-background-color: #fff;
$text-color: #48525b;

a {
  color: #7fa1e7;
}
a:hover {
  color: #3f72db;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
}

.label-default {
  background-color: #5181bd;
  font-size: 11px !important;
  color: #fff;
  font-weight: 100;
  margin-left: 13px !important;
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 6px;
}

.dropdown-menu {
  background-color: #fff;

  li {
    a {
      color: #333;

      &:hover,
      &:focus {
        background-color: #f2f4f8;
      }
    }
  }
}

.panel-default > .panel-heading {
  background-color: #1a537e;
}

.datetimepicker {
  background-color: #f4f4f4 !important;
}

.container > .navbar-header {
  color: #ffffff;
}

.panel-default > .panel-heading {
  color: #ffffff;
}

#content > div.reporting > div.results > div > div.panel-heading.clearfix > div > a,
#content > div.reporting > div.results > div > div.panel-heading.clearfix > div > a:hover {
  color: #ffffff;
}

.surveys-controller .navbar-custom {
  background-color: #b1ccde !important;
}

body > div.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-right.datepicker-orient-top {
  background-color: #f4f4f4 !important;
}
