//** Global background color
$body-bg: #ffffff;
//** Global text color
$text-color: #373741;

//** Global link color.
$link-color: #7fa1e7;

//** Global font setting
$font-family-base: 'Open Sans';
$font-size-base: 12px;
$headings-font-weight: 300;

$navbar-height: 55px;

$pi-neutral-color: #e3e7ea;
$pi-neutral-background-color: #f5f6f8;
$pi-neutral-color-border: #9ba3c0;

$pi-highlight-color-border: #9576d6;
$pi-highlight-color: #b24b8f;

$pi-darkened-highlight-color: #99407b;

$pi-danger-color: #ff5555;

$pi-light-neutral-color: #d2d1e0;
$pi-warning-color: #faa;
