// THE _selectors FILE:
@import '../../01-css-pulse/_selectors';

// DEFAULT VARIABLES
@import '../_default/_default-1-variables';

// CLIENT-SPECIFIC DESIGN VARIABLES
@import '../_nike_variables';

// GLOBAL MAPS:
@import '../../01-css-pulse/_maps';

// GLOBAL MIXINS
@import '../../01-css-pulse/_mixins';

// THE GLOBAL STRUCTURE FOR FRAMEWORK V2:
@import '../../01-css-pulse/_theme-structure';
div#_pi_surveyWidgetContainer{
  &.all-at-once, &.all-at-once.mobile-enabled{
    height: auto !important;
    display: block !important;
    width: 100% !important;
    top: auto !important;
    left: auto !important;
    position: relative !important;
  }
  h2{
    font-size: 25px !important;
    font-weight: 500 !important;
    margin-top: 17px !important;
    margin-bottom: 8.5px;
  }
  div#_pi_surveyWidget{
    border-radius: 0px !important;

    ._pi_all_questions_submit_button_container, ._pi_multiple_choices_question_submit_button_container, ._pi_free_text_question_submit_button_container{
      width: 100%;
      margin-top: 20px;
      input._pi_all_questions_submit_button, ._pi_multiple_choices_question_submit_button, ._pi_free_text_question_submit_button{
        margin-left: auto !important;
        margin-right: 0 !important;
        border-radius: 30px !important;
        display: block !important;
        background-color: #111111 !important;
        color: #ffffff !important;
        &:focus, &:focus-within{
          outline: none;
        }
        &[data-submit-error="true"]{
          color: #757575 !important;
          background-color: #F5F5F5 !important;
          border-color: #F5F5F5 !important;
          &:hover{
            color: #757575 !important;
            background-color: #F5F5F5 !important;
            border-color: #F5F5F5 !important;
          }
        }
      }
    }
    li a span._pi_radio_button_outer{
      top: 0px !important;
      height: 14px !important;
      width: 14px !important;
      min-height: 14px !important;
      position: relative !important;
    }
    li a span._pi_radio_button_inner{
      height: 8px !important;
      width: 8px !important;
      top: 1px !important;
      left: 1px !important;
    }
    ._pi_question._pi_question_custom_content_question{
      color: #757575 !important;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      font-size: 13px !important;
      line-height: 20px !important;
      h1,h2,h3,h4,h5,h6{
        color: #111111 !important;
      }
      > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
        *{
          line-height: 20px !important;
          color: #757575 !important;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
          font-size: 13px !important;
        }
      }
      a{
        color: #757575 !important;
        text-decoration: underline !important;
        &:hover{
          color: #111111 !important;
          *{
            color: #111111 !important;
          }
        }
      }
    }
    ._pi_widgetContentContainer{
      max-width: 80% !important;
      ul._pi_answers_container[data-question-type="single_choice_question"], ul._pi_answers_container[data-question-type="multiple_choices_question"]{
        li{
          &.selected{
            a:not(.with-img){
              label{
                padding-top: 9px !important;
                padding-bottom: 9px !important;
              }
            }
          }
          &:hover{
            &.selected{
              a:not(.with-img){
                label{
                  padding-top: 9px !important;
                  padding-bottom: 9px !important;
                }
              }
            }
          }
        }
        &[data-radio-button="on"]:not([data-question-type="multiple_choices_question"]){
          li{
            margin-left: 0px !important;
            border-color: transparent !important;
            border-width: 2px !important;
            a{
              label{
                outline: none !important;
                padding-top: 10px !important;
                padding-bottom: 10px !important;
              }
            }
            &:hover, &.selected{
              a{
                span._pi_radio_button_outer{
                  border-color: #333333;
                }
              }
            }
          }
        }
      }
      ul._pi_answers_container[data-question-type="multiple_choices_question"]{
        li{
          label{
            padding: 10px 10px 10px 0px !important;
          }
          &:hover{
            label{
              padding: 9px 10px 9px 0px !important;
              color: #ffffff !important;
            }
          }
        }
      }
    }
    &[survey-widget-type="inlinesurvey"]{
      // max-width: 550px !important;
      padding: 50px 0 !important;
      padding-bottom: 50px !important;
      > div._pi_closeButton{
        height: 40px;
        font-size: 26px !important;
        font-weight: 400 !important;
        width: 40px;
        line-height: 26px !important;
        max-width: 100%;
        max-height: 100%;
        flex-shrink: 0;
        padding: 5px;
        position: absolute !important;
        top: 60px;
        right: 10%;
      }

      input:not([type="submit"]), textarea{
        border-radius: 5px !important;
        border-color: #cccccc !important;
        -webkit-text-size-adjust: 100% !important;
        &:focus, &:hover{
          border-color: #111111 !important;
        }
      }
      textarea{
        resize: none !important;
      }
      select{
        border-radius: 5px !important;
        border-color: #cccccc !important;
        -webkit-text-size-adjust: 100% !important;
        &:hover{
          border-color: #111111 !important;
        }
        option{
          -webkit-text-size-adjust: 100% !important;
        }
      }

    }
    &[survey-widget-type="bottombarsurvey"]{
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      > div._pi_closeButton{
        height: 40px;
        font-size: 26px !important;
        font-weight: 400 !important;
        width: 40px;
        line-height: 26px !important;
        max-width: 100%;
        max-height: 100%;
        flex-shrink: 0;
        padding: 5px;
        position: absolute !important;
        top: 10px;
        right: 10px;
      }
      ._pi_all_questions_submit_button_container{
        margin-left: auto;
      }
    }
    ._pi_header.pi_header_before{
      margin-bottom: 5px;
    }

    select._pi_select{
      width: 100%;
      background: url(//pi-custom-content.s3-us-west-2.amazonaws.com/chevron-down.png) no-repeat 97% transparent !important;
      padding-right: 28px !important
    }
    ._pi_widgetContentContainer{
      justify-content: flex-start !important;
    }
    padding-top: 40px !important;
    ._pi_question{
      padding-top: 15px !important;
    }
    ._pi_scale_container._pi_scale_container_after{
      margin-bottom: 10px !important;
    }
    ._pi_question._pi_question_custom_content_question{
      padding-bottom: 0px !important;
      margin-right: auto;
    }
    textarea._pi_free_text_question_field{
      vertical-align: top !important;
    }
    ._pi_free_text_question_characters_count{
      padding-top: 0px !important;
    }
    [data-question-type="custom_content_question"]{
      margin-bottom: 0px !important;
    }

    ul[data-question-type="custom_content_question"]{
      margin: 0px !important;
    }
    ._pi_free_text_question_field_container, ._pi_free_text_question_field{
      width: 100%;
    }
    &[data-survey-display="all-at-once"]{
      padding-top: 40px !important;
      ._pi_question{
        padding-top: 15px !important;
      }
      ._pi_scale_container._pi_scale_container_after{
        margin-bottom: 10px !important;
      }
      ._pi_question._pi_question_custom_content_question{
        padding-bottom: 0px !important;
        margin-right: auto;
      }
      textarea._pi_free_text_question_field{
        vertical-align: top !important;
      }
      ._pi_free_text_question_characters_count{
        padding-top: 0px !important;
      }
      [data-question-type="custom_content_question"]{
        margin-bottom: 0px !important;
      }
      ._pi_question._pi_question_custom_content_question{
        color: #757575 !important;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 13px !important;
        line-height: 20px !important;
        h1,h2,h3,h4,h5,h6{
          color: #111111 !important;
        }
        > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
          *{
            line-height: 20px !important;
            color: #757575 !important;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            font-size: 13px !important;
          }
        }
        a{
          color: #757575 !important;
          text-decoration: underline !important;
          &:hover{
            color: #111111 !important;
            *{
              color: #111111 !important;
            }
          }
        }
      }
      ul[data-question-type="custom_content_question"]{
        margin: 0px !important;
      }
      ._pi_free_text_question_field_container, ._pi_free_text_question_field{
        width: 100%;
      }
    }
    ._pi_branding{
      display: none !important;
    }
    ._pi_scale_container._pi_scale_container_after{
      margin-bottom: 30px;
    }
    ul._pi_answers_container{
      width: 100% !important;
      li{
        a.with-img.with-img-top{
          img{
            margin-top: 10px !important;
            margin-right: 5px !important;
            margin-bottom: 5px !important;
            margin-left: 5px !important;
          }
        }
        &:hover{
          a:not(.with-img){
            label{
              padding-top: 9px !important;
              padding-bottom: 9px !important;
            }
          }
          a.with-img{
            img{
              margin-top: 9px !important;
            }
            label{
              padding-bottom: 4px !important;
            }
          }
        }
      }
      &[data-question-type="free_text_question"]{
        margin-top: 10px !important;
      }
    }
    div._pi_answers_container{
      &.isDropdown{
        position: relative;
        overflow: visible !important;
        margin-top: 15px !important;
        .eyebrow{
          display: none;
          position: absolute;
          top: -9px;
          left: 7px;
          background: white;
          padding: 0px 5px;
          font-size: 11px;
          height: 14px;
        }
      }
    }
  }
  &.mobile-enabled.all-at-once{
    div#_pi_surveyWidget[survey-widget-type="inlinesurvey"]{
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      &[survey-widget-type="inlinesurvey"]{
        padding-bottom: 20px !important;
        ._pi_closeButton{
          right: calc(13% / 2);
          margin-right: 0px !important;
        }
        ._pi_widgetContentContainer{
          max-width: 87% !important;
        }
      }
      ._pi_widgetContentContainer{
        margin-top: 0px !important;
        input, select, textarea{
          font-size: 16px !important;
        }
        select{
          option{
            font-size: 16px !important;
            -webkit-text-size-adjust: 100% !important;
          }
        }
      }
      ._pi_all_questions_submit_button_container{
        margin-bottom: 0px;
        // padding-bottom: 130px !important;
        input._pi_all_questions_submit_button{
          width: 100%;
          padding: 17px 30px !important;
          &:hover{
            color: #ffffff !important;
          }
        }
      }

    }
  }
  &.all-at-once{

    &.mobile-enabled{
      h2{
        margin-top: 12px !important;
        padding-right: 50px !important;
      }
    }
  }
  ._pi_widgetContentContainer{
    ._pi_thankYouSurvey{
      margin: auto !important;
      padding-bottom: 100px !important;
      padding-top: 30px !important;
      color: #757575 !important;
      &:before{
        content: "";
        background-image: url(https://cdn.pulseinsights.com/images/answer_image/54/Swoosh.png);
        height: 52px;
        width: 150px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        margin: auto;
        margin-bottom: 40px;
      }
      b{
        color: #111111 !important;
        width: 100%;
        display: block;
        font-size: 30px;
        margin-bottom: 25px;
      }
    }
    ._pi_all_questions_error{
      // display: none !important;
      color: #fe0000;
      font-size: 12px;
      line-height: 2;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
  }
}
div#_pi_surveyWidgetContainer.mobile-enabled.all-at-once div#_pi_surveyWidget[survey-widget-type="inlinesurvey"]{
 margin-bottom: 0px !important;
}
div#_pi_surveyWidget[data-question-type="single_choice_question"] ._pi_question, div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[data-question-type="single_choice_question"] ._pi_question,
div#_pi_surveyWidget[data-question-type="multiple_choices_question"] ._pi_question, div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[data-question-type="multiple_choices_question"] ._pi_question,
div#_pi_surveyWidget[data-question-type="free_text_question"] ._pi_question, div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[data-question-type="free_text_question"] ._pi_question{
  text-align: left !important;
}
