.hbspt-form{
   form{
      margin-bottom: 30px;
      legend{
         margin: 15px 0px;
      }
      fieldset{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         align-items: flex-start;
         align-content: flex-start;
         justify-content: flex-start;
         &.form-columns-1{
            >div{
            }
         }
         &.form-columns-2{
            >div{
               width: calc(50% - 30px) !important;
               min-width: 200px;
            }
         }
         *{
           width: 100%;
         }
         > div{
         }
      }
      label{
         font-family: Raleway,sans-serif;
      }
      div.input{
         margin-bottom: 15px;
         input:not([type="checkbox"]){
            height: 40px;
            min-height: 27px;
            padding: 0 15px;
         }
         textarea{
            padding-left: 15px;
         }
         input:not([type="checkbox"]), textarea{
            font-family: Raleway,sans-serif;
            display: inline-block;
            font-weight: normal;
            line-height: 22px;
            border: 1px solid #cbd6e2;
            border-radius: 3px;
            background-color: #f5f8fa;
            -webkit-appearance: none;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            width: 100% !important;
            background-color: #efefef;
            &.invalid.error{
               border-color: #c51313 !important;
            }
            &:focus{
               outline: none !important;
               border-color: #9576d6;
            }
         }
      }
      ul, li{
         list-style-type: none;
         padding: 0px !important;
      }
      .hs_submit{
         margin: 0px 15px;
         input[type=submit]{
            font-family: Raleway,sans-serif;
            padding: 15px 30px;
            border-radius: 0px !important;
            border: 1px solid #9576d6;
            background-color: #ffffff !important;
            transition: all 0.6s;
            &:hover{
               color: #9576d6;
               transition: all 0.6s;
            }
         }
      }
      .hs-form-booleancheckbox-display{
         display: flex;
         justify-content: flex-start;
         align-items: center;
         align-content: center;
         span{
            -webkit-text-size-adjust: 100%;
            list-style-type: none;
            box-sizing: border-box;
            font-family: Raleway,sans-serif;
            color: #000;
            font-size: 18px;
            line-height: 28px;
            font-weight: 200;
            width: 100%;
            margin: 0;
            display: inline;
            padding-left: 15px;
         }
      }
      .hs-error-msg{
         font-size: 14px;

      }
      .hs-form-field{
         margin: 0px 15px;
      }
   }
   &#hbspt-form-1622048694473-1081641569{
      #label-email-bd39a24c-cee0-4b87-bd05-2e9d2d5a8aab{
         display: none;
      }
      .hs-error-msg{
         color: #ffffff !important;
      }
      .hs_submit{
         input[type=submit]{
            background-color: #ffffff !important;
            color: #ffffff;
            &:hover{
               color: #9576d6;
            }
         }
      }
   }
}
