.page-header > .skiptocontent {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.page-header > .skiptocontent:not(:focus) {
color: transparent;
}

.page-header > .skiptocontent:focus {
  background-color: #c22032;
  color: #fff;
  padding: 0.5rem 1.5rem;
}
