// THE _selectors FILE:
@import '../../01-css-pulse/_selectors';

// DEFAULT VARIABLES
@import '../_default/_default-1-variables';

// CLIENT-SPECIFIC DESIGN VARIABLES
@import '_az_bydureon_consumer_variables';

// GLOBAL MAPS:
@import '../../01-css-pulse/_maps';

// GLOBAL MIXINS
@import '../../01-css-pulse/_mixins';

// THE GLOBAL STRUCTURE FOR FRAMEWORK V2:
@import '../../01-css-pulse/_theme-structure';

#_pi_surveyWidget{
   border: none !important;
   background-color: white !important;
}
#_pi_surveyWidgetContainer:not(.mobile-enabled){
  #_pi_surveyWidget{
    box-shadow: none !important;
  }
}

#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer{
  ._pi_question._pi_question_custom_content_question{
    h1,h2,h3,h4,h5{
      color: #00693c;
    }
    h2{
      font-size: 20px !important;
    }
    text-align: center;
    *{
      text-align: center;
    }
    a{
      color: #e98300;
      font-weight: 700;
      text-decoration: underline;
      &:hover{
        color: #00693c;
      }
    }
  }
  ul._pi_answers_container{
    overflow: visible !important;
    ._pi_free_text_question_field_container{
      width: 100% !important;
    }
    input[type="submit"]{
      // background-color: #f08b1d !important;
      &:hover {
           // transform: scale(1.1);
       }
    }
    li{
      a{
        label{
          font-family: 'Montserrat-ExtraBold' !important;
        }
      }
    }
    &[data-question-nps="t"]{
      li{
        label{
          padding: 10px !important;
        }
      }
    }
    &[data-question-type="multiple_choices_question"]{
      li{
        label{
          // color: #222 !important;
          padding: 15px !important;
        }
        &:hover{
          label{
            color: #fff !important;
            font-family: 'Montserrat-ExtraBold' !important;
          }
        }
      }
    }
    &[data-radio-button="off"], &[data-radio-button="on"]{
      li {
         border-radius: 8px !important;
         // background-color: #f08b1d;
         // font-weight: 300;
         // font-style: normal;
         // color: #fff;
         // text-transform: uppercase;
         // padding: 1.5px 5px;
         // line-height: 35px;
         // font-size: 12px;
         // margin-bottom: 30px;
         // padding: 0 30px;
         // text-align: center;
         a{
           label{
             // color: #ffffff;
           }
         }
         &:hover {
              // transform: scale(1.1);
              a{
                background-color: transparent !important;
                label{
                  background-color: transparent !important;
                  color: #ffffff !important;
                }
              }
         }
      }
    }
  }
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container[data-radio-button="off"] li label{
 margin: 0px !important;
 width: 100% !important;
}
#_pi_surveyWidgetContainer #_pi_surveyWidget ._pi_widgetContentContainer ._pi_thankYouSurvey{
    color: #00693c;
}
div#_pi_surveyWidgetContainer:not(.mobile-enabled) ul[data-radio-button="on"] li{
  a span._pi_radio_button_outer{
    min-width: 14px !important;
    min-height: 14px !important;
    > span{
      left: 1px !important;
      top: 1px !important;
    }
  }
  &:hover a span._pi_radio_button_outer{
    min-width: 14px !important;
    min-height: 14px !important;
    > span{
      left: 1px !important;
      top: 1px !important;
    }
  }
}
