/* docked widget customization */
div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] {
  border: 0px !important;
  border-top: 4px solid #1F63A8 !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 4px;
  min-height: 190px !important;
  justify-content: center !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] {
  border-top: 4px solid #1F63A8 !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer {
  padding-bottom: 15px;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer ._pi_question_custom_content_question > *:first-child {
  font-weight: 500;
  font-size: 17px !important;
  margin-top: 0px !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget div._pi_widgetContentContainer ._pi_question_custom_content_question a {
  color: #580f8B;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget div._pi_widgetContentContainer ._pi_question_custom_content_question a:hover {
  text-decoration: underline;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer > * {
  max-width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer ._pi_question._pi_question_free_text_question em {
  font-weight: 400;
  font-style: normal !important;
  display: block;
  font-size: 15px;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer ._pi_question, div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] ._pi_invitationTextContainer {
  font-size: 17px !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer ._pi_answers_container[data-question-type="free_text_question"] {
  margin-bottom: 10px !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer ._pi_answers_container[data-question-type="free_text_question"] ._pi_free_text_question_field_container {
  width: 100%;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer ._pi_answers_container[data-question-type="free_text_question"] ._pi_free_text_question_submit_button_container {
  padding: 0px !important;
  margin: auto !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer ._pi_answers_container[data-question-type="free_text_question"] ._pi_free_text_question_field_container input {
  color: #333;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer ._pi_startButton {
  display: block !important;
  width: auto !important;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

select._pi_select {
  width: 100%;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] ._pi_all_questions_submit_button_container {
  margin-top: 20px;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] ._pi_all_questions_submit_button_container input._pi_all_questions_submit_button {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  list-style: none !important;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  margin-right: 0;
  -webkit-appearance: button;
  line-height: 100%;
  font-family: benton regular, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  letter-spacing: 0.5px;
  border-radius: 0;
  cursor: pointer;
  padding: 9px 12px !important;
  border: 1px solid #1F63A8;
  background-color: #1F63A8;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] ._pi_all_questions_submit_button_container input._pi_all_questions_submit_button:hover {
  border: 1px solid #193f93;
  background-color: #193f93;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] select {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  list-style-type: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  text-transform: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 6px 12px;
  width: 100%;
  height: auto !important;
}

div#_pi_surveyWidgetContainer div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] select:focus {
  box-shadow: none !important;
}

/* end docked customization */
div#_pi_surveyWidgetContainer div#_pi_surveyWidget div._pi_widgetContentContainer ul._pi_answers_container[data-answers-layout="variable"] li {
  min-width: 65px;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget > div._pi_widgetContentContainer ._pi_answers_container[data-question-type="free_text_question"] {
  flex-wrap: wrap !important;
}

#_pi_surveyWidgetContainer, #_pi_surveyWidgetContainer ._pi_widgetContentContainer ._pi_header {
  width: 90%;
  margin-bottom: 15px;
  font-family: benton regular, sans-serif !important;
  color: #333 !important;
  font-size: 12px !important;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  letter-spacing: 0;
  line-height: 120%;
}

#_pi_surveyWidgetContainer, #_pi_surveyWidgetContainer ._pi_widgetContentContainer ._pi_scale_container ._pi_scale {
  width: 90%;
  margin-bottom: 15px;
  font-family: benton regular, sans-serif !important;
  color: #333 !important;
  font-size: 12px !important;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0;
  line-height: 120%;
}

#_pi_surveyWidgetContainer, #_pi_surveyWidgetContainer ._pi_widgetContentContainer ._pi_answers_container ._pi_free_text_question_field_container {
  max-width: 100% !important;
}

/*end customizations*/
#_pi_surveyWidgetContainer,
#_pi_surveyWidgetContainer.mobile-enabled {
  background-color: rgba(0, 0, 0, 0.7);
  border: 0 solid #dcdcdb;
  border-top: 0;
}

#_pi_surveyWidget,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget {
  border-radius: 0;
  background-color: #fff !important;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_question,
._pi_question {
  background-color: transparent;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_answers_container,
._pi_answers_container {
  background-color: transparent;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_thankYouSurvey,
._pi_thankYouSurvey {
  margin: 40px 0 40px 0;
  background-color: transparent;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget a._pi_branding,
a._pi_branding {
  background-color: transparent;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_closeButton,
._pi_closeButton {
  border-bottom-left-radius: 5px;
  background-color: transparent;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom ._pi_closeCustomButton,
._pi_closeCustomButton {
  border-bottom-left-radius: 0;
  background-color: #fff;
}

._pi_invitationTextContainer,
._pi_question_custom_content_question,
._pi_question_custom_content_question button.pi_question_link,
._pi_question_custom_content_question p,
._pi_startButton,
a._pi_branding,
a._pi_branding:hover,
div._pi_free_text_question_characters_count,
div._pi_multiple_choices_count,
div._pi_question,
div._pi_thankYouSurvey,
input._pi_free_text_question_field,
input._pi_free_text_question_submit_button,
input._pi_multiple_choices_question_submit_button,
label._pi-control._pi-control-checkbox,
textarea._pi_free_text_question_field,
ul._pi_answers_container li a label {
  font-family: benton regular, sans-serif;
  font-weight: 400;
  line-height: 100%;
  text-transform: none;
}

div._pi_invitationTextContainer,
div._pi_question,
div._pi_question_custom_content_question,
div._pi_question_custom_content_question p:first-child,
div._pi_thankYouSurvey {
  font-family: benton regular, sans-serif;
  color: #333 !important;
  font-size: 17px !important;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  letter-spacing: 0;
  line-height: 120%;
}

#_pi_surveyWidgetContainer.mobile-enabled div._pi_invitationTextContainer,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_question_custom_content_question,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_question_custom_content_question p:first-child,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_thankYouSurvey {
  font-size: 15px !important;
  font-weight: 500;
}

._pi_question_custom_content_question {
  padding-bottom: 0 !important;
}

._pi_question_custom_content_question p {
  color: #444 !important;
  font-size: 14px !important;
  text-align: center !important;
  margin-top: 0 !important;
  margin-bottom: 1rem !important;
}

#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question p {
  font-size: 14px !important;
}

._pi_question_custom_content_question p:last-child {
  margin-bottom: 0 !important;
}

#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question button.pi_question_link,
#_pi_surveyWidgetContainer.mobile-enabled ._pi_startButton,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_submit_button,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_multiple_choices_question_submit_button,
._pi_question_custom_content_question button.pi_question_link,
._pi_startButton,
input._pi_free_text_question_submit_button,
input._pi_multiple_choices_question_submit_button {
  font-family: benton regular, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  letter-spacing: 0.5px;
  border-radius: 0;
  cursor: pointer;
  padding: 9px 12px !important;
  border: 1px solid #1F63A8;
  background-color: #1F63A8;
}

#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question button.pi_question_link,
#_pi_surveyWidgetContainer.mobile-enabled ._pi_startButton,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_submit_button,
#_pi_surveyWidgetContainer.mobile-enabled input._pi_multiple_choices_question_submit_button {
  font-size: 12px;
  padding: 8px 12px !important;
}

._pi_question_custom_content_question button.pi_question_link:hover,
._pi_startButton:hover,
input._pi_free_text_question_submit_button:hover,
input._pi_multiple_choices_question_submit_button:hover {
  color: #fff;
  text-decoration: none;
  border: 1px solid #193f93;
  background-color: #193f93;
}

a._pi_branding,
a._pi_branding:hover,
div._pi_free_text_question_characters_count,
div._pi_multiple_choices_count {
  font-family: Arial, Helvetica, sans-serif;
  color: #c7c8ca;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
  line-height: 100% !important;
}

#_pi_surveyWidgetContainer.mobile-enabled a._pi_branding,
#_pi_surveyWidgetContainer.mobile-enabled a._pi_branding:hover,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_free_text_question_characters_count,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_multiple_choices_count {
  font-size: 11px;
}

a._pi_branding:hover {
  color: #444;
  text-decoration: none;
}

div._pi_closeButton, div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget div._pi_closeButton {
  color: #888;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 24px !important;
  text-align: center;
  line-height: 150% !important;
  height: 40px !important;
  width: 40px !important;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

div._pi_closeCustomButton {
  color: #000;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
  line-height: 100% !important;
  height: 30px;
  width: 40px;
  padding: 0;
  margin: 0;
  margin-left: calc(100% - 70px);
  margin-top: 20px;
}

div._pi_closeButton:hover {
  color: #000;
}

#_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton,
#_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton:hover {
  color: #444;
  font-size: 24px;
  text-align: center;
  line-height: 70% !important;
  height: 20px !important;
  width: 30px !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-left: auto !important;
}

#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton,
#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton:hover {
  color: #000;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton:hover {
  color: #000;
}

div[data-question-type="single_choice_question"] ._pi_answers_container {
  width: 98% !important;
}

input._pi_free_text_question_field,
textarea._pi_free_text_question_field {
  color: #444;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2em !important;
  border-radius: 0;
}

#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_field,
#_pi_surveyWidgetContainer.mobile-enabled textarea._pi_free_text_question_field {
  font-size: 14px;
}

input._pi_free_text_question_field,
ul._pi_answers_container input[type="text"] {
  border: 0;
  border-bottom: 1px solid #dcdcdb;
  box-shadow: 0 0 0 0 #dcdcdb;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

input._pi_free_text_question_field:hover,
ul._pi_answers_container input[type="text"]:hover {
  border: 0;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 0 0 0 #aaa;
  padding: 0;
  margin: 0;
}

input._pi_free_text_question_field:focus,
ul._pi_answers_container input[type="text"]:focus {
  border: 0;
  border-bottom: 1px solid #000;
  box-shadow: 0 0 0 0 #000;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

ul._pi_answers_container textarea._pi_free_text_question_field {
  border: 1px solid #dcdcdb;
  box-shadow: 0 0 0 0 #dcdcdb;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

ul._pi_answers_container textarea._pi_free_text_question_field:hover {
  border: 1px solid #aaa;
  box-shadow: 0 0 0 0 #aaa;
  padding: 0;
  margin: 0;
}

ul._pi_answers_container textarea._pi_free_text_question_field:focus {
  border: 1px solid #000;
  box-shadow: 0 0 0 0 #000;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

input._pi_free_text_question_field:-moz-placeholder,
textarea._pi_free_text_question_field:-moz-placeholder {
  color: #999;
}

input._pi_free_text_question_field::-moz-placeholder,
textarea._pi_free_text_question_field::-moz-placeholder {
  color: #999;
}

input._pi_free_text_question_field::-ms-input-placeholder,
textarea._pi_free_text_question_field::-ms-input-placeholder {
  color: #999;
}

input._pi_free_text_question_field::-webkit-input-placeholder,
textarea._pi_free_text_question_field::-webkit-input-placeholder {
  color: #999;
}

div._pi_free_text_question_characters_count {
  text-align: right;
}

div#_pi_surveyWidget {
  height: auto;
  width: 100%;
  margin: auto;
  padding-bottom: 0;
  z-index: 50;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

div#_pi_surveyWidgetCustom {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

div._pi_closeButton,
div._pi_closeCustomButton {
  position: static !important;
}

#_pi_surveyWidget div._pi_widgetContentContainer,
#_pi_surveyWidgetCustom div._pi_widgetContentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin: auto !important;
  padding: 0;
}

div#_pi_surveyWidgetCustom ._pi_widgetContentContainer {
  background-color: #fff;
  padding: 15px;
}

@media (min-width: 769px) {
  #_pi_surveyWidget div._pi_widgetContentContainer,
#_pi_surveyWidgetCustom div._pi_widgetContentContainer {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  #_pi_surveyWidget div._pi_widgetContentContainer,
#_pi_surveyWidgetCustom div._pi_widgetContentContainer {
    max-width: 750px;
  }
}

@media (max-width: 414px) {
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget div._pi_widgetContentContainer,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom div._pi_widgetContentContainer {
    max-width: 400px;
  }
}

@media (max-width: 375px) {
  #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget div._pi_widgetContentContainer,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom div._pi_widgetContentContainer {
    max-width: 355px;
  }
}

div._pi_question,
div._pi_question_custom_content_question,
div._pi_question_custom_content_question_fullscreen {
  height: auto;
  width: 90%;
  margin: 0;
  padding: 0 0 10px 0;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom ._pi_widgetContentContainer div._pi_question_custom_content_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidgetCustom ._pi_widgetContentContainer div._pi_question_custom_content_question_fullscreen {
  width: 95%;
  margin: 0 !important;
  padding: 0 0 10px 0;
}

div[data-question-type="free_text_question"] ul._pi_answers_container {
  width: 80% !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="free_text_question"] ul._pi_answers_container {
  width: 95% !important;
  margin: 0;
  flex-wrap: nowrap !important;
}

._pi_free_text_question_field_container {
  padding: 0 !important;
  margin: 0 !important;
  flex: 1 1 auto;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}

input._pi_free_text_question_field {
  height: auto;
  padding: 0.3em !important;
  box-sizing: border-box;
}

textarea._pi_free_text_question_field {
  height: auto;
  padding: 0.3em !important;
  box-sizing: border-box;
}

._pi_free_text_question_characters_count {
  padding: 1px 0 0 0 !important;
  margin: 0 !important;
}

._pi_free_text_question_submit_button_container {
  padding: 0 !important;
  padding-left: 5px !important;
  margin: 0 !important;
  flex: 0 1 auto;
  align-self: flex-start;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
  padding: 0 !important;
  padding-left: 5px !important;
  margin: 0 !important;
  flex: 0 1 auto;
}

._pi_free_text_question_submit_button {
  margin-right: 0;
  border-radius: 4px;
}

._pi_invitationTextContainer {
  width: 100%;
  margin: 0 0 15px !important;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_startButton,
._pi_startButton {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget a._pi_branding,
a._pi_branding {
  display: none;
  position: relative;
  bottom: 0;
  left: 0;
  width: 150px;
  max-width: 150px;
  padding-top: 7px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 0;
}

ul._pi_answers_container li,
ul._pi_answers_container li a,
ul._pi_answers_container li a label,
ul._pi_answers_container li label._pi-control-checkbox {
  background-color: #1F63A8 !important;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  border-radius: 0;
  transition: 0ms !important;
}

@media (min-width: 415px) {
  ul._pi_answers_container li:hover,
ul._pi_answers_container li:hover a,
ul._pi_answers_container li:hover a label,
ul._pi_answers_container li:hover label._pi-control-checkbox {
    background-color: #193f93 !important;
    color: #fff;
    text-decoration: none;
  }
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"] li,
div[data-question-type="single_choice_question"] li {
  border: 1px solid transparent;
}

div[data-question-type="single_choice_question"] li a label {
  padding: 12px 20px !important;
}

div[data-question-type="single_choice_question"][data-radio-button="on"] li a label {
  padding: 12px 10px !important;
}

@media (min-width: 415px) and (max-width: 768px) {
  div[data-question-type="single_choice_question"] li a label {
    padding: 10px 15px !important;
  }
  div[data-question-type="single_choice_question"][data-radio-button="on"] li a label {
    padding: 10px 10px !important;
  }
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"] li a label {
  font-size: 13px;
  padding: 8px 10px !important;
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"][data-radio-button="on"] li a label {
  padding: 8px 8px !important;
}

ul._pi_answers_container li a span._pi_radio_button_outer {
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.8) !important;
}

@media (min-width: 415px) {
  ul._pi_answers_container li:hover a span._pi_radio_button_outer {
    background-color: #193f93 !important;
    border: 1px solid #fff !important;
  }
  ul._pi_answers_container li:hover a span._pi_radio_button_inner {
    background-color: #fff !important;
    border: 1px solid transparent;
  }
}

div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
  width: 100% !important;
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
  width: 98% !important;
}

ul._pi_answers_container li label._pi-control-checkbox {
  /* background-color: #ececec !important;
    color: #333 !important; */
  border: 1px solid transparent;
  padding: 15px 15px 15px 0 !important;
}

@media (min-width: 415px) {
  ul._pi_answers_container li:hover label._pi-control-checkbox {
    background-color: #193f93 !important;
    border: 1px solid transparent;
    color: #fff !important;
  }
}

#_pi_surveyWidgetContainer.mobile-enabled label._pi-control._pi-control-checkbox {
  font-size: 13px !important;
  padding: 10px 10px 10px 0 !important;
}

._pi-control-indicator {
  background-color: #ffffff !important;
  border-radius: 0;
  border-width: 0 !important;
  margin-top: 0 !important;
}

/* ._pi-control-indicator:after {
    border-color: #fff !important;
} */
@media (min-width: 415px) {
  ul._pi_answers_container li:hover ._pi-control-indicator {
    background-color: #fff !important;
  }
  ul._pi_answers_container li:hover ._pi-control-indicator:after {
    border-color: #193f93 !important;
  }
}

div[data-question-type="multiple_choices_question"] ._pi_free_text_question_field_container,
div[data-question-type="multiple_choices_question"] ._pi_multiple_choices_question_submit_button_container {
  background-color: rgba(255, 255, 255, 0);
  margin: 0 !important;
}

div._pi_multiple_choices_count {
  height: auto;
  padding: 4px 0 6px !important;
  text-align: center;
}

#_pi_surveyWidgetContainer {
  border: 0;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="inlinesurvey"],
#_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
  margin: 10px 0 20px !important;
}

#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ul._pi_answers_container {
  min-width: 320px !important;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"],
#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 !important;
  padding: 0;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
  z-index: 18000;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"],
#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] {
  position: fixed;
  bottom: 0;
  max-height: 0;
  height: auto;
  width: 300px;
  z-index: 18000;
  overflow: hidden;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] {
  width: 90%;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(174, 174, 174, 0.6) !important;
  border-radius: 2px;
}

#_pi_surveyWidget[survey-widget-type="topbarsurvey"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 0;
  height: auto;
  width: 100%;
  z-index: 18000;
  overflow: hidden;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="topbarsurvey"] {
  width: 90%;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgba(174, 174, 174, 0.6);
  border-radius: 5px;
}

ul._pi_answers_container {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  align-items: stretch !important;
  align-content: stretch !important;
}

ul._pi_answers_container li,
ul._pi_answers_container li a,
ul._pi_answers_container li a label,
ul._pi_answers_container li label._pi-control-checkbox {
  cursor: pointer !important;
  box-sizing: border-box;
}

ul._pi_answers_container li {
  text-align: inherit !important;
  width: auto !important;
  height: auto !important;
  overflow: hidden !important;
  max-width: none !important;
  float: none !important;
  padding: 0 !important;
  margin: 5px 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

ul._pi_answers_container li a {
  padding: 0 !important;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  min-width: 100% !important;
}

ul._pi_answers_container li a span._pi_radio_button_outer {
  position: static;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 0;
  width: 14px;
  min-width: 14px;
  max-width: 14px;
  height: 14px;
  min-height: 14px;
  max-height: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

ul._pi_answers_container li a span._pi_radio_button_inner,
ul._pi_answers_container li:hover a span._pi_radio_button_inner {
  position: relative;
  display: block;
  width: 8px;
  min-width: 8px;
  max-width: 8px;
  height: 8px;
  min-height: 8px;
  max-height: 8px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
}

ul._pi_answers_container li:hover a span._pi_radio_button_inner {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
}

ul._pi_answers_container li a label {
  padding: 8px 15px;
  margin: 0 !important;
  min-width: 100%;
  width: auto !important;
}

ul._pi_answers_container li label._pi-control-checkbox {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  position: static;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 15px;
}

._pi-control-indicator {
  position: static;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 14px;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border: 1px solid #000;
}

._pi-control-checkbox ._pi-control-indicator:after {
  left: 4px;
  width: 4px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

._pi-control-indicator:after {
  content: "";
  position: relative;
  display: none;
}

div[data-question-type="multiple_choices_question"] ._pi_free_text_question_field_container,
div[data-question-type="multiple_choices_question"] ._pi_multiple_choices_question_submit_button_container {
  margin: 3px 0;
  width: 100%;
  display: inline-block;
}

div[data-radio-button="off"] ul._pi_answers_container li a span._pi_radio_button_outer {
  display: none !important;
}

div[data-radio-button="on"] ul._pi_answers_container li a span._pi_radio_button_outer {
  display: block !important;
}

div[data-radio-button="off"] ul._pi_answers_container li a label {
  text-align: center !important;
}

div[data-radio-button="on"] ul._pi_answers_container li a label {
  text-align: left !important;
}

div[data-answer-widths="fixed"] ul._pi_answers_container li label._pi-control-checkbox {
  text-align: left !important;
}

div[data-answer-widths="variable-center"] ul._pi_answers_container {
  justify-content: center;
}

div[data-answer-widths="variable-center"] ul._pi_answers_container li {
  margin: 5px 1% !important;
}

div[data-answer-widths="variable-left"] ul._pi_answers_container {
  justify-content: flex-start;
}

div[data-answer-widths="variable-left"] ul._pi_answers_container li {
  margin: 5px 1% !important;
}

div[data-answer-widths="fixed"] ul._pi_answers_container {
  justify-content: flex-start;
}

div[data-answer-widths="fixed"] ul._pi_answers_container li {
  margin: 5px 0.9% !important;
}

div[data-answer-widths="variable-center"] ul._pi_answers_container li,
div[data-answer-widths="variable-left"] ul._pi_answers_container li {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

div[data-answer-widths="fixed"] ul._pi_answers_container li {
  flex: 0 0 31%;
  max-width: 31%;
}

div[data-answer-widths="fixed"][data-answers-per-row="1"] ul._pi_answers_container li {
  margin: 5px 7% !important;
  flex: 0 0 86% !important;
  max-width: 86% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="2"] ul._pi_answers_container li {
  flex: 0 0 48% !important;
  max-width: 48% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="3"] ul._pi_answers_container li {
  flex: 0 0 31% !important;
  max-width: 31% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="4"] ul._pi_answers_container li {
  flex: 0 0 23% !important;
  max-width: 23% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="5"] ul._pi_answers_container li {
  flex: 0 0 18% !important;
  max-width: 18% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="6"] ul._pi_answers_container li {
  flex: 0 0 14.5% !important;
  max-width: 14.5% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="7"] ul._pi_answers_container li {
  flex: 0 0 12.25% !important;
  max-width: 12.25% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="8"] ul._pi_answers_container li {
  flex: 0 0 10.5% !important;
  max-width: 10.5% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="9"] ul._pi_answers_container li {
  flex: 0 0 9.1% !important;
  max-width: 9.1% !important;
}

div[data-answer-widths="fixed"][data-answers-per-row="10"] ul._pi_answers_container li {
  flex: 0 0 8% !important;
  max-width: 8% !important;
}

._pi_startButton {
  display: none !important;
}

#_pi_surveyWidgetContainer {
  z-index: 9999 !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled {
  position: static;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget {
  width: 100% !important;
  position: fixed !important;
  top: auto !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}
