/* ------------------------------------------------------------------------
	                 				FREE TEXT
---------------------------------------------------------------------------

	B2. Content Container

		C1. Question
			C1-free:   			Free Text

		C2. Answers Container

			D2. Free Text Question Field Container
				E5. Free Text Field - Single and Multi-line 
				E6. Free Text - Character Count

			D4. Free Text Submit Button Container
				E7. Free Text Submit Button

------------------------------------------------------------------------ */



// ================== C2. FREE TEXT | ANSWERS CONTAINER ====================================
// --- Desktop
div[data-question-type="free_text_question"] ul._pi_answers_container {
	width: 	80% !important;
	padding: 0 !important;
	margin: 	0 !important;

	display: 			flex;
	flex-direction: 	row;
	flex-wrap: 			nowrap;
	justify-content: 	space-around;
	align-items: 		flex-start;
	// background-color: 		lightblue;
}

// --- Mobile
#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="free_text_question"] ul._pi_answers_container {
	width: 		95% !important;
	margin: 		0 0 0 0;
	flex-wrap: 	nowrap !important;
	// background-color: purple !important;
}






	// ================== D2. FREE TEXT | FIELD CONTAINER ====================================
	// --- Desktop
	._pi_free_text_question_field_container {
		padding: 0 !important;
		margin:	0 !important;

		flex: 	1 1 auto;
		// background-color: pink !important;
	}

	// --- Mobile
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
		padding: 0;
		margin: 	0;

		flex: 	1 1 auto;
		// background-color: yellow !important;
	}






		// ================== E5. FREE TEXT FIELD | INPUT AND TEXTAREA ====================================
		input._pi_free_text_question_field,
		textarea._pi_free_text_question_field {
			color: #44484C;
			font-size: 16px;
			font-weight: normal;
			text-align: left;
			line-height: 1.2em !important;
			border-radius: 0;
		}

		#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_field,
		#_pi_surveyWidgetContainer.mobile-enabled textarea._pi_free_text_question_field {
			font-size: 15px;
		}

		input._pi_free_text_question_field {
			height: 		auto;
			padding: 	0.3em !important;
			box-sizing: border-box;
		}

		textarea._pi_free_text_question_field {
			height: 		auto;
			padding: 	0.3em !important;
			box-sizing: border-box;
		}

		ul._pi_answers_container input[type="text"],
		input._pi_free_text_question_field {
			border: 0;
			border-bottom: 1px solid #646A70;
			box-shadow: 0 0 0 0 #646A70;
			padding: 0;
			margin: 0;
			background-color: #fff;
		}

		ul._pi_answers_container input[type="text"]:hover,
		input._pi_free_text_question_field:hover {
			border: 0;
			border-bottom: 1px solid #aaa;
			box-shadow: 0 0 0 0 #aaa;
			padding: 0;
			margin: 0;
		}

		ul._pi_answers_container input[type="text"]:focus,
		input._pi_free_text_question_field:focus {
			border: 0;
			border-bottom: 1px solid #646A70;
			box-shadow: 0 0 0 0 #646A70;
			padding: 0;
			margin: 0;
			background-color: #fff;
		}

		ul._pi_answers_container textarea._pi_free_text_question_field {
			border: 1px solid #646A70;
			box-shadow: 0 0 0 0 #646A70;
			padding: 0;
			margin: 0;
			background-color: #fff;
		}

		ul._pi_answers_container textarea._pi_free_text_question_field:hover {
			border: 1px solid #aaa;
			box-shadow: 0 0 0 0 #aaa;
			padding: 0;
			margin: 0;
		}

		ul._pi_answers_container textarea._pi_free_text_question_field:focus {
			border: 1px solid #646A70;
			box-shadow: 0 0 0 0 #646A70;
			padding: 0;
			margin: 0;
			background-color: #fff;
		}

		// Placeholder text
		input._pi_free_text_question_field:-moz-placeholder,
		textarea._pi_free_text_question_field:-moz-placeholder {
			color: #999;
		}

		input._pi_free_text_question_field::-moz-placeholder,
		textarea._pi_free_text_question_field::-moz-placeholder {
			color: #999;
		}

		input._pi_free_text_question_field::-ms-input-placeholder,
		textarea._pi_free_text_question_field::-ms-input-placeholder {
			color: #999;
		}

		input._pi_free_text_question_field::-webkit-input-placeholder,
		textarea._pi_free_text_question_field::-webkit-input-placeholder {
			color: #999;
		}






		// ================== E6. FREE TEXT | CHARACTER COUNT ====================================
		div._pi_free_text_question_characters_count {
			text-align: right !important;
			margin: 		0 !important;
			padding: 	3px 0 0 0 !important;
			// background-color: cyan;
		}






	// ================== D4. FREE TEXT | SUBMIT BUTTON CONTAINER ====================================
	// --- Desktop
	._pi_free_text_question_submit_button_container {
		padding: 		0 !important;
		padding-left: 	5px !important;
		margin: 			0 !important;

		flex: 			0 1 auto;
		align-self:		flex-start;
		// background-color: 	yellow !important;
	}

	// --- Docked Widget Variation | Button under the text box
	#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] ._pi_free_text_question_submit_button_container {
		padding: 4px 0 2px 0 !important;
		flex: 	1 1 auto;
	}

	// --- Mobile
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
		padding: 		0 !important;
		padding-left: 	5px !important;
		margin: 			0 !important;

		flex: 			0 1 auto;
		// background-color: red !important;
	}






		// ================== E7. FREE TEXT | SUBMIT BUTTON ====================================
		._pi_free_text_question_submit_button {
			margin-right: 0;
			// background-color: red !important;
		}







// RANDOM FREE TEXT STYLE
		input._pi_free_text_question_field,
		textarea._pi_free_text_question_field,
		#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_field,
		#_pi_surveyWidgetContainer.mobile-enabled textarea._pi_free_text_question_field {
			min-width: 100% !important;
			max-width: 100% !important;
		}
