body {
  /* 	background-color: #b3b3b3; */
  /* 	background-color: #333 !important; */
  background-color: #fff !important;
}

h4 {
  display: none;
}

#desktop-div {
  max-width: initial;
  margin: 20px auto;
  /* 	background-color: rgba(87, 127, 117, 0); */
  /* 	background-color: white; */
}

#tablet-div {
  max-width: 768px;
  margin: 20px auto;
  /* 	background-color: rgba(220, 128, 128, 0); */
  /* 	background-color: white; */
}

#mobile-div {
  max-width: 414px;
  margin: 20px auto;
  /* 	background-color: rgba(0, 84, 113, 0); */
  /* 	background-color: white; */
}

/* =========== INLINE =========== */
#_pi_surveyWidget[survey-widget-type="inlinesurvey"],
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
  margin-bottom: 5px !important;
}

/* =========== DOCKED WIDGET =========== */
@media (min-width: 415px) {
  #_pi_surveyWidget[data-question-id="1"][survey-widget-type="dockedwidgetsurvey"] {
    right: 20px;
    bottom: 0px;
  }
  #_pi_surveyWidget[data-question-id="2"][survey-widget-type="dockedwidgetsurvey"] {
    right: 340px;
    bottom: 0px;
  }
  #_pi_surveyWidget[data-question-id="3"][survey-widget-type="dockedwidgetsurvey"] {
    right: 660px;
    bottom: 0px;
  }
  #_pi_surveyWidget[data-question-id="4"][survey-widget-type="dockedwidgetsurvey"] {
    right: 20px;
    bottom: 450px;
  }
  #_pi_surveyWidget[data-question-id="5"][survey-widget-type="dockedwidgetsurvey"] {
    right: 340px;
    bottom: 450px;
  }
  #_pi_surveyWidget[data-question-id="6"][survey-widget-type="dockedwidgetsurvey"] {
    right: 660px;
    bottom: 450px;
  }
  #_pi_surveyWidget[data-question-id="7"][survey-widget-type="dockedwidgetsurvey"] {
    right: 20px;
    bottom: 650px;
  }
}

/* =========== BOTTOM BAR =========== */
#_pi_surveyWidget[data-question-id="1"][survey-widget-type="bottombarsurvey"] {
  bottom: 0px;
}

#_pi_surveyWidget[data-question-id="2"][survey-widget-type="bottombarsurvey"] {
  bottom: 180px;
}

#_pi_surveyWidget[data-question-id="3"][survey-widget-type="bottombarsurvey"] {
  bottom: 490px;
}

#_pi_surveyWidget[data-question-id="4"][survey-widget-type="bottombarsurvey"] {
  bottom: 0px;
}

#_pi_surveyWidget[data-question-id="5"][survey-widget-type="bottombarsurvey"] {
  bottom: 240px;
}

#_pi_surveyWidget[data-question-id="6"][survey-widget-type="bottombarsurvey"] {
  bottom: 400px;
}

#_pi_surveyWidget[data-question-id="7"][survey-widget-type="bottombarsurvey"] {
  bottom: 1010px;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="1"][survey-widget-type="bottombarsurvey"] {
  bottom: 0px;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="2"][survey-widget-type="bottombarsurvey"] {
  bottom: 125px;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="3"][survey-widget-type="bottombarsurvey"] {
  bottom: 440px;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="4"][survey-widget-type="bottombarsurvey"] {
  bottom: 0px;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="5"][survey-widget-type="bottombarsurvey"] {
  bottom: 240px;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="6"][survey-widget-type="bottombarsurvey"] {
  bottom: 540px;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="7"][survey-widget-type="bottombarsurvey"] {
  bottom: 950px;
}

/* =========== TOP BAR =========== */
#_pi_surveyWidget[data-question-id="1"][survey-widget-type="topbarsurvey"] {
  top: 0px;
}

#_pi_surveyWidget[data-question-id="2"][survey-widget-type="topbarsurvey"] {
  top: 130px;
}

#_pi_surveyWidget[data-question-id="3"][survey-widget-type="topbarsurvey"] {
  top: 310px;
}

#_pi_surveyWidget[data-question-id="4"][survey-widget-type="topbarsurvey"] {
  top: 500px;
}

#_pi_surveyWidget[data-question-id="5"][survey-widget-type="topbarsurvey"] {
  top: 620px;
}

#_pi_surveyWidget[data-question-id="6"][survey-widget-type="topbarsurvey"] {
  top: 760px;
}

#_pi_surveyWidget[data-question-id="7"][survey-widget-type="topbarsurvey"] {
  top: 850px;
}

/*
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="1"][survey-widget-type="topbarsurvey"] {top:0px;}
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="2"][survey-widget-type="topbarsurvey"] {top:135px;}
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="3"][survey-widget-type="topbarsurvey"] {top:280px;}
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="4"][survey-widget-type="topbarsurvey"] {top:480px;}
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="5"][survey-widget-type="topbarsurvey"] {top:600px;}
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="6"][survey-widget-type="topbarsurvey"] {top:740px;}
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="7"][survey-widget-type="topbarsurvey"] {top:830px;}
*/
/* =========== CUSTOM CONTENT FULLSCREEN =========== */
div#_pi_surveyWidgetCustom,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidgetCustom {
  height: calc(100% - 95px) !important;
  top: 95px !important;
}

/* =========== ALL WIDGET TYPES | HIDING BY VIEWPORT WIDTH =========== */
@media (min-width: 769px) {
  #tablet-div {
    display: none;
  }
  #mobile-div {
    display: none;
  }
  body {
    background-color: #999 !important;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  #desktop-div {
    display: none;
  }
  #mobile-div {
    display: none;
  }
  body {
    background-color: #999 !important;
  }
}

@media (max-width: 414px) {
  #desktop-div {
    display: none;
  }
  #tablet-div {
    display: none;
  }
  body {
    background-color: #999 !important;
  }
}

.nav-controls {
  position: fixed;
  top: 0;
  z-index: 100000;
  height: auto;
  max-height: 82px;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #222;
}

.widgets {
  margin-top: 95px;
}

.pi-checkboxes-all {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #222;
  line-height: 100%;
  padding: 1px 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.pi-checkboxes-all:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.05);
}

.pi-checkboxes-all div {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  -ms-flex-align: stretch;
      align-items: stretch;
  margin: 2px 2px;
  border: 0px solid rgba(255, 255, 255, 0.08);
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  padding: 3px 3px;
}

.pi-checkboxes-all input {
  padding: 0;
  margin: 0;
  line-height: normal;
  position: static;
  opacity: 1;
  z-index: 1;
}

.pi-checkbox {
  color: white;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  line-height: normal;
}

@media (min-width: 415px) {
  .pi-checkboxes-all {
    max-width: 500px;
  }
  .pi-checkbox {
    font-size: 12px;
  }
  .pi-checkboxes-all input {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 414px) {
  .pi-checkboxes-all {
    max-width: 414px;
  }
  .pi-checkbox {
    font-size: 11px;
  }
  .pi-checkboxes-all input {
    width: 12px;
    height: 12px;
  }
}

#pi-rulers {
  margin-bottom: 0px;
}

#pi-rulers div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  font-family: 'helvetica';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: white;
  line-height: 100%;
  border-bottom: 0px dashed black;
  border-top: 0px dashed black;
  margin-bottom: 0;
  padding: 3px 0 !important;
  border-radius: 0;
}

#pi-rulers div span {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  margin: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3px 10px;
}

#pi-rulers div:nth-child(1) {
  background-color: #00A56B;
}

#pi-rulers div:nth-child(2) {
  background-color: #327DCA;
}

#pi-rulers div:nth-child(3) {
  background-color: #EF3C3A;
}

#pi-rulers div:nth-child(4) {
  background-color: #FF9C0C;
}

#pi-rulers div:nth-child(5) {
  background-color: #F6DA00;
}

.widgetPad {
  font-family: 'helvetica';
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  border-bottom: 0px dashed #ccc;
  border-top: 0px dotted blue;
  border-radius: 0px 0 100px 0;
}

.desktop {
  min-width: 769px !important;
}

.tablet {
  max-width: 768px;
}

.phone414 {
  max-width: 414px;
}

.phone375 {
  max-width: 375px;
}

.phone320 {
  max-width: 320px;
}

@media (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .tablet {
    display: none !important;
  }
}

@media (max-width: 414px) {
  .tablet {
    display: none !important;
  }
}

@media (min-width: 415px) {
  .phone414 {
    display: none !important;
  }
}

@media (max-width: 375px) {
  .phone414 {
    display: none !important;
  }
}

@media (min-width: 376px) {
  .phone375 {
    display: none !important;
  }
}

@media (max-width: 320px) {
  .phone375 {
    display: none !important;
  }
}

@media (min-width: 321px) {
  .phone320 {
    display: none !important;
  }
}
