body {
  /* 	background-color: #b3b3b3; */
  /* 	background-color: #333 !important; */
  background-color: #fff !important;
}

h4 {
  display: none;
}

#desktop-div {
  max-width: initial;
  margin: 20px auto;
  /* 	background-color: rgba(87, 127, 117, 0); */
  /* 	background-color: white; */
}

#tablet-div {
  max-width: 768px;
  margin: 20px auto;
  /* 	background-color: rgba(220, 128, 128, 0); */
  /* 	background-color: white; */
}

#mobile-div {
  max-width: 414px;
  margin: 20px auto;
  /* 	background-color: rgba(0, 84, 113, 0); */
  /* 	background-color: white; */
}