/* ----------- INITIALIZATION, BACKGROUNDS, BORDERS, COLORS, AND SIZING ----------- */
	#_pi_surveyWidgetContainer,
	#_pi_surveyWidgetContainer.mobile-enabled,

	#_pi_surveyWidget,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget,

	._pi_widgetContentContainer,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer,

	._pi_question,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_question,

	._pi_answers_container,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_answers_container,

	ul._pi_answers_container li,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container li,
	
	ul._pi_answers_container li a,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container li a,	

	ul._pi_answers_container li a label,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container li a label,	

	._pi_free_text_question_field_container,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container,
	
	._pi_thankYouSurvey,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_thankYouSurvey,

	._pi_startButton,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_startButton

	a._pi_branding,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget a._pi_branding,

	._pi_closeButton,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_closeButton {
		display: block;
		position: initial;
		width: auto;
		height: auto;
		line-height: initial;
		max-width: initial;
		overflow: initial;
		margin: 0;
		padding: 0;
		float: initial;
		right: initial;
		left: initial;
		top: initial;
		bottom: initial;
		background-color: initial;

		margin: 0;
		padding: 0;
	}





/* ----------- BACKGROUNDS, BORDERS, COLORS ----------- */
	#_pi_surveyWidgetContainer,
	#_pi_surveyWidgetContainer.mobile-enabled {
		background-color: #F3F3F1;
		border: 1px solid #DCDCDB;
		border-top: 0;

/* 		background-color: mistyrose !important; */
	}

	#_pi_surveyWidget,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget {
		border-radius: 0;
		background-color: #F3F3F1 !important;

/* 		background-color: mistyrose !important; */
	}

	._pi_widgetContentContainer,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer {
/* 		background-color: fuchsia !important; */
	}

	._pi_question,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_question {
		background-color: transparent;

/* 		background-color: khaki !important; */
	}
	
	._pi_answers_container,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_answers_container {
		background-color: transparent;

/* 		background-color: PaleTurquoise !important; */
	}

	._pi_free_text_question_field_container,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
/* 												background-color: lightcyan; */
	}

	._pi_thankYouSurvey,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_thankYouSurvey {
		margin: 10px 0 10px 0;
		background-color: transparent;

/* 		background-color: #ffdb98 !important; */
	}

	a._pi_branding,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget a._pi_branding {
		background-color: transparent;

/* 		background-color: palegreen !important; */
	}

	._pi_closeButton,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_closeButton {
		border-bottom-left-radius: 5px;
		background-color: transparent;

/* 												background-color: deepskyblue; */
	}

	/*  Hide Radio Buttons and Invitation */
	ul._pi_answers_container li a span._pi_radio_button_inner, 
	ul._pi_answers_container li a span._pi_radio_button_outer {
		display: none;
	}





/* ----------- FONTS, BUTTONS, TEXT FIELDS ------- */
/* FONT: Global */
	div._pi_question,
	div._pi_thankYouSurvey,
	
	ul._pi_answers_container li a label, 

	input._pi_free_text_question_field,
	textarea._pi_free_text_question_field,

	input._pi_free_text_question_submit_button,
	input._pi_multiple_choices_question_submit_button,
	div._pi_free_text_question_characters_count,

	label._pi-control._pi-control-checkbox,
	div._pi_multiple_choices_count, 
	
	._pi_question_custom_content_question,
	._pi_question_custom_content_question p,
	._pi_question_custom_content_question button.pi_question_link,
	
	._pi_invitationTextContainer,
	._pi_startButton,

	a._pi_branding,
	a._pi_branding:hover

		{
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		font-weight: normal;
		line-height: 100%;
		text-transform: none;
		}




/* FONT: Question, Thank You, Custom Content Question, Invitation */
	div._pi_question, 
	div._pi_thankYouSurvey,
	div._pi_question_custom_content_question,
	div._pi_question_custom_content_question p:first-child,
	div._pi_invitationTextContainer	{
		font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		color: #000;
		font-size: 17px;
		font-weight: normal;
		text-align: center;
		text-transform: none;
		letter-spacing: 0px;
		line-height: 120%;
	}

	#_pi_surveyWidgetContainer.mobile-enabled div._pi_question, 
	#_pi_surveyWidgetContainer.mobile-enabled div._pi_thankYouSurvey,
	#_pi_surveyWidgetContainer.mobile-enabled div._pi_question_custom_content_question,
	#_pi_surveyWidgetContainer.mobile-enabled div._pi_question_custom_content_question p:first-child,
	#_pi_surveyWidgetContainer.mobile-enabled div._pi_invitationTextContainer	{
		font-size: 16px;
		font-weight: normal;
	}



/* FONT: Custom Content */
	._pi_question_custom_content_question {
		padding-bottom: 0px !important;
	}

	._pi_question_custom_content_question p {
		color: #000;
		font-size: 16px;
		text-align: center;
		margin-bottom: 1rem;
	}

	#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question p {
		font-size: 14px;
	}

	._pi_question_custom_content_question p:last-child {
		margin-bottom: 0 !important;
	}


/* ANSWERS: Single Choice */
	div[data-question-type="single_choice_question"] li a,
	#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"] li a {
		text-decoration: none;
	}


	div[data-question-type="single_choice_question"] li a label,
	#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"] li a label {
		color: #000;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		background-color: transparent;
		border: 1px solid #000;
		border-radius: 2px;
		padding: 6px 30px;
	}

	/* Reduces Side Padding for Tablet */
	@media (min-width:415px) and (max-width:768px) {
		div[data-question-type="single_choice_question"] li a label {
			padding: 6px 10px;
		}
	}

	#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"] li a label {
		font-size: 11px;
		padding: 5px 14px !important;
	}

	div[data-question-type="single_choice_question"] li a label:hover {
		color: #fff;
		border: 1px solid #000;
		background-color: #000;
		text-decoration: none;
	}


/* BUTTONS: Free Text Submit, Multi Choice Submit, Custom Content */
	input._pi_free_text_question_submit_button,
	input._pi_multiple_choices_question_submit_button,
	._pi_question_custom_content_question button.pi_question_link,
	._pi_startButton,
	#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_submit_button,
	#_pi_surveyWidgetContainer.mobile-enabled input._pi_multiple_choices_question_submit_button,
	#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question button.pi_question_link,
	#_pi_surveyWidgetContainer.mobile-enabled ._pi_startButton {
		color: #fff;
		font-size: 12px;
		font-weight: bold;

		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.5px;

		border: 1px solid #000;
		border-radius: 2px;
		cursor: pointer;
		padding: 7px 12px !important;
		background-color: #000;
	}

	#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_submit_button,
	#_pi_surveyWidgetContainer.mobile-enabled input._pi_multiple_choices_question_submit_button,
	#_pi_surveyWidgetContainer.mobile-enabled ._pi_question_custom_content_question button.pi_question_link,
	#_pi_surveyWidgetContainer.mobile-enabled ._pi_startButton {
		font-size: 	11px;
		padding: 	8px 12px !important;
	}

	input._pi_free_text_question_submit_button:hover,
	input._pi_multiple_choices_question_submit_button:hover,
	._pi_question_custom_content_question button.pi_question_link:hover,
	._pi_startButton:hover {
		color: #000;
		text-decoration: none;
		border: 1px solid #000;
		background-color: #fff;
	}

	input._pi_free_text_question_submit_button:after,
	input._pi_multiple_choices_question_submit_button:after,
	._pi_question_custom_content_question button.pi_question_link:after,
	._pi_startButton:after {
/* 		content: '\27eb'; */
	}


/* FONT: Branding, Character Counts */
	div._pi_free_text_question_characters_count,
	div._pi_multiple_choices_count,
	a._pi_branding,
	a._pi_branding:hover {
		color: #AFAFAF;
		font-size: 11px;
		font-weight: normal;
		text-decoration: none;
		text-align: left;
		line-height: 100% !important;
	}

	#_pi_surveyWidgetContainer.mobile-enabled div._pi_free_text_question_characters_count,
	#_pi_surveyWidgetContainer.mobile-enabled div._pi_multiple_choices_count,
	#_pi_surveyWidgetContainer.mobile-enabled a._pi_branding,
	#_pi_surveyWidgetContainer.mobile-enabled a._pi_branding:hover {
		font-size: 11px;

/* 		background-color: lightgreen !important; */
	}

	a._pi_branding:hover {
		color: #000;
		text-decoration: none;
	}


/* CLOSE BUTTON */
	div._pi_closeButton {
		color: 		 	transparent;
		font-family: 	sans-serif;
		font-weight: 	lighter;

		font-size: 	 	24px;
		text-align:  	center;
		line-height: 	70% !important;

		height: 		20px;
		width: 			30px;
		padding: 		0;
		margin: 		0;
		margin-left: 	auto;

/* 		background-color: lightgreen !important; */
	}
	
	#_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton {
		font-size: 	 	24px;
		text-align:  	center;
		line-height: 	70% !important;

		height: 		20px !important;
		width: 			30px !important;
		padding: 		0 !important;
		margin: 		0 !important;
		margin-left: 	auto !important;

/* 		background-color: lightblue !important; */
	}

	div._pi_closeButton:hover {
	}

	/* 	Bottom Bar */
	#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton, 
	#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton:hover {
		color: #000;
/* 		background-color: red !important; */
	}

	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton:hover {
		color: #000;
/* 		background-color: white !important; */
	} 






/* ----------- MULTIPLE CHOICE ELEMENTS --------------------------- */
	/* Multiple Choice Container */
	div[data-question-type="multiple_choices_question"] ._pi_widgetContentContainer ul._pi_answers_container li,
	#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="multiple_choices_question"] ._pi_widgetContentContainer ul._pi_answers_container li,
	#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="multiple_choices_question"] ._pi_widgetContentContainer ul._pi_answers_container li:hover {
		background-color: #fff !important;
		border: 1px solid transparent;
		border-radius: 2px;
		cursor: pointer;
	}

	div[data-question-type="multiple_choices_question"] ._pi_widgetContentContainer ul._pi_answers_container li:hover {
		background-color: #ddd !important;
		border: 1px solid transparent;
	}


	/* Multiple Choice FONTS */
	label._pi-control._pi-control-checkbox {
		color: #000;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
		text-align: left;
		letter-spacing: 0.5px;
	}

	#_pi_surveyWidgetContainer.mobile-enabled label._pi-control._pi-control-checkbox {
		font-size: 11px;
	}

	label._pi-control._pi-control-checkbox:hover {
		color: #000;
	}


	/* Other Multiple Choice Elements */
	._pi-control {
		display:	block;
		position:	relative;
/* 		margin:		0 0 0 30px; -- DEFINED IN FLEXX -- */
	}
	
	._pi-control input {
		position:absolute;
		z-index:-1;
		opacity:0;
	}
	
	._pi-control-indicator {
		position:	absolute;
		border:		1px solid black;
/*
		top:		7px; -- DEFINED IN FLEX --
		left:		-25px;
		height:		15px;
		width:		15px;
*/
	}
	
	._pi-control-indicator:after {
		content:'';
		position:absolute;
		display:none;
	}
	
	._pi-control input:checked ~ ._pi-control-indicator:after {
		display:block;
	}
	
	._pi-control-checkbox ._pi-control-indicator:after {
/*
		left:			4px; -- DEFINED IN FLEX --
		width:			5px;
		height:			11px;
		border-width:	0 2px 2px 0;
*/
		border:			solid #000;
		-webkit-transform:		rotate(45deg);
		        transform:		rotate(45deg);
	}
	
	ul._pi_answers_container li label input._pi_checkbox {
		margin-right:10px;
		cursor:pointer;
	}

	div._pi_multiple_choices_count {
		text-align: center;
	}






/* ----------- CUSTOM CONTENT --------------------------- */
	._pi_question_custom_content_question {
		
	}





/* ----------- SINGLE CHOICE ----------- */
	div[data-question-type="single_choice_question"] ._pi_answers_container {
	}





/* ----------- FREE TEXT ------- */
	div[data-question-type="free_text_question"] ._pi_answers_container {
	}

	div[data-question-type="free_text_question"] ._pi_question  {
	}

	input._pi_free_text_question_field,
	textarea._pi_free_text_question_field {
		color: #000;
		font-size: 16px;
		font-weight: normal;
		text-align: left;
		line-height: 1.2em !important;
		border-radius: 0;
	}

	#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_field,
	#_pi_surveyWidgetContainer.mobile-enabled textarea._pi_free_text_question_field {
		font-size: 16px;
	}

	ul._pi_answers_container input[type="text"],
	input._pi_free_text_question_field {
		border: 0;
		border-bottom: 1px solid #DCDCDB;
		-webkit-box-shadow: 0 0 0 0 #DCDCDB;
		        box-shadow: 0 0 0 0 #DCDCDB;
		padding: 0;
		margin: 0;
		background-color: #fff;
		}

	ul._pi_answers_container input[type="text"]:hover,
	input._pi_free_text_question_field:hover {
		border: 0;
		border-bottom: 1px solid #aaa;
		-webkit-box-shadow: 0 0 0 0 #aaa;
		        box-shadow: 0 0 0 0 #aaa;
		padding: 0;
		margin: 0;
		}

	ul._pi_answers_container input[type="text"]:focus,
	input._pi_free_text_question_field:focus {
		border: 0;
		border-bottom: 1px solid #000;
		-webkit-box-shadow: 0 0 0 0 #000;
		        box-shadow: 0 0 0 0 #000;
		padding: 0;
		margin: 0;
		background-color: #fff;
		}

	ul._pi_answers_container textarea._pi_free_text_question_field {
		border: 1px solid #DCDCDB;
		-webkit-box-shadow: 0 0 0 0 #DCDCDB;
		        box-shadow: 0 0 0 0 #DCDCDB;
		padding: 0;
		margin: 0;
		background-color: #fff;
		}

	ul._pi_answers_container textarea._pi_free_text_question_field:hover {
		border: 1px solid #aaa;
		-webkit-box-shadow: 0 0 0 0 #aaa;
		        box-shadow: 0 0 0 0 #aaa;
		padding: 0;
		margin: 0;
		}

	ul._pi_answers_container textarea._pi_free_text_question_field:focus {
		border: 1px solid #000;
		-webkit-box-shadow: 0 0 0 0 #000;
		        box-shadow: 0 0 0 0 #000;
		padding: 0;
		margin: 0;
		background-color: #fff;
		}

	input._pi_free_text_question_field:-moz-placeholder,
	textarea._pi_free_text_question_field:-moz-placeholder {
		color: #999;
		}
	
	input._pi_free_text_question_field::-moz-placeholder,
	textarea._pi_free_text_question_field::-moz-placeholder {
		color: #999;
		}
	
	input._pi_free_text_question_field::-ms-input-placeholder,
	textarea._pi_free_text_question_field::-ms-input-placeholder {
		color: #999;
		}
	
	input._pi_free_text_question_field::-webkit-input-placeholder,
	textarea._pi_free_text_question_field::-webkit-input-placeholder {
		color: #999;
		}

	div._pi_free_text_question_characters_count {
		text-align: right;
		}

	div._pi_free_text_question_submit_button_container {}
	




/* ----------- WIDGET TYPE SIZING AND POSITIONING ------- */
	#_pi_surveyWidget[survey-widget-type="inlinesurvey"],
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
/* 		border-top: 2px solid red !important; */
/* 		background-color: yellow; */
	}
	
	
	
	#_pi_surveyWidget[survey-widget-type="bottombarsurvey"],
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] {
		position: fixed !important;
		bottom:0;
		left:0;
		right:0;
		margin: 0 !important;
		padding: 0;
		border: 0 !important;
		border-top: 1px solid #999 !important;
		-webkit-box-shadow: 0px -1px 10px rgba(0,0,0,0.2);
		box-shadow: 		0px -1px 10px rgba(0,0,0,0.2);
		z-index:18000;
/* 		background-color: #fff; */
	}
	
	
	
	#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"],
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] {
		position:fixed;
		right:5%;
		bottom: 0;
		max-height:0;
		height:auto;
		width:300px;
		z-index:18000;
		overflow:hidden;
/* 		background-color: red; */
	}
	
	
	#_pi_surveyWidget[survey-widget-type="topbarsurvey"],
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="topbarsurvey"] {
		position:fixed;
		top:200px;
		left:0;
		right:0;
		max-height:0;
		height:auto;
		width:100%;
		z-index:18000;
		overflow:hidden;
/* 		background-color: pink; */
	}

/*  SURVEY WIDGET */
div#_pi_surveyWidget {
	height: auto;
	width: 100%;
	margin: auto;
	padding-bottom: 0px;

	display: 				-webkit-box;

	display: 				-ms-flexbox;

	display: 				flex;
	-webkit-box-orient: 		vertical;
	-webkit-box-direction: 		normal;
	    -ms-flex-direction: 		column;
	        flex-direction: 		column;
    -ms-flex-wrap:				nowrap;
        flex-wrap:				nowrap;
	-webkit-box-pack: 		start;
	    -ms-flex-pack: 		start;
	        justify-content: 		flex-start;
    -webkit-box-align: 			center;
        -ms-flex-align: 			center;
            align-items: 			center;
    
/*     background-color: PeachPuff !important;   */
}

/*  SURVEY WIDGET | BOTTOM BAR WITH ANIMATION */
/*
	@-webkit-keyframes pi-zoom {
	    0% 		{ opacity: 0; }
	    100%	{ opacity: 1; }
	}
	@keyframes pi-zoom {
	    0% 		{ opacity: 0; }
	    100%	{ opacity: 1; }
	}


#_pi_surveyWidget[survey-widget-type="bottombarsurvey"],
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] {
    bottom: 			0px !important;
    opacity: 			0;
	-webkit-animation: 			pi-zoom .5s ease 3s forwards;
	        animation: 			pi-zoom .5s ease 3s forwards;

}
*/





	/* ================== DEFAULT | CLOSE BUTTON ================== */
	/* 	A) CLOSE BUTTON */
	div._pi_closeButton { 
		position: static !important;
	}

	#_pi_surveyWidgetContainer.mobile-enabled div._pi_closeButton { }

	/* 	A) CLOSE BUTTON | BOTTOM BAR */
	#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton, 
	#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton:hover { }

	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] div._pi_closeButton:hover { } 





	/* ================== DEFAULT | CONTENT CONTAINER ================== */
	/* 	B) CONTENT CONTAINER */
	#_pi_surveyWidget div._pi_widgetContentContainer {
		display: 				-webkit-box;
		display: 				-ms-flexbox;
		display: 				flex;
		-webkit-box-orient: 		horizontal;
		-webkit-box-direction: 		normal;
		    -ms-flex-direction: 		row;
		        flex-direction: 		row;
	    -ms-flex-wrap:				wrap;
	        flex-wrap:				wrap;     
		-webkit-box-pack: 		center;     
		    -ms-flex-pack: 		center;     
		        justify-content: 		center;
	    -webkit-box-align: 			center;
	        -ms-flex-align: 			center;
	            align-items: 			center;

		height: 		auto;
		width: 			100%;
		margin: 		auto !important;
		padding: 		0;

/* 	    background-color: aquamarine !important; */
	}

	/* 	B) CONTENT CONTAINER | desktop */
	@media (min-width:769px) {
		#_pi_surveyWidget div._pi_widgetContentContainer {
			max-width: 	900px;
		}
	}

	/* 	B) CONTENT CONTAINER | tablet */
	@media (max-width:768px) {
		#_pi_surveyWidget div._pi_widgetContentContainer {
			max-width: 	750px;
		}
	}

	/* 	B) CONTENT CONTAINER | IPHONE 6S PLUS */
	@media (max-width:414px) {
		#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget div._pi_widgetContentContainer {
			max-width: 	400px;
/* 			background-color: yellow; */
		}
	}

	/* 	B) CONTENT CONTAINER | IPHONE 6 AND SMALLER */
	@media (max-width:375px) {
		#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget div._pi_widgetContentContainer {
			max-width: 	355px;
/* 			background-color: pink; */
		}
	}






		/* ================== DEFAULT | QUESTION ================== */
		/*  B1) QUESTION | desktop */
		div._pi_question {
			height: 		auto;
			width: 			90%;
			margin: 		0 0 0 0;
			padding: 		0 0 10px 0;

/* 			background-color: lavender; */
		}

		/*  B1) QUESTION | mobile */
		#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer div._pi_question {
			width: 			90%;
			margin: 		0 auto 0 auto !important;
			padding: 		0 0 10px 0;

/* 			background-color: lavender; */
		}






		/* ================== DEFAULT | ANSWER CONTAINER ============ */
		/*  B2) ANSWERS CONTAINER | DEFAULT */
		ul._pi_answers_container,
		#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_answers_container {
			height: 	auto;
			width: 		98%;
			margin: 	0 !important;
			padding: 	0;

			display: 				-webkit-box;

			display: 				-ms-flexbox;

			display: 				flex;
			-webkit-box-orient: 		horizontal;
			-webkit-box-direction: 		normal;
			    -ms-flex-direction: 		row;
			        flex-direction: 		row;
		    -ms-flex-wrap:				wrap;
		        flex-wrap:				wrap;
			-webkit-box-pack: 		center;
			    -ms-flex-pack: 		center;
			        justify-content: 		center;
		    -webkit-box-align: 		 	stretch;
		        -ms-flex-align: 		 	stretch;
		            align-items: 		 	stretch;
		    -ms-flex-line-pack: 			stretch;
		        align-content: 			stretch;  
		    
/* 		    background-color: green !important; */
		}

		#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ._pi_answers_container {
			margin: 0 auto !important;
		}

			/*  B2.a) LIST ITEM */
			div[data-question-type="single_choice_question"] ul._pi_answers_container li,
			#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"] ._pi_widgetContentContainer ul._pi_answers_container li {
				margin-top: 	0;
				margin-bottom: 	8px !important;
				margin-left: 	0.65% !important;
				margin-right: 	0.65% !important;
				padding: 		0;
				
				min-width: 		10px !important;

				-webkit-box-flex: 			0;

				    -ms-flex: 			0 1 auto;

				        flex: 			0 1 auto;

				display: 				-webkit-box;

				display: 				-ms-flexbox;

				display: 				flex;
				-webkit-box-orient: 		horizontal;
				-webkit-box-direction: 		normal;
				    -ms-flex-direction: 		row;
				        flex-direction: 		row;
				-ms-flex-wrap:				wrap;
				    flex-wrap:				wrap;
				-ms-flex-pack: 		distribute;
				    justify-content: 		space-around;
				-webkit-box-align: 			stretch;
				    -ms-flex-align: 			stretch;
				        align-items: 			stretch;   
				-ms-flex-line-pack: 			stretch;   
				    align-content: 			stretch;   				

/* 				background-color: 		lightgrey !important; */
			}

				/*  B2.a1) <A> TAG */
				ul._pi_answers_container li a,
				#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container li a {
					margin: auto;
					width: 100%;

					display: 				-webkit-box;

					display: 				-ms-flexbox;

					display: 				flex;
					-webkit-box-orient: 		horizontal;
					-webkit-box-direction: 		normal;
					    -ms-flex-direction: 		row;
					        flex-direction: 		row;
				    -ms-flex-wrap:				wrap;
				        flex-wrap:				wrap;
					-ms-flex-pack: 		distribute;
					    justify-content: 		space-around;
				    -webkit-box-align: 			stretch;
				        -ms-flex-align: 			stretch;
				            align-items: 			stretch;
				    -ms-flex-line-pack: 			center;
				        align-content: 			center;
				    
/* 				    background-color: PaleTurquoise;			 */
				}
				
					/*  B2.a1.1) RADIO BUTTON OUTER */
					ul._pi_answers_container li a span._pi_radio_button_outer {display: none;}

						/*  B2.a1.1.1) RADIO BUTTON INNER */
						ul._pi_answers_container li a span._pi_radio_button_inner {display: none;}

					/*  B2.a1.2) LABEL FOR SINGLE CHOICE */
					div[data-question-type="single_choice_question"] ul._pi_answers_container li a label,
					#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="single_choice_question"] ._pi_widgetContentContainer ul._pi_answers_container li a label {
						margin: auto;
						width: 100%;
						cursor: pointer;

/* 						background-color: Linen !important; */
					}





		/* ================== FREE TEXT ================== */
		/*  B3) ANSWERS CONTAINER | desktop */
		div[data-question-type="free_text_question"] ul._pi_answers_container {
			width: 		80%;
			padding: 	0 !important;
			margin: 	0 !important;

			-webkit-box-orient: 		horizontal;

			-webkit-box-direction: 		normal;

			    -ms-flex-direction: 		row;

			        flex-direction: 		row;
		    -ms-flex-wrap:				nowrap;
		        flex-wrap:				nowrap;
			-ms-flex-pack: 		distribute;
			    justify-content: 		space-around;
		    -webkit-box-align: 			start;
		        -ms-flex-align: 			start;
		            align-items: 			flex-start;
/* 			background-color: 		lightblue; */
		}

		/*  B3) ANSWERS CONTAINER | mobile */
		#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="free_text_question"] ul._pi_answers_container {
			width: 95% !important;
			margin: 0 0 0 0;
			-ms-flex-wrap: nowrap !important;
			    flex-wrap: nowrap !important;
/* 			background-color: purple !important; */
		}

			/*  B3.a) FIELD CONTAINER | desktop */
			._pi_free_text_question_field_container {
				padding: 	0 !important;
				margin:	 	0 !important;

				-webkit-box-flex: 		1;

				    -ms-flex: 		1 1 auto;

				        flex: 		1 1 auto;
/* 				background-color: pink !important; */
			}

			/*  B3.a) FIELD CONTAINER | mobile */
			#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_field_container {
				padding: 	0;
				margin: 	0;

				-webkit-box-flex: 		1;

				    -ms-flex: 		1 1 auto;

				        flex: 		1 1 auto;
/* 				background-color: yellow !important; */
			}

				/*  B3.a1) INPUT AND TEXTAREA FIELDS */
				input._pi_free_text_question_field {
					height: auto;
					padding: 0.3em !important;
					-webkit-box-sizing: border-box;
					        box-sizing: border-box;
				}
				
				textarea._pi_free_text_question_field {
					height: auto;
					padding: 0.3em !important;
					-webkit-box-sizing: border-box;
					        box-sizing: border-box;
				}
				
				/*  B3.a2) CHARACTERS COUNT */
				._pi_free_text_question_characters_count {
					padding: 1px 0 0 0 !important;
					margin: 0 !important;
/* 					background-color: cyan; */
				}

			/*  B3.b) SUBMIT BUTTON CONTAINER | desktop */
			._pi_free_text_question_submit_button_container {
				padding: 		0 !important;
				padding-left: 	5px !important;
				margin: 		0 !important;

				-webkit-box-flex: 			0;

				    -ms-flex: 			0 1 auto;

				        flex: 			0 1 auto;				
				-ms-flex-item-align:		start;				
				    align-self:		flex-start;
/* 				background-color: 	yellow !important; */
			}

			/*  B3.b) SUBMIT BUTTON CONTAINER | mobile */
			#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
				padding: 		0 !important;
				padding-left: 	5px !important;
				margin: 		0 !important;

				-webkit-box-flex: 			0;

				    -ms-flex: 			0 1 auto;

				        flex: 			0 1 auto;
/* 				background-color: red !important; */
			}

				/*  B3.b1) SUBMIT BUTTON */
				._pi_free_text_question_submit_button {
					margin-right: 0;
/* 					background-color: red !important; */
				}






		/* ================== MULTIPLE CHOICE ================== */
		/*  B4) ANSWERS CONTAINER | desktop */
		div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
			width: 90%;
			margin: 0 !important;

			-webkit-box-pack: 	start;

			    -ms-flex-pack: 	start;

			        justify-content: 	flex-start;
/* 			background-color: 	lightblue; */
		}

		/*  B4) ANSWERS CONTAINER | mobile */
		#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="multiple_choices_question"] ul._pi_answers_container {
			width: 95% !important;
			margin: 0 !important;

			-webkit-box-pack: 	start;

			    -ms-flex-pack: 	start;

			        justify-content: 	flex-start;
/* 			background-color: 	lavender !important; */
		}

			/*  B4.a) LIST ITEM | desktop */
			div[data-question-type="multiple_choices_question"] ul._pi_answers_container li {
				margin: 	0 1% 8px;
				padding: 	0;
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;

	        	-webkit-box-flex: 				0;

	        	    -ms-flex: 				0 0 48%;

	        	        flex: 				0 0 48%;
				 
				display: 			-webkit-box;
				 
				display: 			-ms-flexbox;
				 
				display: 			flex;
				-webkit-box-orient: 	horizontal;
				-webkit-box-direction: 	normal;
				    -ms-flex-direction: 	row;
				        flex-direction: 	row;
				-ms-flex-wrap:			nowrap;
				    flex-wrap:			nowrap;
				-webkit-box-pack:	start;
				    -ms-flex-pack:	start;
				        justify-content:	flex-start;
				-webkit-box-align: 		center;
				    -ms-flex-align: 		center;
				        align-items: 		center;   
				-ms-flex-line-pack: 		center;   
				    align-content: 		center;
				
/* 				background-color: lightgray !important; */
			}
			
			/*  B4.a) LIST ITEM | mobile */
			#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="multiple_choices_question"] ._pi_widgetContentContainer ul._pi_answers_container li {
				margin: 	0 0% 5px !important;
				padding: 	0px !important;
	        	-webkit-box-flex: 		0;
	        	    -ms-flex: 		0 0 90%;
	        	        flex: 		0 0 90%;
				
/* 				background-color: ivory !important; */
			}

				/*  B4.a1) LABEL | desktop */
				label._pi-control._pi-control-checkbox {
					margin:			0 0 0 30px;
					padding: 		9px 5px 8px 0;

					-webkit-box-flex: 			0;

					    -ms-flex: 			0 0 auto;

					        flex: 			0 0 auto;

/* 				    background-color: yellow !important; */
				}
				
				/*  B4.a1) LABEL | mobile */
				#_pi_surveyWidgetContainer.mobile-enabled label._pi-control._pi-control-checkbox {
					padding: 		8px 5px 8px 0 !important;

/* 				    background-color: lightgreen !important; */
				}
				
					/*  B4.a1.1) CHECKBOX - FORM ELEMENT (HIDDEN) */
					._pi-control input {}

					/*  B4.a1.2) CHECKBOX - INDICATOR (DESIGNED) | OFF STATE | desktop */
					._pi-control-indicator {
						top:		7px;
						left:		-23px;
						height:		15px;
						width:		15px;
					}

					/*  B4.a1.2) CHECKBOX - INDICATOR (DESIGNED) | OFF STATE | mobile */
					#_pi_surveyWidgetContainer.mobile-enabled ._pi-control-indicator {
						top:		7px;
						left:		-23px;
						height:		13px;
						width:		13px;
					}

					/*  B4.a1.3) CHECKBOX - INDICATOR (DESIGNED) | ON STATE | desktop */
					._pi-control-checkbox ._pi-control-indicator:after {
						left:			4px;
						width:			5px;
						height:			11px;
						border-width:	0 2px 2px 0;
					}

					/*  B4.a1.3) CHECKBOX - INDICATOR (DESIGNED) | ON STATE | mobile */
					#_pi_surveyWidgetContainer.mobile-enabled ._pi-control-checkbox ._pi-control-indicator:after {
						left:			4px;
						width:			4px;
						height:			10px;
						border-width:	0 2px 2px 0;
					}

			/*  B4.b) MAX CHARACTER CONTAINER | desktop */
			div[data-question-type="multiple_choices_question"] ._pi_widgetContentContainer ul._pi_answers_container div._pi_free_text_question_field_container {
				-webkit-box-flex: 			1;
				    -ms-flex: 			1 0 100%;
				        flex: 			1 0 100%;
			}

			/*  B4.b) MAX CHARACTER CONTAINER | mobile */
			#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="multiple_choices_question"] ._pi_widgetContentContainer ul._pi_answers_container div._pi_free_text_question_field_container {
				-webkit-box-flex: 			1 !important;
				    -ms-flex: 			1 0 100% !important;
				        flex: 			1 0 100% !important;
/* 				background-color: pink !important; */
			}

				/*  B4.b1) MAX CHARACTER LABEL */
				div._pi_multiple_choices_count {
					height: auto;
					padding: 6px 0 8px !important;
/* 					background-color: ivory !important; */
				}	

			/*  B4.c) SUBMIT BUTTON CONTAINER | desktop */
			._pi_multiple_choices_question_submit_button_container {
				margin: 0 !important;

		        -webkit-box-flex: 				1;

		            -ms-flex: 				1 0 auto;

		                flex: 				1 0 auto;

				display: 			-webkit-box;

				display: 			-ms-flexbox;

				display: 			flex;
				-webkit-box-orient: 	horizontal;
				-webkit-box-direction: 	normal;
				    -ms-flex-direction: 	row;
				        flex-direction: 	row;
				-ms-flex-wrap:			nowrap;
				    flex-wrap:			nowrap;
				-webkit-box-pack: 	center;
				    -ms-flex-pack: 	center;
				        justify-content: 	center;
				-webkit-box-align: 		center;
				    -ms-flex-align: 		center;
				        align-items: 		center;   
				-ms-flex-line-pack: 		center;   
				    align-content: 		center;   				

/* 				background-color: lightgray; */
			}

			/*  B4.c) SUBMIT BUTTON CONTAINER | mobile */
			#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type="multiple_choices_question"] ._pi_multiple_choices_question_submit_button_container {
				-webkit-box-flex: 		1;
				    -ms-flex: 		1 0 auto;
				        flex: 		1 0 auto;

/* 				background-color: yellow; */
			}

				/*  B4.c1) SUBMIT BUTTON | MULTIPLE CHOICE */
				._pi_multiple_choices_question_submit_button {}






		/* ================== INVITATION ================== */
		/*  B5) INVITATION CONTAINER */
		._pi_invitationTextContainer {
			width: 100%;
			margin: 0px 0 15px!important;
/* 			background-color: ivory; */
		}
		
		/*  B6) INVITATION START BUTTON */
		._pi_startButton,
		#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_startButton {
			width: 100px;
			margin-right: auto;
			margin-left: auto;
/* 			background-color: red; */
		}
	





	/* ================== DEFAULT | BRANDING ================== */
	/*  C) BRANDING */
	a._pi_branding,
	#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget a._pi_branding {
		display: 		block;
		
		position: 		relative;
		bottom:			0;
		left: 			0;
		width:		  	150px;
		max-width:  	150px;
		
 		padding-top:	7px;
 		padding-bottom:	2px;
 		padding-left:	5px;
 		padding-right:	5px;
		
		margin-top: 	0;
		margin-right:	auto;
		margin-bottom: 	0;
		margin-left: 	0;
	    
/* 	    background-color: lightgreen; */
	}

	@media (min-width:1100px) {
		#_pi_surveyWidget[survey-widget-type="bottombarsurvey"] a._pi_branding {
/* 			margin-top: -5px !important; */
		}
	}