/* ================== THEME 2 | ONE-LINE LEFT-ALIGNED | PRODUCT REDESIGN ================== */

/*  __ SURVEY WIDGET */

#_pi_surveyWidget,
#_pi_surveyWidget[data-question-type="free_text_question"] {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  height: auto;
  width: auto;
  margin: 40px auto 0px !important;
  padding: 20px 0 20px 0 !important;
  background-color: transparent !important;
  border-top: 1px solid #616161;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-type="free_text_question"] {
  margin: 20px auto 0px !important;
  padding: 5px 0 20px 0 !important;
  background-color: transparent !important;
}

/* 	_A_) CLOSE BUTTON */

#_pi_surveyWidget div._pi_closeButton {
  color: transparent;
  font-size: 20px;
  text-align: center;
  line-height: 80% !important;
  height: 15px;
  width: 20px;
  margin-left: calc(100% - 20px);
  /* 		background-color: pink !important; */
  display: none;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget div._pi_closeButton {
  font-size: 20px;
  text-align: center;
  line-height: 80% !important;
  height: 15px !important;
  width: 20px !important;
  margin-left: calc(100% - 20px);
  /* 		background-color: yellow !important; */
}

/* 	_B_) CONTENT CONTAINER | desktop AND mobile */

#_pi_surveyWidget div._pi_widgetContentContainer,
#_pi_surveyWidget[data-question-type="free_text_question"] div._pi_widgetContentContainer {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  min-width: 10px !important;
  max-width: 850px !important;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  /* 	    background-color: lightblue !important; */
}

/* Narrows Question for tablet */

@media (min-width:415px) and (max-width:769px) {
  #_pi_surveyWidget div._pi_widgetContentContainer,
  #_pi_surveyWidget[data-question-type="free_text_question"] div._pi_widgetContentContainer {
    max-width: 750px !important;
    /* 		    background-color: PeachPuff !important; */
  }
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget div._pi_widgetContentContainer,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-type="free_text_question"] div._pi_widgetContentContainer {
  max-width: 414px;
  margin: 0 !important;
  padding: 0 !important;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  /* 	    background-color: pink !important; */
}

/*  _B1_) QUESTION | desktop AND mobile, AND tablet MEDIA QUERY */

#_pi_surveyWidget div._pi_question,
#_pi_surveyWidget[data-question-type="free_text_question"] div._pi_question {
  margin: 0;
  padding-bottom: 0;
  padding-right: 20px;
  padding-left: 0px;
  width: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: left !important;
  /* 			background-color: lavender !important; */
  font-size: 18px;
}

/* Narrows Question for tablet */

@media (min-width:415px) and (max-width:769px) {
  #_pi_surveyWidget div._pi_question {
    max-width: initial !important;
    /* 					background-color: yellow !important; */
  }
}

#_pi_surveyWidget[data-question-type="free_text_question"] div._pi_question {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-top: 0.3em;
  /* 			background-color: lightgreen !important; */
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-type="free_text_question"] div._pi_question {
  width: 70% !important;
  margin: auto;
  padding-bottom: 10px !important;
  text-align: center !important;
  /* 			background-color: olive !important; */
  font-size: 16px;
}

/*  _B2_) ANSWERS CONTAINER */

#_pi_surveyWidget ul._pi_answers_container,
#_pi_surveyWidget[data-question-type="free_text_question"] ul._pi_answers_container {
  margin: initial;
  width: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* 		    background-color: 		yellow !important; */
}

#_pi_surveyWidget[data-question-type="free_text_question"] ul._pi_answers_container {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-type="free_text_question"] ._pi_widgetContentContainer ul._pi_answers_container {
  width: 90% !important;
  margin: 0 auto !important;
  /* 		    background-color: lightgreen !important; */
}

/*  _B2.a_) SINGLE CHOICE | LIST ITEM | desktop, mobile, AND tablet MEDIA QUERY */

#_pi_surveyWidget ul._pi_answers_container li {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0px 0px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 4px !important;
  margin-right: 6px !important;
  /* 				background-color: DodgerBlue ; */
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container li {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 4px !important;
  margin-right: 6px !important;
  /* 				background-color: lightgreen ; */
}

/*  _B2.a1.2_) SINGLE CHOICE | LABEL FOR SINGLE CHOICE */

#_pi_surveyWidget ul._pi_answers_container li a label {
  padding: 15px 20px;
  margin: 0;
  border-radius: 0;
  /* 					background-color: DodgerBlue ;	 */
}

@media (min-width:415px) and (max-width:769px) {
  #_pi_surveyWidget ul._pi_answers_container li a label {
    padding: 15px 15px;
  }
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ul._pi_answers_container li a label {
  padding: 12px 15px !important;
}

/*  B3.a) FIELD CONTAINER | FREE TEXT | mobile */

#_pi_surveyWidget[data-question-type="free_text_question"] ._pi_free_text_question_field_container {
  -ms-flex: 0 1 80%;
  flex: 0 1 80%;
  /* 				background-color: purple !important; */
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-type="free_text_question"] ._pi_free_text_question_field_container {
  -ms-flex: 0 1 80%;
  flex: 0 1 80%;
  /* 				background-color: blue !important; */
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-type="free_text_question"] ._pi_free_text_question_field_container input {
  font-size: 14px;
}

/*  B3.b) SUBMIT BUTTON CONTAINER | FREE TEXT | desktop */

#_pi_surveyWidget[data-question-type="free_text_question"] ._pi_free_text_question_submit_button_container {
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  /* 				 background-color: 	yellow !important; */
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-type="free_text_question"] ._pi_free_text_question_submit_button_container {
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  /* 				 background-color: 	green !important; */
}

#_pi_surveyWidget[data-question-type="free_text_question"] ._pi_free_text_question_submit_button_container ._pi_free_text_question_submit_button {
  border-radius: 0;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-type="free_text_question"] ._pi_free_text_question_submit_button_container ._pi_free_text_question_submit_button {
  border-radius: 0;
}

/*  _C_) BRANDING */

#_pi_surveyWidget a._pi_branding,
#_pi_surveyWidget[data-question-type="free_text_question"] a._pi_branding {
  max-width: 85px;
  padding-top: 0;
  margin-left: 10px !important;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  /* 	    background-color: lime !important; */
  display: none !important;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget a._pi_branding {
  width: 180px !important;
  margin: 10px auto 0 !important;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

/* HIDES BRANDING FOR SIZES SMALLER THAN tablet */

@media (min-width:415px) and (max-width:950px) {
  #_pi_surveyWidget a._pi_branding,
  #_pi_surveyWidget[data-question-type="free_text_question"] a._pi_branding {
    display: none;
  }
}

/*  __) THANK YOU */

#_pi_surveyWidget div._pi_thankYouSurvey,
#_pi_surveyWidget[data-question-type="free_text_question"] div._pi_thankYouSurvey {
  padding-left: 0px;
  margin-right: 0px;
}