// ----------- 0.3 SINGLE AND MULTIPLE CHOICE -------
// ----------- SINGLE CHOICE -----------
div[data-question-type=single_choice_question] ._pi_answers_container {
    width: 100%!important
}

// ----------- FREE TEXT -------
input._pi_free_text_question_field,
textarea._pi_free_text_question_field {
    color: #44484c;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 1.2em!important;
    border-radius: 0
}

#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_field,
#_pi_surveyWidgetContainer.mobile-enabled textarea._pi_free_text_question_field {
    font-size: 15px
}

input._pi_free_text_question_field,
ul._pi_answers_container input[type=text] {
    border: 0;
    border-bottom: 1px solid #646a70;
    box-shadow: 0 0 0 0 #646a70;
    padding: 0;
    margin: 0;
    background-color: #fff
}

input._pi_free_text_question_field:hover,
ul._pi_answers_container input[type=text]:hover {
    border: 0;
    border-bottom: 1px solid #aaa;
    box-shadow: 0 0 0 0 #aaa;
    padding: 0;
    margin: 0
}

input._pi_free_text_question_field:focus,
ul._pi_answers_container input[type=text]:focus {
    border: 0;
    border-bottom: 1px solid #646a70;
    box-shadow: 0 0 0 0 #646a70;
    padding: 0;
    margin: 0;
    background-color: #fff
}

ul._pi_answers_container textarea._pi_free_text_question_field {
    border: 1px solid #646a70;
    box-shadow: 0 0 0 0 #646a70;
    padding: 0;
    margin: 0;
    background-color: #fff
}

ul._pi_answers_container textarea._pi_free_text_question_field:hover {
    border: 1px solid #aaa;
    box-shadow: 0 0 0 0 #aaa;
    padding: 0;
    margin: 0
}

ul._pi_answers_container textarea._pi_free_text_question_field:focus {
    border: 1px solid #646a70;
    box-shadow: 0 0 0 0 #646a70;
    padding: 0;
    margin: 0;
    background-color: #fff
}

input._pi_free_text_question_field:-moz-placeholder,
textarea._pi_free_text_question_field:-moz-placeholder {
    color: #999
}

input._pi_free_text_question_field::-moz-placeholder,
textarea._pi_free_text_question_field::-moz-placeholder {
    color: #999
}

input._pi_free_text_question_field::-ms-input-placeholder,
textarea._pi_free_text_question_field::-ms-input-placeholder {
    color: #999
}

input._pi_free_text_question_field::-webkit-input-placeholder,
textarea._pi_free_text_question_field::-webkit-input-placeholder {
    color: #999
}

div._pi_free_text_question_characters_count {
    text-align: right;
    padding-top: 7px!important
}
