#_pi_surveyWidget,
#_pi_surveyWidgetContainer {
    padding: 0 4px!important;
    width: 100%!important;
    margin-top: 12px!important
}

#_pi_surveyWidgetContainer {
    z-index: 200!important
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=inlinesurvey],
#_pi_surveyWidget[survey-widget-type=inlinesurvey] {
    z-index: 200!important;
    border: none!important
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="5229"][survey-widget-type=inlinesurvey]>div._pi_widgetContentContainer>div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="5254"][survey-widget-type=inlinesurvey]>div._pi_widgetContentContainer>div._pi_question {
    font-weight: 300!important;
    font-size: 14px!important;
    color: #191919!important;
    padding-bottom: 10px!important
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="5229"][survey-widget-type=inlinesurvey]>div._pi_widgetContentContainer>div:before,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="5254"][survey-widget-type=inlinesurvey]>div._pi_widgetContentContainer>div:before,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="5255"][survey-widget-type=inlinesurvey]>div._pi_widgetContentContainer>div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="5295"][survey-widget-type=inlinesurvey]>div._pi_widgetContentContainer>div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="5297"][survey-widget-type=inlinesurvey]>div._pi_widgetContentContainer>div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-id="5299"][survey-widget-type=inlinesurvey]>div._pi_widgetContentContainer>div._pi_question,
div._pi_thankYouSurvey {
    font-weight: 600!important;
    font-size: 13px!important;
    line-height: 1.5;
    color: #191919!important;
    white-space: pre-wrap!important;
    text-transform: uppercase!important;
    padding-bottom: 5px!important
}

#_pi_surveyWidget[data-question-id="5229"]>div._pi_widgetContentContainer>div:before {
    content: "As an Xfinity Internet customer, you have exclusive access to Xfinity Mobile, which is a wireless phone & data service designed to save you money.\a\a"!important
}

#_pi_surveyWidget[data-question-id="5254"]>div._pi_widgetContentContainer>div:before {
    content: "Here's how it would work: We mail you a SIM card. You could use it to activate service on your existing phone.\a\a"!important
}

#_pi_surveyWidget ul._pi_answers_container li a label {
    font-size: 15px!important;
    font-weight: 300px!important;
    line-height: 1.2!important
}

#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-center][data-radio-button=off] li,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-center][data-radio-button=off] li a,
#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-center][data-radio-button=off] li a label {
    min-width: 0!important
}

#_pi_surveyWidget[data-question-type=single_choice_question][data-answer-widths=variable-center][data-radio-button=off] li a {
    padding: 0!important
}

#_pi_surveyWidget>div._pi_widgetContentContainer>ul>li>a {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-align: center!important;
    align-items: center!important
}

#_pi_surveyWidgetContainer div[data-question-type=single_choice_question][data-radio-button=on] li a label {
    margin: 0 0 0 5px!important;
    min-width: calc(100% - 16px)!important;
    max-width: calc(100% - 16px)!important
}

#_pi_surveyWidgetContainer.mobile-enabled div[data-question-type=single_choice_question][data-radio-button=on] li a label {
    margin: 0 0 0 5px!important
}

ul._pi_answers_container li a span._pi_radio_button_outer {
    position: relative!important;
    top: 0!important
}

div._pi_thankYouSurvey {
    margin: 30px 0 50px!important
}
