:ruby
  modal_id ||= nil
  survey ||= nil

.modal.fade{id: modal_id, :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h5.modal-title Survey Tags
      .modal-body
        .basic-fields-container
          .basic-fields-row
            %label Tags:
            .input-column
              = select_tag :applied_survey_tags,
                options_for_select(survey.account.survey_tags.pluck(:name, :id)),
                include_blank: true,
                multiple: true,
                data: { 'placeholder': 'Add Additional Tag', selected_value: survey.survey_tags.ids },
                class: "applied-survey-tag-input",
                href: localization_update_path(survey.survey_locale_group_id, survey_id: survey.id),
                id: "#{modal_id}_applied_survey_tags_selector"
      .modal-footer
