:ruby
  modal_id ||= nil
  survey ||= nil

.modal.fade{id: modal_id, :role => "dialog", :tabindex => "-1"}
  .modal-dialog.docked-widget{:role => "document"}
    .modal-content
      = form_for survey, url: localization_form_update_survey_path(survey) do |survey_form|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h5.modal-title Docked Widget Placement
        .modal-body
          .basic-fields-container
            .basic-fields-row
              %label Placement:
              .input-column
                -# number followed by % or px
                = survey_form.text_field :position_content, pattern: "[0-9]*(\.)?[0-9]*(%|px){1}", data: { toggle: 'tooltip', placement: 'bottom' }, title: I18n.t('simple_form.titles.survey.position_content'), class: "position-content-field"
                from
                - options = {'Left Browser Edge' => 'left_position', 'Right Browser Edge' => 'right_position'}
                = survey_form.select :position_type, options_for_select(options, survey.position_type)
        .modal-footer
          = survey_form.submit 'Save', class: 'btn btn-primary'
