div#_pi_surveyWidgetContainer.all-at-once{
  ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9439"]{
    li{
      &:not(.selected){
       border-color: transparent !important;
       &:hover{
         border-color: #111111 !important;
         background-color: transparent !important;
         a{
             background-color: transparent !important;
             label{
               color: #111111 !important;
               background-color: transparent !important;
             }
         }
       }
     }
     a{
         width: 100%;
         height: 100% !important;
         justify-content: flex-start !important;
         label{
           padding: 5px !important;
           font-size: 14px !important;
           padding-bottom: 5px !important;
           &:focus, &:active, &:focus-within{
             outline: none !important;
           }
         }
         img{
             width: 80px !important;
             height: 81px !important;
             border-radius: 10px;
             border: solid 1px #111111 !important;
         }
     }
    }
  }
  &.mobile-enabled{
    ul._pi_answers_container[data-question-type="single_choice_question"][data-radio-button="off"][data-question-id="9439"]{
      li{
        a{
          label{

          }
          img{
            width: 80% !important;
            height: auto !important;
          }
        }
      }
    }
  }
}
