// THE _selectors FILE:
@import '../../01-css-pulse/_selectors';

// DEFAULT VARIABLES
@import '../_default/_default-1-variables';

// CLIENT-SPECIFIC DESIGN VARIABLES
@import '_az-rethink-anemia_variables';

// GLOBAL MAPS:
@import '../../01-css-pulse/_maps';

// GLOBAL MIXINS
@import '../../01-css-pulse/_mixins';

// THE GLOBAL STRUCTURE FOR FRAMEWORK V2:
@import '../../01-css-pulse/_theme-structure';




div[data-question-type="free_text_question"] ul._pi_answers_container {
  margin-top: 10px !important;
}

._pi_free_text_question_field_container,
._pi_free_text_question_submit_button_container {
  margin-top: 5px !important;
  flex: 1 1 100% !important;
}

// div#_pi_surveyWidget[data-question-type="free_text_question"] input._pi_free_text_question_field,
// div#_pi_surveyWidget[data-question-type="free_text_question"] textarea._pi_free_text_question_field,
// div#_pi_surveyWidget[data-question-type="free_text_question"] input._pi_free_text_question_field:hover,
// div#_pi_surveyWidget[data-question-type="free_text_question"] textarea._pi_free_text_question_field:hover,
// div#_pi_surveyWidget[data-question-type="free_text_question"] input._pi_free_text_question_field:focus,
// div#_pi_surveyWidget[data-question-type="free_text_question"] textarea._pi_free_text_question_field:focus {
//   font-weight: 300 !important;
// }


div#_pi_surveyWidgetContainer,
div#_pi_surveyWidgetContainer.mobile-enabled,
div#_pi_surveyWidgetContainer *,
div#_pi_surveyWidgetContainer.mobile-enabled * {
  -webkit-font-smoothing: auto; }

@media all and (max-width:991px) {
  div#_pi_surveyWidget[survey-widget-type="inlinesurvey"],
  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
    background-color: white;
    margin-bottom: 50px;
    border-radius: 7px;
    border-radius: 7px;
    width: 95%;
    margin: 0 auto 50px;
    padding-top: 30px;
  }

  div.movie.section {
    padding-bottom: 50px !important;;
    border-bottom-right-radius: 70px !important;
    border-bottom-left-radius: 70px !important;
  }
}

@media all and (max-width:425px) {
  div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
    padding-top: 10px;
  }

  div.movie.section {
    padding-bottom: 5px !important;
  }

  div#_pi_surveyWidgetContainer.mobile-enabled
  div#_pi_surveyWidget[data-question-type="single_choice_question"]
  div._pi_widgetContentContainer {
    margin: 0 0 20px 0 !important;
  }
}
