/* CUSTOM WORK ONE LINE THEME */
div#_pi_surveyWidget,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget {
  height: auto !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  padding: 20px !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget {
  padding: 10px !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget div._pi_question {
  margin-top: 15px !important;
}

div#_pi_surveyWidget div._pi_question {
  line-height: 140% !important;
}

img._pi_background_image {
  flex: 0 1 114px !important;
  align-self: flex-start !important;
  // margin: 5px 0px 5px 0px !important;
  margin: 0 !important;
  // background-color: pink !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget img._pi_background_image {
  max-width: 20% !important;
  flex: 0 1 50% !important;
  order: 0;
  margin: 5px 0px !important;
}

div._pi_widgetContentContainer {
  margin: 0px !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget div._pi_widgetContentContainer {
  order: 3 !important;
  max-width: 100%;
  width: 100% !important;
}

div._pi_invitationTextContainer {
  font-size: 18px !important;
  // font-weight: 600 !important;
  flex: 0 1 auto !important;
  margin: 0px !important;
  width: auto !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
div#_pi_surveyWidgetContainer.mobile-enabled div._pi_invitationTextContainer {
  font-size: 14px !important;
  flex: 0 1 auto !important;
  // order: 3 !important;
}

// div#_pi_surveyWidgetContainer.mobile-enabled div._pi_invitationTextContainer {
//   font-size: 18 !important;
//   font-weight: 600 !important;
// }

#_pi_surveyWidget > div._pi_closeButton {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  order: 3 !important;
  // flex: 0 1 114px !important;
  flex: 0 1 114px !important;
  align-self: flex-start !important;
  display: flex !important;
  justify-content: flex-end !important;

  // background-color: pink !important;
}
@media (max-width: 1190px ) {
  #_pi_surveyWidget > div._pi_closeButton {
    flex-basis: auto !important;
  }
}


div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget div._pi_closeButton {
  font-size: 24px !important;
  flex: 0 1 50% !important;
  order: 1 !important;
  margin: 0px !important;
}


// div#_pi_surveyWidget li a label {
  // text-transform: uppercase !important;
  // font-size: 12px !important;
// }


a._pi_branding,
div#_pi_surveyWidgetContainer.mobile-enabled a._pi_branding {
  display: none !important;
}

div._pi_question {
  // margin-top: 15px !important;
  margin-top: 0 !important;
  // padding: 10px !important;
  padding: 0 10px 10px !important;
}

a._pi_startButton, div#_pi_surveyWidgetContainer.mobile-enabled a._pi_startButton {
  margin: 0px 0 !important;
  border-width: 1px !important;
  font-size: 12px !important;
}

div._pi_thankYouSurvey {
  font-size: 18px !important;
}

div#_pi_surveyWidgetContainer div._pi_widgetContentContainer
ul._pi_answers_container[data-question-type="multiple_choices_question"]
div._pi_free_text_question_field_container {
  width: 100%;
}

div#_pi_surveyWidget[data-question-type="free_text_question"] ._pi_question {
  width: auto !important;
  margin: 0px 10px 0px 0px !important;
  padding: 12px 10px !important;
}

div#_pi_surveyWidget div._pi_widgetContentContainer ul._pi_answers_container
div._pi_free_text_question_field_container div._pi_free_text_question_characters_count {
  display: none
}

div[data-question-type="free_text_question"] div._pi_question {
  font-weight: normal !important;
  line-height: 120% !important;
}

div[data-question-type="free_text_question"] ul._pi_answers_container {
  align-items: center !important;
}

div[data-question-type="free_text_question"] div._pi_widgetContentContainer {
  margin: 0px !important;
}

ul._pi_answers_container input[type="text"],
input._pi_free_text_question_field {
  //background-color: #4e4e4e !important;
  height: 42px !important;
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: normal !important;
  padding: 1rem !important;
  //border-color: #222222 !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled ul._pi_answers_container input[type="text"],
div#_pi_surveyWidgetContainer.mobile-enabled input._pi_free_text_question_field {
  height: 34px !important;
  font-size: 13px !important;
}

#_pi_surveyWidget > div._pi_widgetContentContainer > ul > div._pi_free_text_question_submit_button_container {
  align-self: center !important;
  padding-left: 15px !important;
}

#_pi_surveyWidget > div._pi_widgetContentContainer > ul > div._pi_free_text_question_submit_button_container > input {
  padding: 14px 34px !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget > div._pi_widgetContentContainer > ul > div._pi_free_text_question_submit_button_container > input {
  padding: 10px 20px !important;
}

#_pi_surveyWidget > div._pi_widgetContentContainer > ul > li > label {
  align-items: center !important;
}

// pablo
div#_pi_surveyWidgetContainer div._pi_widgetContentContainer {
  width: auto !important;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 80%;

  // background-color: pink !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled div._pi_widgetContentContainer {
  flex-basis: 100%;

  // background-color: lightblue !important;
}

ul._pi_answers_container {
  margin: 0 !important;
}

div[data-answer-widths="fixed"] ul._pi_answers_container li {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

div[data-answer-widths="variable-left"] ul._pi_answers_container li,
div[data-answer-widths="variable-center"] ul._pi_answers_container li {
  min-width: 120px !important;
}

div#_pi_surveyWidget[data-question-type="multiple_choices_question"] li label._pi-control._pi-control-checkbox {
  padding: 11px 15px 11px 0;
}

div#_pi_surveyWidgetContainer.mobile-enabled a._pi_startButton {
  display: none !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget img._pi_background_image {
  max-width: 28% !important;
}

div#_pi_surveyWidgetContainer.mobile-enabled div._pi_invitationTextContainer {
  margin-top: 10px !important;
}

div#_pi_surveyWidget[data-question-type="single_choice_question"][data-radio-button="on"] li a label {
  justify-content: flex-start !important;
}

div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_closeButton {
  position: absolute !important;
  margin: 0 !important;
}

div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_widgetContentContainer {
  margin: 0 !important;
  flex-basis: 100% !important;
}

div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_invitationTextContainer {
  margin: 15px 0px !important;
}

div#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] div._pi_question {
  margin-top: 15px !important;
}

#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] ._pi_free_text_question_submit_button_container {
  padding: 5px 0px 0px 0px !important;
  padding-left: 0px !important;
  margin: 5px !important;
}

#_pi_surveyWidget > div._pi_widgetContentContainer > ul > div._pi_free_text_question_submit_button_container {
  padding-left: 0px !important;
  margin-left: 20px !important;
}

/* END CUSTOM WORK ONE LINE THEME */
