.passwords-controller {
  form {
    .form-group.email {
      margin-bottom: 30px;
    }

    .form-action {
      margin-top: 20px;
      text-align: center;
    }

    .error.alert-warning {
      margin-top: -25px;
    }
  }
}
