= link_to 'LOG IN TO VIEW FULL REPORT', report_page_url, style: 'color: #ffffff; background-color: #7ccb7a; text-align: center; display: block; width: 250px; height: 50px; line-height: 50px; font-size: 14px; border-radius: 3px; margin: auto; text-decoration: none'

/ "clicktracking" needs to be off so nothing gets attached to signed urls https://docs.sendgrid.com/ui/analytics-and-reporting/click-tracking-html-best-practices
- if report_url
  = link_to 'Download report', report_url, style: 'text-align: center; display: block; margin: auto; color: #D2D2D2; margin-top: 10px;', clicktracking: 'off'
  - if report_csv_url
    = link_to 'Download CSV (Individual Rows)', report_csv_url, style: 'text-align: center; display: block; margin: auto; color: #D2D2D2; margin-top: 10px;', clicktracking: 'off'

- if scheduled_report_page_url
  = link_to 'Edit This Scheduled Report', scheduled_report_page_url, style: 'text-align: center; display: block; margin: auto; color: #D2D2D2; margin-top: 10px;'
