%h2 Good morning,

%p
  I generated Benjamin Moore's monthly report and uploaded it to S3 just now. Here's a link to the files:

  = link_to "Report file", @report_url, clicktracking: 'off'
  = link_to "Quality control file", @qc_url, clicktracking: 'off'

%p
  Your friend,
  %br
  Otto E. Mailer
