// ================== FAKE INLINE AS BOTTOM BAR ==================
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=inlinesurvey],
#_pi_surveyWidget[survey-widget-type=inlinesurvey] {
    border-top: 2px solid #44484c!important;
    border-right: 0!important;
    border-left: 0!important;
    border-bottom: 0!important;
    position: fixed!important;
    bottom: 0!important;
    left: 0!important;
    right: 0!important;
    margin: 0!important;
    padding: 0 24px!important;
    height: auto!important;
    width: 100%!important;
    box-sizing: border-box!important;
}

@media (min-width:1072px) {
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton:hover {
        width: 1024px!important;
        height: 20px!important;
        text-align: right!important;
        margin: 30px auto 0!important;
        left: 0!important;
        top: 0!important;
        right: 0!important;
        position: absolute!important;
        z-index: 3!important;
        padding-right: 0!important
    }
    #_pi_surveyWidget[survey-widget-type=inlinesurvey] div._pi_widgetContentContainer {
        width: 1024px!important;
        min-width: 1024px!important;
        max-width: 1024px!important;
        margin: 30px auto 0!important
    }
}

@media (max-width:1071px) {
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton,
    div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_closeButton:hover {
        margin-right: 0!important;
        padding-right: 24px!important
    }
}

@media (max-width:414px) {
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type=inlinesurvey] {
        padding: 0!important;
        margin: 0!important;
        max-width: 100%!important
    }
    #_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container,
    div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[survey-widget-type=inlinesurvey] ._pi_widgetContentContainer ul._pi_answers_container ._pi_free_text_question_submit_button_container {
        padding: 0!important;
        margin: 0!important;
        width: 100%!important
    }
}
