@media (min-width: 1072px) {
	#_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_widgetContentContainer {
		width: 100% !important;
		min-width: 100% !important;
		max-width: 100% !important;
		margin: 30px auto 0 !important;
	}

	div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton,
	div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton:hover {
		padding-right: 24px !important;
	}
}
