/* ----------- WIDGET TYPE SIZING AND POSITIONING ------- */

#_pi_surveyWidgetContainer {
  border: 0;
}

#_pi_surveyWidget[survey-widget-type="inlinesurvey"],
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
  margin: 10px 0 20px !important;
  /* 		border-top: 2px solid red !important; */
  /* 		background-color: yellow; */
}

#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ul._pi_answers_container {
  min-width: 320px !important;
}

#_pi_surveyWidget[survey-widget-type="bottombarsurvey"],
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="bottombarsurvey"] {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 !important;
  padding: 0;
  /* 	border: 0 !important; */
  /* 	border-top: 1px solid #999 !important; */
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.2);
  z-index: 18000;
  /* 		background-color: #fff; */
}

#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"],
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] {
  position: fixed;
  /* 	right:5%; */
  bottom: 0;
  max-height: 0;
  height: auto;
  width: 300px;
  z-index: 18000;
  overflow: hidden;
  /* 		background-color: red !important; */
}

#_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] {
  /* 	border-width: 1px;
	border-style: solid;
	border-color: #dcdcdb;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: 0px solid transparent !important; */
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="dockedwidgetsurvey"] {
  width: 90%;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(174, 174, 174, 0.6) !important;
  border-radius: 2px;
  /* 	background-color: red !important; */
}

#_pi_surveyWidget[survey-widget-type="topbarsurvey"] {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  max-height: 0;
  height: auto;
  width: 100%;
  z-index: 18000;
  overflow: hidden;
  /* 		background-color: pink !important; */
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[survey-widget-type="topbarsurvey"] {
  width: 90%;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgba(174, 174, 174, 0.6);
  ;
  border-radius: 5px;
  /* 		background-color: yellow !important; */
}