[id^="question_container_"] {
  padding: 50px 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  background-color: #f6f6f6;
}

[id^="question_container_"] h1, [id^="question_container_"] h2, [id^="question_container_"] h3, [id^="question_container_"] h4, [id^="question_container_"] h5 {
  color: #444444;
  width: 100%;
  font-family: Raleway;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

[id^="question_container_"] input:not([type="text"]) {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

[id^="question_container_"] input[type="text"] {
  padding: 10px;
  font-size: 18px;
  flex-grow: 1;
  margin-right: 20px;
}

[id^="question_container_"] label {
  font-family: Raleway;
  font-size: 18px;
  padding: 10px 20px;
  border: solid 1px #c75f72;
  margin: 5px 0px;
  text-align: center;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

[id^="question_container_"] label:hover {
  color: white;
  background-color: #c75f72;
  transition: all 0.3s;
}

[id^="question_container_"] button {
  font-family: Raleway;
  font-size: 18px;
  background-color: transparent;
  border: solid 1px #c75f72;
  padding: 10px 25px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all 0.3s;
}

[id^="question_container_"] button:hover {
  color: white;
  background-color: #c75f72;
  transition: all 0.3s;
}

@media (max-width: 425px) {
  [id^="question_container_"] input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
  }
  [id^="question_container_"] button {
    margin: auto;
  }
}

#question_container_7651 h3 {
  text-align: center;
}

#question_container_7651 label {
  display: none;
}

#question_container_7651 amp-img {
  min-width: 30%;
  margin: 0px 10%;
}

#question_container_7651 br {
  display: none;
}

#question_container_7651 input[type="hidden"] {
  display: none;
}

#question_container_9011 h3, #question_container_9019 h3, #question_container_9012 h3 {
  text-align: center;
}

#question_container_9011 label, #question_container_9019 label, #question_container_9012 label {
  width: calc(30% - 40px);
}

@media (max-width: 425px) {
  #question_container_9011 label, #question_container_9019 label, #question_container_9012 label {
    width: 100%;
  }
}

#question_container_9013 label {
  width: calc(30% - 40px);
}

#question_container_9013 label:nth-child(13) {
  margin-left: auto;
  margin-right: calc(2.75% - 2px);
}

#question_container_9013 label:nth-child(16) {
  margin-right: auto;
  margin-left: calc(2.75% - 2px);
}

@media (max-width: 600px) {
  #question_container_9013 label {
    width: calc(47% - 40px);
  }
  #question_container_9013 label:nth-child(13) {
    margin-left: 0px;
    margin-right: 0px;
  }
  #question_container_9013 label:nth-child(16) {
    margin-right: auto;
    margin-left: 0px;
  }
}

@media (max-width: 425px) {
  #question_container_9013 label {
    width: 100%;
  }
  #question_container_9013 label:nth-child(16) {
    margin-right: 0px;
    margin-left: 0px;
  }
}

#question_container_9015 h3 {
  text-align: center;
}

#question_container_9015 label {
  width: calc(23% - 40px);
}

@media (max-width: 900px) {
  #question_container_9015 label {
    width: calc(47% - 40px);
  }
}

@media (max-width: 425px) {
  #question_container_9015 label {
    width: 100%;
  }
}

#question_container_8697 label {
  width: calc((100% / 6) - 50px);
}

@media (max-width: 600px) {
  #question_container_8697 label {
    width: calc((100% / 3) - 50px);
  }
}

#question_container_8707 label {
  width: calc((100% / 5) - 50px);
}

@media (max-width: 600px) {
  #question_container_8707 label {
    width: calc((100% / 2) - 50px);
  }
}

#question_container_8692 label {
  width: calc((100% / 6) - 50px);
}

#question_container_8695 label {
  width: calc((100% / 3) - 50px);
}

#thank_you_message_container {
  font-family: Raleway;
  font-size: 28px;
  color: #c75f72;
  text-align: center;
  background-color: #f6f6f6;
  padding: 50px 5%;
}
