- content_for :page_title, "Edit Prompt Template"

.container
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Edit Prompt Template
            = link_to "Back to List", admin_prompt_templates_path, class: "btn btn-default btn-sm pull-right"

        .panel-body
          = render 'form', prompt_template: @prompt_template


