/* ================== THEME 3 | ONE-LINE LEFT-ALIGNED | NAV | ONLY ADD-ONS ================== */

/*  __ NAV | OFI NAV CONTAINER | ELIMINATE ROUNDED CORNERS */

div .menu-body .header-menu-modal {
  border-radius: 0 !important;
}

/*  __ NAV | SURVEY WIDGET CONTAINER | ROUNDED CORNERS */

.menu-body #_pi_surveyWidgetContainer {
  border-radius: 0 0 10px 10px;
}

/*  __ NAV | SURVEY WIDGET | ROUNDED CORNERS */

#_pi_surveyWidget {
  border-radius: 0 0 10px 10px;
  /* 	background-color: blue !important; */
}

/*  _B1_) NAV | QUESTION | 30PX LEFT PADDING */

#_pi_surveyWidget div._pi_question,
#_pi_surveyWidget[data-question-type="free_text_question"] div._pi_question {
  padding-left: 30px !important;
}

#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget div._pi_question,
#_pi_surveyWidgetContainer.mobile-enabled #_pi_surveyWidget[data-question-type="free_text_question"] div._pi_question {
  padding-left: 0px !important;
}

/*  __) THANK YOU */

#_pi_surveyWidget div._pi_thankYouSurvey,
#_pi_surveyWidget[data-question-type="free_text_question"] div._pi_thankYouSurvey {
  padding-left: 30px;
}