%h1 Good afternoon

- if @stalled_reports.present?
  %p The following scheduled reports got stuck in progress and should be remediated:

  - @stalled_reports.each do |stalled_report|
    = render 'report_summary', report: stalled_report

- if @failed_reports.present?
  %p The following scheduled reports were due to run, but have not run (or failed during execution)

  - @failed_reports.each do |failed_report|
    = render 'report_summary', report: failed_report

- if @skipped_reports.present?
  %p The following scheduled reports were determined to be ineligible for processing and were skipped.

  - @skipped_reports.each do |skipped_report|
    = render 'report_summary', report: skipped_report

%p
  Your friend,
  %br
  Robo-mailer
