
@import '_AZ_lukelma_hcp_theme';

div#_pi_surveyWidgetContainer{
  z-index: 9 !important;
}
div#_pi_surveyWidgetContainer:not(.mobile-enabled) div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton {
  background-color: transparent;
  opacity: 1 !important;
  // color: #00673e !important;
  &:hover{
    color: #333 !important;
  }
}

div#_pi_surveyWidgetContainer:not(.mobile-enabled) div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
div#_pi_surveyWidgetContainer{
  // position: relative;
  div#_pi_surveyWidget{
    margin-bottom: 15px;
    transition: bottom 0.5s;
    box-shadow: 0px -7px 12px rgba(0, 0, 0, .22);
    div._pi_widgetContentContainer{
      ul._pi_answers_container{
        &[data-question-type="multiple_choices_question"]{
          li{
            align-content: center;
            align-items: center !important;
            display: flex;
          }
        }
      }
      li{
        *:not(._pi_radio_button_inner){
          background-color: transparent !important;
        }
      }
    }
    &[survey-widget-type="inlinesurvey"]{
      a._pi_branding{
        opacity: 1 !important;
        padding-bottom: 8px !important;
      }
    }
  }

  &:not(.mobile-enabled){
    div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] {
      position: absolute;
      max-height: 0px;
      height: auto;
      bottom: 100%;
      margin: 0px !important;
      top: auto !important;
      left: auto !important;
      right: 1% !important;
      width: 90%;
      max-width: 420px;
      z-index: 9 !important;
    }
    div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] ._pi_closeButton{
      opacity: 1 !important;
    }
  }

}

div#_pi_surveyWidget[survey-widget-type="inlinesurvey"].goToBottom{
  transition: bottom 0.5s;
  bottom: 0px !important;
}


@media(max-height: 768px){
  div#_pi_surveyWidgetContainer:not(.mobile-enabled) div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_widgetContentContainer ul._pi_answers_container li label{
    padding: 7px 20px !important;
    font-size: 12px !important;
  }
  div#_pi_surveyWidgetContainer:not(.mobile-enabled) div#_pi_surveyWidget[survey-widget-type="inlinesurvey"] div._pi_widgetContentContainer div._pi_question{
    font-size: 16px !important;
  }
}
div#_pi_surveyWidgetContainer:not(.mobile-enabled) ul[data-radio-button="on"] li{
  a span._pi_radio_button_outer{
    min-width: 14px !important;
    min-height: 14px !important;
    > span{
      left: 1px !important;
      top: 1px !important;
    }
  }
  &:hover a span._pi_radio_button_outer{
    min-width: 14px !important;
    min-height: 14px !important;
    > span{
      left: 1px !important;
      top: 1px !important;
    }
  }
}
.isi-wrapper.open{
   #_pi_surveyWidgetContainer{
      #_pi_surveyWidget{
         bottom: calc(100% - 23px) !important;
      }
   }
}
