// THE _selectors FILE:
@import '../../../01-css-pulse/_selectors';

// DEFAULT VARIABLES
@import '../_default/_default-1-variables';

// CLIENT-SPECIFIC DESIGN VARIABLES
@import '_dysport_variables_2';

// GLOBAL MAPS:
@import '../../../01-css-pulse/_maps';

// GLOBAL MIXINS
@import '../../../01-css-pulse/_mixins';

// THE GLOBAL STRUCTURE FOR FRAMEWORK V2:
@import '../../../01-css-pulse/_theme-structure';



div#_pi_surveyWidget[data-question-type="single_choice_question"] li,
div#_pi_surveyWidget[data-question-type="single_choice_question"] li a,
div#_pi_surveyWidget[data-question-type="single_choice_question"] li a label,
div#_pi_surveyWidgetContainer.all-at-once ._pi_answers_container[data-question-type="single_choice_question"] li,
div#_pi_surveyWidgetContainer.all-at-once ._pi_answers_container[data-question-type="single_choice_question"] li a,
div#_pi_surveyWidgetContainer.all-at-once ._pi_answers_container[data-question-type="single_choice_question"] li a label {
  background-color: $DYSPORT-solid-background;
  background-image: $DYSPORT-green-gradient;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

div#_pi_surveyWidget[data-question-type="multiple_choices_question"] li,
div#_pi_surveyWidgetContainer.all-at-once ._pi_answers_container[data-question-type="multiple_choices_question"] li {}

div#_pi_surveyWidget[data-question-type="free_text_question"] input._pi_free_text_question_submit_button,
div#_pi_surveyWidget[data-question-type="multiple_choices_question"] input._pi_multiple_choices_question_submit_button,
div#_pi_surveyWidget[data-question-type="custom_content_question"] ._pi_question_custom_content_question button.pi_question_link,
div#_pi_surveyWidgetCustom[data-question-type="custom_content_question"] ._pi_question_custom_content_question button.pi_question_link,
a._pi_startButton,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[data-question-type="free_text_question"] input._pi_free_text_question_submit_button,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[data-question-type="multiple_choices_question"] input._pi_multiple_choices_question_submit_button,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidget[data-question-type="custom_content_question"] ._pi_question_custom_content_question button.pi_question_link,
div#_pi_surveyWidgetContainer.mobile-enabled div#_pi_surveyWidgetCustom[data-question-type="custom_content_question"] ._pi_question_custom_content_question button.pi_question_link,
div#_pi_surveyWidgetContainer.mobile-enabled a._pi_startButton {
  background-color: $DYSPORT-solid-background;
  background-image: $DYSPORT-green-gradient;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

div#_pi_surveyWidgetContainer.all-at-once input._pi_all_questions_submit_button {
  background-color: $DYSPORT-solid-background;
  background-image: $DYSPORT-green-gradient-hover;
}

div#_pi_surveyWidget[data-question-type="multiple_choices_question"] li ._pi-control-indicator:after {
  left: 3px;
  width: 3px;
  height: 9px;
}

._pi_free_text_question_submit_button_container {
  flex-basis: 100% !important;
}

  @media (min-width: 769px) {
    div#_pi_surveyWidget[data-question-type="single_choice_question"] li:hover,
    div#_pi_surveyWidget[data-question-type="single_choice_question"] li:hover a,
    div#_pi_surveyWidget[data-question-type="single_choice_question"] li:hover a label,
    div#_pi_surveyWidget[data-question-type="multiple_choices_question"] li:hover,
    div#_pi_surveyWidgetContainer.all-at-once ._pi_answers_container[data-question-type="multiple_choices_question"] li:hover {
      background-color: $DYSPORT-solid-background-hover;
      background-image: $DYSPORT-green-gradient-hover;
    }

    div#_pi_surveyWidget[data-question-type="free_text_question"] input._pi_free_text_question_submit_button:hover,
    div#_pi_surveyWidget[data-question-type="multiple_choices_question"] input._pi_multiple_choices_question_submit_button:hover,
    div#_pi_surveyWidget[data-question-type="custom_content_question"] ._pi_question_custom_content_question button.pi_question_link:hover,
    div#_pi_surveyWidgetCustom[data-question-type="custom_content_question"] ._pi_question_custom_content_question button.pi_question_link,
    a._pi_startButton:hover {
      background-color: $DYSPORT-solid-background-hover;
      background-image: $DYSPORT-green-gradient-hover;
    }
  }
