%p We got a request to reset your Pulse Insights email address. You can confirm it using the link below.

%p= link_to 'Confirm', edit_email_url(new_email: @new_email, reset_email_token: @reset_email_token)

%p Your email won't change until you access the link above and confirm it. If you didn't request to reset your email, please let us know.
